<template>
  <div class="q-ma-xs">
    <q-card >
      <q-table  :filter="filter" :data="adminactivejobs" :columns="columns" row-key="jobsid" :pagination.sync="pagination" title="Aktif İşlem Listesi" >
          <template v-slot:top-right>
        <q-input borderless dense debounce="300" ref="filter" v-model="filter" placeholder="Ara">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
          <template v-slot:body="props">
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)"> -->
            
            <q-tr class="cursor-pointer"  :props="props"  v-if="countdown[props.rowIndex]!=undefined" >
              <!-- <td>{{countdown[props.rowIndex]}}</td> -->
              <q-td key="id" :props="props"  >{{props.row.jobsid}} </q-td>
              <q-td class="text-weight-bold" key="opened" :props="props" >
                <div v-if="props.row.jobstate">
                  <div v-for="(val,key) in props.row.jobstate" :key="key">
                    <div v-if="val.active">
                      <q-badge color="warning" text-color="dark" class="text-weight-bold">{{moment(val.jobsdetail.createdAt).format('DD-MM-YYYY HH:mm')}}</q-badge>
                    </div>
                  </div>
                </div>
              </q-td>
              <q-td key="description" :props="props" @click="description(props.row)"  class="hhh">
                <q-tooltip  class="toolsize"  max-width='450px' :offset="[1, 1]">
                     <div class="toolsize" v-html="props.row.description"></div>
                </q-tooltip>
                <!-- <span>{{props.row.description}}</span> -->
                <div class="box">{{props.row.title}}</div>
                
                </q-td>
                <q-td key="outjobs" :props="props">{{props.row.outjobstate}}</q-td>
                <q-td key="priority" :props="props"  >
                  <q-badge :color="props.row.priority=='Yüksek'?'red':props.row.priority=='Normal'?'blue':'green '">
                    {{props.row.priority}}
                  </q-badge>
                  
                </q-td>
              <q-td class="ccc" key="company" :props="props" @click.native="props.row.company.contracts ==null ? contracts=[]:contracts=props.row.company.contracts,contractsdialog=true">
                <div class="cbox">
                  {{props.row.company.name}}
                </div>
                
                </q-td>
              <q-td key="state" :props="props"  >
                <q-badge color="red-12" v-if="props.row.company.contracts==null || props.row.company.contracts[0]==null || props.row.company.contracts[0].state=='Pasif'">Pasif</q-badge>
                <q-badge color="green" v-else >Aktif</q-badge>
              </q-td>
              
              <q-td key="user" :props="props" >{{props.row.openuser.firstname}}</q-td>
              <q-td key="category" :props="props" >{{props.row.category.name}}</q-td>
              
              <!-- <q-td key="kategori" :props="props" >{{props.row.category.name}}</q-td> -->
              <q-td class="text-weight-bold" key="date" :props="props">
                <q-badge v-if="countdown[props.rowIndex][0].months!=0" class="text-weight-bold">{{countdown[props.rowIndex][0].months}} ay  </q-badge> <br v-if="countdown[props.rowIndex][0].months!=0">
                <q-badge color="blue" v-if="countdown[props.rowIndex][0].days!=0" class="text-weight-bold">{{countdown[props.rowIndex][0].days}} gün  </q-badge> <br v-if="countdown[props.rowIndex][0].days!=0">
                <q-badge class="text-weight-bold" color="red">{{countdown[props.rowIndex][0].hours}} saat</q-badge><br>   
                <q-badge class="text-weight-bold" color="green">{{countdown[props.rowIndex][0].minutes}} dk</q-badge><br>
              </q-td>
              <td class="text-center">
              <q-btn-dropdown icon="mdi-cog"   flat>
                  <q-list >
                    <q-item @click="summarymethod(props.row)" clickable v-close-popup >
                      <q-item-section>
                        <q-item-label>Özet</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item @click="checkjobdialog=true,jobsmodel=props.row,jobsid=props.row.jobsid" clickable v-close-popup >
                      <q-item-section>
                        <q-item-label>İşlem</q-item-label>
                      </q-item-section>
                    </q-item>
                    <!-- <q-item @click="transferjobdialog=true,jobsmodel=props.row" clickable v-close-popup >
                      <q-item-section>
                        <q-item-label>Transfer</q-item-label>
                      </q-item-section>
                    </q-item> -->

                    <q-item @click="canceljobdialog=true,jobsmodel=props.row" clickable v-close-popup >
                      <q-item-section>
                        <q-item-label>İptal</q-item-label>
                      </q-item-section>
                    </q-item>

                    
                  </q-list>
                </q-btn-dropdown>
              </td>
              <!-- <q-td key="kabul" :props="props" ><q-btn label="Kabul Et"></q-btn></q-td> -->
              <!-- {{countdown[props.rowIndex][0].minutes}} -->
              <!-- <q-td key="lastname" :props="props" >{{props.row.createdAt}}</q-td> -->
            </q-tr>
            <!-- {{props}} -->
          </template>
      </q-table>
      <div v-if="get_userdetail.role=='admin'">
        <q-btn class="q-ma-md"  label="Tümünü Göster" @click="allview() " :ripple="false" ></q-btn>
        <q-btn class=""  label="Reset" @click="reset() " :ripple="false" ></q-btn>
      </div>
    </q-card>
    <q-dialog  v-model="opendialog" >
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Emir Detay</div>
                <q-space />
                <q-btn icon="close" @click="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <div>
          <q-input type="textarea" rows="2" class="q-pt-md q-px-md" v-model="jobsmodel.title" label="Konu" outlined readonly/>
          <!-- <div class="q-ml-md q-mr-md q-mt-md q-mb-lg" style="border: 1.9px dashed #cdcdcb;border-radius:5px;">
            <div class=" text-grey-7" style="font-size:12px;margin-left:10px; margin-top:10px;">Açıklama</div>
            <div class="q-ma-md"    v-html="jobsmodel.description" label="Açıklama"   />
          </div> -->
          <!-- <form
          > -->
            <q-editor :toolbar="[]" v-model="jobsmodel.description" style="margin:15px"  max-height="300px" readonly/>
          <!-- </form> -->
          <div  v-if="jobsmodel">
            <div class=" q-pl-md  q-gutter-y-md" v-if="jobsmodel.uploads.length" v-for="(val,key) in jobsmodel.uploads" :key="key">
              
              <!-- <a href="''"  >{{val.path}}</a>
                <q-space></q-space>
              <q-icon class="q-pb-md q-pr-md cursor-pointer	" name="mdi-download" size="25px" @click="fileopen( val.path)" :label="val.path" /> -->
              <q-list class=" q-mr-md" bordered>
                <q-item @click="fileopen( val.path)" clickable v-ripple>
                  <q-item-section>{{val.path}}</q-item-section>
                    <!-- <q-space/> -->
                  <q-item-section avatar>
                    <q-icon color="primary" name="download" />
                  </q-item-section>
                </q-item>
              </q-list>
              
              <div>
                <!-- <a :href="val.path" >{{val.path}}</a> -->
                <!-- window.open("<insert URL here>") -->
              </div>
            </div>
            <!-- {{jobsmodel.uploads.path}} -->
            <!-- <img :src="jobsmodel.uploads.path" alt=""> -->

          </div>
        </div>
        <div class="text-right">
            <q-btn class="q-mb-md q-mr-md" label="Kapat" @click="opendialog=false" />
        </div>
      </q-card>
    </q-dialog>
    <q-dialog  v-model="transferjobdialog" >
      <q-card style="width: 500px; max-width: 80vw;" >
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Transfer Detay</div>
                <q-space />
                <q-btn icon="close" @click="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
       
          <q-select
          label="Gönderilen"
          class="q-pa-md"
          outlined
          v-model="transferuserid"
          :options="getadminUsers"
          option-value="userid"
          option-label="email" 
          />
          <q-input type="textarea" class="q-pa-md" outlined v-model="transfernote" label="Not" :dense="false"  />
      <!-- <q-separator class="q-mb-md" /> -->
        <div class="text-center">
            <q-btn class="q-ma-md" @click="transfermethod()"  color="primary" label="Transfer Et"  />
        </div>

      </q-card>
    </q-dialog>
    <q-dialog  v-model="endjobdialog" position="top" persistent>
      
      <!-- <q-card > -->
        <jobs-row :propjobsid="jobsid" :time="time" @checkjobdialog="endjobdialog=false"/>
        <!-- <q-card-section class="row justify-center">
                <div class="text-h6 ">Onay !...</div>
                <q-space />
                <q-btn icon="close" @click="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
          <q-input type="textarea" class="q-pa-md" outlined v-model="endnote" label="Açıklama" :dense="false"  /> 
        <div class="text-center">
            <q-btn class="q-ma-md" color="primary" label="Kabul Et" @click="endjobmethod()" />
          </div> -->
      <!-- </q-card> -->
    </q-dialog>
    <q-dialog  v-model="canceljobdialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Onay !...</div>
                <q-space />
                <q-btn icon="close" @click="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <!-- <div> -->
          <!-- <q-input class="q-pa-md" outlined v-model="tuser" label="Emri Gönderen" :dense="false" readonly />-->
          <q-input type="textarea" class="q-pa-md" outlined v-model="cancelnote" label="Açıklama" :dense="false"  /> 
        <!-- </div> -->

        <div class="text-center">
            <q-btn class="q-ma-md"  label="İptal Et" @click="canceljobmethod()" />
          </div>
      </q-card>
    </q-dialog>
    <q-dialog  v-model="summarydialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Özet Liste </div>
                <q-space />
                <q-btn icon="close" @click="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <q-table :data="summarylist" :columns="summarycolumns" row-key="jobstateid"  hide-bottom>
          <template v-slot:body="props">
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)"> -->
            <q-tr :props="props" class="cursor-pointer" >
              <q-td class="hhh" key="description" :props="props" @click="note=props.row.note,summarydescriptiondialog=true">
                <div class="box">Açıklama
                  
                  </div> <!--{{props.row.note}}-->
              </q-td>
              <q-td key="user" :props="props" >{{props.row.stateuser.firstname}}<br> {{props.row.stateuser.email}} </q-td>
            </q-tr>
          </template>
        </q-table>
          <q-separator />
        <div class="text-center">
            <q-btn class="q-ma-md"  label="Kapat" @click="close()" />
        </div>
      </q-card>
    </q-dialog>
    <q-dialog  v-model="summarydescriptiondialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Emir Detay</div>
                <q-space />
                <q-btn icon="close" @click="summarydescriptiondialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
          
          <!-- <q-input type="textarea" class="q-pa-md" outlined v-model="note" label="Transfer Notu" :dense="false" readonly /> -->
          <!-- <q-editor :toolbar="[]" v-model="jobsmodel.description" style="margin:15px"  max-height="300px" readonly/> -->
          <div>
        <q-editor :toolbar="[]" v-model="note" style="margin:15px"  max-height="300px" readonly/></div>
        <div class="text-center">
            <q-btn class="q-ma-md"    label="Kapat" @click="summarydescriptiondialog=false" />
          </div>
      </q-card>
    </q-dialog>
    <q-dialog  v-model="checkjobdialog" position="top" persistent>
      <jobs-row :propjobsid="jobsid" :time="time" :stateoptions="stateoptions" :ostate="true"  @checkjobdialog="checkjobdialog=false"/>
    </q-dialog>
    <q-dialog v-model="contractsdialog">
      <q-card>
        <q-card-section class="row justify-center">
                <div class="text-h6">Sözleşme </div>
                <q-space />
                <q-btn icon="close" @click="contractsdialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        
        <contractlist :contracts="contracts" @close="contractsdialog=false"/>
      </q-card>
    </q-dialog>
    <!-- <q-btn label="deneme" @click="fileopen()"   dense  /> -->
  </div>
</template>

<script>
import Vue from 'vue';
import {mapState,mapGetters} from 'vuex'
import axios from "axios";
import {apolloClient} from "../../../boot/apollo";
import gql from "graphql-tag";
import jobsRow from '../../../components/jobRows.vue';
import moment from 'moment'
moment.locale('tr')
import countdown from 'countdown'
import contractlist from '../../../components/contractlist.vue'
// import uploads from 'uploads'
import FileSaver from 'file-saver'
// import uploads from ''

  export default {
    components: {
      // Productadd,
      jobsRow, contractlist
    },
    // mixins:[uploads],
    data() {
      return {
        items: [
        // { title: 'Chat', icon: require('~assets/kyG0G1eOBi.jpg') },
        // { title: 'Vue',  icon: require('~assets/kyG0G1eOBi.jpg') }
      ],
        adminactivejobs:[],
        contracts:[],
        contractsdialog:false,
        //-*-*-*-*-*-*
        stateoptions:['Transfer', 'Onaylandı'],
        jobsid:"",
        transferuserid:"",
        // -*-*--*-*-*-
        checkjobdialog:false,
        time:0,
        //-*-*-*-*
        transferjobdialog:false,
        endjobdialog:false,
        canceljobdialog:false,
        jobsmodel:{},
        opendialog:false,
        summarydialog:false,
        summarydescriptiondialog:false,
        summarylist:[],
        jobs:[],
        filter:'',
        countdown: [],
        transfernote:"",
        endnote:"",
        cancelnote:"",
        note:"",
        columns: [
          {
          name: "id",
          label: "No",
          align: "left",
          sortable: true,
          headerStyle:'max-width:45px',
          style:'max-width:45px',
          classes: ' ',
           field: (row) =>  row.jobsid,
          },
          {
          label: "Açılış Tarihi",
          name: "opened",
          sortable:true,
          align: "left",
          field: (row) =>  {
            var item=[]
              if(row.jobstate.length){
                row.jobstate.forEach(val=>{ 
                  if (val.active){
                    Vue.set(item, 'date1', moment(val.jobsdetail.createdAt).format('DD-MM-YYYY'))
                  }
                })
              }
              return item.date1
              // return item
          },
        },
          {
          name: "description",
          label: "Açıklama",
          align: "left",
          sortable: true,
          headerStyle: 'max-width: 175px',
          style:'max-width:175px',
          classes: ' ',
          field: (row) =>  row.title,
        },
        {
          name: "outjobs",
          label: "Extra İşlemler",
          align: "left",
          sortable: true,
          headerStyle:'max-width:95px',
          style:'max-width:95px',
          // classes (val) {
          //   return val=='yüksek' ? 'bg-red' : 'bg-yellow'
          // },
          field: (row) => row.outjobstate,
        },
        {
          name: "priority",
          label: "Önem",
          align: "left",
          sortable: true,
          headerStyle:'max-width:65px',
          style:'max-width:65px',
          // classes (val) {
          //   return val=='yüksek' ? 'bg-red' : 'bg-yellow'
          // },
          field: (row) => row.priority,
        },
        {
          name: "company",
          label: "Firma",
          align: "left",
          sortable: true,
          field: (row) => row.company.name,
          headerStyle:'max-width:200px',
          style:'max-width:200px',
        },
        {
          name: "state",
          label: "Sözleşme",
          align: "left",
          sortable: true,
          headerStyle:'max-width:65px',
          style:'max-width:65px',
          field: (row) => row.company.contracts,
        },
        {
          name: "user",
          label: "Kullanıcı",
          align: "left",
          sortable: true,
          // headerStyle:'max-width:95px',
          // style:'max-width:95px',
          field: (row) => row.openuser.firstname,
        },
        {
          name:"category",
          label:"Kategori",
          align:"left",
          sortable:true,
          // headerStyle:'max-width:115px',
          // style:'max-width:115px',
          field:(row)=>row.category.name
        },
        {
          headerStyle: 'max-width: 50px',
          style:"max-width: 50px",
          name: "date",
          label: "Geçen Süre",
          align: "left",
          // sortable: true,
          // field: (val,row) => `${val}`,
          
        },
        {
          
          name: "button",
          label: "İşlemler",
          align: "center",
        },
        
        ],
        summarycolumns:[
          {
          label: "Not",
          name: "description",
          style:'max-width:75px',
          align: "left",
          field: (row) =>  row.note,

          },
          {
          label: "Admin",
          name: "user",
          align: "center",
          // field: (row) =>  row.stateuser.firstname,

          },
        ],
          pagination: {
            sortBy: "id",
            descending: true,
            page: 1,
            rowsPerPage: 100,
          },
        }
    },
    watch: {
      jobsmodel: {
        immediate: true,
        handler(val) {
          // console.log('active-watch-jobsmodel',val)
        },
        deep: true
      },
      get_userdetail(newV, oldV) {
          if (oldV && newV.userdepartments ) {
            // console.log("watch",oldV);
            this.deneme();
            // this.updateCountdowns()
            // setInterval(this.updateCountdowns, 60000)
          }    
          },
      getactivejobs:{
        immediate :true,
        handler(val){
          
          this.adminactivejobs= val
          // console.log('val',val);
          this.deneme()
        }
          
        // }
      },
        // jobsmodel(val){
          // console.log("jobsmodel",val);
          
          // this.time=moment().diff(moment(this.jobsmodel.createdAt))
        // }
    },
    computed: {
      ...mapGetters([
        'getadminUsers',
        'getallCompany',
        'getalljobs',
        'get_userdetail',
        'getdepartmentsjobs',
        'getactivejobs',

      ])
    },
    // async beforeCreate () {
    //  await  this.deneme()
    // },
    async mounted () {
      await this.$nextTick()
    this.$refs.filter.$el.focus();
      // this.adminactivejobs= this.getactivejobs
      // console.log('adminactivejobs',this.adminactivejobs);
      // this.deneme()
    },
    methods: {
      async fileopen(fileName='3fsD4wjvC.jpg'){
        
                await this.$axios({
                // let url=  require(`../../../assets/uploads/${fileName}`)
                    headers:{'Content-Type': 'application/json'},
                    url:  process.env.KURAPI+'download',
                    method: 'post',
                    responseType: 'blob',
                    data:{
                      name:fileName
                    }
                }).then((response) => {
                    console.log("response",response);
                    FileSaver.saveAs(response.data,fileName);
                });
                //  window.open(require(`assets/uploads/${fileName}`), '_blank');
        
      },
      async  allview(){
          console.log("1212",this.getalljobs);
          // await this.$store.commit("setactivejobs",this.getalljobs)
          // console.log("this.getactivejobs",this.getactivejobs);
          // this.adminactivejobs= this.getalljobs.filter(val=>val.jobstate.filter(al=>{

          // }))
          this.adminactivejobs = this.getalljobs.filter((element) => 
            element.jobstate.some((t) => t.state == 'Aktif'  &&  t.active))
          .map( element => {
            const newElt = Object.assign({}, element); 
            return newElt
          });
          console.log('adminactivejobs',this.adminactivejobs);
          this.deneme()

      },
      async reset(){
        console.log("2222",this.getdepartmentsjobs);
        // await this.$store.commit("setactivejobs",this.getdepartmentsjobs)
        // console.log("this.getactivejobs",this.getactivejobs);
        this.adminactivejobs= this.getactivejobs
        this.deneme()
      },
      description(val){
        this.opendialog=true
        this.jobsmodel=val
        // console.log(val);
        
        this.tuser=val.description
      },
      async transfermethod(){
        // console.log("1",this.jobsmodel);
        // console.log("2",this.transferuserid.userid);
        // console.log("3",this.get_userdetail.userid,);
        // console.log("4",this.jobsmodel.jobsid);
        // return false
        this.$q.loading.show()
        await axios.post(
            process.env.API, {
              query: `mutation transferjobs($transferuserid:ID,$jobstateid:ID, $jobsid:ID, $state:String,$userid:ID, $note:String){
                   transferjobs(transferuserid:$transferuserid, jobstateid:$jobstateid,jobsid:$jobsid, state:$state, userid:$userid, note:$note){
                    jobsid
                    }
                    }`,
                    variables:{
                      jobstateid:this.jobsmodel.jobstate[0].jobstateid,
                      transferuserid:this.transferuserid.userid,
                      userid:this.get_userdetail.userid,
                      jobsid:this.jobsmodel.jobsid,
                      state:"Transfer",
                      note:this.transfernote
                    }
            }).then(async data => {
              // console.log(data.data.data.acceptjobs);
              await this.$store.dispatch("departmentsjobs",this.get_userdetail);
              this.transferjobdialog=false
              this.$q.notify({
                    type: 'positive',
                    message: `Başarılı`
                })
                this.$q.loading.hide()
            })
      },
      async endjobmethod(){
        this.time=moment().diff(moment(this.jobsmodel.createdAt)) // miliseceonds
        
        // console.log(moment().diff(moment(this.jobsmodel.createdAt)));
        
         let a=moment.duration(moment().diff(moment(this.jobsmodel.createdAt)));
        // console.log((moment.duration(a).asHours()).toFixed(2)) // hours
        // console.log(a._milliseconds)
        // console.log(a._data)
        // console.log(a._data.days,':',a._data.hours)
        // console.log(moment(a._milliseconds).format("HH:mm:ss"));
        // console.log((moment.duration(a).asHours()).toFixed(2));
        this.$q.loading.show()
        await axios.post(
            process.env.API, {
              query: `mutation endjobs($jobstateid:ID, $jobsid:ID, $state:String,$userid:ID, $note:String,$time:Float){
                   endjobs(jobstateid:$jobstateid, jobsid:$jobsid, state:$state, userid:$userid, note:$note, time:$time){
                    jobsid
                    }
                    }`,
                    variables:{
                      jobstateid:this.jobsmodel.jobstate[0].jobstateid,
                      userid:this.get_userdetail.userid,
                      jobsid:this.jobsmodel.jobsid,
                      state:"Tamamlandı",
                      note:this.endnote,
                      time:this.time
                    }
            }).then(async data => {
              // console.log(data.data.data.acceptjobs);
              await this.$store.dispatch("departmentsjobs",this.get_userdetail);
              await this.$store.dispatch("alljobsAction");
              this.endjobdialog=false
              this.$q.notify({
                    type: 'positive',
                    message: `Başarılı`
                })
                this.$q.loading.hide()
            })

      },
      async canceljobmethod(){
        this.$q.loading.show()
        await axios.post(
            process.env.API, {
              query: `mutation endjobs($jobstateid:ID, $jobsid:ID, $state:String,$userid:ID, $note:String){
                   endjobs(jobstateid:$jobstateid,jobsid:$jobsid, state:$state, userid:$userid, note:$note){
                    jobsid
                    }
                    }`,
                    variables:{
                      jobstateid:this.jobsmodel.jobstate[0].jobstateid,
                      userid:this.get_userdetail.userid,
                      jobsid:this.jobsmodel.jobsid,
                      state:"İptal",
                      note:this.cancelnote
                    }
            }).then(async data => {
              // console.log(data.data.data.acceptjobs);
              await this.$store.dispatch("departmentsjobs");
              await this.$store.dispatch("alljobsAction");
              this.canceljobdialog=false
              this.$q.notify({
                    type: 'positive',
                    message: `İptal Edildi`
                })
                this.$q.loading.hide()
            })
      },
      async deneme(){
         
         this.updateCountdowns()
          setInterval(this.updateCountdowns, 60000)
      },
      async updateCountdowns() {
        let datem=""
        let a={}
        this.countdown=[]
        this.adminactivejobs.forEach((val,i) => {
        
        this.countdown[i]=[]
        let a={}
        datem = moment(val.createdAt).format('YYYY-MM-DD HH:mm');
        a.months = countdown(new Date(datem).getTime()).months;
        a.days = countdown(new Date(datem).getTime()).days;
        a.hours = countdown(new Date(datem).getTime()).hours;
        a.minutes = countdown(new Date(datem).getTime()).minutes;
        a.seconds = countdown(new Date(datem).getTime()).seconds;
        
        this.countdown[i].push(a)
      })
      // console.log("countdown",this.countdown);
      },
      close(){
        this.transferjobdialog=false
        this.opendialog=false
        this.canceljobdialog=false
        this.endjobdialog=false
        this.summarydialog=false
      },
      summarymethod(val){
        // console.log(val);
        // console.log(this.getalljobs);
        this.summarydialog=true
        this.getalljobs.filter(data=>{
          if (val.jobsid==data.jobsid ) {
            // console.log(data.jobstate);
            // Vue.set(this.summarylist,[data.jobstate])
            // this.summarylist = Object.assign({}, data.jobstate); 
            this.summarylist=data.jobstate
            
            
          }
        })
        console.log(this.summarylist);
      },
      moment(val){
        return  moment(val);
      },
    },
  }
</script>

<style lang="scss" scoped>
.toolsize{
  font-size: 13px !important;
}
.box {
    color:red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }

.hhh:hover {
    text-decoration: underline red;
    // color: green !important;
  }
.cbox{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.ccc:hover {
  text-decoration: underline ;
  // color: green !important;
}
  .q-table tbody td:before{
    background: transparent
    }
</style>