<template>
  <div>
    <q-table :filter="filter" :data="getendjobs" :columns="columns" row-key="jobsid" :pagination.sync="pagination" title="Biten İşlem Listesi ">
      
          <template v-slot:top-right>
            <q-input borderless dense debounce="300" ref="filter" v-model="filter" placeholder="Ara">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>
      
          <template v-slot:body="props">
            <q-tr class="cursor-pointer "  :props="props"  >
              <q-td key="id" :props="props"  >{{props.row.jobsid}} </q-td>
              <q-td key="state" :props="props"  >
                <div v-for="(val,ke) in props.row.jobstate" :key="ke">
                  <div v-if="val.active ">
                    <div v-if="val.state=='Onaylandı'">
                      <q-badge color="green">Onaylandı</q-badge>
                    </div>
                    <div v-else>
                      <q-badge color="red">İptal</q-badge>
                    </div>
                  </div>
                </div>
                <!-- {{props.row.jobsid}}  -->
              </q-td>
              
              <q-td class="text-weight-bold" key="opened" :props="props" >
                <div v-if="props.row.jobstate">
                  <div v-for="(val,key) in props.row.jobstate" :key="key">
                    <div v-if="val.active">
                      <q-badge color="warning" text-color="dark" class="text-weight-bold">{{moment(val.jobsdetail.createdAt).format('DD-MM-YYYY HH:mm')}}</q-badge>
                    </div>
                  </div>
                </div>
              </q-td>
              <q-td class="text-weight-bold" key="closed" :props="props" >
                <div v-if="props.row.jobstate">
                  <div v-for="(val,key) in props.row.jobstate" :key="key">
                    <div v-if="val.active">
                      <q-badge color="warning" text-color="dark" class="text-weight-bold">{{moment(val.createdAt).format('DD-MM-YYYY HH:mm')}}</q-badge>
                    </div>
                  </div>
                </div>
              </q-td>
              <q-td key="description" :props="props"  @click="jobmodel=props.row,note=props.row.description,descriptiondialog=true" class="hhh" >
                <q-tooltip  class="toolsize"  max-width='450px' :offset="[1, 1]">
                     <div class="toolsize" v-html="props.row.description"> </div>
                </q-tooltip>
                <div class="box" >{{props.row.title}}</div>
                </q-td>
              <q-td key="priority" :props="props"  >
                <q-badge :color="props.row.priority=='Yüksek'?'red':props.row.priority=='Normal'?'blue':'green '">
                  {{props.row.priority}}
                </q-badge>
              </q-td>
              <q-td class="ccc" key="company" :props="props" @click.native="props.row.company.contracts ==null ? contracts=[]:contracts=props.row.company.contracts,contractsdialog=true">
                <div class="cbox">
                  {{props.row.company.name}}
                </div>
                
                </q-td>
              <q-td key="cstate" :props="props"  >
                <q-badge color="red-12" v-if="props.row.company.contracts==null || props.row.company.contracts[0]==null || props.row.company.contracts[0].state=='Pasif'">Pasif</q-badge>
                <q-badge color="green" v-else >Aktif</q-badge>
              </q-td>
              <q-td key="user" :props="props" >{{props.row.openuser.firstname}}</q-td>
              <q-td key="category" :props="props" >{{props.row.category.name}}</q-td>
              <q-td class="text-weight-bold" key="date" :props="props" >{{endjobstime[props.rowIndex]}}</q-td>
              <q-td class="text-weight-bold" key="amount" :props="props" >
                <div v-if="props.row.amount=='' || props.row.amount==null">
                  Yok
                </div>
                <div v-else>{{props.row.amount}} USD</div>
                
                </q-td>
              
              <q-td class="text-center col">
                <q-btn-dropdown icon="mdi-cog"   flat>
                   <q-list >
                    <q-item @click="summarymethod(props.row)" clickable v-close-popup >
                      <q-item-section>
                        <q-item-label> Özet</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item @click="time=props.row.time, jobmodel=props.row,jobsid=props.row.jobsid,checkjobdialog=true" clickable v-close-popup >
                      <q-item-section>
                        <q-item-label>İşlem</q-item-label>
                      </q-item-section>
                    </q-item>
                   
                  </q-list> 
                </q-btn-dropdown>
              </q-td>
            </q-tr>
          </template>
          <template v-slot:bottom-row>
        <q-tr>
          <q-td colspan="100%">
            {{getendjobsquerytime}} saniyede görüntülendi
          </q-td>
        </q-tr>
      </template>

      
    </q-table>
    <q-dialog  v-model="descriptiondialog" persistent>
      <q-card style="width: 600px; max-width: 90vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Emir Detay</div>
                <q-space />
                <q-btn icon="close" @click="descriptiondialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
          <q-input type="textarea" rows="2" class="q-pt-md q-px-md" v-model="jobmodel.title" label="Konu" outlined readonly/>
          <!-- <div class="q-ml-md q-mr-md q-mt-md q-mb-lg" style="border: 1.9px dashed #cdcdcb;border-radius:5px;">
            <div class=" text-grey-7" style="font-size:12px;margin-left:10px; margin-top:10px;">Açıklama</div>
            <div class="q-ma-md"    v-html="note" label="Açıklama"   />
          </div> -->
          <div>
          <q-editor :toolbar="[]" v-model="note" style="margin:15px"  max-height="300px" readonly/>
        </div>
          <div v-if="jobmodel">
            <div class=" q-pl-md  q-gutter-y-md" v-if="jobmodel.uploads.length" v-for="(val,key) in jobmodel.uploads" :key="key">
              
              <!-- <a href="''"  >{{val.path}}</a>
                <q-space></q-space>
              <q-icon class="q-pb-md q-pr-md cursor-pointer	" name="mdi-download" size="25px" @click="fileopen( val.path)" :label="val.path" /> -->
              <q-list class=" q-mr-md" bordered>
                <q-item @click="fileopen( val.path)" clickable v-ripple>
                  <q-item-section>{{val.path}}</q-item-section>
                    <!-- <q-space/> -->
                  <q-item-section avatar>
                    <q-icon color="primary" name="download" />
                  </q-item-section>
                </q-item>
              </q-list>
              
              <div>
                <!-- <a :href="val.path" >{{val.path}}</a> -->
                <!-- window.open("<insert URL here>") -->
              </div>
            </div>
            </div>
          <div class="text-right">
            <q-btn class="q-mb-md q-mr-md" label="Kapat" @click="descriptiondialog=false" />
          </div>
      </q-card>
    </q-dialog>
    <q-dialog  v-model="summarydescriptiondialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Emir Detay</div>
                <q-space />
                <q-btn icon="close" @click="summarydescriptiondialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
          
          <!-- <q-input type="textarea" class="q-pa-md" outlined v-model="note" label="Not" :dense="false" readonly /> -->
          <!-- <q-editor :toolbar="[]" v-model="note" style="margin:15px"  max-height="300px" readonly/> -->
        <!-- <div class="q-ma-md"    v-html="note" label="Açıklama"   /> -->
        <div>
          <q-editor :toolbar="[]" v-model="note" style="margin:15px"  max-height="300px" readonly/>
        </div>
        <div class="text-center">
            <q-btn class="q-ma-md" label="Kapat" @click="summarydescriptiondialog=false" />
          </div>
      </q-card>
        </q-dialog>
    <q-dialog  v-model="summarydialog" position="top"    persistent>
      <q-card :style="$q.screen.sm ? 'width:700px;max-width:90vw':'width:1200px;max-width: 100vw;'">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Özet Liste </div>
                <q-space />
                <q-btn icon="close" @click="summarydialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <q-table :data="summarylist" :columns="summarycolumns" row-key="jobstateid"   hide-bottom>
          <template v-slot:body="props">
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)">note=props.row.note -->
            <q-tr :props="props" class="cursor-pointer" >
              <q-td class="hhh" key="description" :props="props" @click="note==null ? note=' ':note=props.row.note,summarydescriptiondialog=true">
                <q-tooltip v-if="props.row.note!=''"  class="toolsize"  max-width='450px' :offset="[1, 1]">
                     <div  class="toolsize" v-html="props.row.note"> </div>
                </q-tooltip>
                <div class="box">{{props.row.note}}</div>   
                </q-td>
              <q-td key="user" :props="props" >{{props.row.stateuser.firstname}}<br> {{props.row.stateuser.email}} </q-td>
              <q-td key="state" :props="props" >{{props.row.state}}</q-td>
              <q-td key="date" :props="props" >
                <!-- {{props.row.createdAt}} -->
                {{moment(props.row.createdAt).format('DD-MM-YYYY HH:mm')}}
                </q-td>
            </q-tr>
          </template>
        </q-table>
          <q-separator />
        <div class="text-right">
            <q-btn class="q-ma-md"  label="Kapat" @click="summarydialog=false" />
        </div>
      </q-card>
    </q-dialog>
    <q-dialog  v-model="checkjobdialog" position="top" persistent>
      <!-- <jobs-row :jobmodel="jobmodel" :time="time" @checkjobdialog="checkjobdialog=false"/> -->
      <jobs-row :propjobsid="jobsid" :time="time" :stateoptions="stateoptions" :ostate='false' @checkjobdialog="checkjobdialog=false"/>
    </q-dialog>
    <q-dialog v-model="contractsdialog">
      <q-card>
        <q-card-section class="row justify-center">
                <div class="text-h6">Sözleşme </div>
                <q-space />
                <q-btn icon="close" @click="contractsdialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <contractlist :contracts="contracts" @close="contractsdialog=false"/>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import Vue from "vue";
import {mapState,mapGetters} from 'vuex';
import axios from "axios";
import  Productadd   from '../../admin/products.vue';
import jobsRow from '../../../components/jobRows.vue';
import contractlist from '../../../components/contractlist.vue'
import FileSaver from 'file-saver'

import moment from 'moment'
moment.locale('tr')
  export default {
    components: {
      Productadd,
      jobsRow,
      contractlist
    },
    data() {
      return {
        contracts:[],
        contractsdialog:false,
        stateoptions:['Transfer'],
        jobsid:"",
        note:"",
        time:0,
        descriptiondialog:false,
        checkjobdialog:false,
        summarydialog:false,  
        summarydescriptiondialog:false,
        // 
        jobmodel:{},
        summarylist:[],
        endjobstime:[],
        filter:"",
        columns:[
        {
        name: "id",
        label: "No",
        align: "left",
        sortable: true,
        headerStyle:'max-width:45px',
        style:'max-width:45px',
        classes: ' ',
          field: (row) =>  row.jobsid,
        },
        {
        name: "state",
        label: "Durum",
        align: "left",
        sortable: true,
        headerStyle:'max-width:75px',
        style:'max-width:75px',
          field: (row) =>  {
            if (row.jobstate) {
              let item =''
               row.jobstate.forEach((val,i)=>{
                if (val.active) {
                  item= val.state 
                }
              })
              return item
            }
          },
        },
        {
          label: "Açılış Tarihi",
          name: "opened",
          sortable:true,
          align: "left",
          field: (row) =>  {
            var item=[]
              if(row.jobstate.length){
                row.jobstate.forEach(val=>{ 
                  if (val.active){
                    Vue.set(item, 'date1', moment(val.jobsdetail.createdAt).format('DD-MM-YYYY'))
                  }
                })
              }
              return item.date1
              // return item
          },
        },
        {
          label: "Kapanış Tarihi",
          name: "closed",
          sortable:true,
          align: "left",
          field: (row) =>  {
            var item=[]
              if(row.jobstate.length){
                row.jobstate.forEach(val=>{ 
                  if (val.active){
                    Vue.set(item, 'date', moment(val.createdAt).format('DD-MM-YYYY'))
                  }
                })
              }
              return item.date
              // return item
          },
        },
        {
        label: "Not",
        name: "description",
        headerStyle: 'max-width: 175px',
        style:'max-width:175px',
        align: "left",
        field: (row) =>  row.title,
        },
        {
        label: "Önem",
        name: "priority",
        style:'max-width:65px',
        align: "left",
        field: (row) =>  row.priority,
        },
        {
        label: "Firma",
        name: "company",
        align: "left",
        headerStyle: 'max-width: 210px',
        style:'max-width:210px',
        field: (row) =>  row.company.name,
        },
        {
          name: "cstate",
          label: "Sözleşme",
          align: "left",
          headerStyle: 'max-width: 70px',
          style:'max-width:70px',
          field: (row) => row.company.contracts,
        },
        {
        label: "Kullanıcı",
        name: "user",
        align: "left",
        field: (row) =>  row.openuser.firstname,
        },
        {
        label: "Kategori",
        name: "category",
        align: "left",
        field: (row) =>  row.category.name,
        },
        
        {
          name: "date",
          label: "H Süresi ",
          align: "left",
          sortable: true,
          headerStyle: 'max-width: 75px',
          style:"max-width: 75px",
          field: (row) =>  row,
        },
        {
        label: "Tutar",
        name: "amount",
        align: "left",
        field: (row) =>  row.amount,
        },
        
        {
          name: "button",
          label: "İşlemler",
          align: "center",
          sortable: true,
        },
        ],
        summarycolumns:[
        {
        label: "Not",
        name: "description",
        style:'max-width:75px',
        align: "left",
        field: (row) =>  row.note,

        },
        {
        label: "Admin",
        name: "user",
        align: "center",
         field: (row) =>  row.stateuser.firstname,

        },
        {
        label: "Durum",
        name: "state",
        align: "center",
         field: (row) =>  row.state,

        },
        {
        label: "Tarih",
        name: "date",
        align: "center",
         field: (row) =>  row.createdAt,

        },

        ],
        pagination: {
          // sortBy: "closed",
          // descending: true,
          page: 1,
          rowsPerPage: 30
        },
      }
    },
    watch: {
      getendjobs: {
        // $store.dispatch("endjobs")
        // this.jobmodel=a[0]
        immediate:true,
        handler(val){
            // console.log('val',val);
          if (val.length > 0) this.updateendjobstime()
        }
        
      },
      jobmodel: {
        immediate: true,
        handler(val) {
          // console.log('jobmodel',val)
          
        },
        deep: true
      },
    },
    computed: {
      ...mapGetters([
        'get_userdetail',
        'getendjobs',
        'getendcheckedjobs',
        'getendjobsquerytime'
      ]),
    },
    async mounted () {
      await this.$nextTick()
      this.$refs.filter.$el.focus();
      // console.log("screen",this.$q.screen);
      
        await this.$store.dispatch("endjobs")
      console.log('this.getendjobs',this.getendjobs);
      
      
      this.updateendjobstime()
    },
    methods: {
      async fileopen(fileName='3fsD4wjvC.jpg'){
        
                await this.$axios({
                // let url=  require(`../../../assets/uploads/${fileName}`)
                    headers:{'Content-Type': 'application/json'},
                    url:  process.env.KURAPI+'download',
                    method: 'post',
                    responseType: 'blob',
                    data:{
                      name:fileName
                    }
                }).then((response) => {
                    console.log("response",response);
                    FileSaver.saveAs(response.data,fileName);
                });
                //  window.open(require(`assets/uploads/${fileName}`), '_blank');
        
      },
      summarymethod(val){
        console.log("summarymethod",val);
        // console.log(this.getalljobs);
        this.summarydialog=true
        this.getendjobs.filter(data=>{
          if (val.jobsid==data.jobsid ) {
            // console.log(data.jobstate);
            // Vue.set(this.summarylist,[data.jobstate])
            // this.summarylist = Object.assign({}, data.jobstate); 
            this.summarylist=data.jobstate
            
          }
        })
        // console.log(this.summarylist);
      },
      moment(val){
        return  moment(val);
      },
      async updateendjobstime(){
        // console.log("updateendjobstime");
        
        this.endjobstime=[]
        this.getendjobs.forEach((val,i) => {
        this.endjobstime[i]=[]
        // let a=Number
        // a = (moment.duration(val.time).asHours()).toFixed(2);
        // console.log(a);
        
        Vue.set(this.endjobstime,[i],val.time)
      })
      return this.endjobstime
      // filter(){

      // },
    
      },
    },
  }
</script>

<style lang="scss" scoped>
.toolsize{
  font-size: 13px !important;
}
.box {
    color:red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  .hhh:hover {
    text-decoration: underline red;
    // color: green !important;
  }
  .cbox{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ccc:hover {
    text-decoration: underline ;
    // color: green !important;
  }
</style>