<template>
  <div class="q-ma-xs">
    <q-card>
      <!-- <q-table :filter="filter" :data="getalljobs" :columns="columns" row-key="jobsid" :pagination.sync="pagination" title="Emir Listesi">
          <template v-slot:top-right>
            
        
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Ara">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
          <template v-slot:body="props">
            <q-tr :props="props" class="cursor-pointer" v-if="countdown[props.rowIndex]!=undefined">
              <q-td key="company" :props="props" >{{props.row.company.name}}</q-td>
              <q-td key="kategori" :props="props" >{{props.row.category.name}}</q-td>
              <q-td class="text-weight-bold" key="date" :props="props" >
                <q-badge v-if="countdown[props.rowIndex][0].months!=0" class="text-weight-bold">{{countdown[props.rowIndex][0].months}} ay  </q-badge> <br v-if="countdown[props.rowIndex][0].months!=0">
                <q-badge color="blue" v-if="countdown[props.rowIndex][0].days!=0" class="text-weight-bold">{{countdown[props.rowIndex][0].days}} gün  </q-badge> <br v-if="countdown[props.rowIndex][0].days!=0">
                <q-badge class="text-weight-bold" color="red">{{countdown[props.rowIndex][0].hours}} saat</q-badge><br>   
                <q-badge class="text-weight-bold" color="green">{{countdown[props.rowIndex][0].minutes}} dk</q-badge><br>
                </q-td>
            </q-tr>
          </template>
        </q-table> -->
        
    </q-card>
  </div>
</template>

<script>
import {mapState,mapGetters} from 'vuex'
import axios from "axios";
import gql from "graphql-tag";
import moment from 'moment'
import countdown from 'countdown'
moment.locale('tr')
  export default {
    data() {
      let now = new Date();
      return {
        // date:moment(now).format('DD-MM-YYYY HH:mm'),
        countdown: [],
        
        columns: [
        {
          name: "company",
          label: "Firma",
          align: "left",
          sortable: true,
          field: (row) => row.company.name,
        },
        {
          name: "kategori",
          label: "Kategori",
          align: "left",
          sortable: true,
          field: (row) => row.category.name,
        },
        {
          name: "date",
          label: "Geçen Süre",
          align: "left",
          sortable: true,
          field: (row) =>  row.createdAt,
        },
      ],
      pagination: {
        sortBy: "ust",
        descending: false,
        page: 1,
        rowsPerPage: 100,
        
      },
        filter:'',
      }
    },
    watch: {
      getalljobs(val) {
        if (val.length) {
          this.updateCountdowns()
        }
      }
    },
    computed: {
      ...mapGetters([
        'getallCompany',
        'getalljobs'
      ])
    },
   async mounted(){
     this.updateCountdowns()
    setInterval(this.updateCountdowns, 60000)
  },

    methods: {
      updateCountdowns() {
        let datem=""
        let a={}
         this.countdown=[]
      this.getalljobs.forEach((val,i) => {
        this.countdown[i]=[]
        let a={}
        datem = moment(val.createdAt).format('YYYY-MM-DD HH:mm');
        a.months = countdown(new Date(datem).getTime()).months;
        a.days = countdown(new Date(datem).getTime()).days;
        a.hours = countdown(new Date(datem).getTime()).hours;
        a.minutes = countdown(new Date(datem).getTime()).minutes;
        a.seconds = countdown(new Date(datem).getTime()).seconds;
        // console.log(a.hours,a.minutes,a.seconds);
        // let a
        // let datem = moment(val.createdAt).format('DD-MM-YYYY HH:mm');
        
        // a = countdown(new Date(datem).getTime()).toString();
        // console.log(a);
         this.countdown[i].push(a)
      })
      // console.log(a);
    }

    },
  }
  
</script>

<style lang="scss" scoped>

</style>