<template>
  <div class="q-ma-xs">
    <q-card class="row justify-center">
      <div class=" q-pa-md col-md-8 col-lg-8 col-xs-12">
        <q-item class="q-pt-md justify-center text-h5">
        <q-item-label>Yeni Ticket</q-item-label></q-item>
        <q-select
                class=" col-12"
                label="Firma"
                outlined
                use-input
                v-model="companymodel"
                :options="companyoptions"
                option-value="companyid"
                option-label="name" 
                @input="companyusers()"
                @filter="companyfilter"
              />
        <q-select
                
                class="q-pt-md col-12"
                label="Kullanıcı"
                outlined
                use-input
                v-model="usermodel"
                :options="useroptions"
                option-value="userid"
                option-label="email"
                @input="usermod()"
                @filter="userfilter"
              />
              <q-separator class="q-mt-md" />
              <rec-cat :nodes="gettreem"/>
              <q-separator class="q-mb-md q-mt-md" />
              <label for="" class="text-h5">Önem</label>
        <q-select
        filled
        v-model="pselectmodel"
        :options="pdata"
        />
      <q-separator class="q-mb-md" />
      <label for="" class="text-h5">Başlık</label>
      <q-input
      label="Başlık Giriniz..."
      class="q-pb-md"
      outlined
      v-model='title'
      
      />
      <form
        autocorrect="off"
        autocapitalize="off"
        autocomplete="off"
        spellcheck="false"
        class="q-pb-md"
      >
        <q-editor v-model="editor"  max-height="300px" ref="editor"
                      :fonts="{
                arial: 'Arial',
                arial_black: 'Arial Black',
                comic_sans: 'Comic Sans MS',
                courier_new: 'Courier New',
                impact: 'Impact',
                lucida_grande: 'Lucida Grande',
                times_new_roman: 'Times New Roman',
                verdana: 'Verdana'
              }" 
              :toolbar="[ 
                ['left', 'center', 'right', 'justify'],
                ['bold', 'italic', 'strike', 'underline'],
                ['token'], 
                [
            {
              label: $q.lang.editor.formatting,
              icon: $q.iconSet.editor.formatting,
              list: 'no-icons',
              options: [
                'p',
                'h1',
                'h2',
                'h3',
                'h4',
                'h5',
                'h6',
                'code'
              ]
            },
            {
              label: $q.lang.editor.defaultFont,
              icon: $q.iconSet.editor.font,
              fixedIcon: true,
              list: 'no-icons',
              options: [
                'default_font',
                'arial',
                'arial_black',
                'comic_sans',
                'courier_new',
                'impact',
                'lucida_grande',
                'times_new_roman',
                'verdana'
              ]
            },
            'removeFormat'
          ],
          ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

          ['undo', 'redo'],
          ['viewsource']
              ]"
              >
                <template v-slot:token>
                  <q-btn-dropdown dense no-caps ref="token" no-wrap unelevated color="white" text-color="primary" label="Text Color" size="sm">
                    <q-list dense>
                      <q-item tag="label" clickable @click="color('backColor', highlight)">
                        <q-item-section side>
                          <q-icon name="highlight" />
                        </q-item-section>
                        <q-item-section>
                          <q-color v-model="highlight" default-view="palette" no-header no-footer :palette="['#ffccccaa', '#ffe6ccaa', '#ffffccaa', '#ccffccaa','#ccffe6aa', '#ccffffaa', '#cce6ffaa', '#ccccffaa', '#e6ccffaa', '#ffccffaa', '#ff0000aa', '#ff8000aa', '#ffff00aa', '#00ff00aa', '#00ff80aa', '#00ffffaa', '#0080ffaa', '#0000ffaa', '#8000ffaa', '#ff00ffaa'
                          ]" class="my-picker" />
                        </q-item-section>
                      </q-item>
                      <q-item tag="label" clickable @click="color('foreColor', foreColor)">
                        <q-item-section side>
                          <q-icon name="format_paint" />
                        </q-item-section>
                        <q-item-section>
                          <q-color v-model="foreColor" no-header no-footer default-view="palette" :palette="['#ff0000', '#ff8000', '#ffff00', '#00ff00', '#00ff80', '#00ffff', '#0080ff', '#0000ff', '#8000ff', '#ff00ff']" class="my-picker" />
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </q-btn-dropdown>
                </template>
                    
                    </q-editor>
        <Dropzone  ref="dropclick" @progress="progress" @alertmethod="alertmethod()"/>
      </form>
      <q-separator class="q-mb-md" />
      <label for="" class="text-h5">Admin Notu</label>
      <form
        autocorrect="off"
        autocapitalize="off"
        autocomplete="off"
        spellcheck="false"
        class="q-pb-md"
      >
        <q-editor v-model="note"  max-height="300px" ref="admineditor" 
          :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana'
            }" 
            :toolbar="[ 
              ['left', 'center', 'right', 'justify'],
              ['bold', 'italic', 'strike', 'underline'],
              ['token'], 
              [
          {
            label: $q.lang.editor.formatting,
            icon: $q.iconSet.editor.formatting,
            list: 'no-icons',
            options: [
              'p',
              'h1',
              'h2',
              'h3',
              'h4',
              'h5',
              'h6',
              'code'
            ]
          },
          {
            label: $q.lang.editor.defaultFont,
            icon: $q.iconSet.editor.font,
            fixedIcon: true,
            list: 'no-icons',
            options: [
              'default_font',
              'arial',
              'arial_black',
              'comic_sans',
              'courier_new',
              'impact',
              'lucida_grande',
              'times_new_roman',
              'verdana'
            ]
          },
          'removeFormat'
        ],
        ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

        ['undo', 'redo'],
        ['viewsource']
            ]"
            >
              <template v-slot:token>
                <q-btn-dropdown dense no-caps ref="token" no-wrap unelevated color="white" text-color="primary" label="Text Color" size="sm">
                  <q-list dense>
                    <q-item tag="label" clickable @click="coloradmin('backColor', highlight)">
                      <q-item-section side>
                        <q-icon name="highlight" />
                      </q-item-section>
                      <q-item-section>
                        <q-color v-model="highlight" default-view="palette" no-header no-footer :palette="['#ffccccaa', '#ffe6ccaa', '#ffffccaa', '#ccffccaa','#ccffe6aa', '#ccffffaa', '#cce6ffaa', '#ccccffaa', '#e6ccffaa', '#ffccffaa', '#ff0000aa', '#ff8000aa', '#ffff00aa', '#00ff00aa', '#00ff80aa', '#00ffffaa', '#0080ffaa', '#0000ffaa', '#8000ffaa', '#ff00ffaa'
                        ]" class="my-picker" />
                      </q-item-section>
                    </q-item>
                    <q-item tag="label" clickable @click="coloradmin('foreColor', foreColor)">
                      <q-item-section side>
                        <q-icon name="format_paint" />
                      </q-item-section>
                      <q-item-section>
                        <q-color v-model="foreColor" no-header no-footer default-view="palette" :palette="['#ff0000', '#ff8000', '#ffff00', '#00ff00', '#00ff80', '#00ffff', '#0080ff', '#0000ff', '#8000ff', '#ff00ff']" class="my-picker" />
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-btn-dropdown>
              </template>
        </q-editor>
        
      </form>
      <div class="row q-pb-md justify-end">
        <q-btn  label="Kaydet" @click="createticket()" color="primary"></q-btn>
      </div>
      </div>
      
    </q-card>
    
  </div>
</template>

<script>
import {mapState,mapGetters} from 'vuex'
import axios from "axios";
import { Loading } from 'quasar';
import gql from "graphql-tag";
import recCat from '../../../components/recCat.vue';
import Dropzone from '../../../components/dropzone';
import Progress from '../../../components/progress.vue'
  export default {
    // name:'ticket',
    components: {
      recCat,
      Dropzone,
      Progress
    },
    data() {
      return {
        foreColor: '#000000',
        highlight: '#ffff00aa',
        progress:0,
        note:"",
        editor:"",
        title:"",
        filter:"",
        companymodel:"",
        usermodel:"",
        cusers:[],
        companyoptions:[],
        useroptions:[],
        pdata:[
          "Düşük",
          "Normal",
          "Yüksek"
        ],
        pselectmodel:"Normal",
      }
    },
    watch: {
      companymodel:{
        deep:true,
        handler(val){
          console.log('companymodel',val);
        }
      },
      getallCompany(val){
        if (val.length > 0) {
          this.companyoptions=this.getallCompany
        }
      }
    },
    computed: {
      ...mapGetters([
        'getallCompany',
        'getalljobs',
        'gettreem',
        'getcategory',
        'get_ticketcategory',
        'get_userdetail',
      ])
    },
   async mounted(){
     
  },

    methods: {
      alertmethod(){
            
            this.$q.notify({
                    type: 'positive',
                    message: `Kayıt Başarılı`
                })
              setTimeout(()=>{ 
                // this.$route.path('/admin')
                this.$router.push({ path: "/admin" });
                 }, 400);
          },
      async createticket(){
        //  console.log(this.note);
        //  console.log(this.editor);
        if (this.companymodel=="") {
          this.$q.notify({
                    type: 'negative',
                    message: `Firma Seçilmedi`
                })
          return false;
        }
        if (this.usermodel=="") {
          this.$q.notify({
                    type: 'negative',
                    message: `Kullanıcı Seçilmedi`
                })
          return false;
        }
        if (this.title=="") {
          this.$q.notify({
                    type: 'negative',
                    message: `Konu Yazılmadı`
                })
          return false;
        }
        if (this.editor=="") {
          this.$q.notify({
                    type: 'negative',
                    message: `Açıklama Yazılmadı`
                })
          return false;
        }
        if (this.get_ticketcategory.categoryid=="" || this.get_ticketcategory.categoryid==null) {
          this.$q.notify({
                    type: 'negative',
                    message: `Kategori Seçilmedi`
                })
          return false;
        }
        // -*-*-*-*-*-*-*-*-*-*-*-*-*
        // console.log('this.get_ticketcategory',this.get_ticketcategory);
        // console.log('this.get_ticketcategory.categoryid',this.get_ticketcategory.categoryid);
        Loading.show()
        await axios.post(
            process.env.API, {
              query: `mutation createticket($openuserid:ID, $companyid:ID, $categoryid:Int, $priority:String, $title:String, $description:String, $note:String){
                    createticket(openuserid:$openuserid, companyid:$companyid, categoryid:$categoryid, priority:$priority, title:$title, description:$description, note:$note){
                      jobsid
                      }
                    }`,
              variables:{
                openuserid:this.usermodel.userid,
                companyid:this.companymodel.companyid,
                categoryid:this.get_ticketcategory.categoryid,
                priority:this.pselectmodel,
                title:this.title,
                description:this.editor,
                note:this.note
              }
            }).then(async data => {
              this.jobsid=data.data.data.createticket.jobsid
              await this.$refs.dropclick.uploadFiles(this.jobsid)
              // this.$q.notify({
              //       type: 'positive',
              //       message: `Kayıt Başarılı`
              //   })

              Loading.hide()
            })
          
      },
      companyusers(){
        // this.companymodel=this.$turkishUpper(this.companymodel)
        console.log('1');
        this.cusers=[]
        console.log("company users",this.companymodel);
        // this.cusers=this.companymodel.cusers
        this.companymodel.cusers.forEach((aval,ai)=>{
          // console.log(aval);
          this.cusers.push(aval.user)

        })
      },
      usermod(){
        // this.usermodel=""
        console.log("usermod",this.usermodel);
      },
      userfilter(val, update){
        if (val === '') {
        update(() => {
          this.useroptions = this.cusers

        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.useroptions = this.cusers.filter(v => 
        // console.log(v)
        v.email.toLowerCase().indexOf(needle) > -1
        
        )
      })
      },
      companyfilter(val, update){
        if (val === '') {
        update(() => {
          this.companyoptions = this.getallCompany

        })
        return
      }
      let self=this
      // console.log('companymodel',this.companymodel.);
      // this.companymodel=this.$turkishUpper(val)
      update(() => {
        // console.log('aaa',self.$turkishUpper(val));
        const needle = this.$turkishUpper(val)
        this.companyoptions = this.getallCompany.filter(v => 
        v.name.indexOf(needle) > -1
        
        )
      })
      },
      color (cmd, name) {
        const edit = this.$refs.editor
        this.$refs.token.hide()
        edit.caret.restore()
        edit.runCmd(cmd, name)
        edit.focus()
      },
      coloradmin (cmd, name) {
        const edit = this.$refs.admineditor
        this.$refs.token.hide()
        edit.caret.restore()
        edit.runCmd(cmd, name)
        edit.focus()
      }
    },
  }
  
</script>

<style lang="scss" scoped>

</style>