<template>
  <div >
    <q-table :filter="filter" :data="getendjobs" :columns="columns" row-key="jobsid" :pagination.sync="pagination" title="Onay Bekleyen Emir Listesi">
          <template v-slot:top-right>
            
        
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Ara">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
          <template v-slot:body="props">
            <q-tr class="cursor-pointer "  :props="props"  >
              <q-td key="id" :props="props">{{props.row.jobsid}}</q-td>
              <q-td key="description" :props="props"  @click="note=jobmodel=props.row,note=props.row.description,descriptiondialog=true" class="hhh" >
                <q-tooltip  class="toolsize"  max-width='450px' :offset="[1, 1]">
                     <div class="toolsize" v-html="props.row.description"> </div>
                </q-tooltip>
                <div class="box" >{{props.row.title}}</div>
                </q-td>
                <q-td key="priority" :props="props"  >
                  <q-badge :color="props.row.priority=='Yüksek'?'red':props.row.priority=='Normal'?'blue':'green '">
                    {{props.row.priority}}
                  </q-badge>
                  </q-td>
              <q-td key="company" :props="props" @click.native="props.row.company.contracts ==null ? contracts=[]:contracts=props.row.company.contracts,contractsdialog=true">{{props.row.company.name}}</q-td>
              <q-td key="state" :props="props"  >
                <q-badge color="red-12" v-if="props.row.company.contracts==null || props.row.company.contracts[0]==null || props.row.company.contracts[0].state=='Pasif'">Pasif</q-badge>
                <q-badge color="green" v-else >Aktif</q-badge>
              </q-td>
              <q-td key="user" :props="props" >{{props.row.openuser.firstname}}</q-td>
              <q-td key="category" :props="props" >{{props.row.category.name}}</q-td>
              <q-td class="text-weight-bold" key="date" :props="props" >
                <!-- {{props.row.time}} -->
                {{endjobstime[props.rowIndex]}}
                <!-- {{moment.duration(props.row.time).asHours()).toFixed(2)}} -->

              </q-td>
              <q-td class="text-center col">
                <q-btn-dropdown icon="mdi-cog"   flat>
                   <q-list >
                    <q-item @click="summarymethod(props.row)" clickable v-close-popup >
                      <q-item-section>
                        <q-item-label> Özet</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item @click=" jobmodel=props.row,time=props.row.time, checkjobdialog=true,jobsid=props.row.jobsid" clickable v-close-popup >
                      <q-item-section>
                        <q-item-label>İşlem</q-item-label>
                      </q-item-section>
                    </q-item>
                   
                  </q-list> 
                </q-btn-dropdown>
              </q-td>
            </q-tr>
          </template>
    </q-table>
        <q-dialog  v-model="descriptiondialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Emir Detay</div>
                <q-space />
                <q-btn icon="close" @click="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <q-input type="textarea" rows="2" class="q-pt-md q-px-md"  v-model="jobmodel.title" label="Konu" outlined readonly/>
          <div class="q-ml-md q-mr-md q-mt-md q-mb-lg" style="border: 1.9px dashed #cdcdcb;border-radius:5px;">
            <div class=" text-grey-7" style="font-size:12px;margin-left:10px; margin-top:10px;">Açıklama</div>
            <div class="q-ma-md"    v-html="note" label="Açıklama"   />
          </div>
          <div v-if="jobmodel">
            <div class=" q-pl-md  q-gutter-y-md" v-if="jobmodel.uploads.length" v-for="(val,key) in jobmodel.uploads" :key="key">
              
              <!-- <a href="''"  >{{val.path}}</a>
                <q-space></q-space>
              <q-icon class="q-pb-md q-pr-md cursor-pointer	" name="mdi-download" size="25px" @click="fileopen( val.path)" :label="val.path" /> -->
              <q-list class=" q-mr-md" bordered>
                <q-item @click="fileopen( val.path)" clickable v-ripple>
                  <q-item-section>{{val.path}}</q-item-section>
                    <!-- <q-space/> -->
                  <q-item-section avatar>
                    <q-icon color="primary" name="download" />
                  </q-item-section>
                </q-item>
              </q-list>
              
              <div>
                <!-- <a :href="val.path" >{{val.path}}</a> -->
                <!-- window.open("<insert URL here>") -->
              </div>
            </div>
          </div>
          <div class="text-right">
            <q-btn class="q-mb-md q-mr-md"    label="Kapat" @click="descriptiondialog=false" />
          </div>
      </q-card>
        </q-dialog>
        <q-dialog  v-model="summarydialog" position="top"    persistent>
          <q-card :style="$q.screen.sm ? 'width:600px;max-width:80vw':'width:1200px;max-width: 100vw;'">
            <q-card-section class="row justify-center">
                    <div class="text-h6 ">Özet Liste </div>
                    <q-space />
                    <q-btn icon="close" @click="close" flat round dense v-close-popup />
            </q-card-section>
            <q-separator />
            <q-table :data="summarylist" :columns="summarycolumns" row-key="jobstateid"   hide-bottom>
              <template v-slot:body="props">
                <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)">note=props.row.note -->
                <q-tr :props="props" class="cursor-pointer" >
                  <q-td class="hhh" key="description" :props="props" @click="note=props.row.note,summarydescriptiondialog=true"><div class="box">{{props.row.note}}</div>   </q-td>
                  <q-td key="user" :props="props" >{{props.row.stateuser.firstname}}<br> {{props.row.stateuser.email}} </q-td>
                  <q-td key="state" :props="props" >{{props.row.state}}</q-td>
                  <q-td key="date" :props="props" >
                    <!-- {{props.row.createdAt}} -->
                    {{moment(props.row.createdAt).format('DD-MM-YYYY HH:mm')}}
                    </q-td>
                </q-tr>
              </template>
            </q-table>
              <q-separator />
            <div class="text-center">
                <q-btn class="q-ma-md"  label="Kapat" @click="summarydialog=false" />
            </div>
          </q-card>
        </q-dialog>
        <q-dialog  v-model="summarydescriptiondialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Emir Detay</div>
                <q-space />
                <q-btn icon="close" @click="summarydescriptiondialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
          
          <q-input type="textarea" class="q-pa-md" outlined v-model="note" label="Transfer Notu" :dense="false" readonly />
        
        <div class="text-center">
            <q-btn class="q-ma-md"    label="Kapat" @click="summarydescriptiondialog=false" />
          </div>
      </q-card>
        </q-dialog>
        
        <q-dialog v-model="addproductdialog"  position="top" persistent>
          <q-card :style="$q.screen.sm ? 'width:700px;max-width:90vw':'width:1200px;max-width: 100vw;'">
            <q-card-section class="row justify-center">
                  <div class="text-h6 ">Ürün Ekle</div>
                  <q-space />
                  <q-btn icon="close" @click="addproductdialog=false" flat round dense v-close-popup />
          </q-card-section>
          <q-separator />
            <Productadd/>
          </q-card>
          
        </q-dialog>
        <!-- <q-btn label='test' @click="doviz"></q-btn> -->
        <q-dialog  v-model="checkjobdialog" position="top" persistent>
            <jobs-row :propjobsid="jobsid" :time="time" :stateoptions="stateoptions" jstate="notchecked" :ostate='false' @checkjobdialog="checkjobdialog=false"/>
        </q-dialog>
        <q-dialog v-model="contractsdialog">
          <q-card>
            <q-card-section class="row justify-center">
                    <div class="text-h6">Sözleşme </div>
                    <q-space />
                    <q-btn icon="close" @click="contractsdialog=false" flat round dense v-close-popup />
            </q-card-section>
            <q-separator />
            <contractlist :contracts="contracts" @close="contractsdialog=false"/>
          </q-card>
        </q-dialog>
  </div>
</template>

<script>
import Vue from "vue";
import {mapState,mapGetters} from 'vuex';
import axios from "axios";
import {apolloClient} from "../../../boot/apollo";
import gql from "graphql-tag";
import { Screen } from 'quasar';
import  Productadd   from '../../admin/products.vue';
import jobsRow from '../../../components/jobRows.vue';
import contractlist from '../../../components/contractlist.vue'
import FileSaver from 'file-saver'
import _ from "lodash";

import moment from 'moment'
moment.locale('tr')
// Vue.use(moment)
  export default {
    components: {
      Productadd,
      jobsRow,
      contractlist
    },
    data() {
      return {
        contractsdialog:false,
        contracts:[],
        //*-*-*-*-*-*-*
        stateoptions:['Onaylandı','Transfer'],
        a:false,
        editkey:"",
        editjobrow:"",
        //-*-*-*-*-*-*-
        jobrowlist:[],
        
        // -*-*-*-*-*-*-*-*-**-
        jobsid:"",
        
        // -*-*-*-*-*-*-*-*
        jobmodel:{
          title:""
          },
        time:0,
        // -*-*-*-*-*-*-*-*-*-*-*
          endjobstime:[],
        filter:"",
        umoment:moment(),
        summarylist:[],
        checknote:"",
        note:"",
        rowseditdialog:false,
        addproductdialog:false,
        checkjobdialog:false,
        descriptiondialog:false,
        summarydialog:false,
        summarydescriptiondialog:false,
        columns:[
          {
          name: "id",
          label: "Numara",
          align: "left",
          sortable: true,
          headerStyle:'max-width:65px',
          style:'max-width:65px',
          classes: ' ',
           field: (row) =>  row.id,
          },
          {
          name: "description",
          label: "Açıklama",
          align: "left",
          sortable: true,
          headerStyle: 'max-width: 175px',
          style:'max-width:175px',
          classes: ' ',
          field: (row) =>  row.title,
        },
        {
          name: "priority",
          label: "Önem",
          align: "left",
          sortable: true,
          // classes (val) {
          //   return val=='yüksek' ? 'bg-red' : 'bg-yellow'
          // },
          field: (row) => row.priority,
        },
        {
          name: "company",
          label: "Firma",
          align: "left",
          sortable: true,
          field: (row) => row.company.name,
        },
        {
          name: "state",
          label: "Sözleşme",
          align: "left",
          sortable: true,
          field: (row) => row.company.contracts,
        },
        {
          name: "user",
          label: "Kullanıcı",
          align: "left",
          sortable: true,
          field: (row) => row.openuser.firstname,
        },
        {
          name:"category",
          label:"Kategori",
          align:"left",
          sortable:true,
          field:(row)=>row.category.name
        },
        {
          name: "date",
          label: "Hizmet Süresi (saat)",
          align: "left",
          sortable: true,
          style:"width: 85px",
          field: (row) =>  row.time,
        },
        {
          name: "button",
          label: "İşlemler",
          align: "center",
          sortable: true,
          
          // field: (row) =>  row.createdAt,
        },
        ],
        summarycolumns:[
        {
        label: "Not",
        name: "description",
        style:'max-width:75px',
        align: "left",
        field: (row) =>  row.note,

        },
        {
        label: "Admin",
        name: "user",
        align: "center",
         field: (row) =>  row.stateuser.firstname,

        },
        {
        label: "Durum",
        name: "state",
        align: "center",
         field: (row) =>  row.state,

        },
        {
        label: "Tarih",
        name: "date",
        align: "center",
         field: (row) =>  row.createdAt,

        },

        ],
        pagination: {
          sortBy: "ust",
          descending: false,
          page: 1,
          rowsPerPage: 100
        },
        
        }

    },
  //   created: function () {
  //   this.moment = moment;
  // },
    watch: {
      getendjobs: {
        // console.log("getendjobs",val);
        // let a=val.filter(vall=>vall.jobsid==this.jobmodel.jobsid)
        // this.jobmodel=a[0]
        // if (val.length ) this.updateendjobstime()
        immediate:true,
        handler(val){
        this.updateendjobstime()
        }
      },
      jobmodel: {
        immediate: true,
        handler(val) {
          // console.log('jobmodel',val)
          // this.updateendjobstime()
        },
        deep: true
      },
    
    },
    computed: {
      ...mapGetters([
        'get_userdetail',
        'getendjobs',
        'getallProducts'
      ]),
    },
    mounted () {
      // console.log("screen",this.$q.screen);
      
    },
    methods: {
      async fileopen(fileName){
        
                await this.$axios({
                // let url=  require(`../../../assets/uploads/${fileName}`)
                    headers:{'Content-Type': 'application/json'},
                    url:  process.env.KURAPI+'download',
                    method: 'post',
                    responseType: 'blob',
                    data:{
                      name:fileName
                    }
                }).then((response) => {
                    console.log("response",response);
                    FileSaver.saveAs(response.data,fileName);
                });
                //  window.open(require(`assets/uploads/${fileName}`), '_blank');
        
      },
      summarymethod(val){
        // console.log(val);
        // console.log(this.getalljobs);
        this.summarydialog=true
        this.getendjobs.filter(data=>{
          if (val.jobsid==data.jobsid ) {
            // console.log(data.jobstate);
            // Vue.set(this.summarylist,[data.jobstate])
            // this.summarylist = Object.assign({}, data.jobstate); 
            this.summarylist=data.jobstate
            
          }
        })
        // console.log(this.summarylist);
      },
      description(){
      },
      async updateendjobstime(){
        // console.log("updateendjobstime");
        
        this.endjobstime=[]
        this.getendjobs.forEach((val,i) => {
          // console.log("val.time",val.time);
          this.endjobstime[i]=[]
          // let a=Number
          // a = (moment.duration(val.time).asHours()).toFixed(2);
          // console.log("a",a);
          
          Vue.set(this.endjobstime,[i],val.time)
        })
      // console.log("this.endjobstime",this.endjobstime);
      return this.endjobstime
      // filter(){

      // },
    
      },
      setendjobstime(val){
        let a=(moment.duration(val).asHours()).toFixed(2) 
        return a
      },
      close(){
        this.summarydialog=false
      },
      moment(val){
        return  moment(val);
      },
      filterInput(e){
      // this.rowsmodelCurrency = this.rowsmodelCurrency.replace(/[^0-9]+/g, '');
      this.rowsmodelCurrency = this.rowsmodelCurrency.replace(/[a-zA-Z]+/ig, '');
      },

      
    }
  }
</script>

<style lang="scss" scoped>
.toolsize{
  font-size: 13px !important;
}
.box {
    color:red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  .hhh:hover {
    text-decoration: underline red;
    // color: green !important;
  }
</style>