<template>
  <div>
    <q-table  :filter="filter" :data="getalljobs" :columns="columns" row-key="jobsid" :pagination.sync="pagination" title="Toplu İşlem Listesi" >
      <template v-slot:top-right>
        <q-input borderless dense debounce="300" ref="filter" v-model="filter" placeholder="Ara">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:body="props">
        <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)"> -->

        <q-tr class="cursor-pointer"  :props="props"   >
          <!-- <td>{{countdown[props.rowIndex]}}</td> -->
          <q-td key="id" :props="props"  >{{props.row.jobsid}} </q-td>
          <q-td key="description" :props="props" @click="jobsmodel=props.row, opendialog=true"  class="hhh">
            <q-tooltip  class="toolsize"  max-width='450px' :offset="[1, 1]">
              <div class="toolsize" v-html="props.row.description"></div>
            </q-tooltip>
            <!-- <span>{{props.row.description}}</span> -->
            <div class="box">{{props.row.title}}</div>

          </q-td>
          <q-td key="outjobs" :props="props">{{props.row.outjobstate}}</q-td>
          <q-td key="priority" :props="props"  >
            <q-badge :color="props.row.priority=='Yüksek'?'red':props.row.priority=='Normal'?'blue':'green '">
              {{props.row.priority}}
            </q-badge>

          </q-td>
          <q-td class="ccc " key="company" :props="props" @click.native="props.row.company.contracts ==null ? contracts=[]:contracts=props.row.company.contracts,contractsdialog=true">
            <div class="cbox">
            {{props.row.company.name}}
            </div>
            </q-td>
          <q-td key="state" :props="props"  >
            <q-badge color="red-12" v-if="props.row.company.contracts==null || props.row.company.contracts[0]==null || props.row.company.contracts[0].state=='Pasif'">Pasif</q-badge>
            <q-badge color="green" v-else >Aktif</q-badge>
          </q-td>

          <q-td key="user" :props="props" >{{props.row.openuser.email}}</q-td>
          <q-td key="category" :props="props" >{{props.row.category.name}}</q-td>

           <q-td key="ilgili" :props="props" >
            <div v-if="props.row.jobstate.length">
              <div v-for="(val,key) in props.row.jobstate" :key="key">
                <div v-if="val.active">{{val.stateuser.email}}</div>
              </div>  
            </div>
            <div v-else>
              Atanmadı
            </div>
             <!-- -*-*-*-*-*- -->
           </q-td>
          <q-td class="text-weight-bold" key="jobstate" :props="props" >
            <!-- {{props}} -->
            <div v-if="props.row.jobstate.length">
              <div v-for="(val,key) in props.row.jobstate" :key="key">
                <div v-if="val.active">
                    <q-badge :color="val.state=='Onaylandı' ? 'green':val.state=='İptal' ? 'red':val.state=='Transfer' ? 'pink-8':val.state==null ? 'black':''" >
                      {{val.state}}
                    </q-badge>
                </div>
              </div>
            </div>
            <div v-else>
              <q-badge color="black" >
                      Beklemede
              </q-badge>
            </div>
          </q-td>
<!--          <td class="text-center">-->
<!--            <q-btn-dropdown icon="mdi-cog"   flat>-->
<!--              <q-list >-->
<!--                <q-item @click="summarymethod(props.row)" clickable v-close-popup >-->
<!--                  <q-item-section>-->
<!--                    <q-item-label>Özet</q-item-label>-->
<!--                  </q-item-section>-->
<!--                </q-item>-->
<!--                <q-item @click="checkjobdialog=true,jobsmodel=props.row,jobsid=props.row.jobsid" clickable v-close-popup >-->
<!--                  <q-item-section>-->
<!--                    <q-item-label>İşlem</q-item-label>-->
<!--                  </q-item-section>-->
<!--                </q-item>-->
<!--                &lt;!&ndash; <q-item @click="transferjobdialog=true,jobsmodel=props.row" clickable v-close-popup >-->
<!--                  <q-item-section>-->
<!--                    <q-item-label>Transfer</q-item-label>-->
<!--                  </q-item-section>-->
<!--                </q-item> &ndash;&gt;-->

<!--                <q-item @click="canceljobdialog=true,jobsmodel=props.row" clickable v-close-popup >-->
<!--                  <q-item-section>-->
<!--                    <q-item-label>İptal</q-item-label>-->
<!--                  </q-item-section>-->
<!--                </q-item>-->


<!--              </q-list>-->
<!--            </q-btn-dropdown>-->
<!--          </td>-->
          <!-- <q-td key="kabul" :props="props" ><q-btn label="Kabul Et"></q-btn></q-td> -->
          <!-- {{countdown[props.rowIndex][0].minutes}} -->
          <!-- <q-td key="lastname" :props="props" >{{props.row.createdAt}}</q-td> -->
        </q-tr>
        <!-- {{props}} -->
      </template>
    </q-table>
    <q-dialog  v-model="opendialog" >
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
          <div class="text-h6 ">Emir Detay</div>
          <q-space />
          <q-btn icon="close" @click="opendialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <div>

          <q-input type="textarea" rows="2" class="q-pt-md q-px-md" v-model="jobsmodel.title" label="Konu" outlined readonly/>
          <!-- <div class="q-ml-md q-mr-md q-mt-md q-mb-lg" style="border: 1.9px dashed #cdcdcb;border-radius:5px;">
            <div class=" text-grey-7" style="font-size:12px;margin-left:10px; margin-top:10px;">Açıklama</div>
            <div style="margin-left:10px;margin-bottom:10px;"   v-html="jobsmodel.description" label="Açıklama"   />
          </div> -->
          <div>
          <q-editor :toolbar="[]" v-model="jobsmodel.description" style="margin:15px"  max-height="300px" readonly/>
        </div>
          <div  v-if="jobsmodel">
            <div class=" q-pl-md  q-gutter-y-md" v-if="jobsmodel.uploads.length" v-for="(val,key) in jobsmodel.uploads" :key="key">

              <!-- <a href="''"  >{{val.path}}</a>
                <q-space></q-space>
              <q-icon class="q-pb-md q-pr-md cursor-pointer	" name="mdi-download" size="25px" @click="fileopen( val.path)" :label="val.path" /> -->
              <q-list class=" q-mr-md" bordered>
                <q-item @click="fileopen( val.path)" clickable v-ripple>
                  <q-item-section>{{val.path}}</q-item-section>
                  <!-- <q-space/> -->
                  <q-item-section avatar>
                    <q-icon color="primary" name="download" />
                  </q-item-section>
                </q-item>
              </q-list>

              <div>
                <!-- <a :href="val.path" >{{val.path}}</a> -->
                <!-- window.open("<insert URL here>") -->
              </div>
            </div>
            <!-- {{jobsmodel.uploads.path}} -->
            <!-- <img :src="jobsmodel.uploads.path" alt=""> -->

          </div>
        </div>
        <div class="text-right">
          <q-btn class="q-mb-md q-mr-md" label="Kapat" @click="opendialog=false" />
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import main from "src/store/module/mainadmin";
import Vue from "vue";
import FileSaver from 'file-saver'

export default {
  name: "transactions",

  data() {
    return {
      opendialog:false,
      jobsmodel:{},
      filteredArray:[],
      filter:"",
      state:[],
      count:0,
      columns: [
        {
          name: "id",
          label: "No",
          align: "left",
          sortable: true,
          headerStyle:'max-width:40px',
          style:'max-width:40px',
          classes: ' ',
          field: (row) =>  row.jobsid,
        },
        {
          name: "description",
          label: "Açıklama",
          align: "left",
          // sortable: true,
          headerStyle: 'max-width: 175px',
          style:'max-width:175px',
          classes: ' ',
          field: (row) =>  row.title,
        },
        {
          name: "outjobs",
          label: "Extra İşlemler",
          align: "left",
          style:'max-width:110px',
          // sortable: true,
          // classes (val) {
          //   return val=='yüksek' ? 'bg-red' : 'bg-yellow'
          // },
          field: (row) => row.outjobstate,
        },
        {
          name: "priority",
          label: "Önem",
          align: "left",
          style:'max-width:65px',
          // sortable: true,
          // classes (val) {
          //   return val=='yüksek' ? 'bg-red' : 'bg-yellow'
          // },
          field: (row) => row.priority,
        },
        {
          name: "company",
          label: "Firma",
          align: "left",
          // classes:'q-ml-none',
          // sortable: true,
          // headerStyle:'max-width:200px',
          style:'max-width:200px',
          field: (row) => row.company.name,
        },
        {
          name: "state",
          label: "Sözleşme",
          align: "left",
          // sortable: true,
          headerStyle: 'max-width: 65px',
          style:'max-width:55px',
          field: (row) => {
            // if (row.company.contracts.length ) {
              
            // }
            return row.company.contracts
            },
        },
        {
          name: "user",
          label: "Kullanıcı",
          align: "left",
          // sortable: true,
          field: (row) => row.openuser.email,
        },
        {
          name:"ilgili",
          label:"ilgili",
          align:"left",
          sortable:true,
          field:(row)=>{
            var item=""
            if(row.jobstate.length){
              row.jobstate.filter(val=>{
                if (val.active){
                  item = val.stateuser.email
                }
              })
            }
            return item
            // row.category.name
            }
        },
        {
          style:"width: 85px",
          name: "jobstate",
          label: "Durum",
          sortable:true,
          align: "left",
          field:(row)=> {
            var item=""
            if(row.jobstate.length){
              row.jobstate.filter(val=>{
                if (val.active){
                  item = val.state
                }
              })
            }
            return item
          },
          

        },
        // {
        //
        //   name: "button",
        //   label: "İşlemler",
        //   align: "center",
        // },

      ],
      pagination: {
        // sortBy: "id",
        // descending: true,
        page: 1,
        rowsPerPage: 20,
      },
    }
  },
  watch: {
    getalljobs:{
      // immediate: true,
      handler(val) {
        // console.log("jobs",val)
        this.trans()
      },
      deep: true
    },
  },
  computed: {
    ...mapGetters([
      'getalljobs'
    ])
  },
  created(){},
  async mounted () {
    await this.$nextTick()
    this.$refs.filter.$el.focus();
    
  },
  methods: {
    async fileopen(fileName='3fsD4wjvC.jpg'){

      await this.$axios({
        // let url=  require(`../../../assets/uploads/${fileName}`)
        headers:{'Content-Type': 'application/json'},
        url:  process.env.KURAPI+'download',
        method: 'post',
        responseType: 'blob',
        data:{
          name:fileName
        }
      }).then((response) => {
        console.log("response",response);
        FileSaver.saveAs(response.data,fileName);
      });
      //  window.open(require(`assets/uploads/${fileName}`), '_blank');

    },
    //  statetable(val){
    //    let a = ""
    //    if (val.jobstate) {
        
    //       val.jobstate.forEach((vala,ia)=>{
    //         if (vala.active) {
    //           a = vala.state
    //         }
           
    //      })
         
    //    }
    //   return a
    // },
    async trans(){
      this.state=[]
       this.filteredArray = this.getalljobs
        .filter((element) => {
          if (element.jobstate.length) element.jobstate.some((t) => (t))
        })
        .map(element => {

          let newElt = Object.assign({}, element);
          return newElt
        });
       // console.log("filteredArray",this.filteredArray)
      // this.getalljobs.filter((vala,ia)=>{
      //   if (vala.jobstate.length){
      //     vala.jobstate.filter((valb,ib)=>{
      //       if (valb.active){
      //         console.log("1",valb.state)
      //         // this.$set(this.state,'state',valb.state)
      //         this.state.push(valb.state)
      //       }
      //
      //     })
      //
      //   }
      // })
      // console.log("state",this.state)
    }
  },
}
</script>

<style lang="scss" scoped>
.toolsize{
  font-size: 13px !important;
}
.box {
  color:red;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.hhh:hover {
  text-decoration: underline red;
// color: green !important;
}
.cbox{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ccc:hover {
    text-decoration: underline ;
    // color: green !important;
  }
.q-table tbody td:before{
  background: transparent
}
</style>
