<template>
  <div class="q-ma-xs">
    <q-card >
      <q-table :filter="filter" :data="admingettransferjobs" :columns="columns" row-key="jobsid" :pagination.sync="pagination" title="Aktarılan İşlem Listesi">
          <template v-slot:top-right>
            
        
        <q-input borderless dense debounce="300" ref="filter" v-model="filter" placeholder="Ara">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
          <template v-slot:body="props">
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)"> -->
            <q-tr class="cursor-pointer "  :props="props"  v-if="countdown[props.rowIndex]!=undefined ">
              <q-td key="id" :props="props"  >{{props.row.jobsid}} </q-td>
              <q-td class="text-weight-bold" key="opened" :props="props" >
                <div v-if="props.row.jobstate">
                  <div v-for="(val,key) in props.row.jobstate" :key="key">
                    <div v-if="val.active">
                      <q-badge color="warning" text-color="dark" class="text-weight-bold">{{moment(val.jobsdetail.createdAt).format('DD-MM-YYYY HH:mm')}}</q-badge>
                    </div>
                  </div>
                </div>
              </q-td>
              <q-td key="description" :props="props"  @click="description(props.row)" class="hhh" >
                <q-tooltip  class="toolsize"  max-width='450px' :offset="[1, 1]">
                     <div class="toolsize" v-html="props.row.description"> </div>
                </q-tooltip>
                <div class="box" >{{props.row.title}}</div>
                
                </q-td>
                <q-td key="priority" :props="props"  >
                  <q-badge :color="props.row.priority=='Yüksek'?'red':props.row.priority=='Normal'?'blue':'green '">
                    {{props.row.priority}}
                  </q-badge>
                  
                  </q-td>
              <q-td class="ccc" key="company" :props="props" @click="contractsdialog=true,props.row.company.contracts ==null ? contracts=[]:contracts=props.row.company.contracts">
                <div class="cbox" >
                {{props.row.company.name}}

                </div>
              </q-td>
              <q-td key="state" :props="props"  >
                <q-badge color="red-12" v-if="props.row.company.contracts==null || props.row.company.contracts[0]==null || props.row.company.contracts[0].state=='Pasif'">Pasif</q-badge>
                <q-badge color="green" v-else>Aktif</q-badge>
              </q-td>
              <q-td key="user" :props="props" >{{props.row.openuser.firstname}}</q-td>
              <q-td key="category" :props="props" >{{props.row.category.name}}</q-td>
              
              <!-- <q-td key="kategori" :props="props" >{{props.row.category.name}}</q-td> -->
              <q-td class="text-weight-bold" key="date" :props="props" >
                <q-badge v-if="countdown[props.rowIndex][0].months!=0" class="text-weight-bold">{{countdown[props.rowIndex][0].months}} ay  </q-badge> <br v-if="countdown[props.rowIndex][0].months!=0">
                <q-badge color="blue" v-if="countdown[props.rowIndex][0].days!=0" class="text-weight-bold">{{countdown[props.rowIndex][0].days}} gün  </q-badge> <br v-if="countdown[props.rowIndex][0].days!=0">
                <q-badge class="text-weight-bold" color="red">{{countdown[props.rowIndex][0].hours}} saat</q-badge><br>   
                <q-badge class="text-weight-bold" color="green">{{countdown[props.rowIndex][0].minutes}} dk</q-badge><br>
                <!-- <q-badge class="text-weight-bold" color="black">{{countdown[props.rowIndex][0].seconds}} sn</q-badge> -->
              </q-td>
              <q-td key="send">
                <div v-if="props.row.jobstate.length">
                  <div v-for="(val,key) in props.row.jobstate" :key="key">
                    <div v-if="val.active">{{val.transferuser.email}}</div>
                  </div>  
                </div>
              </q-td>
              <q-td key="ilgili">
                <div v-if="props.row.jobstate.length">
                  <div v-for="(val,key) in props.row.jobstate" :key="key">
                    <div v-if="val.active">{{val.stateuser.email}}</div>
                  </div>  
                </div>
              </q-td>
              <q-td class="text-center col">
                 <!-- <q-btn icon="mdi-swap-horizontal" label="" @click="acceptdialog(props.row),aktar(props.row)" flat>
                <q-tooltip anchor="center left" self="center right" :offset="[5, 5]" >
                  Aktar
                </q-tooltip>
                </q-btn>  -->
                  <!-- <q-btn class="gt-xs" size="12px"  flat dense round icon="check" /> -->
                  <!-- <q-btn class="gt-xs q-ml-md"  flat dense round icon="check" />
                  <q-btn class="gt-xs"  @click="acceptdialog(props.row),aktar(props.row)" flat dense round icon="mdi-swap-horizontal" />
                  
                  <q-btn class="gt-xs q-ml-md"  flat dense round icon="cancel" /> -->
                 <!-- <q-btn icon="mdi-cog" label="" @click="acceptdialog(props.row),aktar()" flat>
                  <q-tooltip anchor="center left" self="center right" :offset="[5, 5]" >
                    Aktar
                  </q-tooltip>
                </q-btn>  -->
                <q-btn-dropdown icon="mdi-cog"   flat>
                  <q-list ><q-item @click="summarymethod(props.row)"  clickable v-close-popup >
                      <q-item-section>
                        <q-item-label> Özet</q-item-label>
                      </q-item-section>
                    </q-item>
                    <q-item @click="jobsmodel=props.row,checkjobdialog=true,time=props.row.time,jobsid=props.row.jobsid" clickable v-close-popup >
                      <q-item-section>
                        <q-item-label>İşlem</q-item-label>
                      </q-item-section>
                    </q-item>
                    <!-- <q-item @click="transferjobdialog=true,jobsmodel=props.row" clickable v-close-popup >
                      <q-item-section>
                        <q-item-label>Transfer</q-item-label>
                      </q-item-section>
                    </q-item> -->

                    <q-item @click="canceljobdialog=true,jobsmodel=props.row" clickable v-close-popup >
                      <q-item-section>
                        <q-item-label>İptal</q-item-label>
                      </q-item-section>
                    </q-item>

                    
                  </q-list>
                </q-btn-dropdown>
              </q-td>
              <!-- <q-td key="kabul" :props="props" ><q-btn label="Kabul Et"></q-btn></q-td> -->
              <!-- {{countdown[props.rowIndex][0].minutes}} -->
              <!-- <q-td key="lastname" :props="props" >{{props.row.createdAt}}</q-td> -->
            </q-tr>
          </template>
        </q-table>
        <div v-if="get_userdetail.role=='admin'">
        <q-btn class="q-ma-md"  label="Tümünü Göster" @click="allview() " :ripple="false" ></q-btn>
        <q-btn class=""  label="Reset" @click="admingettransferjobs = gettransferjobs " :ripple="false" ></q-btn>
      </div>
    </q-card>
    <q-dialog  v-model="descriptiondialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Emir Detay</div>
                <q-space />
                <q-btn icon="close" @click="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
          <q-input class="q-pa-md" outlined v-model="tuser" label="Emri Gönderen" :dense="false" readonly />
          <q-input class="q-pb-md q-px-md" outlined v-model="auser" label="Teslim Alan" :dense="false" readonly />
          <!-- <q-input class="q-pa-md" outlined v-model="acceptuser" label="Emri Gönderen" :dense="false" readonly /> -->
          <!-- <q-input type="textarea" class="q-pa-md" outlined v-model="jobsmodel.description" label="Açıklama" :dense="false" readonly /> -->
          <q-input type="textarea" rows="2" class="q-pb-md q-px-md" v-model="jobsmodel.title" label="Konu" outlined readonly/>
          <!-- <div class="q-ml-md q-mr-md " style="border: 1.9px dashed #cdcdcb;border-radius:5px;">
            <div class=" text-grey-7" style="font-size:12px;margin-left:10px; margin-top:10px;">Açıklama</div>
            <div style="margin-left:10px;margin-bottom:5px;margin-top:2px"    v-html="jobsmodel.description" label="Açıklama"   />
          </div>
          <div class="q-ma-md q-mb-lg" style="border: 1.9px dashed #cdcdcb;border-radius:5px;min-height:55px;">
            <div class="q-ma-xs text-grey-7" style="font-size:12px;margin-left:10px; margin-top:10px;">Transfer Notu</div>
            
            <div  style="margin-left:10px;margin-bottom:5px"    v-html="tnote" label="Transfer Notu"   />
          </div> -->
        <div>
          <q-item-label class="q-ml-md text-grey-7" >Not</q-item-label>
          <q-editor :toolbar="[]" v-model="jobsmodel.description" style="margin:15px"  max-height="300px" readonly/>
        </div>
        <div>
          <q-item-label class="q-ml-md  text-grey-7" >Transfer Notu</q-item-label>
          <q-editor :toolbar="[]" v-model="tnote" style="margin:15px"  max-height="300px" readonly/>
        </div>
        <div class=" q-pl-md  q-gutter-y-md" v-if="jobsmodel.uploads.length" v-for="(val,key) in jobsmodel.uploads" :key="key">
              
              <!-- <a href="''"  >{{val.path}}</a>
                <q-space></q-space>
              <q-icon class="q-pb-md q-pr-md cursor-pointer	" name="mdi-download" size="25px" @click="fileopen( val.path)" :label="val.path" /> -->
              <q-list class=" q-mr-md" bordered>
                <q-item @click="fileopen( val.path)" clickable v-ripple>
                  <q-item-section>{{val.path}}</q-item-section>
                    <!-- <q-space/> -->
                  <q-item-section avatar>
                    <q-icon color="primary" name="download" />
                  </q-item-section>
                </q-item>
              </q-list>
              
              <div>
                <!-- <a :href="val.path" >{{val.path}}</a> -->
                <!-- window.open("<insert URL here>") -->
              </div>
            </div>
        <div class="text-right">
            <q-btn class="q-ma-md"    label="Kapat" @click="descriptiondialog=false" />
          </div>
      </q-card>
    </q-dialog>
    <!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->
    <q-dialog  v-model="endjobdialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Onay !...</div>
                <q-space />
                <q-btn icon="close" @click="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <!-- <div> -->
          <!-- <q-input class="q-pa-md" outlined v-model="tuser" label="Emri Gönderen" :dense="false" readonly />-->
          <q-input type="textarea" class="q-pa-md" outlined v-model="endnote" label="Açıklama" :dense="false"  /> 
        <!-- </div> -->

        <div class="text-center">
            <q-btn class="q-ma-md" color="primary" label="Kabul Et" @click="endjobmethod()" />
          </div>
      </q-card>
    </q-dialog>
    <q-dialog  v-model="canceljobdialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Onay !...</div>
                <q-space />
                <q-btn icon="close" @click="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <!-- <div> -->
          <!-- <q-input class="q-pa-md" outlined v-model="tuser" label="Emri Gönderen" :dense="false" readonly />-->
          <q-input type="textarea" class="q-pa-md" outlined v-model="cancelnote" label="Açıklama" :dense="false"  /> 
        <!-- </div> -->

        <div class="text-center">
            <q-btn class="q-ma-md" color="primary" label="Kabul Et" @click="canceljobmethod()" />
          </div>
      </q-card>
    </q-dialog>
    <q-dialog  v-model="transferjobdialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Onay !...</div>
                <q-space />
                <q-btn icon="close" @click="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <q-select
          label="Kullanıcı"
          class="q-pa-md"
          outlined
          v-model="transferuserid"
          :options="getadminUsers"
          option-value="userid"
          option-label="email" 
          />
        <!-- <div> -->
          <!-- <q-input class="q-pa-md" outlined v-model="tuser" label="Emri Gönderen" :dense="false" readonly />-->
          <q-input type="textarea" class="q-pa-md" outlined v-model="transfernote" label="Açıklama" :dense="false"  /> 
        <!-- </div> -->

        <div class="text-center">
            <q-btn class="q-ma-md" color="primary" label="Gönder" @click="transferjobmethod()" />
          </div>
      </q-card>
    </q-dialog>
    <q-dialog  v-model="summarydialog" persistent>
      <q-card :style="$q.screen.sm ? 'width:700px;max-width:90vw':'width:1200px;max-width: 100vw;'">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Özet Liste </div>
                <q-space />
                <q-btn icon="close" @click="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <q-table :data="summarylist" :columns="summarycolumns" row-key="jobstateid"  hide-bottom>
          <template v-slot:body="props">
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)">note=props.row.note -->
            <q-tr :props="props" v-if="props.row.transferuser!=null" class="cursor-pointer" >
              <q-td class="hhh" key="description" :props="props" @click="note=props.row.note,summarydescriptiondialog=true">
                <div class="box">{{props.row.note}}</div>   
              </q-td>
              <q-td  key="tuser" :props="props" >{{props.row.transferuser.firstname}}<br> {{props.row.transferuser.email}} </q-td>
              <q-td  key="auser" :props="props" >{{props.row.stateuser.firstname}}<br> {{props.row.stateuser.email}} </q-td>
              
              
              <!-- <q-td key="user" :props="props" >{{props.row.stateuser.firstname}}<br> {{props.row.stateuser.email}} </q-td> -->
            </q-tr>
          </template>
        </q-table>
          <q-separator />
        <div class="text-right">
            <!-- <q-btn class="q-ma-md"  label="Kapat" @click="canceljobmethod()" /> -->
            <q-btn class="q-ma-md"  label="Kapat" @click="summarydialog=false" />
        </div>
      </q-card>
    </q-dialog>
    <q-dialog  v-model="summarydescriptiondialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Emir Detay</div>
                <q-space />
                <q-btn icon="close" @click="summarydescriptiondialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
          
          <!-- <q-input type="textarea" class="q-pa-md" outlined v-model="note" label="Transfer Notu" :dense="false" readonly /> -->
        <div>
          
          <q-editor :toolbar="[]" v-model="note" style="margin:15px"  max-height="300px" readonly/>
        </div>
        <div class="text-center">
            <q-btn class="q-ma-md"    label="Kapat" @click="summarydescriptiondialog=false" />
          </div>
      </q-card>
    </q-dialog>
    <q-dialog  v-model="checkjobdialog" position="top" persistent>
      <!-- <jobs-row :jobmodel="jobmodel" :time="time" @checkjobdialog="checkjobdialog=false"/> -->
      <jobs-row :propjobsid="jobsid" :time="time" :stateoptions="stateoptions" :jstate="'Transfer'" :ostate='true' @checkjobdialog="checkjobdialog=false"/>
    </q-dialog>
    <q-dialog v-model="contractsdialog">
      <q-card>
        <q-card-section class="row justify-center">
                <div class="text-h6">Sözleşme </div>
                <q-space />
                <q-btn icon="close" @click="contractsdialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        
        <contractlist :contracts="contracts" @close="contractsdialog=false"/>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import Vue from 'vue';
import {mapState,mapGetters} from 'vuex'
import axios from "axios";
import {apolloClient} from "../../../boot/apollo";
import gql from "graphql-tag";
import jobsRow from '../../../components/jobRows.vue';
import contractlist from '../../../components/contractlist.vue'
import moment from 'moment'
import countdown from 'countdown'
import FileSaver from 'file-saver'
import { Loading } from "quasar";
moment.locale('tr')
  export default {
    components: {
      // Productadd,
      jobsRow,contractlist
    },
    data() {
      return {
        admingettransferjobs:[],
        contracts:[],
        contractsdialog:false,
        stateoptions:[ 'Transfer', 'Onaylandı'],
        time:0,
        jobsid:"",
        jobsmodel:{},
        tuser:"",
        auser:"",
        acceptuser:"",
        checkjobdialog:false,
        descriptiondialog:false,
        endjobdialog:false,
        canceljobdialog:false,
        transferjobdialog:false,
        summarydialog:false,
        summarydescriptiondialog:false,
        summarylist:[],
        transferuserid:"",
        countdown: [],
        jobs:[],
        transfernote:"",
        endnote:"",
        cancelnote:"",
        tnote:"",
        note:"",
        columns: [
          {
          name: "id",
          label: "No",
          align: "left",
          sortable: true,
          headerStyle:'max-width:65px',
          style:'max-width:65px',
          classes: ' ',
           field: (row) =>  row.jobsid,
          },
          {
          label: "Açılış Tarihi",
          name: "opened",
          sortable:true,
          align: "left",
          field: (row) =>  {
            var item=[]
              if(row.jobstate.length){
                row.jobstate.forEach(val=>{ 
                  if (val.active){
                    Vue.set(item, 'date1', moment(val.jobsdetail.createdAt).format('DD-MM-YYYY'))
                  }
                })
              }
              return item.date1
              // return item
          },
        },
          {
          
          name: "description",
          label: "Açıklama",
          align: "left",
          headerStyle: 'max-width: 175px',
          style:'max-width:175px',
          field: (row) =>  row.title,
        },
        
        {
          name: "priority",
          label: "Önem",
          align: "left",
          
          // classes (val) {
          //   return val=='yüksek' ? 'bg-red' : 'bg-yellow'
          // },
          field: (row) => row.priority,
        },
        {
          name: "company",
          label: "Firma",
          align: "left",
          headerStyle: 'max-width: 200px',
          style:'max-width:200px',
          field: (row) => row.company.name,
        },
        {
          name: "state",
          label: "Sözleşme",
          align: "left",
          sortable: true,
          headerStyle: 'max-width: 80px',
          style:'max-width:70px',
          field: (row) => row.company.contracts,
        },
        {
          name: "user",
          label: "Kullanıcı",
          align: "left",
          field: (row) => row.openuser.firstname,
        },
        {
          name:"category",
          label:"Kategori",
          align:"left",
          field:(row)=>row.category.name
        },
        {
          name: "date",
          label: "Geçen Süre",
          align: "left",
          // sortable: true,
          
          // field: (row)=>row.createdAt,
          //  format: (val, row) => `${row}%`,
          sortOrder: 'da',
        },
        {
          name:"send",
          label:"Gönderen",
          align:"left",
          sortable:true,
          field:(row)=>{
            var item=""
            if(row.jobstate.length){
              row.jobstate.filter(val=>{
                if (val.active){
                  item = val.transferuser.email
                }
              })
            }
            return item
            // row.category.name
            }
        },
        {
          name:"ilgili",
          label:"ilgili",
          align:"left",
          sortable:true,
          field:(row)=>{
            var item=""
            if(row.jobstate.length){
              row.jobstate.filter(val=>{
                if (val.active){
                  item = val.stateuser.email
                }
              })
            }
            return item
            // row.category.name
            }
        },
        {
          name: "button",
          label: "İşlemler",
          align: "center",
          
          // field: (row) =>  row.createdAt,
        },
        // {
        //   name: "kabul",
        //   label: "Geçen Süre",
        //   align: "left",
        //   // sortable: true,
        //   // field: (row) =>  row.createdAt,
        // },
        ],
        summarycolumns:[
          {
          label: "Not",
          name: "description",
          style:'max-width:75px',
          align: "left",
          field: (row) =>  row.note,

          },
          {
          label: "Gönderen",
          name: "tuser",
          align: "center",
          // field: (row) =>  row.stateuser.firstname,

          },
          {
          label: "Teslim Alan",
          name: "auser",
          align: "center",
          // field: (row) =>  row.stateuser.firstname,

          },
        ],
        pagination: {
          sortBy: "date",
          descending: false,
          page: 1,
          rowsPerPage: 100,
          
        },
          filter:'',
        }
    },
    watch: {
        get_userdetail(newV, oldV) {
          if (oldV && newV.userdepartments ) {
            // console.log("watch",oldV);
            this.deneme();
            // this.updateCountdowns()
            // setInterval(this.updateCountdowns, 60000)
            
          }
        },
        gettransferjobs:{
          immediate:true,
          handler(val) {
          // if (val.length) {
            this.admingettransferjobs=val
            this.deneme()
            // }
          },
          deep:true
        }
        // gettransferjobs(val){
        //   if (val.length) {
        //     console.log("val",val);
        //   }
        // }
    },
    computed: {
      ...mapGetters([
        'getadminUsers',
        'getallCompany',
        'getallUser',
        'getalljobs',
        'get_userdetail',
        'getdepartmentsjobs',
        'getwaitjobs',
        'gettransferjobs'

      ])
    },
    async mounted () {
      await this.$nextTick()
    this.$refs.filter.$el.focus();
      // this.admingettransferjobs=this.gettransferjobs
      // console.log(this.gettransferjobs);
      // if (this.getdepartmentsjobs.length) {
        // this.deneme()
      // }
      // this.deneme()
    //   this.updateCountdowns()
    // setInterval(this.updateCountdowns, 1000)
    },
    methods: {
      async fileopen(fileName='3fsD4wjvC.jpg'){
        
                await this.$axios({
                // let url=  require(`../../../assets/uploads/${fileName}`)
                    headers:{'Content-Type': 'application/json'},
                    url:  process.env.KURAPI+'download',
                    method: 'post',
                    responseType: 'blob',
                    data:{
                      name:fileName
                    }
                }).then((response) => {
                    console.log("response",response);
                    FileSaver.saveAs(response.data,fileName);
                });
                //  window.open(require(`assets/uploads/${fileName}`), '_blank');
        
      },
      allview(val){
        
        this.admingettransferjobs = this.getalljobs.filter((element) => 
          element.jobstate.some((t) => t.state == 'Transfer'  &&  t.active))
        .map( element => {
          const newElt = Object.assign({}, element); 
          return newElt
        });
        this.deneme()
        console.log('admingettransferjobs',this.admingettransferjobs);
      },
      description(val){
        console.log('val',val);
        this.descriptiondialog=true
        this.jobsmodel=val
        
        let jjj=val.jobstate.filter(bb=>bb.active==true)
        console.log('jjj',jjj);
       let tuser=val.jobstate.filter(bb=>bb.active==true)[0]
       console.log("ttt",tuser);
       this.tuser=this.getallUser.filter(eee=>eee.userid==tuser.transferuserid)[0].email
       this.auser=tuser.stateuser.email
      //  this.auser
       console.log("ttt",this.tuser);
       this.tnote=tuser.note  
        // this.tnote=val.jobstate[0].note
      },
      summarymethod(val){
        console.log(val);
        // console.log(this.getalljobs);
        this.summarydialog=true
        this.getalljobs.filter(data=>{
          if (val.jobsid==data.jobsid ) {
            // console.log(data.jobstate);
            // Vue.set(this.summarylist,[data.jobstate])
            // this.summarylist = Object.assign({}, data.jobstate); 
            this.summarylist=data.jobstate
            
          }
        })
        console.log(this.summarylist);
      },
      async transferjobmethod(val){
        // console.log(this.transferuserid.userid);
        if (this.transferuserid=="") {
          this.$q.notify({
                    type: 'negative',
                    message: `Kullanıcı Seçilmedi !...`
                })
        }
        // return
        Loading.show()
        await axios.post(
            process.env.API, {
              query: `mutation transferjobs($transferuserid:ID, $jobstateid:ID, $jobsid:ID, $state:String, $userid:ID, $note:String){
                   transferjobs(transferuserid:$transferuserid, jobstateid:$jobstateid, jobsid:$jobsid, state:$state, userid:$userid, note:$note){
                    jobsid
                    }
                    }`,
                    variables:{
                      jobstateid:this.jobsmodel.jobstate[0].jobstateid,
                      transferuserid:this.transferuserid.userid,
                      userid:this.get_userdetail.userid,
                      jobsid:this.jobsmodel.jobsid,
                      state:"Transfer",
                      note:this.transfernote
                    }
            }).then(async data => {
              // console.log(data.data.data.acceptjobs);
              await this.$store.dispatch("departmentsjobs",this.get_userdetail);
              this.transferjobdialog=false
              this.$q.notify({
                    type: 'positive',
                    message: `Başarılı`
                })
                Loading.hide()
            })
      },
      async endjobmethod(val){
        Loading.show()
        await axios.post(
            process.env.API, {
              query: `mutation endjobs($jobstateid:ID, $jobsid:ID, $state:String,$userid:ID, $note:String){
                   endjobs(jobstateid:$jobstateid,jobsid:$jobsid, state:$state, userid:$userid, note:$note){
                    jobsid
                    }
                    }`,
                    variables:{
                      jobstateid:this.jobsmodel.jobstate[0].jobstateid,
                      userid:this.get_userdetail.userid,
                      jobsid:this.jobsmodel.jobsid,
                      state:"Tamamlandı",
                      note:this.endnote
                    }
            }).then(async data => {
              // console.log(data.data.data.acceptjobs);
              await this.$store.dispatch("departmentsjobs",this.get_userdetail);
              await this.$store.dispatch("alljobsAction");
              this.endjobdialog=false
              this.$q.notify({
                    type: 'positive',
                    message: `Başarılı`
                })
                Loading.hide()
            })
      },
      async canceljobmethod(val){
        Loading.show()
        await axios.post(
            process.env.API, {
              query: `mutation endjobs($jobstateid:ID, $jobsid:ID, $state:String,$userid:ID, $note:String){
                   endjobs(jobstateid:$jobstateid,jobsid:$jobsid, state:$state, userid:$userid, note:$note){
                    jobsid
                    }
                    }`,
                    variables:{
                      jobstateid:this.jobsmodel.jobstate[0].jobstateid,
                      userid:this.get_userdetail.userid,
                      jobsid:this.jobsmodel.jobsid,
                      state:"İptal",
                      note:this.cancelnote
                    }
            }).then(async data => {
              // console.log(data.data.data.acceptjobs);
              await this.$store.dispatch("departmentsjobs",this.get_userdetail);
              this.canceljobdialog=false
              this.$q.notify({
                    type: 'positive',
                    message: `Başarılı`
                })
                Loading.hide()
            })
      },
      async accept(){
        // await this.$apollo
        // .mutate({
        //   mutation: gql`
        //     mutation createDepartmentUser($userid:ID, $departmentid:ID, ) {
        //       createDepartmentUser( userid: $userid, departmentid: $departmentid) {
        //         departmentid
        //       }
        //     }
        //   `,
        // console.log(this.jobsmodel.jobsid);
        return
        await axios.post(
            process.env.API, {
              query: `mutation acceptjobs($jobsid:ID, $state:String,$userid:ID, $priority:String){
                   acceptjobs(jobsid:$jobsid, state:$state, userid:$userid, priority:$priority){
                    jobsid
                    }
                    }`,
                    variables:{
                userid:this.get_userdetail.userid,
                jobsid:this.jobsmodel.jobsid,
                state:"Aktif",
                priority:this.jobsmodel.priority
              }
            }).then(async data => {
              console.log(data.data.data.acceptjobs);
            })
      },
      async deneme(){
        // console.log("this.getdepartmentsjobs",this.getdepartmentsjobs);
              // this.jobs=this.getdepartmentsjobs
              // this.waitjobs.forEach((vala,ia)=>{
              //   if(!vala.jobstate.length){
              //    delete this.waitjobs[ia]
              //   }
              // })

              // this.jobs=this.jobs.filter((vala)=>{
              //   if (vala.jobstate.length == 0) {
              //     return vala;
              //   }else{
              //     vala.jobstate.filter((valb)=>{
              //       if (valb.state=='Beklemede') {
              //         return vala;
              //       }
              //     })
              //   }
              // })



              // console.log("this.getdepartmentsjobs",this.jobs);
              this.updateCountdowns()
               setInterval(this.updateCountdowns, 60000)
        
      },
      updateCountdowns() {
        let datem=""
        let a={}
        this.countdown=[]
        this.admingettransferjobs.forEach((val,i) => {
        this.countdown[i]=[]
        let a={}
        datem = moment(val.createdAt).format('YYYY-MM-DD HH:mm');
        a.months = countdown(new Date(datem).getTime()).months;
        a.days = countdown(new Date(datem).getTime()).days;
        a.hours = countdown(new Date(datem).getTime()).hours;
        a.minutes = countdown(new Date(datem).getTime()).minutes;
        a.seconds = countdown(new Date(datem).getTime()).seconds;
        
        this.countdown[i].push(a)
      })
      },
      moment(val){
        return  moment(val);
      },
      close(){
        this.descriptiondialog=false
        this.endjobdialog=false
        this.canceljobdialog=false
        this.transferjobdialog=false
        this.summarydialog=false
        this.transferuserid=""
      }
    },
  }
</script>

<style lang="stylus" scoped>

  .toolsize{
  font-size: 13px !important;
}
 

  .box {
    color:red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  .hhh:hover {
    text-decoration: underline red;
    // color: green !important;
  }
  .cbox{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ccc:hover {
    text-decoration: underline ;
    // color: green !important;
  }
  
  
  .q-table tbody td:before{
    background: transparent
    }
   
  // .line-clamp {
  //   display: -webkit-box;
  //   -webkit-line-clamp: 3;
  //   -webkit-box-orient: vertical;  
  //   overflow: hidden;
  // }
  // tr .box {
  // background-color: #fff;
  // box-shadow: 2px 2px 10px #246756;
  // padding: 2em;
  // width: 200px;
// }
.sdfsdf{
  background-color:#cdcdcb;
}
// .ob {
//   display: -webkit-box;
//   -webkit-line-clamp: 2;
//   -webkit-box-orient: vertical;  
//   overflow: hidden;
// }

</style>