<template>
  <div class="q-ma-xs">
    <q-card >
      <q-table :filter="filter"   :data="getwaitjobs" :columns="columns" row-key="jobsid" :pagination.sync="pagination" title="Bekleyen İşlem Listesi">
          <template v-slot:top-right>
            
        
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Ara">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
          <template v-slot:body="props">
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)"> -->
            <q-tr class="cursor-pointer"  :props="props"  v-if="countdown[props.rowIndex]!=undefined">
              <q-td key="id" :props="props" style="max-width:15px" >{{props.row.jobsid}} </q-td>
              <q-td class="text-weight-bold" key="opened" :props="props" >
                
                  
                    <div >
                      <q-badge color="warning" text-color="dark" class="text-weight-bold">{{moment(props.row.createdAt).format('DD-MM-YYYY HH:mm')}}</q-badge>
                    </div>
                  
                
              </q-td>
              <q-td key="description" :props="props" @click="acceptdialog(props.row)" class="hhh">
                <q-tooltip  class="toolsize"  max-width='550px' :offset="[1, 1]">
                     <div class="toolsize" v-html="props.row.description"> </div>
                </q-tooltip>
                <div class="box ">
                  {{props.row.title}}
                </div>
                
                </q-td>
                <q-td key="priority" :props="props" >
                  <q-badge :color="props.row.priority=='Yüksek'?'red':props.row.priority=='Normal'?'blue':'green '">
                    {{props.row.priority}} 
                  </q-badge>
                  
                  </q-td>
              <q-td class="ccc" key="company" :props="props" @click="contractsdialog=true,props.row.company.contracts ==null ? contracts=[]:contracts=props.row.company.contracts" >
                <div class="cbox">
                  {{props.row.company.name}}
                </div>
                
                </q-td>
              
              <q-td key="state" :props="props"  >
                <q-badge color="red-12" v-if="props.row.company.contracts==null || props.row.company.contracts[0]==null || props.row.company.contracts[0].state=='Pasif'">Pasif</q-badge>
                <q-badge color="green" v-else >Aktif</q-badge>
              </q-td>
              <q-td key="user" :props="props" >{{props.row.openuser.firstname}}</q-td>
              <q-td key="category" :props="props" >{{props.row.category.name}}</q-td>
              
              <!-- <q-td key="kategori" :props="props" >{{props.row.category.name}}</q-td> -->
              <q-td class="text-weight-bold" key="date" :props="props" >
                <q-badge v-if="countdown[props.rowIndex][0].months!=0" class="text-weight-bold">{{countdown[props.rowIndex][0].months}} ay  </q-badge> <br v-if="countdown[props.rowIndex][0].months!=0">
                <q-badge color="blue" v-if="countdown[props.rowIndex][0].days!=0" class="text-weight-bold">{{countdown[props.rowIndex][0].days}} gün  </q-badge> <br v-if="countdown[props.rowIndex][0].days!=0">
                <q-badge class="text-weight-bold" color="red">{{countdown[props.rowIndex][0].hours}} saat</q-badge><br>   
                <q-badge class="text-weight-bold" color="green">{{countdown[props.rowIndex][0].minutes}} dk</q-badge><br>
              </q-td>
              <q-td class="text-center">
              <q-btn icon="mdi-check" label="" @click="jobsmodel=props.row, accept()" flat>
                <q-tooltip anchor="center left" self="center right" :offset="[5, 5]" >
                  Kabul Et
                </q-tooltip>
              </q-btn>
              </q-td>
              <!-- <q-td key="kabul" :props="props" ><q-btn label="Kabul Et"></q-btn></q-td> -->
              <!-- {{countdown[props.rowIndex][0].minutes}} -->
              <!-- <q-td key="lastname" :props="props" >{{props.row.createdAt}}</q-td> -->
            </q-tr>
          </template>
        </q-table>
        <div v-if="get_userdetail.role=='admin'">
          <q-btn class="q-ma-md"  label="Tümünü Göster" @click="allview() " :ripple="false" ></q-btn>
          <q-btn class=""  label="Reset" @click="reset() " :ripple="false" ></q-btn>
        </div>
    </q-card>
    <q-dialog  v-model="dialogopen" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Emir Detay</div>
                <q-space />
                <q-btn icon="close" @click="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <!-- <div> -->
          <q-input type="textarea" rows="2" class="q-pt-md q-px-md" v-model="jobsmodel.title" label="Konu" outlined readonly/>
          <div class="q-ml-md q-mr-md q-mt-md q-mb-lg" style="border: 1.9px dashed #cdcdcb;border-radius:5px;">
            <div class=" text-grey-7" style="font-size:12px;margin-left:10px; margin-top:10px;">Açıklama</div>
            <div class="q-ma-md"    v-html="jobsmodel.description" label="Açıklama"   />
          </div>
          <div v-if="jobsmodel">
            <div class=" q-pl-md  q-gutter-y-md" v-if="jobsmodel.uploads.length" v-for="(val,key) in jobsmodel.uploads" :key="key">
              
              <!-- <a href="''"  >{{val.path}}</a>
                <q-space></q-space>
              <q-icon class="q-pb-md q-pr-md cursor-pointer	" name="mdi-download" size="25px" @click="fileopen( val.path)" :label="val.path" /> -->
              <q-list class=" q-mr-md" bordered>
                <q-item @click="fileopen( val.path)" clickable v-ripple>
                  <q-item-section>{{val.path}}</q-item-section>
                    <!-- <q-space/> -->
                  <q-item-section avatar>
                    <q-icon color="primary" name="download" />
                  </q-item-section>
                </q-item>
              </q-list>
              
              <div>
                <!-- <a :href="val.path" >{{val.path}}</a> -->
                <!-- window.open("<insert URL here>") -->
              </div>
            </div>
            <!-- {{jobsmodel.uploads.path}} -->
            <!-- <img :src="jobsmodel.uploads.path" alt=""> -->

          </div>
        <!-- </div> -->

        <div class="text-right">
            <q-btn class="q-ma-md" @click="accept()"   label="Kabul Et"  />
          </div>
      </q-card>
    </q-dialog>
    <q-dialog v-model="contractsdialog">
      <q-card>
        <q-card-section class="row justify-center">
                <div class="text-h6">Sözleşme </div>
                <q-space />
                <q-btn icon="close" @click="contractsdialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        
        <contractlist :contracts="contracts" @close="contractsdialog=false"/>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import Vue from 'vue';
import {mapState,mapGetters} from 'vuex'
import axios from "axios";
import {apolloClient} from "../../../boot/apollo";
import gql from "graphql-tag";
import { Loading } from 'quasar';
import moment from 'moment'
import countdown from 'countdown'
import contractlist from '../../../components/contractlist.vue'
import FileSaver from 'file-saver'
moment.locale('tr')
  export default {
    components: {
      contractlist,
    },
    data() {
      return {
        contractsdialog:false,
        contracts:[],
        companyid:"",
        contractid:"",
        jobsmodel:{},
        dialogopen:false,
        countdown: [],
        jobs:[],
        columns: [
          {
          name: "id",
          label: "No",
          align: "left",
          sortable: true,
          headerStyle:'max-width:40px',
          style:'max-width:40px',
          classes: ' ',
           field: (row) =>  row.jobsid,
          },
          {
          label: "Açılış Tarihi",
          name: "opened",
          sortable:true,
          align: "left",
          field: (row) =>  {
            var item=[]
              
                    Vue.set(item, 'date1', moment(row.createdAt).format('DD-MM-YYYY'))
                 
              
              return item.date1
              // return item
          },
        },
          {
          name: "description",
          label: "Açıklama",
          align: "left",
          sortable: true,
          headerStyle: 'max-width: 175px',
          style:'max-width:175px',
          classes: ' ',
          field: (row) =>  row.title,
        },
        
        {
          name: "priority",
          label: "Önem",
          align: "left",
          sortable: true,
          headerStyle: 'max-width: 55px',
          style:'max-width:55px',
          // classes (val) {
          //   return val=='yüksek' ? 'bg-red' : 'bg-yellow'
          // },
          field: (row) => row.priority,
        },
        {
          name: "company",
          label: "Firma",
          align: "left",
          sortable: true,
          headerStyle: 'max-width: 200px',
          style:'max-width:200px',
          field: (row) => row.company.name,
        },
        {
          name: "state",
          label: "Sözleşme",
          align: "left",
          sortable: true,
          field: (row) => row.company.contracts,
        },
        {
          name: "user",
          label: "Kullanıcı",
          align: "left",
          sortable: true,
          field: (row) => row.openuser.firstname,
        },
        {
          name:"category",
          label:"Kategori",
          align:"left",
          sortable:true,
          field:(row)=>row.category.name
        },
        {
          headerStyle: 'max-width: 65px',
          style:"max-width: 75px",
          name: "date",
          label: "Geçen Süre",
          align: "left",
          // sortable: true,
          field: (row) =>  row.createdAt,
        },
        {
          name: "button",
          label: "İşlemler",
          align: "middle",
          classes: '',
          sortable: true,
          // field: (row) =>  row.createdAt,
        },
        
        // {
        //   name: "kabul",
        //   label: "Geçen Süre",
        //   align: "left",
        //   // sortable: true,
        //   // field: (row) =>  row.createdAt,
        // },
        ],
        
        pagination: {
          sortBy: "ust",
          descending: false,
          page: 1,
          rowsPerPage: 100,
          
        },
        filter:'',
      }
    },
    watch: {
        get_userdetail(newV, oldV) {
          if (oldV && newV.userdepartments ) {
            // console.log("watch",oldV);
            console.log("this.get_userdetail",this.get_userdetail);
            this.deneme();
            // this.updateCountdowns()
            // setInterval(this.updateCountdowns, 60000)
            
          }
        },
        getwaitjobs(val){
          if (val.length) {
            console.log('getwaitjobs',val);
            this.deneme()
          }
        }
    },
    computed: {
      ...mapGetters([
        'getallCompany',
        'getalljobs',
        'get_userdetail',
        'getdepartmentsjobs',
        'getwaitjobs'

      ])
    },
    mounted () {
      
      // if (this.getdepartmentsjobs.length) {
        this.deneme()
        
      // }
      // this.deneme()
    //   this.updateCountdowns()
    // setInterval(this.updateCountdowns, 1000)
    },
    methods: {
      contractsmethod(val){ //sil
        console.log(val);
      },
      async fileopen(fileName='3fsD4wjvC.jpg'){

                this.$q.loading.show()
                await this.$axios({
                // let url=  require(`../../../assets/uploads/${fileName}`)
                    headers:{'Content-Type': 'application/json'},
                    url:  process.env.KURAPI+'download',
                    method: 'post',
                    responseType: 'blob',
                    data:{
                      name:fileName
                    }
                }).then((response) => {
                    console.log("response",response);
                    FileSaver.saveAs(response.data,fileName);
                });
                //  window.open(require(`assets/uploads/${fileName}`), '_blank');
        
      },
      acceptdialog(val){
        this.dialogopen=true
        this.jobsmodel=val
        console.log(val);
      },
      allview(){
        this.$store.commit("setwaitjobs",this.getalljobs)
      },
      reset(){
        this.$store.commit("setwaitjobs",this.getdepartmentsjobs)
      },
      async accept(){
        // await this.$apollo
        // .mutate({
        //   mutation: gql`
        //     mutation createDepartmentUser($userid:ID, $departmentid:ID, ) {
        //       createDepartmentUser( userid: $userid, departmentid: $departmentid) {
        //         departmentid
        //       }
        //     } 
        //   `,
        console.log("this.jobsmodel",this.jobsmodel);
        Loading.show()
        
        await axios.post(
            process.env.API, {
              query: `mutation acceptjobs($jobsid:ID, $state:String,$userid:ID, $categoryid:Int){
                   acceptjobs(jobsid:$jobsid, state:$state, userid:$userid, categoryid:$categoryid){
                    jobsid
                    res
                    }
                    }`,
                    variables:{
                userid:this.get_userdetail.userid,
                jobsid:this.jobsmodel.jobsid,
                categoryid:this.jobsmodel.category.categoryid,
                state:"Aktif",
              }
            }).then(async data => {
              // console.log(data.data);
              Loading.hide()
              if(data.data.data.acceptjobs.res!=null){
                this.$q.notify({
                    type: 'negative',
                    message: `Başkası Tarafından Kabul Edildi`
                })
                await this.$store.dispatch("departmentsjobs",this.get_userdetail);
                return
              }else{
                await this.$store.dispatch("departmentsjobs",this.get_userdetail);
                this.dialogopen=false
                this.$router.push({path:'activejobs'})
              }
              // 
              
            })
      },
      async deneme(){
              this.updateCountdowns()
               setInterval(this.updateCountdowns, 60000)
        
      },
      updateCountdowns() {
        let datem=""
        let a={}
        this.countdown=[]
        this.getwaitjobs.forEach((val,i) => {
        this.countdown[i]=[]
        let a={}
        datem = moment(val.createdAt).format('YYYY-MM-DD HH:mm');
        a.months = countdown(new Date(datem).getTime()).months;
        a.days = countdown(new Date(datem).getTime()).days;
        a.hours = countdown(new Date(datem).getTime()).hours;
        a.minutes = countdown(new Date(datem).getTime()).minutes;
        a.seconds = countdown(new Date(datem).getTime()).seconds;
        
        this.countdown[i].push(a)
      })
      },
      close(){
        this.dialogopen=false
      },
      moment(val){
        return  moment(val);
      },
    },
  }
</script>

<style lang="stylus" scoped>

  // span {
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // }
 .toolsize{
  font-size: 13px !important;
}

  .box {
    color:red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
  .hhh:hover {
    text-decoration: underline red;
    // color: green !important;
  }
  .cbox{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ccc:hover {
    text-decoration: underline ;
    // color: green !important;
  }
  .q-table tbody td:before{
    background: transparent
    }
  
  // .line-clamp {
  //   display: -webkit-box;
  //   -webkit-line-clamp: 3;
  //   -webkit-box-orient: vertical;  
  //   overflow: hidden;
  // }
  // tr .box {
  // background-color: #fff;
  // box-shadow: 2px 2px 10px #246756;
  // padding: 2em;
  // width: 200px;
// }

// .ob {
//   display: -webkit-box;
//   -webkit-line-clamp: 2;
//   -webkit-box-orient: vertical;  
//   overflow: hidden;
// }

</style>