<template>
    <div class="row col-12 justify-center items-center window-height">
        <forgotpasswordcomp />
        
    </div>
</template>

<script>
import axios from "axios";
import gql from "graphql-tag";
import { Loading } from "quasar";
import { mapState, mapGetters } from "vuex";
import { Notify } from 'quasar'
import forgotpasswordcomp from '../login/forgotpassword.vue'
    export default {
      components: {
        forgotpasswordcomp,
      },
        data() {
            return {
                maildialog:false,
                email:"",
            }
        },
        watch: {
            // get_user: {
            //     immediate: true,
            //     handler(val) {
            //         console.log('val',val);
            //     this.email=val.email
            //     },
            //     deep: true
            // },
        },
        computed: {
            ...mapGetters([
        
        // 'get_user',
        

      ])
        },
        mounted () {
            // console.log('this.get_user',this.get_user);
            // this.email=this.get_user.email
        },
        methods: {
            
             async sendForgotPassword(){
                 if(this.$refs.email.hasError){
                    //  console.log("hata");
                 }else{
                    Loading.show()
                    await axios.post(
                              process.env.API, {
                            query: `query forgotUserQuery($email:String){
                                forgotUserQuery(email:$email){
                                    
                                    res
                            }  
                            }`,
                            variables: {
                                email:this.email,
                                }
                        }).then(async (response) => { 
                            console.log("response.data.data.forgotUserQuery",response);
                            if(response.data.data.forgotUserQuery.res == 'false'){
                            this.$q.notify({
                                    type: 'negative',
                                    message: `Girdiğiniz e-mail sistemimizde kayıtlı değildir.`
                                }) 
                                Loading.hide()
                                return
                            }
                            Loading.hide()
                            this.maildialog=true
                            // this.$router.push('/')
                            // else{
                            //     // return
                            //     await this.$axios.post(
                            //         process.env.API, {
                            //             query: `mutation sendForgotPasswordMail($email: String, $token: String,) {
                            //                 sendForgotPasswordMail(email: $email, token: $token) {
                            //                 email
                                            
                            //                 }
                            //             }
                            //             `,
                            //             // loadingKey: 'loading',
                            //             variables: {
                                            
                            //                 email:this.email,
                            //                 token:response.data.data.forgotUserQuery.token
                            //             }
                            //         })
                            //         .then(async response => {
                            //                     this.$q.notify({
                            //                     type: 'positive',
                            //                     message: `E-Posta kutunuzu kontrol ediniz.`
                            //                 }) 
                            
                            //             });

                                                
                            //                 }
                                            
                                        })
                 }
           
                

            },
            isValidEmail (val) {
                const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
                return emailPattern.test(val) || 'Hatalı email';
            },
        },
    }
</script>

<style lang="stylus" scoped>

</style>