<template>
    <div class="row self-start  col-md-6 col-xs-12 col-lg-6" >
        <!-- <q-card class="col-md-6 col-xs-12 " style="margin-top:-250px;">
            <q-input class="col-md-10 col-12 q-mb-lg" ref="email" v-model="email" label="Mail Adresi" :rules="[val => !!val || 'Hatalı Mail', isValidEmail]" outlined/>
        </q-card> -->
        <q-card  class="col" >
              <q-card-section class="row justify-center">
                <div class="text-h6 ">Şifre Sıfırlama</div>
                <!-- <q-space /> -->
                <!-- <q-btn icon="close" flat round dense v-close-popup /> -->
              </q-card-section>
            <q-separator/>
              <q-card-section class="row ">
                <q-input class="col-12 q-pt-md" ref="email" v-model="email" label="Mail Adresinizi Giriniz" :rules="[val => !!val || 'Hatalı Mail', isValidEmail]" outlined/>
     
     
              </q-card-section>
                <q-separator/>
              <q-card-section  class="text-center">

                <q-btn  class="text-black"  color="" label="Gönder" @click="sendForgotPassword()" v-close-popup ></q-btn>
                
                <!-- <q-btn class="q-mr-md text-black"  color="white" label="Kapat"  v-close-popup ></q-btn> -->
              </q-card-section>
        </q-card>
        <q-dialog  v-model="maildialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Uyarı...!</div>
                <q-space />
                <q-btn icon="close" @click="maildialog=false,email='',reset()" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <q-item-label class="q-pa-md text-center text-h5">
            Şifre Sıfırlama Linki <br> 
            <span class="text-red">{{email}}</span> <br>
             mail adresine gönderilmiştir.<br>
             Lütfen mailinizi Kontrol Ediniz...
        </q-item-label>
        <q-separator />
          
        
        <div class="text-right">
            <q-btn class="q-ma-md"    label="Kapat" @click=" $router.push('/')" />
          </div>
      </q-card>
    </q-dialog>
    </div>
</template>

<script>
import axios from "axios";
import gql from "graphql-tag";
import { Loading } from "quasar";
import { mapState, mapGetters } from "vuex";
import { Notify } from 'quasar'
    export default {
        data() {
            return {
                maildialog:false,
                email:"",
            }
        },
        watch: {
            // get_user: {
            //     immediate: true,
            //     handler(val) {
            //         console.log('val',val);
            //     this.email=val.email
            //     },
            //     deep: true
            // },
        },
        computed: {
            ...mapGetters([
        
        // 'get_user',
        

      ])
        },
        mounted () {
            // console.log('this.get_user',this.get_user);
            // this.email=this.get_user.email
        },
        methods: {
            reset(){
              setTimeout(() => {
                this.$refs.email.resetValidation()
              }, 1);
            },
             async sendForgotPassword(){
                 if(this.$refs.email.hasError){
                    //  console.log("hata");
                 }else{
                    Loading.show()
                    await axios.post(
                              process.env.API, {
                            query: `query forgotUserQuery($email:String){
                                forgotUserQuery(email:$email){
                                    
                                    res
                            }  
                            }`,
                            variables: {
                                email:this.email,
                                }
                        }).then(async (response) => { 
                            console.log("response.data.data.forgotUserQuery",response);
                            if(response.data.data.forgotUserQuery.res == 'false'){
                            this.$q.notify({
                                    type: 'negative',
                                    message: `Girdiğiniz e-mail sistemimizde kayıtlı değildir.`
                                }) 
                                Loading.hide()
                                return
                            }
                            Loading.hide()
                            this.maildialog=true
                            // this.$router.push('/')
                            // else{
                            //     // return
                            //     await this.$axios.post(
                            //         process.env.API, {
                            //             query: `mutation sendForgotPasswordMail($email: String, $token: String,) {
                            //                 sendForgotPasswordMail(email: $email, token: $token) {
                            //                 email
                                            
                            //                 }
                            //             }
                            //             `,
                            //             // loadingKey: 'loading',
                            //             variables: {
                                            
                            //                 email:this.email,
                            //                 token:response.data.data.forgotUserQuery.token
                            //             }
                            //         })
                            //         .then(async response => {
                            //                     this.$q.notify({
                            //                     type: 'positive',
                            //                     message: `E-Posta kutunuzu kontrol ediniz.`
                            //                 }) 
                            
                            //             });

                                                
                            //                 }
                                            
                                        })
                 }
           
                

            },
            isValidEmail (val) {
                const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
                return emailPattern.test(val) || 'Hatalı email';
            },
        },
    }
</script>

<style lang="stylus" scoped>

</style>