<template>
  <div class="row col-12 justify-center items-center window-height">
    <!-- <div class="q-pa-xl">{{login}}</div> -->

    <q-card class="col-md-6 col-xs-12 q-mb" style="margin-top: -250px">
      <q-card-section class="text-center" >
        <div class="row ">
          <div class="text-h6 col">Üye Girişi</div>
          <div class="text-right">
            <q-btn icon="close" flat round dense v-close-popup />
          </div>
        </div>
      </q-card-section>
      <!-- <q-tabs
          v-model="tab"
          !=
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
        > -->
      <!-- <q-tab name="giris"  label="Giriş" />
          <q-tab name="kayit" label="Kayıt Ol" /> -->

      <!-- </q-tabs> -->

      <q-separator />

      <!-- <q-tab-panels v-model="tab" animated> -->
      <!-- <q-tab-panel class=" items-center " name="giris"> -->
      <!-- <div class="text-h6 text-center q-pb-md">Üye Girişi</div> -->
      <div class="q-pt-xl q-pl-md q-pr-md row justify-center">
        <q-input
          class="col-md-10 col-12 q-mb-lg"
          ref="email"
          v-model="signin.email"
          label="Mail Adresi"
          :rules="[(val) => !!val || 'Hatalı Mail', isValidEmail]"
          outlined
        />
        <q-input
          class="col-md-10 col-12 q-mb-lg"
          :rules="[
            (val) => !!val || 'Hatalı Password',
            (val) => val.length > 5 || 'Hatalı Password',
          ]"
          ref="password"
          type="password"
          v-model="signin.password"
          @keypress.enter.native="login()"
          label="Şifre"
          outlined
        />
        <q-item-label
          @click="forgotpassword"
          class="col-md-10 col-12 q-mb-lg cursor-pointer"
          style="color: blue; text-decoration: underline"
          ><a> Şifremi Unuttum </a></q-item-label
        >
        <q-btn
          class="col-md-4 col-6 q-mb-xl"
          size="18px"
          color="positive "
          label="Giriş Yap"
          @click="login()"
          rounded
        />
      </div>
      
    </q-card>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import axios from "axios";
// import {axiosInstance} from "../../boot/axios.js"
import gql from "graphql-tag";
export default {
  data() {
    return {
      // tab:'giris',
      signin: {},
      signup: {},
      isPwd: true,

      // Required:"",
      // ConfirmPWD:"",

      SignupData: {
        password: "",
        passwordConfirm: "",
      },
      // isPwd:false
    };
  },
  computed: {
    Required() {
      return [
        (v) => !!v || "Boş Geçemezsiniz",
        (v) => v.length > 5 || "En Az 6 Karakter Olmalı",
      ];
    },
    ConfirmPWD() {
      return [
        (v) => !!v || "Boş Geçemezsiniz",
        (v) => v.length > 5 || "En Az 6 Karakter Olmalı",
        (v) =>
          v == this.$refs.fldPasswordChange.value || "Girilen Şifre Farklı",
      ];
    },
    ...mapGetters([]),
  },
  mounted () {
    if (!localStorage.getItem("token") ){
              //  console.log('nuuuuuu');
                     this.$store.commit("set_user", {});
                     return
            }
  },
  methods: {
    forgotpassword() {
      this.$router.push({ path: "forgotpassword" });
    },
    isValidEmail(val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(val) || "Hatalı email";
    },
    async login(){
              this.$refs.email.validate()
              this.$refs.password.validate()

              if(this.$refs.email.hasError || this.$refs.password.hasError){
                return;
              }
              //  console.log(axios.post);
                await axios
                .post(process.env.API, {
                  query: `query loginUser($email: String,$password:String ){
                         loginUser(email: $email,password: $password){
                              userid
                              firstname
                              lastname
                              email
                              token
                              role
                              res
                            }
                         }`
                // await this.$apollo.query({
                //   query: gql `query loginUser($email: String,$password:String ){
                //           loginUser(email: $email,password: $password){
                //                userid
                //                firstname
                //                lastname
                //                email
                //                token
                //                role
                //                res
                //              }
                //           }`
                         ,
                  variables: {
                    email:this.signin.email,
                    password:this.signin.password
                  }
                })
                .then(async response => {
                    console.log("response.data.data.loginUser",response.data.data.loginUser);
                    if(response.data.data.loginUser.res=='true'){
                        localStorage.setItem('token',response.data.data.loginUser.token)
                        // this.merge(response.data.data.loginUser)
                        localStorage.setItem('email',response.data.data.loginUser.email)
                        localStorage.setItem('firstname',response.data.data.loginUser.firstname)

                        if (localStorage.getItem("token") !== null) {
                        let token = this.$jwt.decode(localStorage.getItem("token"),process.env.JWT_SECRET);
                         this.$store.commit("set_user", token);
                         await this.$store.dispatch("userdetail",response.data.data.loginUser.email)
                         console.log('token',token);
                        }

                        if (response.data.data.loginUser.role === 'user') {
                          this.$router.push({ path: "/ticket" });
                          
                        }
                        this.$router.push({ path: "/admin" });
                    }else{
                      this.$q.notify({
                        type: 'negative',
                        message: `${response.data.data.loginUser.res}`
                    })  
                    }

                })
                // location.reload()
              //    ----- mail
              // mutation{sendmail(username:"asas"){
              //     username
              //     }
              //     }
              //    ----- mail
            },
  },
};
</script>

<style lang="scss" scoped>
// .footer{
// display:none !important;
// }
</style>