<template>
    <div class="row col-12 justify-center items-center window-height">
        <!-- <q-card class="col-md-6 col-xs-12 " style="margin-top:-250px;">
            <q-input class="col-md-10 col-12 q-mb-lg" ref="email" v-model="email" label="Mail Adresi" :rules="[val => !!val || 'Hatalı Mail', isValidEmail]" outlined/>
        </q-card> -->
        <q-card  style="width: 500px; max-width: 160vw; margin-top:-300px;" >
              <q-card-section class="row justify-center">
                <div class="text-h6 ">Şifre Sıfırlama</div>
                <!-- <q-space /> -->
                <!-- <q-btn icon="close" flat round dense v-close-popup /> -->
              </q-card-section>
            <q-separator/>
              <q-card-section class="row ">
                <q-input 
            class=" col-12 q-mb-xs"
                 v-model="password"
                 label="Şifre"
                 
                 v-bind:type="isPwd ? 'password' : ''"
                 lazy-rules
                 :rules="Required"
                 ref="fldPasswordChange"
                 outlined>
            <template v-slot:append>
                <q-icon :name="isPwd ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        v-on:click="isPwd = !isPwd"></q-icon>
            </template>
        </q-input>
        <q-input 
        class="col-12 "
                 v-model="passwordConfirm"
                 label="Şifre Tekrarı"
                 v-bind:type="isPwd ? 'password' : ''"
                 lazy-rules
                 :rules="ConfirmPWD"
                 ref="fldPasswordChangeConfirm"
                 outlined>
            <template v-slot:append>
                <q-icon :name="isPwd ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        v-on:click="isPwd = !isPwd"></q-icon>
            </template>
        </q-input>
        <q-card-section class=" q-pa-none col-12 text-h5 text-weight-bold text-red text-center">
            {{time1}}
        </q-card-section>
        <q-card-section v-if="timefinish" class="col-12 q-pa-none  text-h6  text-red text-center">
            Zamanınız Doldu...! Tekrar Deneyin
        </q-card-section>
              </q-card-section>
                <q-separator/>
              <q-card-section  class="text-center">

                <q-btn  class="text-black"  color="" label="Gönder" @click="changePassword()" v-close-popup :disable="timefinish"  />
                
                <!-- <q-btn class="q-mr-md text-black"  color="white" label="Kapat"  v-close-popup ></q-btn> -->
              </q-card-section>
        </q-card>
    </div>
</template>

<script>
import Vue from "vue"
import moment from 'moment'
moment.locale('tr')
import VueJWT from "vuejs-jwt"
Vue.use(VueJWT)
// import jwt from '../../../node_modules/jsonwebtoken' 
    export default {
        props:['token'],
        data() {
            return {
                password:"",
                passwordConfirm:"",
                isPwd:true,
                usermail:"",
                // time:{
                //     minutes:0,
                //     seconds:0
                // },
                time1:"",
                timefinish:false
            }
        },
        computed: {
            Required() {
                return [(v) => !!v || 'Boş Geçemezsiniz',
                (v) =>  v.length > 5 || 'En Az 6 Karakter Olmalı',
                ]
            },
            ConfirmPWD() {
                return [
                    (v) => !!v || "Boş Geçemezsiniz",
                    (v) =>  v.length > 5 || 'En Az 6 Karakter Olmalı',
                    (v) => v == this.$refs.fldPasswordChange.value || "Girilen Şifre Farklı",
                    
                 ]
            },
        },
        async mounted () {
            
            this.verifytoken()
            
            //   await this.$jwt.decode(this.token, process.env.JWT_SECRET,  function(err, decoded) {
            //      console.log("decoded",decoded) // bar
            //     if(err){
                    
                    
            //         vm.$router.push({ path: '/forgotpassword' })
            //         vm.$q.notify({
            //                         type: 'negative',
            //                         message: `Aktivasyon kodu geçersiz.`
            //                     }) 
            //                     return
            //     }else{
            //         vm.usermail=decoded.email
            //         console.log("usermail",vm.usermail);
            //     }
                
            //     });
            
        },
        methods: {
            async verifytoken(){
                let vm =this
                const denemetoken=await this.$jwt.decode(vm.token, process.env.JWT_SECRET)
                console.log('denemetoken',denemetoken);
                
            //  await jwt.verify(vm.token, process.env.JWT_SECRET, function(err, decoded) {
                //  console.log('decoded',decoded);
                // console.log("env-*-*-*-*-*-*-*-*-",process.env.JWT_SECRET) // bar
                // console.log("env-*-*-*-*-*-*-*-*-",vm.token) 
                
                if(denemetoken){
                    vm.usermail=denemetoken.email
                    console.log("usermail",vm.usermail);
                    vm.setint(denemetoken)
                }else{
                    console.log('err',err);
                    // vm.$router.push({ path: '/forgotpassword' })
                    vm.$q.notify({
                        type: 'negative',
                        message: `Aktivasyon kodu geçersiz.`
                    }) 
                    return
                }
                // });
            },
            async setint(decoded){
                // this.time.minutes=moment(moment(decoded.exp*1000).diff(moment())).toObject().minutes
                // this.time.seconds=moment(moment(decoded.exp*1000).diff(moment())).toObject().seconds
                this.time1=moment(moment(decoded.exp*1000).diff(moment())).format('mm:ss')
                // console.log('sssss',moment(moment(decoded.exp*1000).diff(moment())).format('mm:ss'));
                const myTimer =setInterval(() => {
                //    this.time.minutes=moment(moment(decoded.exp*1000).diff(moment())).toObject().minutes
                //    this.time.seconds=moment(moment(decoded.exp*1000).diff(moment())).toObject().seconds
                this.time1=moment(moment(decoded.exp*1000).diff(moment())).format('mm:ss')
                //    console.log('moment(decoded.exp)',decoded.exp*1000,'---',moment().valueOf());
                   
                
                if(((decoded.exp*1000) - moment().valueOf())<500)
                {
                    console.log('bak',(decoded.exp*1000) - moment().valueOf());
                    this.timefinish=true
                    clearInterval(myTimer);
                    console.log('küçük');
                    // this.$router.push('/')
                }
                }, 500);
                
            },
            async changePassword(){
                if(this.$refs.fldPasswordChangeConfirm.hasError){

                    // console.log('this.timefinish',this.timefinish);
                    return;
                }
                if( this.timefinish){
                    this.$q.notify({
                                    type: 'negative',
                                    message: `Zamanınız Doldu...! Tekrar Deneyin`
                                })
                    
                    return;
                }
                if(this.password.length > 5 && this.passwordConfirm > 5 && this.passwordConfirm == this.password){

                    await this.$axios.post(
                            process.env.API, {
                            query: `mutation changePassword($email: String,$password: String, $token: String,) {
                                changePassword(email: $email,password: $password, token: $token) {
                                res
                                
                                }
                            }
                            `,
                            // loadingKey: 'loading',
                            variables: {
                                
                                email:this.usermail,
                                token:this.token,
                                password:this.passwordConfirm
                            }
                        })
                        .then(async response => {
                            console.log('response',response);
                            if (response.data.data.changePassword.res=='true') {
                                 this.$q.notify({
                                    type: 'positive',
                                    message: `Şifreniz Başarıyla Değiştirildi`
                                }) 
                                window.localStorage.clear()
                                this.$router.push({ path: '/' })
                                // window.location.reload()
                            }else{
                                this.$q.notify({
                                    type: 'negative',
                                    message: `Şifreniz Değiştirilemedi`
                                }) 
                            }
                                   
                            });

                }else{
                    console.log('hata');
                    return;
                }
            }
        },
    }
</script>

<style lang="stylus" scoped>

</style>