<template>
  <div class="row justify-center">
    <div class="col-md-7 col-xs-12">
            <div class="text-h5 q-my-md">Resim Değiştirme</div>
            <div class="q-my-md text-center">
              <q-avatar size="110px">
                <!-- <img v-if="get_userdetail.path" :src="'../../uploads/avatar/'+get_userdetail.path" alt=""> -->
                <q-img v-if="get_userdetail.path==null" src="img/boy.svg" alt="..." />
                <q-img v-else :src="('img/'+get_userdetail.path)" alt="" />
                
              </q-avatar>
              </div>
              <dropzone  ref="dropclick" @progress="progress" @alertmethod="alertmethod()"/>
            <div class="text-right">
              <q-btn class="q-my-md" @click="uploadavatar()" label="Kaydet"/>
            </div>
            <q-separator class="q-my-xs"/>
            <q-separator class="q-my-xs"/>
      
            <!-- <div class="text-h5 q-my-md">Mail Değiştirme</div>
            <div class="q-gutter-md q-pt-md">
            <q-input label="Şifre" outlined />
            <q-input label="e-mail" outlined />
            <q-input label="Yeni e-mail" outlined />
            <q-input label="e-mail Tekrar" outlined />
            </div>
            <div class="text-right">
              <q-btn class="q-my-md" label="Kaydet"/>
            </div>
            <q-separator class="q-my-xs"/>
            <q-separator class="q-my-xs"/> -->
            <div class="text-h5 q-my-md">Şifre Değiştirme</div>
            <!-- <div class="q-pa-none"> -->
              <!-- <q-btn @click="changepassdialog=true" label="Şifre Değiştir"/> -->
              <!-- <q-input label="Kullanılan Şifre" outlined />
              <q-input label="Yeni Şifre" outlined />
              <q-input label="Şifre Tekrar" outlined /> -->
            <!-- </div> -->
            <changepassword class="q-pa-none" />
              <!-- <div class="text-right">
                <q-btn class="q-my-md" label="Kaydet"/>
              </div> -->
         
          
            </div>
          
            <!-- <q-dialog class="row "  v-model="changepassdialog">
              <q-card class=" col">
              <changepassword class="q-pa-none" />
             </q-card>
            </q-dialog> -->
        
      

    
  </div>
</template>

<script>
import changepassword from '../login/forgotpassword.vue'
import dropzone from '../../components/dropzone-single.vue'
import Progress from '../../components/progress.vue'
import {mapState,mapGetters} from 'vuex';
  export default {
    components: {
      dropzone,
      changepassword,
      Progress
    },
    watch: {
      get_userdetail:{
              //  console.log("main",val);
              // immediate: true,
              handler(val) {
                if (val.path) {
                  // console.log(require('app/'))
                // this.url=require('app/uploads/avatar/'+val.path)
                }
              },
              deep: true
              //  if (val) {
              //    this.url='../../../uploads/avatar/'+val.path
              //  console.log('this.url',this.url);
              //  }
               
             }
    },
    computed: {
      ...mapGetters([
                'gettreem',
                'getcategory',
                'get_ticketcategory',
                'get_userdetail',
            ])
    },
    data() {
      return {
        changepassdialog:false,
        splitterModel:20,
        tab:'mail',
        progress:0,
        url:""
      }
    },
    mounted () {
      // this.url='../../../uploads/avatar/'+this.get_userdetail.path
    },
    methods: {
      uploadavatar(){
        this.$refs.dropclick.uploadFiles(this.get_userdetail.userid)
      },
      alertmethod(){
        this.$store.dispatch('userdetail',this.get_userdetail.email)
        this.$q.notify({
                    type: 'positive',
                    message: `Başarılı`
                })
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>