<template>
  <div>
    <q-splitter
      v-model="splitterModel"
      style="height: 100%;"
    >

      <template v-slot:before>
        <q-tabs
          v-model="tab"
          vertical
          class="text-teal"
        >
          <q-tab name="mail" icon="mail" label="Mail" />
          <q-tab name="password" icon="password" label="Şifre" />
          <q-tab name="avatar" icon="image" label="Resim" />
        </q-tabs>
      </template>

      <template v-slot:after>
        <q-tab-panels
          v-model="tab"
          animated
          swipeable
          vertical
          transition-prev="jump-up"
          transition-next="jump-up"
        >
          <q-tab-panel class="q-gutter-md" name="mail" >
            <div class="text-h5 q-mb-md">Mail Değiştirme</div>
            <q-input label="Şifre" outlined />
            <q-input label="e-mail" outlined />
            <q-input label="Yeni e-mail" outlined />
            <q-input label="e-mail Tekrar" outlined />
            <div class="text-right">
              <q-btn label="Kaydet"/>
            </div>
          </q-tab-panel>

          <q-tab-panel class="q-gutter-md" name="password">
            <div class="text-h5 q-mb-md">Şifre Değiştirme</div>
              <q-input label="Kullanılan Şifre" outlined />
              <q-input label="Yeni Şifre" outlined />
              <q-input label="Şifre Tekrar" outlined />
              <div class="text-right">
                <q-btn label="Kaydet"/>
              </div>
          </q-tab-panel>
          <q-tab-panel class="q-gutter-md" name="avatar">
            <div class="text-h5 q-mb-md">Resim Değiştirme</div>
              
              <div class="text-right">
                <q-btn label="Kaydet"/>
              </div>
          </q-tab-panel>

        </q-tab-panels>
      </template>

    </q-splitter>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        splitterModel:20,
        tab:'mail'
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>