<template>
<div class=" " >
  <!-- <q-splitter
      v-model="splitterModel"
      style="height: 1050px"
    > -->

      <!-- <template v-slot:before> -->
        <q-tabs
          v-model="tab"

          class="text-grey-8 "
        >
          <q-tab class="col-4" name="ticket" icon="mail" label="Ticket" />
          <q-tab class="col-4" name="list" icon="list" label="Liste" />
        </q-tabs>
      

     
        <q-tab-panels
          v-model="tab"
          animated
          swipeable
          vertical
          transition-prev="jump-up"
          transition-next="jump-up"
        >
          <q-tab-panel class="q-px-xs" name="ticket">
              <div v-if="hata" class="q-pa-md">
                <label for="" class="text-h5">Kullanıcı Firması Atanmadı</label>
              </div>
              <div v-else class="q-pt-lg col-md-8  col-xs-12 q-gutter-md ">
                <label for="" class="text-h5">Kategori Seçimi</label>
                <!-- @change="val => { onValueChange() }" -->
                <!-- <recCat
                  :nodes='gettreem'
                
                
                /> -->
                <!-- <q-select
                  class=" col-12"
                  outlined
                  v-model="catparent"
                  label="Kategori"
                  :options="gettreem"
                  option-label="name"
                  option-value="categoryid"
                /> -->
                <!-- <div v-if="catparent && catparent.children"> -->
                  <rec-cat :nodes="gettreem"/>
                  <!-- <q-separator class="" /> -->
                  <!-- <q-separator class="" /> -->
                  <q-separator class="q-mb-md" />
                  <label for="" class="text-h5">Önem</label>
                  <q-select
                    filled
                    v-model="pselectmodel"
                    :options="pdata"
                    />
                  <q-separator class="q-mb-md" />
                <!-- </div> -->
                <label for="" class="text-h5">Başlık</label>
                  <q-input
                  label="Başlık Giriniz..."
                  class=""
                  outlined
                  v-model='title'
                  
                  />
                  <form
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="off"
                    spellcheck="false"

                  >
                    <q-editor v-model="editor"  max-height="300px"
                    :toolbar="[
                      ['viewsource'],
                      ['undo', 'redo'],
                      [
                        {
                          label: $q.lang.editor.align,
                          icon: $q.iconSet.editor.align,
                          fixedLabel: true,
                          options: ['left', 'center', 'right', 'justify']
                        }
                      ],
                      ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
                      ['token', 'hr', 'link', 'custom_btn'],
                      [
                        {
                          label: $q.lang.editor.formatting,
                          icon: $q.iconSet.editor.formatting,
                          list: 'no-icons',
                          options: [
                            'p',
                            'h1',
                            'h2',
                            'h3',
                            'h4',
                            'h5',
                            'h6',
                            'code'
                          ]
                        },
                        {
                          label: $q.lang.editor.fontSize,
                          icon: $q.iconSet.editor.fontSize,
                          fixedLabel: true,
                          fixedIcon: true,
                          list: 'no-icons',
                          options: [
                            'size-1',
                            'size-2',
                            'size-3',
                            'size-4',
                            'size-5',
                            'size-6',
                            'size-7'
                          ]
                        },
                        {
                          label: $q.lang.editor.defaultFont,
                          icon: $q.iconSet.editor.font,
                          fixedIcon: true,
                          list: 'no-icons',
                          options: [
                            'arial',
                            'arial_black',
                            'comic_sans',
                            'courier_new',
                            'impact',
                            'lucida_grande',
                            'times_new_roman',
                            'verdana'
                          ]
                        },
                        ]
                      
                      ]"
                    :fonts="{
                        arial: 'Arial',
                        arial_black: 'Arial Black',
                        comic_sans: 'Comic Sans MS',
                        courier_new: 'Courier New',
                        impact: 'Impact',
                        lucida_grande: 'Lucida Grande',
                        times_new_roman: 'Times New Roman',
                        verdana: 'Verdana'
                      }"
                    >
                    
                    </q-editor>
                    
                  <Dropzone  ref="dropclick" @progress="progress" @alertmethod="alertmethod()"/>
                  </form>
                  <div class="row  justify-end">
                    <q-btn  label="Kaydet" @click="createticket()" class="text-amber-1 bg-purple"></q-btn>
                  </div>
      
            <!-- <q-btn color="blue" label="dene" @click="deneme()" /> -->
          </div>
          </q-tab-panel>

          <q-tab-panel class="q-px-xs" name="list">
            
              <q-table
                style="margin-right:0 "
                title="İşlemler"
                :pagination.sync="Pagination"
                :data="customerjobslist"
                :columns="customerjobscolumns"
                 row-key="name"
              >
                <template v-slot:body="props">
                  <q-tr :props="props">
                    <q-td key="id"  > {{ props.row.jobsid }}</q-td>
                    <q-td key="title" @click="jobsmodel=props.row,descriptiondialog=true" class="cursor-pointer hhh" style="max-width:135px">
                      <div class="box">
                        {{props.row.title}}
                      </div>
                    </q-td>
                    <!-- <q-td key="state" >{{state[props.rowIndex].state }}</q-td> -->
                    <q-td>
                      <!-- <q-badge color="green"  >{{state[props.rowIndex].state }}</q-badge> -->
                      <q-badge color="red-12" v-if="state[props.rowIndex].state=='Beklemede'">Beklemede</q-badge>
                      <q-badge color="Blue" v-else-if="state[props.rowIndex].state=='Aktif' || state[props.rowIndex].state=='Transfer' ">Aktif</q-badge>
                      <q-badge color="green" v-else-if="state[props.rowIndex].state=='Onaylandı'">Tamamlandı</q-badge>
                    </q-td>
                    
                    <q-td key="create" > {{moment(props.row.createdAt) }}</q-td>
                    <q-td key="end" v-if="state[props.rowIndex].state=='Onaylandı'">
                      {{ moment(state[props.rowIndex].updatedAt)}}
                    </q-td>
                    <q-td key="end" v-else>
                      
                    </q-td>
                    <!-- <q-td key="enddate" > {{moment(props.row.updatedAt) }}</q-td> -->
                  </q-tr>
                </template>
              </q-table>
           
            
            
          </q-tab-panel>

        </q-tab-panels>
      <!-- </template> -->

    <!-- </q-splitter> -->
  <!-- -*-*--*-*-* -->
  <q-dialog v-model="alert">
        <q-card class="q-pa-md">
          <div class="row col-12 q-pt-xl q-pb-xl justify-center">
            <div class="col-12 q-pt-md text-center">
              <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
              </svg>
            </div>
            <div class="q-pa-xl  text-h5 text-weight-medium"> 
              Talebiniz başarıyla iletilmiştir. En kısa sürede tarafınıza dönüş sağlayacaktır.
            </div>
          </div>
        </q-card>
  </q-dialog>
  <q-dialog  v-model="descriptiondialog" >
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Emir Detay</div>
                <q-space />
                <q-btn icon="close" @click="descriptiondialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <div>
          <q-input type="textarea" rows="2" class="q-pt-md q-px-md" v-model="jobsmodel.title" label="Konu" outlined readonly/>
          <div class="q-ml-md q-mr-md q-mt-md q-mb-lg" style="border: 1.9px dashed #cdcdcb;border-radius:5px;">
            <div class=" text-grey-7" style="font-size:12px;margin-left:10px; margin-top:10px;">Açıklama</div>
            <div style="margin-left:10px;margin-bottom:25px"    v-html="jobsmodel.description" label="Açıklama"   />
          </div>
          <div  v-if="jobsmodel">
            <div class=" q-pl-xs  q-gutter-y-md" v-if="jobsmodel.uploads.length" v-for="(val,key) in jobsmodel.uploads" :key="key">
              
              <!-- <a href="''"  >{{val.path}}</a>
                <q-space></q-space>
              <q-icon class="q-pb-md q-pr-md cursor-pointer	" name="mdi-download" size="25px" @click="fileopen( val.path)" :label="val.path" /> -->
              <q-list class=" q-mr-md" bordered>
                <q-item @click="fileopen( val.path)" clickable v-ripple>
                  <q-item-section>{{val.path}}</q-item-section>
                    <!-- <q-space/> -->
                  <q-item-section avatar>
                    <q-icon color="primary" name="download" />
                  </q-item-section>
                </q-item>
              </q-list>
              
              <div>
                <!-- <a :href="val.path" >{{val.path}}</a> -->
                <!-- window.open("<insert URL here>") -->
              </div>
            </div>
            <!-- {{jobsmodel.uploads.path}} -->
            <!-- <img :src="jobsmodel.uploads.path" alt=""> -->

          </div>
        </div>
        <div class="text-right">
            <q-btn class="q-mb-md q-mr-md" label="Kapat" @click="descriptiondialog=false" />
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>

import {mapState,mapGetters} from 'vuex';
import recCat from '../../components/recCat';
import axios from "axios";
// import dropzone from "../../components/dropzone"
import moment from 'moment'

import Dropzone from 'src/components/dropzone';
import Progress from '../../components/progress.vue'

  export default {
    name:'ticket',
    components: {
      recCat,
      Dropzone,
      Progress
    },
    data() {
      return {
        jobsmodel:{uploads:[]},
        descriptiondialog:false,
        customerjobslist:[],
        customerjobscolumns:
        [
          { name: 'id', align: 'left', label: 'Numara',style:'max-width:15px',  sortable: true,field:row=>row.jobsid,
          headerStyle: 'max-width: 40px',
          headerClasses: ''
          },
          { name: 'title', align: 'left', label: 'Konu',headerStyle:'max-width:175px',  sortable: true,field: (row) =>  row.title,},
          { name: 'state', align: 'left', label: 'Durum',  sortable: true},
          { name: 'create', align: 'left', label: 'Oluşturulma Tarihi',  sortable: true,field:row=>row.createdAt },
          { name: 'end', align: 'left', label: 'Bitiş Tarihi',  sortable: true },
        ],
        Pagination: {
          sortBy: 'desc',
          descending: false,
          page: 1,
          rowsPerPage: 15
          // rowsNumber: xx if getting data from a server
        },
        // -*-*-*-*-*-*
        tab:"list",
        splitterModel: 20,
        progress:0,
        allprogress:[],
        jobsid:"",
        hata:false,
        alert:false,
        catparent:null,
        title:"",
        editor:"",
        pselectmodel:"Normal",
        pdata:[
          "Düşük",
          "Normal",
          "Yüksek"
        ],
        state:[],
        //sfsdfsdfsdfs
        
      }
    },
    watch: {
      gettreem(val) {
        if (val.length) {
          // console.log(val);
        }
        
      },
      getcategory(val) {
        if (val.length) {
          // console.log(val);
        }
        
      },
      get_userdetail: {
        immediate: true,
        async handler(val) {
          console.log('w-progres',val)
          if(val.email){
          await  this.joblist()
          }
          
        },

        deep: true
      },
    },
    computed: {
            ...mapGetters([
                'gettreem',
                'getcategory',
                'get_ticketcategory',
                'get_userdetail',
            ])
        },
        mounted () {
        
        },
        methods: {
          fileopen(){

          },
          moment(val){
            return moment(val).format('DD-MM-YYYY HH:mm');
          },
          alertmethod(){
            this.alert=true
            
            
            
              setTimeout(()=>{ 
                window.location.reload()
                 }, 2000);
          },
          onay(){

            // console.log("get_userdetail",this.get_userdetail.cuser.companies[0].companyid);
            // return false
            this.alert=true
            setTimeout(()=>{ this.alert=false }, 2000);
          },
          async createticket(){

            // console.log("category",this.get_ticketcategory);
            
            if (this.get_ticketcategory.categoryid==null) {
              this.$q.notify({
                    type: 'negative',
                    message: `Kategori Seçilmedi`
                })
              return false;
              
            }
            // console.log("editor",this.editor);
            if (this.editor=="") {
              this.$q.notify({
                    type: 'negative',
                    message: `Detay Belirtilmedi`
                })
              return false;
              
            }
            // console.log("hata");
            // return false;
            await axios.post(
            process.env.API, {
              query: `mutation createticket($openuserid:ID, $companyid:ID, $categoryid:Int, $priority:String, $title:String, $description:String, $note:String){
                   createticket(categoryid:$categoryid, title:$title, description:$description, openuserid:$openuserid, companyid:$companyid, priority:$priority, note:$note){
                    jobsid
                    }
                    }`,
              variables:{
                openuserid:this.get_userdetail.userid,
                companyid:this.get_userdetail.cuser.companies[0].companyid,
                categoryid:this.get_ticketcategory.categoryid,
                priority:this.pselectmodel,
                title:this.title,
                description:this.editor,
                note:""
              }
            }).then(async data => {
              console.log(data.data.data);
              this.jobsid=data.data.data.createticket.jobsid
              await this.$refs.dropclick.uploadFiles(this.jobsid)
              // this.alertmethod
              // console.log("alert");


            })
          },
          // -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*//
          async joblist(){
            await axios.post(
          process.env.API, {
              query:  `query userjoblist($openuserid:ID){
                    userjoblist(openuserid:$openuserid) {
                      jobsid
                      title
                      priority
                      description
                      time
                      createdAt
                      updatedAt
                      openuser{
                        email
                      }
                      jobstate{
                        state
                        updatedAt
                      }
                    }   
        }`,
        variables:{
          openuserid:this.get_userdetail.userid
        }
            }).then(async data => {
              console.log('data',data);
              this.customerjobslist=data.data.data.userjoblist

              this.state=data.data.data.userjoblist.map(val=>{
                console.log('val',val);
                if (val.jobstate.length) {
                  return val.jobstate[val.jobstate.length-1]
                }
                
                return {state:'Beklemede'}
                // val.jobstate.filter(val=>{val.jobstate[val.jobstate.length-1]})
                
                })
              console.log('this.state',this.state);
              
            })
          }
      
    }
        
  }
</script>

<style lang="scss" scoped>
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke: $purple;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  display: block;
  stroke-width: 4;
  stroke: $purple;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #fff;
  animation: fill 0.4s ease-in-out 0.1s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.5s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.3, 1.3, 0.2);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 80px #fff;
  }
}
.toolsize{
  font-size: 13px !important;
}
.box {
    color:red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
.hhh:hover {
    text-decoration: underline red;
    // color: green !important;
  }

</style>