<!DOCTYPE html>

<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">

<head>
	<title></title>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<!--[if mso]><xml><o:OfficeDocumentSettings><o:PixelsPerInch>96</o:PixelsPerInch><o:AllowPNG/></o:OfficeDocumentSettings></xml><![endif]-->
	<!--[if !mso]><!-->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap' rel="stylesheet" type="text/css" />
	<!--<![endif]-->
	<style>
		* {
			box-sizing: border-box;
		}

		body {
			margin: 0;
			padding: 0;
		}

		th.column {
			padding: 0
		}

		a[x-apple-data-detectors] {
			color: inherit !important;
			text-decoration: inherit !important;
		}

		#MessageViewBody a {
			color: inherit;
			text-decoration: none;
		}

		p {
			line-height: inherit;
			font-family: 'Cormorant Garamond', 'serif';
		}

		@media (max-width:700px) {
			.icons-inner {
				text-align: center;
			}

			.icons-inner td {
				margin: 0 auto;
			}

			.row-content {
				width: 100% !important;
			}

			.stack .column {
				width: 100%;
				display: block;
			}
		}
	</style>
</head>

<body style="background-color: #f9f9f9; margin: 0; padding: 0; -webkit-text-size-adjust: none; text-size-adjust: none;">
	<table border="0" cellpadding="0" cellspacing="0" class="nl-container" role="presentation"
		style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f9f9f9;" width="100%">
		<tbody>
			<tr>
				<td>
					
					<table align="center" border="0" cellpadding="0" cellspacing="0" class="row-content stack"
						role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff;"
						width="600">
						<tbody>
							<tr style="width:100%">
								<th class="column"
									style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px;"
									width="100%">
									<table border="0" cellpadding="30" cellspacing="0" class="image_block" role="presentation"
										>
										<tr>
											<td>
												<div align="center" style="line-height:10px"><img alt="Logo" src="cid:Logo.png"
														style="display: block; height: auto; border: 0; width: 80px; max-width: 100%;"
														title="Logo" width="80" />
												</div>
											</td>
											<td>
												<div class="" style="text-align:center;font-size:28px;	min-width: 380px">
													Eriza Bilişim Destek Portalı
												</div>
											</td>
										</tr>
									</table>
								</th>
							</tr>
						</tbody>
					</table>
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="row row-3" role="presentation"
						style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
						<tbody>
							<tr>
								<td>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="row-content stack"
										role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff;"
										width="600">
										<tbody>
											<tr>
												<th class="column"
													style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 0px; padding-bottom: 0px;"
													width="100%">
                          <table border="0" cellpadding="0" cellspacing="0" class="heading_block" role="presentation"
														style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
														<tr>
															<td
																style="padding-left:30px;padding-right:30px;padding-top:40px;text-align:center;width:100%;">
																<h1
																	style="margin: 0; color: #777777; direction: ltr; font-family: 'Cormorant Garamond',serif; font-size: 20px; font-weight: normal; letter-spacing: normal; line-height: 120%; text-align: left; margin-top: 0; margin-bottom: 0;">
																	<%= date %>
																</h1>
															</td>
														</tr>
													</table>
                          <table align="center" border="0" cellpadding="0" cellspacing="0" class="row-content stack"
                          role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff;"
                          width="600">
                            <tr>
                              <td class="divider_inner"
                                style="font-size: 1px; line-height: 1px; border-top: 1px solid #1D1D1B;margin-top:0px;width:100%">
                                <span></span>
                              </td>
                            </tr>
                          </table>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
					<table align="center" border="0" cellpadding="0" cellspacing="0" class="row row-3" role="presentation"
						style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
						<tbody>
							<tr>
								<td>
									<table align="center" border="0" cellpadding="0" cellspacing="0" class="row-content stack"
										role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff;"
										width="600">
										<tbody>
											<tr>
												<th class="column"
													style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 0px; padding-bottom: 0px;"
													width="100%">
													<table border="0" cellpadding="0" cellspacing="0" class="heading_block" role="presentation"
														style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
														<tr>
															<td
																style="padding-bottom:10px;padding-top:10px;padding-left:30px;padding-right:30px;text-align:center;width:100%;">
																<h1
																	style="margin: 0; color: #000000; direction: ltr; font-family: 'Cormorant Garamond',serif; font-size: 20px; font-weight: normal; letter-spacing: normal; line-height: 120%; text-align: left; margin-top: 10px; margin-bottom: 0;">
																	Merhaba;
																</h1>
															</td>
														</tr>
													</table>
													<table border="0" cellpadding="0" cellspacing="0" class="heading_block" role="presentation"
														style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
														<tr>
															<td
																style="padding-bottom:10px;padding-left:30px;padding-right:30px;padding-top:30px;text-align:center;width:100%;">
																<h2
																	style="margin: 0; color: #000000; direction: ltr; font-family: 'Cormorant Garamond',serif; font-size: 26px; font-weight: normal; letter-spacing: normal; line-height: 150%; text-align: center; margin-top: 0; margin-bottom: 0;">
																	Talep Numarası:"<%= jobsid %>"	
																</h2>
															</td>
														</tr>
													</table>
													<table align="left" border="0" cellpadding="0" cellspacing="0" class="text_block" role="presentation"
														style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;padding-top:15px" width="100%">
														<tr>
															<td style="padding-bottom:30px;padding-left:30px;padding-right:30px;padding-top:20px;">
																<div style="font-family: sans-serif">
																	<div
																		style="font-size: 20px;  color: #1d1d1b; line-height: 1.5;">
																		<p style="margin: 0; font-size: 20px;  mso-line-height-alt: 27px;margin-bottom: 0px;text-align:justify;">
																			Numaralı Eriza Bilişim Destek Portalında firmanız adına oluşturulan talep sonuçlandırılmıştır.
																		</p>
																	</div>
																</div>
															</td>
														</tr>
													</table>
													<table border="0" cellpadding="0" cellspacing="0" class="divider_block" role="presentation"
														style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
														<tr>
															<td style="padding-bottom:20px;padding-top:20px;">
																<div align="center">
																	<table border="0" cellpadding="0" cellspacing="0" role="presentation"
																		style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
																		<tr>
																			<td class="divider_inner"
																				style="font-size: 1px; line-height: 1px; border-top: 1px solid #1D1D1B;">
																				<span></span>
																			</td>
																		</tr>
																	</table>
																</div>
															</td>
														</tr>
													</table>
													<table border="0" cellpadding="30" cellspacing="0" class="heading_block" role="presentation"	
														style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
														<tr>
															<td>
																<h3 style="margin: 0; color: #000000; direction: ltr; font-family: 'Cabin', Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 20px; font-weight: normal; letter-spacing: normal; line-height: 150%; text-align: center; margin-top: 0; margin-bottom: 0;">
																	<!-- Come back and take a peek at what’s new.<br />
																	<span style="color: #8e8e8e;">See what’s new &gt;</span><br /> -->
																	<p style="margin-bottom: 0;margin-top: 0;">
																		Eriza Bilişim Sistemleri 
																	</p>
																	<p style="margin-top: 0;">
																		San. ve Dış Tic. Ltd. Şti 
																	</p>
																	<p style="margin-bottom: 0;">
																		<a href="http://destek.eriza.com.tr">destek.eriza.com.tr</a>
																		
																	</p>
																	<p style="padding-top: 0;margin-top: 0;">
																		<a href="mailto:destek@eriza.com.tr">destek@eriza.com.tr</a>
																	</p>
																</h3>
															</td>
														</tr>
													</table>
												</th>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<table align="center" border="0" cellpadding="0" cellspacing="0" class="row row-7" role="presentation"
						style="mso-table-lspace: 0pt; mso-table-rspace: 0pt;" width="100%">
						<tbody>
							<tr>
								<td>
									<table align="center" border="0" cellpadding="0" cellspacing="0" class="row-content stack"
										role="presentation" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #000000;"
										width="600">
										<tbody>
											<tr>
												<th class="column"
													style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 0px; padding-bottom: 0px;"
													width="100%">
													<table border="0" cellpadding="30" cellspacing="0" class="text_block" role="presentation"
														style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;" width="100%">
														<tr>
															<td>
																<div style="font-family: sans-serif">
																	<div
																		style="font-size: 12px; color: #8c8c8c; line-height: 1.5; font-family: Cabin, Arial, Helvetica Neue, Helvetica, sans-serif;">
																		<p
																			style="margin: 0; font-size: 14px; text-align: center; mso-line-height-alt: 18px;">
																			<span style="font-size:12px;">Bu mail Eriza Bilişim tarafından gönderilmiştir.
																				 <a href="#" rel="noopener" style="text-decoration: underline; color: #8c8c8c;" target="_blank"></a> </span>
                                        
																		</p>
																		<p
																			style="margin: 0; font-size: 14px; text-align: center; mso-line-height-alt: 18px;">
																			<span style="font-size:12px;">© 2021 Company. All Rights Reserved.</span>
																		</p>
																	</div>
																</div>
															</td>
														</tr>
													</table>
												</th>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>

				</td>
			</tr>
		</tbody>
	</table><!-- End -->
</body>

</html>