<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style type="text/css" >
    @import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap');

      p, h1, h2, h3, strong {  
         font-family: 'Cormorant', 'serif';  
         } 
         
  </style>
 
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap" rel="stylesheet"> -->
  <!-- <style>
    p, h1, h2, h3, strong, table {  
         font-family: 'Cormorant', 'serif';  
   } 
    </style> -->
</head>
<body>
  
<div style="justify-content: center;display: flex; ">
  <div style="display:inline-block;margin-left: auto;margin-right: auto;min-width: 550px;max-width: 675px;">
  
  <div style="justify-content: center;display: flex;">
    <p  style="font-size:35px;font-weight:700;color:#054752;align-items: center;display: flex;" >
      <img 
        src="cid:Logo.png" 
        alt="link"   
        style="display:block;max-height:65px;padding-right:50px;"
        width="65"
        height="65"
      />
      Eriza Bilişim Destek Portalı
    </p>
  </div>
  <div style="">
    <p style="font-size: 20px;margin-bottom:0px;margin-top: 0;">
      <%= date %>
    </p>
  </div>
  <hr style="padding-top: 0;">
  <div style="font-size:20px;">
    <div>

      <p>Merhaba;</p>
      
    </div>
    <div>
      <p style="font-size:30px;font-weight:700;text-align: center;">
        Talep Numarası: " <%= jobsid %>  "
      </p>
    </div>
    <div>
      <p style="text-align:justify;">Numaralı Eriza Bilişim Destek Portalında firmanız adına oluşturulan talep sonuçlandırılmıştır.
      </p>
      <p>
        Saygılarımızla;
      </p>
      <p style="margin-bottom: 0;">
        Eriza Bilişim Sistemleri 
      </p>
      <p style="margin-top: 0;">
        San. ve Dış Tic. Ltd. Şti 
      </p>
      <p style="margin-bottom: 0;">
        <a href="http://destek.eriza.com.tr">destek.eriza.com.tr</a>
        
      </p>
      <p style="padding-top: 0;margin-top: 0;">
        <a href="mailto:destek@eriza.com.tr">destek@eriza.com.tr</a>
      </p>
    </div>
  </div>
  
  <hr>
  <div style="text-align:center;margin-top:15px;">
    <img
      src="cid:es.png"
      alt="icon"
      style="max-height:115px;object-fit: contain;"
      width="145"
    />
    
  </div>
  <div style="text-align:center;font-size:20px;margin-top:5px;">
    <a
      href="http://www.eriza.com.tr/"
      style="color:#00aff5"
      target="_blank"
    >
        www.eriza.com.tr
    </a>
  </div>
  <div style="text-align:center;margin-top:5px;font-size:12px;color:#708c91;">
    Bu mail Eriza Bilişim tarafından gönderilmiştir.
  </div>
</div>
</div>
</body>
</html>