<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style type="text/css" >
    @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');

      p, h1, h2, h3, strong {  
         font-family: 'Cormorant Garamond', 'serif';  
         } 
  </style>
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap" rel="stylesheet"> -->
  <!-- <style>
    p, h1, h2, h3, strong, table {  
         font-family: 'Cormorant', 'serif';  
   } 
    </style> -->
</head>
<body>
  
<table  width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr  >
      
      <table align="center"  width="650px">
        <tbody>
          <tr >
            <td valign="middle"> 
              <!-- <img 
                  src="cid:Logo.png" 
                  alt="link"   
                  style="padding-top:20px;max-height:65px;padding-right:50px;float:left;object-fit: contain;"
                  width="65"
                  height="65"
                /> 
                <p style="font-size:34px;font-weight:700;color:#054752;" >
                  Eriza Bilişim Destek Portalı
                </p> -->
                <!-- <p style=" font-size:34px;font-weight:700;color:#054752;" >
                  <img 
                      src="cid:Logo.png" 
                      alt="link"   
                      style="max-height:65px;padding-right:50px;float:left;object-fit: contain;"
                      width="65"
                      height="65"
                    />
                      <p style="padding-top:10px;font-size:34px;font-weight:700;color:#054752;">Eriza Bilişim Destek Portalı</p>
                      
                    </p> -->
                    <!-- <table>
                      <tbody>
                        <tr>
                          <img 
                        src="cid:Logo.png" 
                        alt="link"   
                        style="max-height:65px;padding-right:50px;float:left;object-fit: contain;padding-top:28px;"
                        width="65"
                        height="65"
                      />
                        <p style="padding-top:10px;font-size:34px;font-weight:700;color:#054752;">Eriza Bilişim Destek Portalı</p>
                        </tr>
                      </tbody>
                    </table> -->
                    <table >
                      <tbody>
                        <tr>
                          <td style="text-align: center;" width="5%">
                            <img 
                              src="cid:Logo.png" 
                              alt="link"   
                              style="max-height:65px;float:left;object-fit: contain;padding-top:15px;"
                              width="65"
                              height="65"
                            />
                          </td>
                          <td style="text-align: center" width="65%" align="center">
                            <p style="padding-top:10px;font-size:34px;font-weight:700;color:#054752;">Eriza Bilişim Destek Portalı</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
              <p style="font-size:20px;margin-bottom:0;padding-top:25px;"><%= date %></p>
                <hr>
                <p style="font-size:22px;">Merhaba;</p>
                <p style="font-size: 28px;font-weight: 700;" align=center>
                  Talep Numarası:" <%= jobsid %> "
                </p>
                <br>
                <p style="font-size: 22px;font-weight: 400;">
                  Numaralı Eriza Bilişim Destek Portalında firmanız adına oluşturulan talep sonuçlandırılmıştır.
                </p>
                <p style="margin-bottom: 0;">
                  Eriza Bilişim Sistemleri 
                </p>
                <p style="margin-top: 0;">
                  San. ve Dış Tic. Ltd. Şti 
                </p>
                <p style="margin-bottom: 0;">
                  <a href="http://destek.eriza.com.tr">destek.eriza.com.tr</a>
                  
                </p>
                <p style="padding-top: 0;margin-top: 0;">
                  <a href="mailto:destek@eriza.com.tr">destek@eriza.com.tr</a>
                </p>
                <hr>
                <p align="center">
                  <img 
                  src="cid:es.png" 
                  alt="link"   
                  style="max-height:145px;object-fit: contain;"
                  width="165"
                  height="145"
                />
                </p>
                <p style="text-align: center;font-size:18px">
                <a
                    href="http://www.eriza.com.tr/"
                    style="color:#00aff5;text-align: center;"
                    target="_blank"
                  >
                     www.eriza.com.tr
                  </a>
                </p>
                <p style="text-align: center;">
                  Bu E-Posta Eriza Bilişim tarafından gönderilmiştir.
                </p>
            </td>
          </tr>
        </tbody>
        
      </table>
      
      
    </tr>
    
  </tbody>
</table>

</body>
</html>