

<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td width="100%">
        <div style="max-width:600px;Margin:0 auto">
          <table
            align="center"
            cellpadding="0"
            cellspacing="0"
            style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:24px;width:100%;max-width:500px"
          >
            <tbody>
              <tr>
                <td>
                  <table style="margin-bottom:40px;width:100%;" width="100%">
                    <tbody >
                        <td style="display: block;margin-left: auto;margin-right: auto;">
                          <a
                            href="http://www.eriza.com.tr/"
                            style="font-family:Helvetica,Arial,sans-serif;color:#0086bf; "
                            target="_blank"
                          >
                            <img
                              src="https://res.cloudinary.com/aykilic/image/upload/v1596578994/emose/anasayfa/logo1.webp"
                              style="display: block;margin-left: auto;margin-right: auto;object-fit: contain;"  
                              width="200"
                              height="65"
                            />
                          </a>
                        </td>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table style="margin-bottom:40px;width:100%;" width="100%">
                    <tbody >
                        <td width="100%">
                            <div
                              style="width:100%;height:1px;background-color:#ddd"
                              color="#DDD"
                              width="100%"
                            ></div>
                          </td>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table style="margin-bottom:40px;width:100%;" width="100%">
                    <tbody >
                        <td width="100%">
                          <strong style="font-size:22px;line-height:30px;font-family:Helvetica,Arial,sans-serif;color:#234567">Merhaba <%= email %>, </strong>
                                  
                          <h1
                            style="margin-top:35px;margin-bottom:35px;font-size:26px;line-height:30px;color:#054752;word-break:normal;text-align:center;"
                          >
                          <a
                                      href= <%= confirm_link  %>
                                      style="color:#00aff5"
                                      target="_blank"
                                    >
                                      Şifre Sıfırla
                                    </a> 
                          </h1>
                          <h1
                            style="text-align:justify;font-size:22px;line-height:30px;color:#054752;word-break:normal;"
                          >
                          Şifrenizi değiştirmek için yukarıdaki linki tıklayarak işleme devam etmeniz gerekmektedir.
                          </h1>
                          </td>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table style="margin-bottom:40px;width:100%;" width="100%">
                    <tbody >
                        <td width="100%">
                            <div
                              style="width:100%;height:1px;background-color:#ddd"
                              color="#DDD"
                              width="100%"
                            ></div>
                          </td>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="text-align:center">
                  <img
                    src="http://8link.in/assets/mail/icon.png"
                    alt="8link_icon"
                    style="display:block;width:29px;height:auto;margin-left:auto;margin-right:auto;margin-bottom:10px"
                    height="auto"
                  />
                </td>
              </tr>
              <tr>
                <td style="text-align:center;font-size:13px">
                  
                  <a
                    href="http://www.eriza.com.tr/"
                    style="color:#00aff5"
                    target="_blank"
                  >
                     www.eriza.com.tr
                  </a>
                </td>
              </tr>
              <tr>
                <td style="text-align:center">
                  <table
                    style="max-width:100%;width:100%;text-align:center;font-family:ArialMT,Arial,sans-serif"
                    cellspacing="0"
                    cellpadding="0"
                  >
                    <tbody>
                      <tr>
                        <td style="text-align:center">
                          <p
                            style="font-size:10px;color:#708c91;text-align:center;padding:0;margin-top:10px;margin-bottom:2px"
                          >
                            Bu mail Eriza Bilişim tarafından gönderilmiştir.
                          </p>
                        </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>