<template>
  <div>

  </div>
</template>

<script>
  export default {
    data() {
      return {
        
      }
    },
    methods: {
      name() {
        // if (condition) {
          
        // }

      }
    },
  }
</script>

<style lang="scss" scoped>

</style>