<template>
 
<div class="q-pa-md " :style="$q.screen.sm ? 'width:700px;max-width:90vw':''">
  
  <div class="row q-pr-xs q-pt-none q-gutter-xs ">
    
    <q-input  class="col"  v-model="startdate" mask="##/##/####" label="Başlangıç Tarihi" :rules="[startdate]" dense outlined>
        <template v-slot:append>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy ref="csss" transition-show="scale" transition-hide="scale">
              <q-date v-model="startdate" @input="() => $refs.csss.hide()"  mask="DD/MM/YYYY"></q-date>
            </q-popup-proxy>
          </q-icon>
        </template>
    </q-input>
    <q-input  class="col"    v-model="enddate" mask="##/##/####" label="Bitiş Tarihi" :rules="[enddate]" dense outlined>
        <template v-slot:append>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy ref="ceee" transition-show="scale" transition-hide="scale">
              <q-date v-model="enddate" @input="() => $refs.ceee.hide()"  mask="DD/MM/YYYY"></q-date>
            </q-popup-proxy>
          </q-icon>
        </template>
    </q-input> 
    <q-btn class="col-1 " style="margin-bottom: 20px;"   @click="updatecontractdate()" icon="mdi-check"    flat :ripple="false"/>         
  </div>
  <!-- <div v-for="(val,key) in contractrows" :key="key" >

  </div> -->
  <q-separator/>
  <q-separator class="q-mt-xs"/>
  <div class="row">
    <q-item class="q-pl-none q-pb-none items-center">
      <q-item-label  caption>
        SÖZLEŞME SATIRLARI
      </q-item-label>
    </q-item>
  </div>
  <div v-if="contractmodel.contractrows.length >0">
  <div class="row "  v-for="(val,key) in contractmodel.contractrows" :key="key" >
    
    <div class="row col-12 q-gutter-xs q-pb-xs" v-if="editkey===key">
      <q-select  class=" col-xs-12 col-md-4 col-sm-4"  label="Stok" label-slot outlined dense 
        v-model="contractmodel.contractrows[key].product"
        :options="productoptions" 
        option-value="productid"
        option-label="name"
        />
      <q-select  class=" col-xs-12 col-md-4 col-sm-4"  label="Seri No" label-slot outlined dense use-input
        v-model="contractmodel.contractrows[key].product"
        :options="editserinooptions"
        @filter="editserinofilter"
        option-value="productid"
        option-label="serino"
        />
        <q-input class="col" label="miktar" v-model="contractmodel.contractrows[key].count" outlined dense />
        <q-input class="col" label="Kalan miktar" v-model="contractmodel.contractrows[key].balancecount" outlined dense />

        <!-- <q-btn icon="mdi-check" size="sm" @click="updatecontractrow(), this.count=contractmodel.contractrows[key].count" flat/>
        <q-btn icon="mdi-minus" size="sm" @click="deletecontractrow(), this.balancecount=contractmodel.contractrows[key].balancecount" flat/> -->
        <q-btn icon="mdi-check" size="sm" @click="updatecontractrow(val)" flat/>
        <q-btn icon="mdi-minus" size="sm" @click="deletecontractrow(val)" flat/>
        <q-btn icon="mdi-cancel" size="sm"   @click="editkey='',cancel()" flat/>

    </div>
    <div class="row col-12 q-gutter-xs q-pb-xs" v-else>
      <q-input label="Stok İsmi" class=" col-xs-12 col-md-4 col-sm-4" v-model="contractmodel.contractrows[key].product.name" outlined dense readonly/>
      <q-input label="Stok Açıklaması" class="col-xs-12 col-md-4 col-sm-4" v-model="contractmodel.contractrows[key].product.serino" outlined dense readonly/>
      <q-input label="Tanımlanan Miktar" class=" col-xs-12 col-md col-sm" v-model="contractmodel.contractrows[key].count" outlined dense readonly/>
      <q-input label="Kalan Miktar" class=" col-xs-12 col-md col-sm" v-model="contractmodel.contractrows[key].balancecount" outlined dense readonly/>
      <q-btn class="col-md-1 col-sm-1 " @click="editkey=key,editcontractrowmodel=val" icon="mdi-pencil" size="sm" flat :ripple="false"/>
    </div>
  </div>
  </div>
  <q-separator class="q-mt-md q-mb-md"/>
    <div  class="row col-12 q-pr-xs q-pt-none q-pb-md q-gutter-xs">
      <q-select 
        label="Stok Adı"
        class=" col-xs-12 col-md-4 col-sm-4" 
        v-model="rowsmodelName" 
        :options="productoptions" 
        @filter="productfilter"
        use-input label-slot outlined dense 
        input-debounce="0"
        option-value="productid"
        option-label="name"
        @input="selname(rowsmodelName,'name')"
        >
        <template v-slot:no-option>
                <q-item>
                  <q-item-section class="text-grey">
                    Kayıt Yok
                  </q-item-section>
                </q-item>
        </template>
      </q-select>
      <q-select class=" col-xs-12 col-md-5 col-sm-5" use-input label-slot outlined dense label="Stok Detay" 
        v-model="rowsmodelSerino" 
        :options="serinooptions"  
        @filter="serinofilter"
        input-debounce="0"
        option-value="productid"
        option-label="serino" 
        @input="selserino(rowsmodelSerino,'serino')"
        >
        <template v-slot:no-option>
          <q-item>
            <q-item-section class="text-grey">
              Kayıt Yok
            </q-item-section>
          </q-item>
        </template>
      </q-select>
      <q-input class="col-xs-12 col-md col-sm" v-model="count" label="Miktar" outlined dense/>
      <q-btn class="col-md-1 col-sm-1" @click="createcontractrow()"   icon="mdi-check" flat :ripple="false"/>
    </div>
  <!-- </div> -->
    <q-separator/>
    <q-separator class="q-mt-xs"/>
    <div class="row">
      <q-item class="row col">
          <q-btn
              label="Ekle"
              class="col q-pl-none"
              
              icon="mdi-plus"
              @click="plandialog=true"
              dense
              
              no-caps
            />
        </q-item>
      </div>
    <div class="row col-12">
      <q-item class="col q-pl-none q-pb-none items-center">
        <q-item-label class="col"  caption>
          SÖZLEŞME DETAYLARI
        </q-item-label>
        <q-item-section class="items-right">
          
        </q-item-section>
        
      </q-item>
      
    </div>
  <q-table v-if="contractmodel.detail.length" :data="contractmodel.detail" :columns="columns" row-key="planid"  :pagination.sync="pagination" :key="compkey" hide-bottom flat>
          <!-- <template v-slot:top-right>
            
        
      </template>       -->
          <template v-slot:body="props">
            <q-tr :props="props" class="cursor-pointer" >
              <q-td key="id" :props="props" >{{props.row.plan.planid}}</q-td>
              <q-td key="name" :props="props" >{{props.row.plan.name}}</q-td>
              <q-td key="button" :props="props" class="text-center"  @click="deleteContractdetail(props.row.contractdetailid)"><q-btn icon="mdi-minus" flat/></q-td>
              <!-- <q-td name="a" :props="props" >
                <q-badge color="green">Aktif</q-badge>
              </q-td> -->
            </q-tr>
          </template>
      </q-table>
      <q-separator v-if="contractmodel.detail.length" />
      <div class="q-pt-md text-right">
        <q-btn @click="$emit('close')" label="Kapat" />
      </div>
      <q-dialog v-model="plandialog" >
        <q-card style="width: 700px; max-width: 110vw;">
          <q-card-section class="row justify-center">
                <div class="text-h6 ">Sözleşme Tarihleri</div>
                <q-space />
                <q-btn icon="close" @click="contractdialog=false" flat round dense v-close-popup />
        </q-card-section>
        
        <plan :wasplanmodel="contractmodel.detail" :contractid="contractid" @ucomp="ucomp()" @close="plandialog=false"/>
        </q-card>
      </q-dialog>
  </div>
  
</template>

<script>
import {mapState,mapGetters} from 'vuex';
import moment from 'moment'
import plan from '../components/plan.vue'
moment.locale('tr')
  export default {
    props: 
      ['companyid','contractid']
    ,
    components: {
      plan,
    },
    data() {
      return {
        compkey:0,
        plandialog:false,
        contractdetaildialog:false,
        startdate:moment().startOf('year').format('DD/MM/YYYY'),
        enddate:moment().endOf('year').format('DD/MM/YYYY'),
        editkey:"",
        editcontractrowmodel:"",
        productoptions:[],
        serinooptions:[],
        editserinooptions:[],
        groupallproducts:[],
        rowsmodelName:"",
        rowsmodelProductid:"",
        rowsmodelSerino:"",
        count:"",
        balancecount:"",
        companymodel:"",
        contractmodel:{contractrows:[],detail:[]},
        pagination: {
          sortBy: "ust",
          descending: false,
          page: 1,
          rowsPerPage: 1000,
          // rowsNumber: 5,q
        },
        columns: [
        {
          name: "id",
          label: "No",
          align: "left",
          sortable: true,
          field: (row) => row.plan.planid,
        },
        {
          name: "name",
          label: "Açıklama",
          align: "left",
          sortable: true,
          field: (row) => row.plan.name,
        },
        {
          name: "button",
          label: "Sil",
          align: "Center",
          sortable: true,
          // field: (row) => row.plan.name,
        },
        
      ],
      }
      },
       computed: {
      ...mapGetters([
        // 'get_userdetail',
        // 'getendjobs',
        'getallProducts',
        // 'getadminUsers',
        // 'getalljobs',
        // 'getdepartmentsjobs',
        'getPlan',
        'getContractDetail',
        'getallCompany'
      ]),
    },
     async mounted () {
      // console.log(this.contractid);
        await this.productmethod()
        this.companymodel=await this.getallCompany.filter(val=>val.companyid==this.companyid)[0]
        //  console.log("companymodel",this.companymodel);
        this.contractmodel=await this.companymodel.contracts.filter(val=>val.contractid==this.contractid)[0]
        console.log("contract",this.contractmodel);
        this.startdate=this.contractmodel.startdate
        this.enddate=this.contractmodel.enddate
        //  console.log("contract",this.contractmodel);
        this.$store.dispatch('allPlann')
    },
      methods: {
        async productmethod(){
          await this.$store.dispatch('allCompany')
          this.groupallproducts=
        // _.groupBy(_.sortBy(this.getallProducts, "name"), "name");
        _(this.getallProducts)
        .groupBy('name')
        .map((objs, key) => {
            return {
              'name': key,
              'productid': _.get(objs, '0.productid'),
              'serino': _.get(objs, '0.serino'),
            }
        })
        .value()
        this.productoptions=this.groupallproducts
        this.companymodel=await this.getallCompany.filter(val=>val.companyid==this.companyid)[0]
        this.contractmodel=await this.companymodel.contracts.filter(val=>val.contractid==this.contractid)[0]
        },
        productfilter(val,update){
        if (val === '') {
        update(() => {
          this.productoptions = this.groupallproducts
          //   this.rowsmodelSerino==""
          // this.rowsmodelProductid=""
          //   this.rowsmodelName="",
          //   this.rowsmodelSerino=""
          // this.serinooptions = this.getallProducts
            })
            return  
          }

          update(() => {
            const needle = val.toLowerCase()
            this.productoptions = this.groupallproducts.filter(v => 
              v.name.toLowerCase().indexOf(needle) > -1
            
            )
          })
    
        },
        serinofilter(val,update){
          if (val === '' ) {
          update(() => {
            //  this.serinooptions = this.getallProducts
            // this.serinooptions=this.productoptions
          })
            return
          }

          update(() => {
            const needle = val.toLowerCase()
            this.serinooptions = this.getallProducts.filter(v => 
            v.piece > 0 ? v.serino.toLowerCase().indexOf(needle) > -1:''
            
            )
          })
        },
        editserinofilter(val,update){
          console.log(this.getallProducts);
          console.log(this.editcontractrowmodel);
          if (val === '' ) {
          update(() => {
            this.editserinooptions = this.getallProducts.filter(val=>val.name==this.editcontractrowmodel.product.name)
            this.productoptions=this.groupallproducts
          })
          return
          }
          update(() => {
            const needle = val.toLowerCase()
            this.editserinooptions = this.getallProducts.filter(v => 
            v.serino.toLowerCase().indexOf(needle) > -1
            
            )
          })
        },
        async selname(val,vaz){
        if (vaz=='name') {
          if (val==null) {
            // console.log("2");
            this.rowsmodelProductid=""
            this.rowsmodelName="",
            this.rowsmodelSerino=""
            // this.groupallProducts=this.groupallProducts
            this.serinooptions=this.getallProducts
          }else{
            this.rowsmodelProductid=""
            this.rowsmodelSerino=""
            this.rowsmodelName=val.name,
            this.serinooptions=this.getallProducts.filter(ral=>{
              if (val.name==ral.name){
                return ral
              }
            })
          }
        }
        },
        async selserino(val,vaz){
          // console.log("selserino",val);
          if(vaz=="serino"){
              
              if (val==null) {
                this.rowsmodelProductid=""
                this.rowsmodelName="",
                this.rowsmodelSerino=""
              }
              else
              {
              // this.jobsid=val.jobsid
              this.rowsmodelProductid=val.productid
              this.rowsmodelName=val.name
              this.rowsmodelProductid=val.productid
              }
              
            }
            
        },
        async ucomp(){
          console.log("comp");
          this.companymodel=await this.getallCompany.filter(val=>val.companyid==this.companyid)[0]
          this.contractmodel=await this.companymodel.contracts.filter(val=>val.contractid==this.contractid)[0]
          this.compkey++
        },
        async deleteContractdetail(val){
          console.log("val",val);
          await this.$axios.post(
            process.env.API, {
              query: `mutation deleteContractdetail($contractdetailid:ID){
                        deleteContractdetail(contractdetailid:$contractdetailid){
                          contractdetailid
                          }
                      }`,
                      variables:{
                        contractdetailid:val
                    }
            }).then(async data => {
             await this.$store.dispatch('allCompany')
              this.companymodel=await this.getallCompany.filter(val=>val.companyid==this.companyid)[0]
              this.contractmodel=await this.companymodel.contracts.filter(val=>val.contractid==this.contractid)[0]
              this.compkey++
            })
        },
        async createcontractrow(){
          // console.log("contractid",this.contractid);
          // console.log("rowsmodelName",this.rowsmodelProductid);
          if (this.rowsmodelSerino=='') {
            this.$q.notify({
                    type: 'negative',
                    message: `Hatalı Seçim`
                })
                return
          }
          this.count=Number(this.count)
          // return
          this.$q.loading.show()
          await this.$axios.post(
            process.env.API, {
              query: `mutation createcontractrow($contractid:ID,$productid:ID, $count:Int, $balancecount:Int){
                    createcontractrow(contractid:$contractid, productid:$productid, count:$count, balancecount:$balancecount){
                      contractrowid
                      }
                    }`, 
                    variables:{
                      contractid:this.contractid,
                      productid:this.rowsmodelProductid,
                      count:this.count,
                      balancecount:this.count
                    }
            }).then(async data => {
              await this.productmethod()
              this.$q.notify({
                    type: 'positive',
                    message: `Başarılı`
                })
              this.count=1
              this.rowsmodelName=""
              this.rowsmodelProductid=""
              this.rowsmodelSerino=""
              this.$q.loading.hide()
            })
        },
        async updatecontractrow(val){
          let count=Number(val.count)
          let balancecount=Number(val.balancecount)

          // console.log("val.contractrowid",val);
          // console.log("this.rowsmodelProductid",this.rowsmodelProductid);
          if (this.rowsmodelProductid=='') {
            this.rowsmodelProductid=val.productid
          }
          console.log("this.rowsmodelProductid",this.rowsmodelProductid);
          console.log("this.count",this.count);
          console.log("this.balancecount",this.balancecount);
          // console.log(object);
          // return
          this.$q.loading.show()
          this.$axios.post(
          process.env.API, {
              query: `mutation updatecontractrow($contractrowid:ID, $productid:ID, $count:Int, $balancecount:Int){
                      updatecontractrow(contractrowid:$contractrowid, productid:$productid, count:$count, balancecount:$balancecount){
                        contractrowid
                        }
                    }`,
                    variables:{
                      contractrowid:val.contractrowid,
                      productid:this.rowsmodelProductid,
                      count:count,
                      balancecount:balancecount
                    }
            }).then(async data => {
              await this.productmethod()
              this.editkey=''
              this.$q.notify({
                    type: 'positive',
                    message: `Başarıyla Güncellendi`
                })
                this.$q.loading.hide()
            })
        },
        async deletecontractrow(val){
          // console.log("delrow",val);
          // return
          this.$q.loading.show()
          await this.$axios.post(
            process.env.API, {
              query: `mutation deletecontractrow($contractrowid:ID){
                    deletecontractrow(contractrowid:$contractrowid){
                      contractrowid
                      }
                    }`,
                    variables:{
                      contractrowid:val.contractrowid
                    }
            }).then(async data => {
              await this.productmethod()
              this.editkey=''
              this.$q.notify({
                    type: 'positive',
                    message: `Kayıt Başarıyla Silindi`
                })
                this.$q.loading.hide()
            })
        },
        async updatecontractdate(){
          this.$q.loading.show()
          this.$axios.post(
          process.env.API, {
              query: `mutation updatecontractdate($contractid:ID, $startdate:String, $enddate:String){
                      updatecontractdate(contractid:$contractid, startdate:$startdate, enddate:$enddate){
                        contractid
                        }
                    }`,
                    variables:{
                      contractid:this.contractmodel.contractid,
                      startdate:this.startdate,
                      enddate:this.enddate
                    }
            }).then(async data => {
              this.$q.notify({
                    type: 'positive',
                    message: `Başarıyla Güncellendi`
                })
              this.$q.loading.hide()
            })
        },
        async cancel(){
          await this.productmethod()
        }

      },
  }
</script>

<style lang="scss" scoped>

</style>