<template>
  <div>
    <q-table class="q-pt-md" flat  :data="contracts" :columns="contractcolumns" row-key="contractid" :pagination.sync="pagination" hide-bottom>
                <template v-slot:body="props">
                  <q-tr :props="props" class="cursor-pointer" @click.native="companyid=props.row.companyid, contractid=props.row.contractid, contractdialog=true">
                    <q-td key="id" :props="props" >{{props.row.contractid}}</q-td>
                    <q-td key="startdate" :props="props" >{{props.row.startdate}}</q-td>
                    <q-td key="enddate" :props="props" >{{props.row.enddate}}</q-td>
                    <q-td key="state" :props="props" >
                      <q-badge v-if="props.row.state=='Aktif'" color="green">{{props.row.state}}</q-badge>
                      <q-badge v-else color="red">{{props.row.state}}</q-badge>
                    </q-td>
                  </q-tr>
                </template>
    </q-table>
    <q-separator/>
    <div class=" q-pa-md text-right">
          <q-btn label="Kapat" @click="$emit('close')"/>
    </div>
    <q-dialog v-model="contractdialog" position="top" persistent>
      <q-card  class="col " >
        <q-card-section class="row justify-center">
                <div class="text-h6">Sözleşme </div>
                <q-space />
                <q-btn icon="close" @click="createcontractdialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <contract  :companyid="companyid" :contractid="contractid" @close="$emit('close')"/>
        
      </q-card>
    </q-dialog>
    
  </div>
</template>

<script>
import contract from '../components/contract.vue'
import moment from 'moment'
moment.locale('tr')
  export default {
    props: ['contracts'],
    components: {
      contract,
    },
    data() {
      return {
        contractdialog:false,
        companyid:"",
        contractid:"",
        contractcolumns: [
        {
          name: "id",
          label: "Sözleşme No",
          align: "left",
          sortable: true,
          // field: (row) => row.name,
        },
        {
          name: "startdate",
          label: "Başlangıç Tarihi",
          align: "left",
          sortable: true,
          // field: (row) => row.name,
        },
        {
          name: "enddate",
          label: "Bitiş Tarihi",
          align: "left",
          sortable: true,
          // field: (row) => row.il,
        },
        {
          name: "state",
          label: "Durum",
          align: "left",
          sortable: true,
          // field: (row) => row.il,
        },
      ],
      pagination: {
        sortBy: "ust",
        descending: false,
        page: 1,
        rowsPerPage: 100,
        // rowsNumber: 5,q
      },
      }
    },
    computed: {
      
    },
    mounted () {
      console.log(this.contracts);
    },
    methods: {
      
    },

  }
</script>

<style lang="scss" scoped>

</style>