<template>
  <div>
    
      <!-- <template v-slot:name> -->
        <!-- <div v-if="fileRecordsForUpload.length" class="row">
          <q-linear-progress size="15px" :value="overallProgress" color="accent">
            <div class="absolute-full flex flex-center">
              <q-badge style="font-size:10px;" color="white" text-color="accent" :label="progressLabel" />
            </div>
          </q-linear-progress>
        </div> -->
        <!-- <div>{{prog}}</div> -->
        <div v-if="fileRecordsForUpload.length && fileRecords.length" >
          <div  v-for="(val,key) in prog" :key="key">
            <!-- <div>{{val}}</div> -->
              <!-- <Progress v-if="prog.length==1"  :percent.sync="(prog[0])" />
              <Progress v-if="prog.length==2"  :percent.sync="(prog[1])" /> -->
              <Progress  :class="prog.length-1!=key ? 'q-pb-xs':''" :percent.sync="(prog[key])" />

          </div>
          <!-- <Progress  :percent="percent" /> -->
        </div>
      
      <VueFileAgent
          ref="profilePicRef"
          :theme="theme"
          :multiple="true"
          :deletable="true"
          :meta="true"
          :maxSize="'3000MB'"
          :maxFiles="14"
          :helpText="'Dosya seçiniz'"
          :errorText="{
            type: 'Invalid file type. Only images or zip Allowed',
            size: 'Files should not exceed 10MB in size',
          }"
          @select="filesSelected($event)"
          @beforedelete="onBeforeDelete($event)"
          @delete="fileDeleted($event)"
          v-model="fileRecords"
        >
      </VueFileAgent>
      <!-- <div class="overall-progress"  :class="{ 'overall-progress-full': overallProgress >= 100 }">
        <div class="overall-progress-bar" :style="{ width: overallProgress + '%' }"></div>
        <div class="overall-progress-left" :style="{ width: 100 - overallProgress + '%' }"></div>
        
        
      </div> -->
    <!-- <template/> -->
      
      <!-- <q-btn :disabled="!fileRecordsForUpload.length" @click="uploadFiles()">
        Upload {{ fileRecordsForUpload.length }} files
      </q-btn> -->
       <!-- <q-uploader
      :factory="factoryFn"
      multiple
      style="max-width: 300px"
    /> -->
   <!-- <input type="file" @input="ttt($event.target.name, $event.target.files)"/> -->
   <!-- <q-btn label="dene" @click="()=>  {fileRecordsForUpload.shift(); fileRecords.shift() }" /> -->
  </div>
</template>

<script>
import Vue from 'vue';
import VueFileAgent from 'vue-file-agent';
import Progress from './progress.vue';
import axios from 'axios'
// import {Loading} from 'quasar'
// import fs from 'fs'

import VueFileAgentStyles from 'vue-file-agent/dist/vue-file-agent.css';

// import VueResource from "vue-resource";

// Vue.use(VueResource);
Vue.use(VueFileAgent);

  export default {
    props: {
      theme: {
        type: String,
        default: 'list'
      },
    },
    components: {Progress},
    data() {
      return {
        prog:[],
        // percent:0,
        // c:0,
        
        progressLabel:0.00+'%',
        overallProgress:0.00,
        axiosdep:[],
        file:"",
        tfile:"",
        fileRecords: [],
        uploadUrl: process.env.KURAPI+'upload',
        uploadHeaders: { 'X-Test-Header': 'vue-file-agent' },
        fileRecordsForUpload: [],
      }
    },
    watch: {
      prog: {
        immediate: true,
        handler(prog, oldVal) {
          // console.log('w-progres',prog)
        },
        deep: true
      },
     axiosdep(val) {
       console.log("axiosdep",val);
        // immediate = true
        // this.overallProgress=val.toFixed()
        // console.log("progress",val);
      },
      // deep:true
      
    },
    
    computed: {
    // progressLabel () {
    //   return (this.overallProgress).toFixed(2) + '%'
    // },
    },
    mounted () {
      console.log("mounted");
      
      // this.preuploadFiles()
      // this.$q.loadingBar.start()
    },
    methods: {
      // ttt(a,b){
      //   console.log(a);
      //   console.log(b);
      //   console.log(b[0]);
      // },
      async factoryFn (files) {
        // console.log(files[0]);
      // returning a Promise
      var fd = new FormData();
        for (var key in files) {
            console.log(key, files[key]);
            fd.append('file', files[key]);
        }
        console.log("fd",fd);
      return new Promise((resolve) => {
        
         this.$axios.post(
            process.env.API, {
                query: `mutation multipleUpload($file: Upload!){
                        multipleUpload(file: $file){
                          filename
                          mimetype
                          encoding
                          }
                    }`,
                    variables:{
                      file:fd,
                    }
            }).then(async data => {
              console.log("data",data);
            })
      //   this.$axios({
      //         url: this.uploadUrl,
      //         method: 'POST',
      //         data: fd,
      //           headers: { 
      //             'Content-Type': 'multipart/form-data',
      //             'X-Requested-With': 'XMLHttpRequest',
      //           },
      //         onUploadProgress: (progressEvent) => {
      //           this.uploadSize=progressEvent.total
      //           this.uploadedSize=progressEvent.loaded
      //           let updateProgress=(Math.round((progressEvent.loaded / progressEvent.total) * 100) / 100)
      //           //  this.$emit('uploadProgress', updateProgress)
      //           console.log(updateProgress);
      //           if(updateProgress=1){
      //           console.log("burda");
      //         }
      //       }
      // }).then(data=>{
      //   console.log(data);
      // })
      })
    },
      deleteUploadedFile: function (fileRecord) {
        console.log("deleteUploadedFile");
        // Using the default uploader. You may use another uploader instead.
        this.$refs.vueFileAgent.deleteUpload(this.uploadUrl, this.uploadHeaders, fileRecord);
      },
      filesSelected: function (fileRecordsNewlySelected) {
        console.log("filesSelected",fileRecordsNewlySelected);
        var validFileRecords = fileRecordsNewlySelected.filter((fileRecord) => !fileRecord.error);
        this.fileRecordsForUpload = this.fileRecordsForUpload.concat(validFileRecords);
        // this.uploadFiles()
      },
      onBeforeDelete: function (fileRecord) {
        console.log("onBeforeDelete",fileRecord);
        var i = this.fileRecordsForUpload.indexOf(fileRecord);
        if (i !== -1) {
          this.fileRecordsForUpload.splice(i, 1);
        } else {
          // if (confirm('Are you sure you want to delete?')) {
            this.$refs.vueFileAgent.deleteFileRecord(fileRecord); // will trigger 'delete' event
            // this.fileDeleted(fileRecord)
          // }
        }
      },
      async fileDeleted (fileRecord) {
        console.log("fileDeleted",fileRecord);
        var i = this.fileRecordsForUpload.indexOf(fileRecord);
        if (i !== -1) {
          this.fileRecordsForUpload.splice(i, 1);
        } else {
          this.deleteUploadedFile(fileRecord);
        }
      },
      // TODO: router
      // async uploadFiles () {
      //   this.$refs.vueFileAgent.upload(this.uploadUrl, this.uploadHeaders, this.fileRecordsForUpload).then( data=>{
      //     data.forEach(async val=>{
      //        this.fileRecords.shift()
      //     })
      //   });
      // },
      async preuploadFiles () {
        
        
        
      },
      async uploadFiles (uval,filetitle="", whichupload="") {
        console.log('veriler',uval,' - ',filetitle,' - ',whichupload);
        // return
        this.$q.loading.show
        let vm=this
        // console.log("this.fileRecordsForUpload",this.fileRecordsForUpload);

        if (this.fileRecordsForUpload.length) 
        {
        await this.fileRecordsForUpload.map( async(val,i)=>{ 
        
        // if(this.fileRecordsForUpload.length == 1){
          // console.log("singleUpload");
        // let varfile=this.fileRecordsForUpload.map(()=>null)
            // console.log("varfile",varfile);
            
            // async function up(file,i){
              
              let formdata = new FormData()
              
              // -*-*-*--*-*-*-*-*-
                let queryString={}
                if (whichupload==="outjob") {
                  console.log('which-ok');
                 queryString = {
                  query: `
                    mutation singleoutUpload ($file: Upload, $outjobid:ID, $name:String) {
                      singleoutUpload (file: $file, outjobid: $outjobid,name:$name) {
                        res
                        filename
                      }
                    }
                  `,
                  variables: {
                    file: null,
                    outjobid:uval,
                    name:filetitle
                  },
                };
              }else{
                 queryString = {
                  query: `
                    mutation singleUpload ($file: Upload, $jobsid:ID) {
                      singleUpload (file: $file, jobsid: $jobsid) {
                        res
                        filename
                      }
                    }
                  `,
                  variables: {
                    file: null,
                    jobsid:uval
                  },
                };
              }
            
            formdata.append("operations", JSON.stringify(queryString));
            formdata.append("map", JSON.stringify({0: ["variables.file"]}));
            formdata.append("0", val.file);
        
          
           await this.$axios({
                    url: process.env.API,
                    method: 'POST',
                    data: formdata,
                    headers: { 
                      'Content-Type': 'multipart/form-data',
                      // 'Content-Type': 'application/json',
                      'X-Requested-With': 'XMLHttpRequest',
                    },
                    onUploadProgress :(progressEvent)=> {
                      // this.prog[i]=[]
                       this.overallProgress=(Math.round(progressEvent.loaded / progressEvent.total*100)/100  )
                      //  this.prog[i] = (this.overallProgress*100).toFixed()
                      this.$set(this.prog, i, (this.overallProgress*100).toFixed())
                        // Vue.set(vm.prog[i],'a',overallProgress)
                      //  console.log(vm.prog[i]);
                      // console.log("${i}-i"+i+" ",this.prog[i]);
                      // let progressLabel=(overallProgress * 100).toFixed() + '%'
                      
                      if (this.prog[i]>99) {
                        // vm.fileRecordsForUpload[i].shift()
                        // vm.fileRecordsForUpload.splice(2, 1);
                        
                        // delete vm.fileRecordsForUpload[i]
                        // delete vm.fileRecords[i]
                        // vm.fileRecords[i].shift()
                        
                        // this.progressLabel=0+'%'
                        console.log("progress Complete");
                      }
                      
                    }
                  })
                //   this.$axios.all([
                //   dep
                // ]).then(res=>{
                //   this.axiosdep=res
                //   console.log("res",res);
                // })
                  .then(data=>{
                    let filename=""
                    if (data.data.data.singleUpload!=undefined) {
                      console.log('single-undefined');
                       filename=data.data.data.singleUpload.filename
                    }else{
                      console.log('outsingle',data.data.data);
                       filename=data.data.data.singleoutUpload.filename
                    }
                    

                    console.log("tamam",filename);
                    console.log("filename",filename);
                    this.fileRecordsForUpload.forEach((val,i)=>{
                      console.log("each-*--*-",val.file.name);
                      if (val.file.name==filename) {
                        this.$q.notify({
                          position:"top",
                          type: 'positive',
                          message: `${filename} - Başarıyla kaydedildi`
                        })
                        this.$delete(this.fileRecordsForUpload, i)
                        this.$delete(this.fileRecords, i)
                      }
                    })
                    if(!this.fileRecords.length) {
                      this.prog=[]
                      this.$emit('alertmethod')}
                    // console.log("this.fileRecordsForUpload",this.fileRecordsForUpload);
                        // this.$delete(this.fileRecordsForUpload, i)
                        // this.$delete(this.fileRecords, i)
                        // this.fileRecordsForUpload.splice(0, i)
                        // this.fileRecords.splice(0, i)
                        // console.log("1-",this.fileRecordsForUpload);
                        // console.log("2-",this.fileRecords);
                    if (data.data.errors.length) {
                      
                    }
                  }).catch(err=>{
                    // vm.fileRecordsForUpload=[]
                    // vm.fileRecords=[]
                  })
        })
            // }
            
      }else{
        
        if (whichupload=='outjob') {
          console.log('Dosya Yok');
           this.$q.notify({
                  type: 'negative',
                  message: `Dosya Seçiniz`
              })
          
        }else{
          console.log('Dosya Var');
          this.$emit('alertmethod')
        }
      }
      }
    }
  }
</script>

<style lang="scss" scoped>



</style>