<template>
  <div>
        <div v-if="fileRecordsForUpload.length && fileRecords.length" >
          <div  v-for="(val,key) in prog" :key="key">
            <Progress  :class="prog.length-1!=key ? 'q-pb-xs':''" :percent.sync="(prog[key])" />
          </div>
        </div>
      
      <VueFileAgent
          ref="profilePicRef"
          :theme="''"
          :multiple="false"
          :deletable="true"
          :meta="true"
          :maxSize="'3000MB'"
          :maxFiles="14"
          :helpText="'Seç & Sürükle Bırak'"
          :errorText="{
            type: 'Invalid file type. Only images or zip Allowed',
            size: 'Files should not exceed 10MB in size',
          }"
          @select="filesSelected($event)"
          @beforedelete="onBeforeDelete($event)"
          @delete="fileDeleted($event)"
          v-model="fileRecords"
        >
        </VueFileAgent>
  </div>
</template>

<script>
import Vue from 'vue';
import VueFileAgent from 'vue-file-agent';
import Progress from './progress.vue';
import axios from 'axios'
// import {Loading} from 'quasar'
// import fs from 'fs'

import VueFileAgentStyles from 'vue-file-agent/dist/vue-file-agent.css';

// import VueResource from "vue-resource";

// Vue.use(VueResource);
Vue.use(VueFileAgent);

  export default {
    props:['ordernumber'],
    components: {Progress},
    data() {
      return {
        prog:[],
        // percent:0,
        // c:0,
        progressLabel:0.00+'%',
        overallProgress:0.00,
        axiosdep:[],
        file:"",
        tfile:"",
        fileRecords: [],
        uploadUrl: process.env.KURAPI+'upload',
        uploadHeaders: { 'X-Test-Header': 'vue-file-agent' },
        fileRecordsForUpload: [],
      }
    },
    watch: {
      prog: {
        immediate: true,
        handler(prog, oldVal) {
          // console.log('w-progres',prog)
        },
        deep: true
      },
     axiosdep(val) {
       console.log("axiosdep",val);
        // immediate = true
        // this.overallProgress=val.toFixed()
        // console.log("progress",val);
      },
      // deep:true
      
    },
    
    computed: {
    },
    mounted () {
      console.log("mounted");
    },
    methods: {
      deleteUploadedFile: function (fileRecord) {
        console.log("deleteUploadedFile");
        // Using the default uploader. You may use another uploader instead.
        this.$refs.vueFileAgent.deleteUpload(this.uploadUrl, this.uploadHeaders, fileRecord);
      },
      filesSelected: function (fileRecordsNewlySelected) {
        console.log("filesSelected",fileRecordsNewlySelected);
        var validFileRecords = fileRecordsNewlySelected.filter((fileRecord) => !fileRecord.error);
        this.fileRecordsForUpload = this.fileRecordsForUpload.concat(validFileRecords);
        // this.uploadFiles()
      },
      onBeforeDelete: function (fileRecord) {
        console.log("onBeforeDelete",fileRecord);
        var i = this.fileRecordsForUpload.indexOf(fileRecord);
        if (i !== -1) {
          this.fileRecordsForUpload.splice(i, 1);
        } else {
          // if (confirm('Are you sure you want to delete?')) {
            this.$refs.vueFileAgent.deleteFileRecord(fileRecord); // will trigger 'delete' event
            // this.fileDeleted(fileRecord)
          // }
        }
      },
      async fileDeleted (fileRecord) {
        console.log("fileDeleted",fileRecord);
        var i = this.fileRecordsForUpload.indexOf(fileRecord);
        if (i !== -1) {
          this.fileRecordsForUpload.splice(i, 1);
        } else {
          this.deleteUploadedFile(fileRecord);
        }
      },
      async preuploadFiles () {
      },
      async uploadFiles (uval,uval2) {
        // console.log('uval',uval);
        if (uval==null) {
          // this.$emit('warningmethod')
          this.$q.notify({
              position:"top",
              type: 'negative',
              message: `Dosya Seçilmedi`
            })
          return
        }
        let vm=this
        if (this.fileRecordsForUpload.length) 
        {
        await this.fileRecordsForUpload.map( async(val,i)=>{ 
            let formdata = new FormData()
            const queryString = {
              query: `
                mutation buyorderUpload ($file: Upload, $ordernumber:String) {
                  buyorderUpload (file: $file, ordernumber: $ordernumber) {
                    ordernumber
                  }
                }
              `,
              variables: {
                file: null,
                ordernumber:uval
              },
            };
            formdata.append("operations", JSON.stringify(queryString));
            formdata.append("map", JSON.stringify({0: ["variables.file"]}));
            formdata.append("0", val.file);
           await this.$axios({
                    url: process.env.API,
                    method: 'POST',
                    data: formdata,
                    headers: { 
                      'Content-Type': 'multipart/form-data',
                      // 'Content-Type': 'application/json',
                      'X-Requested-With': 'XMLHttpRequest',
                    },
                    onUploadProgress :(progressEvent)=> {
                      // this.prog[i]=[]
                       this.overallProgress=(Math.round(progressEvent.loaded / progressEvent.total*100)/100  )
                      this.$set(this.prog, i, (this.overallProgress*100).toFixed())
                      if (this.prog[i]>99) {
                        console.log("progress Complete");
                      }
                    }
                  })
                  .then(data=>{
                    console.log("tamam",data.data.data.buyorderUpload);
                    let ordernumber=data.data.data.buyorderUpload.ordernumber
                    // console.log("filename",filename);
                    this.fileRecordsForUpload.forEach((val,i)=>{
                      console.log("each-*--*-",val.file.name);
                      if (uval==ordernumber) {
                        this.$q.notify({
                          position:"top",
                          type: 'positive',
                          message: `${ordernumber} - Başarıyla kaydedildi`
                        })
                        this.$delete(this.fileRecordsForUpload, i)
                        this.$delete(this.fileRecords, i)
                      }
                    })
                    if(!this.fileRecords.length) {this.$emit('alertmethod')}
                    if (data.data.errors.length) {
                    }
                  }).catch(err=>{
                  })
        })
      }else{
        this.$emit('alertmethod')
      }
      }
    }
  }
</script>

<style lang="scss" scoped>



</style>