<template>
  <div :style="$q.screen.sm ? 'width:700px;max-width:90vw':'width:1200px;max-width: 100vw;'">
    <q-card  >
      <q-card-section class="row ">
                  <div class=" col-1 text-left text-h6 ">Onay</div>
                  <div style="text-decoration:  overline" class=" col self-center text-center text-grey-7 text-weight-bold  text-h5" >||&nbsp;&nbsp;{{oldstate}}&nbsp;&nbsp;||</div>
                   
                  <!-- <q-space /> -->
                  <div class="col-1 text-right"><q-btn  icon="close" @click="checkjobdialog=false" flat round dense v-close-popup /></div>
                  
      </q-card-section>
      <q-separator />
      <q-card-section class="row ">
            <div class="text-caption " >
               <!-- <q-item-label>Aktif İşlem </q-item-label> -->
               Verilen Hizmet Süresi: {{time}} Saat
               <q-item-label class="underline" >Numara: {{jobmodel.jobsid}} <q-tooltip color="red" floating>{{jobmodel.description}}</q-tooltip></q-item-label>
               <q-item-label v-if="jobmodel.company">Firma: {{jobmodel.company.name}}</q-item-label>

               </div>
            <div>
            
            </div>
                  
            <div class="row col-8 text-center" v-if="balancecountAlert != ''">
              <div class="col-12 text-h6  " >
                <q-spinner-dots color="red" size="2em" />
                KALAN -  {{balanceproductnameAlert}}: <span class="text-red-7">{{balancecountAlert}}</span> </div>
            </div>
            
            <q-space />
            <div>
              <div class="text-caption text-green"> EURO Alış_: {{dovizkur.eurobuy}}</div>
            <div class="text-caption text-right text-red">EURO Satış: {{dovizkur.eurosell}}</div>
            </div>
            <q-separator vertical class="q-ml-md q-mr-md"/>
            <div>
              <div class="text-caption text-green "> USD Alış_: {{dovizkur.usdbuy}}</div>
            <div class="text-caption text-right text-red">USD Satış: {{dovizkur.usdsell}}</div>
            </div>

      </q-card-section>
          <q-separator class="q-mb-md" />
          <q-item class="q-pt-none q-mt-none">
            <q-item-label header>Stok / Hizmet İşlemleri</q-item-label>
          </q-item>
          <div v-for="(val,key) in jobrowlist" :key="key" >
            <div  class="row col-12 q-pl-md q-pr-md q-mb-xs  q-gutter-x-xs" v-if="editkey===key" >
              <q-select  class=" col-xs-12 col-md-2"  label="Stok" label-slot outlined dense
              v-model="jobrowlist[key].product"
              :options="productoptions"
              option-value="productid"
              option-label="name"
              />
              <q-select  class=" col-xs-12 col-md-3"  label="Seri No" label-slot outlined dense use-input
              v-model="jobrowlist[key].product"
              :options="editserinooptions"
              @filter="editserinofilter"
              option-value="productid"
              option-label="serino"
              />
              <!-- <q-input label="Birim"  class=" col-xs-12 col-md-1"  v-model="jobrowlist[key].pieceunit" outlined dense  /> -->
              <q-input label="Miktar" class=" col-xs-12 col-md-1" @keypress="$numberandot($event)" @input="edittotal(key)"  v-model="jobrowlist[key].piece" outlined dense />
              <q-input label="Döviz" class=" col-xs-12 col-md-1"  v-model="jobrowlist[key].currencyunit" outlined dense />
              <q-input label="Birim Fiyat" class=" col-xs-12 col-md-1" @keypress="$numberandot($event)" @input="edittotal(key)"  v-model="jobrowlist[key].unitprice" outlined dense />
              <q-input label="Kur" class=" col-xs-12 col-md-1"  v-model="jobrowlist[key].currency" outlined dense />
              <q-input label="Tutar" class=" col-xs-12 col-md-1" @keypress="$numberandot($event)"  v-model="jobrowlist[key].amount" outlined dense />
              <q-btn class="col " style="height: 40px;" @click=" updatejobrowmethod(val,key), rowseditdialog=true " size="sm" icon="mdi-check" flat :ripple="false"/>
              <q-btn class="col  " style="height: 40px;" @click="deletejobrow(val.jobsrowid,val.productid, val.pieceunit,val.piece), rowseditdialog=true" size="sm"  icon="mdi-minus" flat :ripple="false"/>
              <q-btn class="col  " style="height: 40px;" @click="updateActions(), editkey =''" size="sm"  icon="mdi-cancel" flat :ripple="false"/>
              <!-- {{jobrowlist[key]}}  -->
              
            </div>
            <div class="row col-12 q-pl-md q-pr-md q-mb-xs q-gutter-x-xs" v-else >
              <q-item-label style="font-size:16px;margin-left:10px;min-width:30px" class=" self-center  text-grey-8" >{{key+1}} - </q-item-label>
              <q-input  class=" col-xs-12 col-md-3" v-model="jobrowlist[key].product.name" label="Stok" label-slot outlined dense readonly/>
              <q-input  class=" col" v-model="jobrowlist[key].product.serino" label="Seri No" label-slot outlined dense readonly/>
              <!-- <q-input label="Birim"  class=" col-xs-12 col-md-1"  v-model="jobrowlist[key].pieceunit" outlined dense readonly /> -->
              <q-input label="Miktar" class=" col-xs-12 col-md-1"   v-model="jobrowlist[key].piece" outlined dense readonly/>
              <q-input label="Döviz" class=" col-xs-12 col-md-1"  v-model="jobrowlist[key].currencyunit" outlined dense readonly/>
              <q-input label="Birim Fiyat" class=" col-xs-12 col-md-1"  v-model="jobrowlist[key].unitprice" outlined dense readonly>
                <q-tooltip v-if="val.product.buyingprice">
                  <div class="toolsize text-center">
                    <span>Alış Fiyatı </span><br><span>{{jobrowlist[key].product.buyingprice}} - ( {{jobrowlist[key].product.priceunitmodel}} )</span> 
                  </div>
                </q-tooltip>
              </q-input>
              <q-input label="Kur" class=" col-xs-12 col-md-1"  v-model="jobrowlist[key].currency" outlined dense readonly>
                <q-tooltip v-if="val.product.buyingexchange">
                  <div class="toolsize text-center">
                    <span>Alış Kuru </span><br><span>{{jobrowlist[key].product.buyingexchange}} - ( {{jobrowlist[key].product.priceunitmodel}} )</span> 
                  </div>
                </q-tooltip>
              </q-input>
              <q-input label="Tutar" class=" col-xs-12 col-md-1"  v-model="jobrowlist[key].amount" outlined dense readonly />
              <q-btn class="col-xs-12 col-md-1 " @click="editkey=key, rowseditdialog=true, rowsmodelProductid=val.productid, oldpiece=jobrowlist[key].piece" icon="mdi-pencil" flat :ripple="false"/>
              
              
            </div>
            <div v-if="jobrowlist.length" class="row justify-center">
              <div v-if="key==jobrowlist.length-1" class="col-11 q-py-md q-mr-xl">
                <!-- <q-separator inset class=" " /> -->
                <q-separator inset class="q-mt-xs" />
              </div>
            </div>
          </div>
          <div class="row col-12 q-pl-md q-pr-md q-pb-md  q-gutter-x-xs">
            <q-select
              class=" col-xs-12 col-md-3"
              v-model="rowsmodelName"
              :options="productoptions"
              @filter="productfilter"
              use-input label-slot outlined dense
              input-debounce="0"
              option-value="productid"
              option-label="name"
              @input="selname(rowsmodelName,'name')"
             >
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class="text-grey">
                    Kayıt Yok
                  </q-item-section>
                </q-item>
              </template>
              <template v-slot:before>
                <q-btn round dense flat icon="mdi-plus" @click="addproductdialog=true" />
              </template>
              <template v-slot:label>
                <strong class="text-deep-orange">Stok</strong> Listesinden <em class="q-px-sm bg-deep-orange text-white rounded-borders">Seçilebilir</em>
              </template>
            </q-select>
            <q-select class=" col" use-input label-slot outlined dense label="Seri No"
            v-model="rowsmodelSerino"
            :options="serinooptions"
            @filter="serinofilter"
            input-debounce="0"
            option-value="productid"
            option-label="serino"
            @input="selserino(rowsmodelSerino,'serino')"
            >
            <template v-slot:no-option>
              <q-item>
                <q-item-section class="text-grey">
                  Kayıt Yok
                </q-item-section>
              </q-item>
            </template>
              <template v-slot:label>
                <strong class="text-deep-orange">Seri</strong> No <em class=" q-px-sm bg-deep-orange text-white rounded-borders">Seçilebilir</em>
              </template>
            </q-select>
            <!-- <q-select class=" col-xs-12 col-md-1"  label="Birim"  outlined dense
            :options="pieceunitoptions" v-model="rowsmodelPieceunit"
            /> -->
            <q-input  class=" col-xs-12 col-md-1" label="Miktar"  @keypress="$numberandot($event)" v-model="rowsmodelPiece" outlined dense/>
            <q-select  class=" col-xs-12 col-md-1" label="Döviz" outlined dense v-model="rowsmodelCurrencyunit" :options="currencyunitoptions"/>
            <q-input  class=" col-xs-12 col-md-1" label="Birim Fiyat" @keypress="$numberandot($event)"   outlined dense v-model="rowsmodelUnitprice"/>
            <q-input  class=" col-xs-12 col-md-1 " label="Kur"  v-model="rowsmodelCurrency"   outlined dense/>
            <q-input class=" col-xs-12 col-md-1" label="Tutar" @keypress="$numberandot($event)"  v-model="rowsmodelAmount"   outlined dense readonly/>
            <q-btn class="col-xs-12 col-md-1 " style="height: 40px;" @click="createjobsrow()" icon="mdi-check" dense flat></q-btn>
            </div>
            <div class="q-pl-lg q-pr-lg">
              <q-separator  class=" " />
              <q-separator  class="q-mt-xs" />
            </div>
            <!-- <q-separator  class=" " style="margin-right:7.0%;margin-left:2.0%"/>
            <q-separator  class="q-mt-xs " style="margin-right:7.0%;margin-left:2.0%"/> -->
            <!-- <div class="row col-8 q-pl-md q-pr-md " >
              <div class=" text-h6 "></div>
              <q-space />
              <q-separator color="red" class="col-xs-12 col-md-4 " style="margin-right:5.9%"/>

            </div> -->
            <q-card-section class="row col-12 q-pl-md q-pr-md q-pb-md"   >
              <div class=" text-h6 "></div>
              <q-space />
              <q-input v-model="buyingamount" class="col-md-1 col-lg-1 col-xs-3" style="margin-right:0.3%"  label="Alış Tutar" outlined dense readonly/>
              <q-input v-model="amount" class="col-md-1 col-lg-1 col-xs-3" style="margin-right:1%"  label="Satış Tutar" outlined dense readonly/>
              <q-item-label class=" self-center" style="margin-right:1%"> = </q-item-label>
              <q-input v-model="profit" class="col-md-1 col-lg-1 col-xs-3" style="margin-right:8.9%"  label="Kar" outlined dense readonly/>


            </q-card-section>
            <q-separator />
            <!-- Çözüm İşlemleri -->
            <q-item class="q-py-none">
                <q-item-label header>Çözüm İşlemleri</q-item-label>
              </q-item>
            <!-- <q-separator v-if="jobmodel.outjobs.length"/> -->
            <div>
              <!-- FIXME: -->
              

              <div class="q-pt-xs q-pr-xs"  v-for="(vala,keya) in jobmodel.outjobs" :key="keya"  >
                
              <div class="row col-12 q-pl-xl  q-pr-md q-pb-xs  q-gutter-x-xs" v-if="editoutjobskey===keya">
                <q-select
                v-if="jobmodel.outjobs[keya].company==null ? jobmodel.outjobs[keya].company=='':jobmodel.outjobs[keya].company"
                label="Firma Adı"
                class="col-xs-12 col-md-3"
                :options="outjoboptions"
                v-model="jobmodel.outjobs[keya].company"
                option-value="companyid"
                option-label="name"
                :display-value ="`${jobmodel.outjobs[keya].company.name}`"
                @filter="outjobfilter"
                use-input
                outlined dense />
                <q-select
                class=" col-xs-12 col-md-2"
                v-model="jobmodel.outjobs[keya].outjobstate"
                :options="outjobstateoptions"
                label="Durum"
                outlined
                dense
                />
                
                <q-input class=" col-xs-12 col-md-3"  label="Note" v-model="jobmodel.outjobs[keya].note" dense outlined>
                  <q-tooltip v-if="jobmodel.outjobs[keya].note!=''" class="bg-indigo"  max-width='450px' :offset="[10, 10]">
                    <div class="toolsize">{{jobmodel.outjobs[keya].note}}</div>
                  </q-tooltip>
                </q-input>
                <q-input v-model="editoutjobsdate.createdAt" label="Çıkış Tarihi"   readonly dense outlined />
                <!-- <q-input v-if="" v-model="editoutjobsdate.updatedAt" label="Giriş Tarihi"   readonly dense outlined /> -->
                <!-- FIXME: note -->
                <q-btn class="col " @click="updateoutjobsmethod(vala,keya)" size="sm"  icon="mdi-check" flat :ripple="false"/>
                <!-- <q-btn class="col  "  size="sm"  icon="mdi-minus" flat :ripple="false"/> -->
                <q-btn class="col  " @click="canceloutjobsmethod(), editoutjobskey =''" size="sm"  icon="mdi-cancel" flat :ripple="false"/>
              </div>
              <div  class="row col-12 q-pl-xl  q-pr-md q-pb-xs  q-gutter-x-xs" v-else>
                <q-item-label style="font-size:16px;margin-left:10px;min-width:30px" class=" self-center  text-grey-8" >{{keya+1}} - </q-item-label>
                
                <q-input class="col-xs-12 col-md-3" v-if="jobmodel.outjobs[keya].company==null ? jobmodel.outjobs[keya].company=='':jobmodel.outjobs[keya].company" v-model="jobmodel.outjobs[keya].company.name" label="Firma Adı" outlined readonly dense>

                </q-input>
                <q-input class="col-xs-12 col-md-1" v-model="jobmodel.outjobs[keya].outjobstate" label="Durum" outlined readonly dense>

                </q-input>
                <q-input class="col-xs-12 col-md " v-model="jobmodel.outjobs[keya].note" label="Not" outlined readonly  dense>
                  <q-tooltip  class="bg-indigo"  max-width='450px' :offset="[10, 10]">
                      <div class="toolsize">{{jobmodel.outjobs[keya].note}}</div>
                  </q-tooltip>
                </q-input>
                <!-- <q-input dense outlined readonly label="Çıkış Tarihi" v-model="moment(jobmodel.outjobs[keya].createdAt)" ></q-input> -->
                <q-input class="col-xs-12 col-md-2 " v-model="jobmodel.outjobs[keya].user.email" label=" Ekleyen"  outlined readonly dense />
                <q-input class="col-xs-12 col-md-2 " v-model="outjobsdate[keya].createdAt" label=" Tarih"  outlined readonly dense />

                <q-btn  icon="upload" @click="outjobid=vala.outjobid, outjobarray(vala), outuploaddialog=true" class="text-grey-7" flat>
                  <q-badge color="red" floating>{{vala.uploads.length}}</q-badge>
                  <q-tooltip>Dosya Ekle</q-tooltip>
                </q-btn>
                      
                <q-btn v-if="ostate==true" class="col-1 "   icon="mdi-pencil" @click="editoutjobsmethod(vala),editoutjobskey=keya" dense flat></q-btn>
              </div>
              <div v-if="jobmodel.outjobs" class="row justify-center">
              <div v-if="keya==jobmodel.outjobs.length-1" class="col-11 q-py-md ">
                <!-- <q-separator inset class=" " /> -->
                <q-separator inset class="q-mt-xs" />
              </div>
            </div>
              </div>
              <div  class="row col-12 q-pl-xl q-pb-md q-pr-md  q-gutter-x-xs">
                
                <q-select
                  class=" col-xs-12 col-md-3 q-ml-xs"
                  v-model="outjobcompanyid"
                  :options="outjoboptions"
                  @filter="outjobfilter"
                  use-input label-slot outlined dense
                  input-debounce="0"
                  option-value="companyid"
                  option-label="name"
                  label="Firma Adı"
              >
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class="text-grey">
                    Kayıt Yok
                  </q-item-section>
                </q-item>
              </template>
              <template v-slot:before>
                <q-btn round dense flat icon="mdi-plus" @click="addcompanydialog=true" />
              </template>
              <!-- <template v-slot:label>
                <strong class="text-deep-orange">Stok</strong> Listesinden <em class="q-px-sm bg-deep-orange text-white rounded-borders">Seçilebilir</em>
              </template> -->
                </q-select>
                <q-select
                class=" col-xs-12 col-md-1"
                v-model="outjobstatemodel"
                :options="getextrajobstate"
                option-value="extrajobstateid"
                option-label="name"
               
                @input="deneme()"
                label="Durum"
                outlined
                dense
                >

                </q-select>
                <q-input class=" col-xs-12 col-md"  label="Note" v-model="outjobnote" dense outlined>
                  <q-tooltip v-if="outjobnote!=''" class="bg-indigo"  max-width='450px' :offset="[10, 10]">
                    {{outjobnote}}<div class="toolsize">{{outjobnote}}</div>
                  </q-tooltip>
                </q-input>
                <!-- FIXME: note -->
                <q-btn class="col-1" @click="outcheckmethod()"  icon="mdi-check" dense flat></q-btn>
              </div>
              <div v-if=" ostate==false" class="q-pt-md"></div>
            </div>
            <q-separator />
            
            <q-select
              v-if="stateoptions.length > 0"
              class="row col-2 q-pt-md q-pl-md q-pr-md"
              label="Durum"
              v-model="state"
              :options="stateoptions"
              outlined
              dense
            />
            <q-select
            v-if="state=='Transfer'"
              class="row col-2 q-pa-md"
              label="Transfer Edilen"
              v-model="transferuserid"
              :options="getadminUsers"
              option-value="userid"
              option-label="email"
              outlined
              dense
            />
            <form
              autocorrect="off"
              autocapitalize="off"
              autocomplete="off"
              spellcheck="false"
              class=""
            >
            <!-- FIXME:note -->
            <q-editor style="margin:15px" class="col " v-model="checknote" ref="editor" @input="edit=true"
            :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana'
            }" 
            :toolbar="[ 
              ['left', 'center', 'right', 'justify'],
              ['bold', 'italic', 'strike', 'underline'],
              ['token'], 
              [
          {
            label: $q.lang.editor.formatting,
            icon: $q.iconSet.editor.formatting,
            list: 'no-icons',
            options: [
              'p',
              'h1',
              'h2',
              'h3',
              'h4',
              'h5',
              'h6',
              'code'
            ]
          },
          {
            label: $q.lang.editor.defaultFont,
            icon: $q.iconSet.editor.font,
            fixedIcon: true,
            list: 'no-icons',
            options: [
              'default_font',
              'arial',
              'arial_black',
              'comic_sans',
              'courier_new',
              'impact',
              'lucida_grande',
              'times_new_roman',
              'verdana'
            ]
          },
          'removeFormat'
        ],
        ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

        ['undo', 'redo'],
        ['viewsource']
            ]"
            >
              <template v-slot:token>
                <q-btn-dropdown dense no-caps ref="token" no-wrap unelevated color="white" text-color="primary" label="Text Color" size="sm">
                  <q-list dense>
                    <q-item tag="label" clickable @click="color('backColor', highlight)">
                      <q-item-section side>
                        <q-icon name="highlight" />
                      </q-item-section>
                      <q-item-section>
                        <q-color v-model="highlight" default-view="palette" no-header no-footer :palette="['#ffccccaa', '#ffe6ccaa', '#ffffccaa', '#ccffccaa','#ccffe6aa', '#ccffffaa', '#cce6ffaa', '#ccccffaa', '#e6ccffaa', '#ffccffaa', '#ff0000aa', '#ff8000aa', '#ffff00aa', '#00ff00aa', '#00ff80aa', '#00ffffaa', '#0080ffaa', '#0000ffaa', '#8000ffaa', '#ff00ffaa'
                        ]" class="my-picker" />
                      </q-item-section>
                    </q-item>
                    <q-item tag="label" clickable @click="color('foreColor', foreColor)">
                      <q-item-section side>
                        <q-icon name="format_paint" />
                      </q-item-section>
                      <q-item-section>
                        <q-color v-model="foreColor" no-header no-footer default-view="palette" :palette="['#ff0000', '#ff8000', '#ffff00', '#00ff00', '#00ff80', '#00ffff', '#0080ff', '#0000ff', '#8000ff', '#ff00ff']" class="my-picker" />
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-btn-dropdown>
              </template>
            </q-editor>
          </form>
          <div class="q-ma-md q-pb-md text-right">

              <q-btn v-if="edit" class="q-ma-md bg-green text-white" label="Not Güncelle" @click="jobsupdate()" />
              <q-btn v-else-if="state!=''" class="q-mr-xs bg-green text-white" label="Kaydet" @click="jobscreate()" />
              <q-btn class=""    label="Kapat" @click="$emit('checkjobdialog')" />
          </div>
        </q-card>
        <q-dialog v-model="addproductdialog"  position="top" persistent>
          <q-card :style="$q.screen.sm ? 'width:700px;max-width:90vw':'width:1200px;max-width: 100vw;'">
            <q-card-section class="row justify-center">
                  <div class="text-h6 ">Ürün Ekle</div>
                  <q-space />
                  <q-btn icon="close" @click="addproductdialog=false" flat round dense v-close-popup />
          </q-card-section>
          <q-separator />
            <Productadd/>
          </q-card>

        </q-dialog>
        <q-dialog v-model="addcompanydialog"  position="top" persistent>
          <q-card :style="$q.screen.sm ? 'width:700px;max-width:90vw':'width:1200px;max-width: 100vw;'">
            <q-card-section class="row justify-center">
                  <div class="text-h6 ">Firma Ekle</div>
                  <q-space />
                  <q-btn icon="close" @click="addcompanydialog=false" flat round dense v-close-popup />
          </q-card-section>
          <q-separator />
          <Companyadd/>
          </q-card>
        </q-dialog>
        <q-dialog v-model="outuploaddialog"  position="top" persistent>
          <q-card :style="$q.screen.sm ? 'width:700px;max-width:90vw':'width:1200px;max-width: 100vw;'">
            <q-card-section class="row justify-center">
                  <div class="text-h6 ">Dosya Ekle</div>
                  <q-space />
                  <q-btn icon="close" @click="outuploaddialog=false" flat round dense v-close-popup />
          </q-card-section>
          <q-separator />
          <div class="q-pa-md justify-center row">
            <q-input v-model="outjobmodelname" class="col-8"  label="Dosya Açıklaması" outlined/>
          </div>
          <div class="q-pa-lg row justify-center">
            <drop class="col-xs-12" ref="dropclick" :theme="theme"  @alertmethod="dropzonecallback()"/>
            <q-btn class="q-mt-md col-12" color="grey-7" icon="cloud_upload" label="Yükle" @click="uploadoutjob()" flat/>
          </div>
          <q-separator/>
          
          <div class="q-pb-xs"  v-if="jobmodel.outjobs.length > 0">
            <div class=" q-px-md q-py-xs q-gutter-y-xs"  v-for="(val,key) in jobmodel.outjobs" :key="key">
              
              <div  v-for="(vala,key) in val.uploads" :key="key">
                <!-- {{vala}} -->
                <!-- TODO: -->
               <div class=""  v-if="vala.outjobid===outjobid">
                  <div v-if="key===0" class="  q-py-md text-h6 "> Dosya Listesi </div>
                  <div class=" row">
                  <div class="col-11">
                  <q-list class=" " bordered>
                    <q-item @click="fileopen(vala.path)" clickable v-ripple>
                      <q-item-section>{{vala.name}}</q-item-section>
                      <q-item-section avatar>
                        <q-icon color="primary" name="download" />
                      </q-item-section>
                    </q-item>
                    
                  </q-list>
                  </div>
                  <div class="col text-center self-center">
                  <q-btn color="grey-7" @click="deleteoutjobfile(vala.path)"  flat dense round icon="delete" />
                  </div>
                  </div>
                  <!-- <q-separator/> -->
                </div>
                
              </div>
              
              </div>
              </div>
              <div v-if="!outjobsay"  class="q-pb-md text-center ">
                  <q-item-label >Eklenmiş Dosya Yok</q-item-label>
              </div>
          <q-separator/>
          <div class="q-pa-md text-right q-gutter-x-md">
            <q-btn label="Kapat" @click="outuploaddialog=false" />
          </div>
          </q-card>
        </q-dialog>

  </div>
</template>

<script>
import Vue from "vue";
import {mapState,mapGetters} from 'vuex';
import axios from "axios";
import { Screen } from 'quasar';
import _ from "lodash";
import FileSaver from 'file-saver'
import drop from "./dropzone.vue"
import  Productadd   from '../pages/admin/products.vue';
import { Loading } from "quasar";
import  Companyadd   from '../pages/admin/Company.vue';
import moment from 'moment'
moment.locale('tr')
  export default {
    components: {
      Productadd,
      Companyadd,
      drop
    },
    props:
      ['propjobsid','stateoptions','jstate','ostate']
    ,
    data() {
      return {
        foreColor: '#000000',
        highlight: '#ffff00aa',
        //
        outjobsay:false,
        theme:"",
        outjobmodelname:"",
        
        //
        outuploaddialog:false,
        oldstate:"",
        oldpiece:"",
        newpiece:"",
        //
        outjobid:"",
        outjobnote:"",
        outjoboptions:[],
        outjobcompanyid:"",
        outjobstatemodel:"",
        outjobstate:"",
        outjobstateoptions:['Çıkış','Giriş'],
        outjobsdate:[],
        editoutjobsdate:[],
        editoutjobskey:'',
        //
        time:0,
        jobmodel:{outjobs:[]},
        jrid:"",
        edit:false,
        rowseditdialog:false,
        addproductdialog:false,
        addcompanydialog:false,
        // -*-*-*-*
        jobrowlist:[{
          amount: "",
          currency: "",
          currencyunit: "",
          jobsid: "",
          jobsrowid: "",
          piece: "",
          pieceunit: "",
          product: {},
          productid:"",
          unitprice: "",
        }],
        editkey:'',
        dovizkur:{},
        state:"",
        statepage:"",
        transferuserid:"",
        // -*-*-*-*-*
        productoptions:[],
        serinooptions:[],
        editproductoptions:[],
        editserinooptions:[],
        pieceunitoptions:['ADET','KG', 'SAAT'],
        currencyunitoptions:['USD','EURO','TL'],
        pieceunitmodel:'ADET',
        currencyunitmodel:'USD',
        rowsmodel:"",
        groupallproducts:[],
        // -*-*-*-*-*-*-*-*-**-
        rowsmodelProductid:"",
        rowsmodelName:"",
        rowsmodelSerino:"",
        rowsmodelPieceunit:"ADET",
        rowsmodelPiece: "1.00",
        rowsmodelCurrencyunit:"USD",
        rowsmodelUnitprice: "0.00",
        rowsmodelCurrency: "1.0000",
        rowsmodelAmount: "0.00",
        rowsmodelbuyingAmount:"0.00",
        amount:"0.00",
        buyingamount:"0.00",
        profit:"0.00",
        // -*-*-*-*-*-*-*-*
        checknote:"",
        balancecountAlert:"",
        balanceproductnameAlert:"",
        outjobsdispatchendstate:false
      }
      
    },
    async mounted () {
       await this.mount()
       console.log('this.jobmodel',this.jobmodel);
    },
    watch: {
      outjobstatemodel:{
        handler(val){
          // console.log('val.name',val.name);
          this.outjobstate=val.name
        }
        // console.log('val.name',val.name);
        // this.outjobstate=val.name
      },
      getalljobs:{
        // console.log(val);
        handler(val){
          if (this.outjobdispatchendstate==true) {
            console.log('watch run');
            this.mount()
            this.outjobsdispatchendstate=false
          }else{

          }
        },
        deep:true,
      },
      getendjobs:{
        // console.log(val);
        handler(val){
          this.mount()
        },
        deep:true,
      },
      rowsmodelCurrencyunit(val){
        if(val=='TL'){
          this.rowsmodelCurrency="1"
        }
      },
      rowsmodelPiece(val){
        // console.log("rowsmodelPiece");
        // s.replace(/,/g, '.')
        this.rowsmodelPiece=this.rowsmodelPiece.replace(/,/g, '.')
        this.rowsmodelAmount=Number(val).toFixed(2)*Number(this.rowsmodelUnitprice).toFixed(4)
        this.rowsmodelAmount=Number(this.rowsmodelAmount).toFixed(2)
      },
      rowsmodelUnitprice(val){
        // console.log("rowsmodelUnitprice");
        this.rowsmodelAmount=Number(val).toFixed(2)*Number(this.rowsmodelPiece).toFixed(2)
        this.rowsmodelAmount=Number(this.rowsmodelAmount).toFixed(2)
      },
      rowsmodelAmount:{
        immediate:true,
        deep:true,
        handler(val){
          console.log("rowsmodelAmount",val);
        this.amount = 0
        this.jobrowlist.forEach( vall=>{
            this.amount = Number(this.amount) + Number(vall.amount)
        })
        this.amount=Number(this.amount)+Number(val)
        this.amount=this.amount.toFixed(2)
          
          
        }
        
      },
      
      rowsmodelProductid(val){
        this.jobmodel.company.contracts.forEach((vala,ia)=>{
          vala.contractrows.forEach((valb,ib)=>{
            if (valb.productid==val) {
              console.log('val',val);
              this.balancecountAlert=valb.balancecount
              this.balanceproductnameAlert=this.rowsmodelSerino.serino

              setTimeout(() => {
                this.balancecountAlert=""
                this.balanceproductnameAlert=""
              }, 7000);

              // return
            }
          })
        })
      },
      state(val){
        if (val!='Transfer') {
          this.transferuserid=""
          // console.log(this.transferuserid);
        }
      },
      jobrowlist(val){
        // console.log('jobrowlist',val);
        this.buyingamount = '0.00'
        this.jobrowlist.forEach( vall=>{
            // console.log('vall',vall);
            if (vall.product.buyingprice===null) {
              vall.product.buyingprice=0
            }
            (this.buyingamount) = (parseFloat(this.buyingamount) + parseFloat(vall.product.buyingprice)*vall.piece).toFixed(2)
          })
        console.log('buyingamount',this.buyingamount);
        this.profit=(this.amount - this.buyingamount).toFixed(2)
        console.log('this.profit',this.profit);
      },
      jobmodel:{
        // if (val.outjobs.length) {
        //   this.momentdate(val)
        // }
        // this.oldstate = val.jobstate.filter(val=>val.active==true)[0].state
        // immediate: true,
          handler(val) {
            // console.log('jobrows-jobmodel',val);
            if (val) {
              this.momentdate(val)
            }
            // console.log('watch-jobmodel',val);
            // this.oldstate = val.jobstate.filter(val=>val.active)[0].state
        },
        deep: true
      },
    },
    computed: {
      ...mapGetters([
        'get_userdetail',
        'getendjobs',
        'getallfilterProducts',
        'getadminUsers',
        'getalljobs',
        'getdepartmentsjobs',
        'getallCompany',
        'getextrajobstate'
      ]),
    },
    methods: {

      async mount(){

        console.log('mount-stateoptions',this.stateoptions.length);

      if(this.stateoptions.length==1){
        console.log('mount-stateoptions-true',this.stateoptions.length);
        this.jobmodel= this.getendjobs.filter((v)=>v.jobsid==this.propjobsid)[0];
        // console.log('this.jobmodel----',this.jobmodel);

      }else{
        console.log('mount-stateoptions-false',this.stateoptions.length);
        this.jobmodel= this.getalljobs.filter((v)=>v.jobsid==this.propjobsid)[0];
      }
      
      this.oldstate = this.jobmodel.jobstate.filter(val=>val.active)[0].state
      // console.log("this.jobmodel",this.jobmodel);
      await this.doviz()
      await this.replaceamount()
      let a=this.jobmodel
      // .jobstate.filter((val)=>val.state=='Onaylandı')

      // if(a.length > 0) this.edit=true
      // if (this.edit) {
      //   this.jrid=a[0]
      //   this.checknote=a[0].note
      // }
      this.jobmodel.jobstate.filter(val=>{
        if (val.active) {
          this.jrid=val.jobstateid
          this.statepage=val.state
          if(val.note)  this.checknote=val.note
        }
      })
      let ms=moment().diff(moment(this.jobmodel.createdAt))

      if(this.jobmodel.time != null){
        this.time=this.jobmodel.time
      }else{
        // console.log("time else",this.jobmodel);
        this.time=this.setendjobstime(ms)
      }
        // console.log('this.time',this.time);
      // console.log("jobmodel-jobsrow-mount",this.jobmodel);
      },
      async momentdate(val){
        this.outjobsdate=val.outjobs.map((vala,keya)=>({
          createdAt:moment(vala.createdAt).format('DD/MM/YYYY HH:mm'),
          updatedAt:moment(vala.updatedAt).format('DD/MM/YYYY HH:mm'),
        })
        )
        // await val.outjobs.forEach(async (vala,keya)=>{

        //   let obj={}
        //   obj={
        //     createdAt: moment(vala.createdAt).format('DD/MM/YYYY HH:mm'),
        //     updatedAt: moment(vala.updatedAt).format('DD/MM/YYYY HH:mm')
        //   }
        //   this.outjobsdate.push(obj)

        // })
      },
      async editoutjobsmethod(val){
        // console.log("editoutjobsmethod",val);
        this.editoutjobsdate.createdAt=moment(val.createdAt).format('DD-MM-YYYY HH:mm')
        this.editoutjobsdate.updatedAt=moment(val.updatedAt).format('DD-MM-YYYY HH:mm')

      },
      async updateoutjobsmethod(val,key){
        let com=""
        console.log('burda',val.company);
        if ( val.note == '' ) {
          this.$q.notify({
                    type: 'negative',
                    message: `Hatalı Seçim`
                })
          return
        }
        if (val.company==null) {
          console.log('burda2')
          com=null
        }else{
          com=val.company.companyid
        }
        Loading.show()
        await axios.post(
            process.env.API, {
              query: `mutation updateOutjob($jobsid:ID, $outjobid:ID,$companyid:ID, $outjobstate:String, $note:String){
                   updateOutjob(jobsid:$jobsid, outjobid:$outjobid,  companyid:$companyid, outjobstate:$outjobstate, note:$note){
                    jobsid
                    }
                    }`,
                    variables:{
                      jobsid:val.jobsid,
                      outjobid:val.outjobid,
                      companyid:com,
                      outjobstate:val.outjobstate,
                      note:val.note
                    }
            }).then(async data => {
              // console.log(data.data.data.acceptjobs);
              // await this.$store.dispatch("departmentsjobs",this.get_userdetail);
              // this.transferjobdialog=false
              // this.$emit('checkjobdialog')
              this.outjobcompanyid=""
              this.editoutjobskey=''
              if (this.stateoptions.length==1) {
                await this.$store.dispatch("endjobs")
              }else{
                await this.$store.dispatch("alljobsAction")
              }
              await this.mount()
              this.$q.notify({
                    type: 'positive',
                    message: `Başarılı`
                })
                Loading.hide()
            })
      },
      async canceloutjobsmethod(val,key){
        if (this.stateoptions.length==1) {
                await this.$store.dispatch("endjobs")
              }else{
                await this.$store.dispatch("alljobsAction")
              }
              await this.mount()
      },
      async outcheckmethod(){
        console.log('outcheckmethod-stateoptions',this.stateoptions.length);
        // console.log("userid",this.get_userdetail.userid);
        // console.log("jobsid",this.jobmodel.jobsid);
        // console.log("companyid",this.outjobcompanyid.companyid);
        // console.log("outjobstate",this.outjobstate);
        // console.log("note",this.outjobnote);
        // return
        // if (this.outjobcompanyid=='' || this.outjobnote == '' ) {
        if ( this.outjobnote == '' ) {
          this.$q.notify({
                    type: 'negative',
                    message: `Hatalı Seçim`
                })
          return
        }
        
        Loading.show()
        // if (this.outjobcompanyid=="") {
        //   this.outjobcompanyid.companyid=null
        // }
        await axios.post(
            process.env.API, {
              query: `mutation createOutjob($userid:ID, $jobsid:ID, $companyid:ID, $outjobstate:String, $note:String){
                   createOutjob(userid:$userid, jobsid:$jobsid, companyid:$companyid, outjobstate:$outjobstate, note:$note){
                    jobsid
                    }
                    }`,
                    variables:{
                      userid:this.get_userdetail.userid,
                      jobsid:this.jobmodel.jobsid,
                      companyid:this.outjobcompanyid.companyid,
                      outjobstate:this.outjobstate,
                      note:this.outjobnote
                    }
            }).then(async data => {
              // console.log(data.data.data.acceptjobs);
              // await this.$store.dispatch("departmentsjobs",this.get_userdetail);
              // this.transferjobdialog=false
              // this.$emit('checkjobdialog')
              this.outjobcompanyid=""
              this.outjobnote=""
              if (this.stateoptions.length==1) {
                console.log('length-true');
                await this.$store.dispatch("endjobs")
                this.outjobsdispatchendstate=true
              }else{
                console.log('length-false');
                await this.$store.dispatch("alljobsAction")
                this.outjobdispatchendstate=true
                
              }
              
              // await this.$store.dispatch("departmentsjobs")
              
              
              this.$q.notify({
                    type: 'positive',
                    message: `Başarılı`
                })
                Loading.hide()
            })
      },
      async selname(val,vaz){
        if (vaz=='name') {
          if (val==null) {
            // console.log("2");
            this.rowsmodelProductid=""
            this.rowsmodelName="",
            this.rowsmodelSerino=""
            // this.groupallProducts=this.groupallProducts
            this.serinooptions=this.getallfilterProducts
          }else{
            this.rowsmodelName=val.name,
            this.serinooptions=this.getallfilterProducts.filter(ral=>{
              if (val.name==ral.name){
                return ral
              }
            })
          }
        }
      },
      async updateActions(){
        await this.$store.dispatch('alljobsAction')
        await this.$store.dispatch("departmentsjobs")
        this.jobmodel=this.getdepartmentsjobs.filter(v=>v.jobsid==this.propjobsid)[0];
        await this.replaceamount()
      },
      async createjobsrow(){
        
        // return
        this.editkey=''
        if(this.rowsmodelProductid=='' || this.rowsmodelSerino==''){
           this.$q.notify({
                    type: 'negative',
                    message: `Yanlış Seçim`
                })
                return
        } 
        Loading.show()
        await axios.post(
            process.env.API, {
              query: `mutation createJobsrow($jobsid:ID, $productid:String, $pieceunit:String, $piece:String, $currencyunit:String, $currency:String, $unitprice:String, $rowsamount:String){
                   createJobsrow(jobsid:$jobsid, productid:$productid, pieceunit:$pieceunit, piece:$piece, currencyunit:$currencyunit, currency:$currency, unitprice:$unitprice, rowsamount:$rowsamount){
                    jobsid
                    }
                    }`,
                    variables:{
                      jobsid:this.jobmodel.jobsid,
                      productid:this.rowsmodelProductid,
                      pieceunit:this.rowsmodelPieceunit,
                      piece:this.rowsmodelPiece,
                      currencyunit:this.rowsmodelCurrencyunit,
                      currency:this.rowsmodelCurrency,
                      unitprice:this.rowsmodelUnitprice,
                      rowsamount:this.rowsmodelAmount,
                      // currencyunit:this.productmodel.currencyunit,
                    }
            }).then(async data => {
              this.$q.notify({
                    type: 'positive',
                    message: `Kayıt Başarılı`
                })
                
              await this.$store.dispatch("allProducts")

              // await this.doviz()
              await this.replaceamount()
              await this.updatedtamount()
              await this.updatecontractcount()
              await this.mount()
              this.rowsmodelProductid="",
              this.rowsmodelName="",
              this.rowsmodelSerino="",
              this.rowsmodelPieceunit="ADET",
              this.rowsmodelPiece= "1.00",
              this.rowsmodelCurrencyunit="USD",
              this.rowsmodelUnitprice= "0.00",
              this.rowsmodelCurrency= "1.00",
              this.rowsmodelAmount= "0.00",
              this.amount = "0.00"
              Loading.hide()  
            })
      },
      async deletejobrow(val,val1,val2,val3 ){
        console.log("deletejobrow",val,val1);
        // return
        Loading.show()
        await axios.post(
            process.env.API, {
              query: `mutation deleteJobsrow($jobsrowid:ID, $productid:ID, $pieceunit:String,$piece:Float){
                   deleteJobsrow(jobsrowid:$jobsrowid, productid:$productid, pieceunit:$pieceunit,piece:$piece){
                    jobsrowid
                    }
                    }`,
                    variables:{
                      jobsrowid:val,
                      productid:val1,
                      pieceunit:val2,
                      piece:val3
                      // currencyunit:this.productmodel.currencyunit,
                    }
            }).then(async data => {
              if(this.stateoptions.length==1) {
              await this.$store.dispatch("endjobs")
            }else{
              await this.$store.dispatch("alljobsAction")
            }

              // await this.doviz()
              await this.$store.dispatch("allProducts")
              await this.replaceamount()
              await this.updatedtamount()
              this.mount()
              this.$q.notify({
                    type: 'positive',
                    message: `İşlem Başarılı`
                })
                // console.log(this.amount);
                // updateJobstotalamount
                Loading.hide()
            })
        // console.log(val);
        this.editkey =""
      },
      async updatejobrowmethod(val,key){
        // this.newpiece=this.jobrowlist[key].piece
        this.$q.loading.show()
        console.log("newpiece",this.newpiece);

        // return
      let piece=parseFloat(this.jobrowlist[key].piece)
      this.newpiece=await parseFloat(this.jobrowlist[key].piece)
      let currency=parseFloat(this.jobrowlist[key].currency)
      let unitprice=parseFloat(this.jobrowlist[key].unitprice)
      let rowsamount=parseFloat(this.jobrowlist[key].amount)
        // return
        await axios.post(
          
            process.env.API, {
              query: `mutation updatejobrow($jobsrowid:ID, $jobsid:ID, $productid:String, $pieceunit:String, $piece:Float, $currencyunit:String, $currency:Float, $unitprice:Float, $rowsamount:Float){
                   updatejobrow(jobsrowid:$jobsrowid, jobsid:$jobsid, productid:$productid, pieceunit:$pieceunit, piece:$piece, currencyunit:$currencyunit, currency:$currency, unitprice:$unitprice, rowsamount:$rowsamount){
                    jobsid
                    }
                    }`,
                    variables:{
                      jobsrowid:this.jobrowlist[key].jobsrowid,
                      productid:this.jobrowlist[key].product.productid,
                      pieceunit:this.jobrowlist[key].pieceunit,
                      currencyunit:this.jobrowlist[key].currencyunit,
                      piece:piece,
                      currency:currency,
                      unitprice:unitprice,
                      rowsamount:rowsamount,
                    }
            }).then(async data => {
              this.$q.notify({
                    type: 'positive',
                    message: `Kayıt Başarılı`
                })
                this.editkey=''
                await this.$store.dispatch("alljobsAction")
                await this.$store.dispatch("departmentsjobs")
                // await this.doviz()
                await this.replaceamount()
                await this.updatedtamount()
                await this.editupdatecontractcount()
                await this.mount()
                this.$q.loading.hide()
            })

      },
      async updatedtamount(){
        await axios.post(
            process.env.API, {
              query: `mutation updateJobsamount($jobsid:ID, $amount:String, $buyingamount:Float){
                   updateJobsamount(jobsid:$jobsid, amount:$amount,buyingamount:$buyingamount){
                    jobsid
                    }
                    }`,
                    variables:{
                      jobsid:this.propjobsid,
                      amount:this.amount,
                      buyingamount:parseFloat(this.buyingamount)
                      // currencyunit:this.productmodel.currencyunit,
                    }
            }).then(async data => {

                // updateJobstotalamount
            })
      },
      async selserino(val,vaz){
          // console.log("selserino",val);
       if(vaz=="serino"){

          if (val==null) {
            this.rowsmodelProductid=""
            this.rowsmodelName="",
            this.rowsmodelSerino=""
          }
          else
          {
          // this.jobsid=val.jobsid
          this.rowsmodelProductid=val.productid
          this.rowsmodelName=val.name
          this.rowsmodelProductid=val.productid
          }

        }

      },
      outjobfilter(val,update){
        if (val === '') {
        update(() => {
          this.outjoboptions=this.getallCompany
        })
        }
        update(() => {
        const needle = this.$turkishUpper(val)
        this.outjoboptions = this.getallCompany.filter(v =>
          v.name.indexOf(needle) > -1

        )
      })
      },
      productfilter(val,update){
        if (val === '') {
        update(() => {
          this.productoptions = this.groupallproducts
          //   this.rowsmodelSerino==""
          this.rowsmodelProductid=""
            this.rowsmodelName="",
            this.rowsmodelSerino=""
          this.serinooptions = this.getallfilterProducts
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.productoptions = this.groupallproducts.filter(v =>
          v.name.toLowerCase().indexOf(needle) > -1

        )
      })

      },
      serinofilter(val,update){
        if (val === '' ) {
        update(() => {
          //  this.serinooptions = this.getallProducts
          // this.serinooptions=this.productoptions
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.serinooptions = this.getallfilterProducts.filter(v =>
        v.piece > 0 ? v.serino.toLowerCase().indexOf(needle) > -1:''

        )
      })
      },
      editserinofilter(val,update){
        if (val === '' ) {
        update(() => {
          this.editserinooptions = this.getallfilterProducts
          this.productoptions=this.groupallproducts
        })
        return
      }
      update(() => {
        const needle = val.toLowerCase()
        this.editserinooptions = this.getallfilterProducts.filter(v =>
        v.serino.toLowerCase().indexOf(needle) > -1

        )
      })
      },
      async edittotal(key){

        Number(this.jobrowlist[key].currency).toFixed(4)

        this.jobrowlist[key].amount=Number(this.jobrowlist[key].piece).toFixed(2) * Number(this.jobrowlist[key].unitprice).toFixed(2)
        this.jobrowlist[key].amount=Number(this.jobrowlist[key].amount).toFixed(2)
        this.amount=0
          this.jobrowlist=this.jobmodel.jobsrow
          this.jobrowlist.forEach( val=>{
            // console.log(val.amount);
             this.amount =  Number(this.amount) + Number(val.amount)
          })
          this.amount =Number(this.amount).toFixed(2)
        // console.log(val);
          this.newpiece= await parseFloat(this.jobrowlist[key].piece)
          console.log( this.newpiece);
      },
      async doviz(){
        // console.log("jobmodel",this.jobmodel);

        // console.log(this.groupallproducts);
        // let kur= await axios.get(process.env.KURAPI+'tcmbkur',{
        //   // withCredentials: true,
        //   // mode: 'no-cors',
        //   headers: {
        //     'Access-Control-Allow-Origin' : 'http://localhost:8080',
        //     'Access-Control-Allow-Origin' : 'http://46.196.106.97',
        //     'Access-Control-Allow-Methods' : 'GET,PUT,POST,DELETE,PATCH,OPTIONS',
        //     'Access-Control-Allow-Headers' : '*',
        //     // 'Access-Control-Allow-withCredentials' : 'true',
        //   },
        // }).then((response)=>{
        //   // console.log(response.data);
        //   return response.data
        //   })
        //   this.dovizkur={
        //     usdbuy:kur.Tarih_Date.Currency[0].BanknoteBuying[0],
        //     usdsell:kur.Tarih_Date.Currency[0].BanknoteSelling[0],
        //     eurobuy:kur.Tarih_Date.Currency[3].BanknoteBuying[0],
        //     eurosell:kur.Tarih_Date.Currency[3].BanknoteSelling[0],
        //   }


      },
      replaceamount(){
        this.groupallproducts=
        // _.groupBy(_.sortBy(this.getallProducts, "name"), "name");
        _(this.getallfilterProducts)
        .groupBy('name')
        .map((objs, key) => {
            return {
                'name': key,
                'productid': _.get(objs, '0.productid'),
                'serino': _.get(objs, '0.serino'),
            }
        })
        .value()
        this.productoptions=this.groupallproducts
        this.amount=0
          // console.log("this.jobmodel.jobsrow",this.jobmodel.jobsrow);
          if (this.jobmodel.jobsrow != undefined)
          this.jobrowlist=this.jobmodel.jobsrow
          this.jobrowlist.forEach( val=>{
            // console.log(val.amount);
             this.amount =  Number(this.amount) + Number(val.amount)
          })
          this.amount =Number(this.amount).toFixed(2)
      },
      setendjobstime(val){
        console.log('setendjobstime',val);
        let a=(moment.duration(val).asHours()).toFixed(2)

        return a
      },
      async jobscreate(){
        /// incele -*-*-*-*-*-*-*-*-*
        let jobstatearr=this.jobmodel.jobstate.filter((val,i)=>val.active)
        
        if (this.state=='Transfer') {
          console.log('jobscreate',"1")
          if (this.transferuserid=="") {
          this.$q.notify({
                  type: 'negative',
                  message: `Hatalı Seçim`
            })
              return
            }else{
              // console.log("Transfer işlevi");
              Loading.show()
              await axios.post(
                process.env.API, {
                  query: `mutation transferjobs($transferuserid:ID,$jobstateid:ID, $jobsid:ID, $state:String, $userid:ID, $note:String){
                      transferjobs(transferuserid:$transferuserid, jobstateid:$jobstateid, jobsid:$jobsid, state:$state, userid:$userid, note:$note){
                        jobsid
                        }
                        }`,
                        variables:{
                          jobsid:this.propjobsid,
                          jobstateid:jobstatearr[0].jobstateid,
                          note:this.checknote,
                          state:this.state,
                          userid:this.get_userdetail.userid,
                          transferuserid:this.transferuserid.userid,
                        }
                }).then(async data => {
                  // console.log("transferjobs",data);
                  this.$emit('checkjobdialog')
                  this.$q.notify({
                        type: 'positive',
                        message: `Başarılı`
                    })
                    await this.$store.dispatch("alljobsAction")
                    // await this.$store.dispatch("departmentsjobs")
                    // await this.$store.commit("settransferjobs",this.getalljobs)
                    this.$emit('checkjobdialog')
                    Loading.hide()
                })
              }
        }else {
          console.log('jobscreate',"2");
          Loading.show()
          await axios.post(
            process.env.API, {
              query: `mutation updateJobsnoteandstate($userid:ID, $jobsid:ID, $jobstateid:ID, $note:String, $state:String){
                   updateJobsnoteandstate(userid:$userid,jobsid:$jobsid, jobstateid:$jobstateid, note:$note, state:$state){
                    jobsid
                    }
                    }`,
                    variables:{
                      jobsid:this.jobmodel.jobsid,
                      jobstateid:jobstatearr[0].jobstateid,
                      note:this.checknote,
                      state:this.state,
                      userid:this.get_userdetail.userid,

                      // currencyunit:this.productmodel.currencyunit,
                    }
            }).then(async data => {
              await axios.post(
              process.env.API, {
              query:`mutation checkedmail($jobsid:ID,$usermail:String){
                   checkedmail(jobsid:$jobsid,usermail:$usermail){
                    jobsid
                    }
                    }`,
                    variables:{
                      jobsid:this.jobmodel.jobsid,
                      usermail:this.jobmodel.openuser.email
                    }
            }).then(async data => {
              this.$q.notify({
                  type: 'positive',
                  message: `Mail Gönderme Başarılı`
              })
            })
              // console.log("updateJobsnoteandstate",data);
              this.$emit('checkjobdialog')
              this.$q.notify({
                  type: 'positive',
                  message: `Kayıt Başarılı`
              })
              
              await this.$store.dispatch("alljobsAction")
              // if(activejob) 
              
              Loading.hide()
            })
            
        }
        console.log('jobscreate',"3");
        // if (this.state=='Tamamlandı' || this.oldstate=='Aktif') {
        if (this.state=='Onaylandı') {
          let ms=moment().diff(moment(this.jobmodel.createdAt))
          this.time=this.setendjobstime(ms)
          // console.log(ms);
          // return
          Loading.show()
          await axios.post(
            process.env.API, {
              query: `mutation updateJobsTime($jobsid:ID, $time:String, $userid:ID){
                   updateJobsTime(jobsid:$jobsid, time:$time, userid:$userid){
                    jobsid
                    }
                    }`,
                    variables:{
                      jobsid:this.jobmodel.jobsid,
                      time:this.time,
                      userid:this.get_userdetail.userid
                      // currencyunit:this.productmodel.currencyunit,
                    }
            }).then(async data => {
              console.log("updateJobsTime",data);
              await this.$store.dispatch("alljobsAction")
              // this.$emit('checkjobdialog')
              Loading.hide()
            })
          
        }
        // if(this.state=='Transfer' && this.transferuserid)

        // console.log(this.get_userdetail.userid);



      },
      async jobsupdate(){
        // console.log('this.jrid',this.jrid);
        Loading.show()
        await axios.post(
            process.env.API, {
              query: `mutation updateJobsnote( $jobstateid:ID, $note:String,){
                   updateJobsnote(jobstateid:$jobstateid, note:$note,){
                    jobstateid
                    }
                    }`,
                    variables:{

                      jobstateid:this.jrid,
                      note:this.checknote,
                      // currencyunit:this.productmodel.currencyunit,
                    }
            }).then(async data => {
              // console.log("updateJobsnote",data)
              if(this.stateoptions.length==1) {
                console.log('end');
                await this.$store.dispatch("endjobs")
              }else{
                console.log('all');
                await this.$store.dispatch("alljobsAction")
              }
              // await this.$store.dispatch("departmentsjobs")
              // console.log(data);
              // await this.mount()
              this.$q.notify({
                  progress: true,
                  type: 'positive',
                  message: `Not Kaydı Başarılı`
              })
              this.edit=false
              // this.$emit('checkjobdialog')

              // setTimeout(() => {
                Loading.hide()
              // }, 1000);
              
            }).catch(err=>{
              this.$q.notify({
                  type: 'negative',
                  message: `Kaydedilemedi...! Dosya Çok Büyük...!`
              })
            })
      },
      moment(val){
        return moment(val).format('DD-MM-YYYY HH:mm');
      },
      async updatecontractcount(){
        console.log("updatecontractcount");
        if (this.jobmodel.company.contracts.length) {


        let contracts=this.jobmodel.company.contracts
        console.log("this.rowsmodelProductid",this.rowsmodelProductid);
        // let contractrow=contracts.map(d => ({
        //       if moment().diff(moment(d.enddate,'DD-MM-YYYY').toDate())
        //     contractrow: d.contractrows.filter(
        //       t => t.productid === this.rowsmodelProductid
        //     )[0]}))[0].contractrow;
        let contractrow=""
        contracts.forEach(a=>{
          // console.log("fark",moment().diff(moment(a.enddate,'DD-MM-YYYY').toDate()));
            if(moment().diff(moment(a.enddate,'DD-MM-YYYY').toDate()) < 0){
              a.contractrows.forEach(b=>{
                if( b.productid === this.rowsmodelProductid) {
                  contractrow=b
                }
            })
          }
        })
        // console.log("res",contractrow);
        if (contractrow==undefined || contractrow=="") {
          if(this.stateoptions.length==1) {
              await this.$store.dispatch("endjobs")
            }else{
              await this.$store.dispatch("alljobsAction")
            }
          return
          }
        // console.log("this.rowsmodelPiece",this.rowsmodelPiece);
        let piece=parseFloat(this.rowsmodelPiece)
        // return
        console.log("devam");
        await axios.post(
            process.env.API, {
              query: `mutation updatecontractrowcount( $contractrowid:ID, $piece:Float){
                   updatecontractrowcount(contractrowid:$contractrowid, piece:$piece){
                    contractrowid
                    }
                    }`,
                    variables:{
                      contractrowid:contractrow.contractrowid,
                      piece:piece,
                      // currencyunit:this.productmodel.currencyunit,
                    }
            }).then(async data => {
              if(this.stateoptions.length==1) {
                await this.$store.dispatch("endjobs")
              }else{
                await this.$store.dispatch("alljobsAction")
              }
                
              })
              }else{
                if(this.stateoptions.length==1) {
                await this.$store.dispatch("endjobs")
                }else{
                  await this.$store.dispatch("alljobsAction")
                }
              }
        // this.getallCompany -*-*-*-*-*-*--*-
      },
      async editupdatecontractcount(){
        let contracts=this.jobmodel.company.contracts
        let contractrow=""
        contracts.forEach(a=>{
          console.log("fark",moment().diff(moment(a.enddate,'DD-MM-YYYY').toDate()));
            if(moment().diff(moment(a.enddate,'DD-MM-YYYY').toDate()) < 0){
              a.contractrows.forEach(b=>{
                if( b.productid === this.rowsmodelProductid) {
                  contractrow=b
                }
            })
          }
        })
        if (contractrow==undefined) return
        // let newpiece=parseFloat(this.newpiece)
        // let oldpiece=parseFloat(this.oldpiece)
        console.log("newpiece",this.newpiece,"oldpiece",this.oldpiece);
        // return
        await axios.post(
            process.env.API, {
              query: `mutation editupdatecontractrowcount( $contractrowid: ID, $oldpiece: Float, $piece: Float){
                    editupdatecontractrowcount(contractrowid: $contractrowid, oldpiece: $oldpiece, piece: $piece){
                      contractrowid
                      }
                    }`,
                    variables:{
                      contractrowid:contractrow.contractrowid,
                      piece:parseFloat(this.newpiece),
                      oldpiece:this.oldpiece
                      // currencyunit:this.productmodel.currencyunit,
                    }
            }).then(async data => {
              if(this.stateoptions.length==1) {
                await this.$store.dispatch("endjobs")
              }else{
                await this.$store.dispatch("alljobsAction")
              }
              
              // this.jobmodel=this.getdepartmentsjobs.filter(v=>v.jobsid==this.propjobsid)[0];
              })
      },
      async uploadoutjob (){
        // uval,filetitle="", whichupload=""
        // console.log('this.outjobid',this.outjobid);
        if(this.outjobmodelname==''){
          this.$q.notify({
                  type: 'negative',
                  message: `Başlık Giriniz`
              })
              return
        }
        await this.$refs.dropclick.uploadFiles(this.outjobid,this.outjobmodelname,'outjob')
      },
      async dropzonecallback(){
        this.outjobmodelname=""
      if (this.stateoptions.length==1) {
                await this.$store.dispatch("endjobs")
              }else{
                await this.$store.dispatch("alljobsAction")
              }
      // await this.$store.dispatch("alljobsAction");
      this.outjobarray()
      },
      async fileopen(fileName='3fsD4wjvC.jpg'){
        console.log('fileName',fileName);
      await this.$axios({
        // let url=  require(`../../../assets/uploads/${fileName}`)
        headers:{'Content-Type': 'application/json'},
        url:  process.env.KURAPI+'download',
        method: 'post',
        responseType: 'blob',
        data:{
          name:fileName
        }
      }).then((response) => {
        console.log("response",response);
        FileSaver.saveAs(response.data,fileName);
      });
      //  window.open(require(`assets/uploads/${fileName}`), '_blank');

      },
      async outjobarray(a){
        console.log('a',a);
        this.outjobsay=false
        if (this.jobmodel.outjobs.length) {
          this.jobmodel.outjobs.forEach((val,i)=>{
            if (val.uploads.length) {
              val.uploads.forEach((vala,ia)=>{
                if (this.outjobid==vala.outjobid) {
                  this.outjobsay=true
                }
              })
            }

          })
        }
        
      },
      async deleteoutjobfile(fileName){
        this.$q.loading.show()
      //   await this.$axios({
      //   // let url=  require(`../../../assets/uploads/${fileName}`)
      //   headers:{'Content-Type': 'application/json'},
      //   url:  process.env.KURAPI+'outjobfiledelete',
      //   method: 'post',
      //   data:{
      //     name:fileName
      //   }
      // }).then((response) => {
      //   console.log("response",response);
      //   this.$q.notify({
      //             type: 'positive',
      //             message: `Silme işlemi Başarılı`
      //         })
      // });
      await axios.post(
                process.env.API, {
                  query: `mutation deleteuploadfile($path:String){
                      deleteuploadfile(path:$path){
                        res
                        }
                        }`,
                        variables:{
                          path:fileName,
                          
                        }
                }).then(async data => {
                  console.log('res',data.data.data.deleteuploadfile.res);
                  if (data.data.data.deleteuploadfile.res=="err") {
                    console.log('1');
                    this.$q.notify({
                    type: 'negative',
                    message: `Silme işlemi Gerçekleşmedi`
                  })
                  }else{
                    await this.$store.dispatch("alljobsAction")
                    await this.$store.dispatch("departmentsjobs")
                    this.outjobarray()
                  this.$q.notify({
                    type: 'positive',
                    message: `Silme işlemi Başarılı`
                  })
                  }
                  this.$q.loading.hide()
                }).catch(err=>{
                  console.log('err',err);
                  this.$q.notify({
                    type: 'negative',
                    message: `Silme işlemi Gerçekleşmedi`
                  })
                })
      },
      deneme(){
        // console.log('outjobstate',this.outjobstate);
      },
      color (cmd, name) {
        const edit = this.$refs.editor
        this.$refs.token.hide()
        edit.caret.restore()
        edit.runCmd(cmd, name)
        edit.focus()
      }
    },
    
  //   filters: {
  //   moment: function (date) {
  //     return moment(date).format('DD-MM-YYYY HH:mm');
  //   }
  // }
  }
</script>

<style lang="scss" scoped>
.toolsize{
  font-size: 13px !important;
}
.underline{
  text-decoration: underline;
}
</style>
