<template>
  <div>
    <q-card class="q-pl-md q-pr-md" >
      <q-item class="q-pl-none">
      </q-item>
      
      <q-input label="Açıklama" v-model="planmodel.name" @input="upper()" dense outlined/>
      <div class="text-right q-pt-md q-pr-none">
        <q-btn v-if="edit==false" label="Kaydet" class="" @click="createPlan()"     :ripple="false"/>
        <div v-else-if="edit==true" class="q-gutter-xs">
        <q-btn  label="Reset" class="" @click="edit=false, planmodel={planid:'',name:''}"     :ripple="false"/>
        <q-btn  label="Güncelle" class="" @click="updatePlan()"     :ripple="false"/>
        </div>
      </div>
      <q-separator class="q-mt-md"/>
      <q-separator class="q-mt-xs"/>
      <q-table  :filter="filter" :data="getPlan" :columns="columns" row-key="planid" :key="componentKey" :pagination.sync="pagination"  
      selection="multiple"
      :selected.sync="selected"
      flat>    
          <template v-slot:body="props">
            <q-tr :props="props" class="cursor-pointer" >
              <q-td>
                <q-checkbox color="grey-8" v-model="props.selected" @click.native="selectmethod()" />
              </q-td>
              <!-- <q-td key="id" :props="props" >{{props.row.planid}}</q-td> -->
              <q-td key="name" :props="props" >{{props.row.name}}</q-td>
              <q-td key="button" :props="props" @click="updateedit(props.row), edit = true, selected=[] "><q-btn icon="mdi-pencil" flat /></q-td>
              <!-- <q-td name="a" :props="props" >
                <q-badge color="green">Aktif</q-badge>
              </q-td> -->
            </q-tr>
          </template>
      </q-table>
      <div class="text-right">
        <q-btn class="q-mr-xs q-mb-md"  label="Kapat" @click="$emit('close')"></q-btn>
        <q-btn class="q-mb-md" @click="transfer(),selected=[]" label="Aktar"></q-btn>
      </div>
    </q-card>
    
  </div>
</template>

<script>
import {mapState,mapGetters} from 'vuex';
import axios from "axios";
  export default {
    props: ['wasplanmodel','contractid'],
    
    data() {
      return {
        selected:[],
        componentKey:0,
        edit:false,
        planmodel:{
          planid:"",
          name:""
        },
        editplanmodel:"",
        columns: [
        // {
        //   name: "id",
        //   label: "No",
        //   align: "left",
        //   sortable: true,
        //   field: (row) => row.planid,
        // },
        {
          name: "name",
          label: "Açıklama",
          align: "left",
          sortable: true,
          field: (row) => row.name,
        },
        {
          name: "button",
          label: "Düzenle",
          align: "left",
          sortable: true,
          // field: (row) => row.name,
        },
        
      ],
        pagination: {
          sortBy: "ust",
          descending: false,
          page: 1,
          rowsPerPage: 1000,
          // rowsNumber: 5,q
        },
        filter:"",
      }
    },
    computed: {
      ...mapGetters([
        'getPlan',
        
      ])
      
    },
    async mounted () {
      await this.$store.dispatch('allPlann')
      console.log("wasplanmodel",this.wasplanmodel);
    },
     methods: {
       async transfer(){
         if(this.selected.length==0){
           this.$q.notify({
                    type: 'negative',
                    message: `Seçim Yapılmadı`
                })
                return
        }
         await axios.post(
            process.env.API, {
              query: `mutation addcontractplan($plans:[plansInput]){
                        addcontractplan(plans:$plans){
                          contractid
                          }
                      }`,
                      variables:{
                        plans:this.selected
                    }
            }).then(async data => {
              await this.$store.dispatch('allCompany')
              this.$q.notify({
                    type: 'positive',
                    message: `Kayıt Başarılı`
                })
                this.componentKey++
                this.$emit('ucomp')
            })
       },
       async selectmethod(){
         this.edit=false,
         this.planmodel={planid:'',name:''}
         console.log("this.selected",this.selected);
         //*-*-*-*-*-*-*-*-*-*-
        //  const source = this.selected.some(v=>this.wasplanmodel.filter(a=>v.planid==a.planid))
         const source = this.selected.some(item => this.wasplanmodel.some(v=>v.plan.planid==item.planid))
         if (source) {
          //  var arr = [1, 0, 2, 5, 3, 9];
          //  console.log(arr.splice(0,arr.length-1));
          //  console.log(arr);
          this.selected= this.selected.splice(0,this.selected.length-1)
           this.$q.notify({
                    type: 'negative',
                    message: `Seçtiğiniz Plan Kayıtlı`
                })
                return
         }
         
        this.selected=this.selected.map(val=>({
          planid:val.planid,
          contractid:this.contractid
        }))
        // console.log("sel",selected);
        // return
         
       },
     async createPlan(){
       if(this.planmodel.name==''){
           this.$q.notify({
                    type: 'negative',
                    message: `Yanlış Seçim`
                })
                return
        }
       await axios.post(
            process.env.API, {
              query: `mutation createPlan($name:String){
                        createPlan(name:$name){
                          planid
                          }
                      }`,
                      variables:{
                        name:this.planmodel.name
                    }
            }).then(async data => {
              await this.$store.dispatch('allPlann')
              this.$q.notify({
                    type: 'positive',
                    message: `Kayıt Başarılı`
                })
                this.componentKey++
            })
     },
     async updatePlan(){
       if(this.planmodel.name==''){
           this.$q.notify({
                    type: 'negative',
                    message: `Yanlış Seçim`
                })
                return
        }
       await axios.post(
            process.env.API, {
              query: `mutation updatePlan($planid:ID, $name:String){
                   updatePlan(planid:$planid, name:$name){
                      planid
                      name
                    }
                    }`,
                    variables:{
                      planid:this.planmodel.planid,
                      name:this.planmodel.name
                      // currencyunit:this.productmodel.currencyunit,
                    }
            }).then(async data => {
              // console.log(data.data.data.updatePlan);
               await this.$store.dispatch('allPlann')
               this.$q.notify({
                    type: 'positive',
                    message: `Kayıt Başarılı`
                })
                this.componentKey++
            })
     },
      updateedit(val){
       this.planmodel.name=val.name
       this.planmodel.planid=val.planid
     },
     upper(){
       this.planmodel.name=this.planmodel.name.toUpperCase('tr-TR')
     }
    },
  }
</script>

<style lang="scss" scoped>

</style>