<template>
  <div class="progress">
	<div
		class="progress-ba"
		role="progressbar"
		:style="'width: ' + percent+'%;'"
		:aria-valuenow="percent"
		aria-valuemin="0"
		aria-valuemax="100">
		{{ percent }}%
	</div>
</div>
</template>

<script>
  export default {
    props: {
       percent: {default: 0} 
    },
    
    
  }
</script>

<style  scoped>
.progress-ba{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
    /* border-radius: 3px; */
}
/* @import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"); */
</style>