<template>
  <div>
    
    <q-select
      class="q-pt-md col-12"
      outlined
      label="Kategori"
      v-model="catparent"
      :options="nodes"
      option-label="name"
      option-value="categoryid"
      @input="upreccat(),$store.commit('set_ticketcategory',catparent)"
    />
    <div v-if="catparent && catparent.children.length > 0 " :key="componentKey">
      <recCat :nodes="catparent.children"/>
    </div>
    
        
     
  </div>
</template>

<script>
import recCat from './recCat.vue';
  export default {
    name:'recCat',
    props: [
      'nodes',
      ],
      
    
    components: {
      recCat
    },
    watch: {
      catparent(val) {
        // console.log(val);
      }
    },
    data() {
      return {
        catparent:null,
        componentKey: 0,
      }
    },
    methods: {
      upreccat() {
        this.componentKey += 1
      }
    },
    
  }
</script>

<style lang="scss" scoped>

</style>