<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import Vue from 'vue';
// import App from './App.vue';
import VueResource from "vue-resource";


import axios from 'axios'
import {Loading} from 'quasar'
Vue.use(VueResource);
export default {
  name: 'App',
  created() {
    this.$axios.interceptors.request.use((config) => {
      //  Loading.show()
      let accessToken = localStorage.getItem('token');
      // console.log(accessToken);
      if (accessToken) {
          config.headers = Object.assign({
              authorization: `Bearer ${accessToken}`
          }, config.headers);
      }
      return config;
    }, (error) => {
      Loading.hide()
      return Promise.reject(error);
    });

    this.$axios.interceptors.response.use((response) => {
      setTimeout(() => {
        // Loading.hide()
      }, 300);
      
      return response;
    }, (error) => {
      Loading.hide()
      return Promise.reject(error);
    });
  }
}
</script>