<template>
<q-layout view="lHh Lpr lFf" >
    <q-header reveal :reveal-offset="20">
      <q-toolbar class=" text-amber-1 bg-purple text-white-9 text-weight-bold ">
          <q-toolbar-title class="cursor-pointer" @click="$router.push('/ticket')">Eriza</q-toolbar-title>
          <div v-if="get_user.email">
              {{get_user.email}}
          </div>
            <q-space/>
            <q-btn v-if="get_user.email" round flat icon="mdi-account">
                <q-menu :offset="[0, 5]">
                    <q-list style="min-width: 150px;">
                    <q-item @click="logout()" clickable q-close-popup>
                        <q-item-section>Logout</q-item-section>
                    </q-item>
                    <q-item v-if="get_user.role=='superuser' || get_user.role=='admin'" @click="admin()" clickable q-close-popup>
                        <q-item-section>Admin</q-item-section>
                    </q-item>
                    <q-item v-else @click="$router.push('/settings')"  clickable  q-close-popup>
                        <q-item-section>Hesap Ayarları</q-item-section>
                    </q-item>
                    </q-list>
                </q-menu>
            </q-btn>
      </q-toolbar>
    </q-header>
    <q-page-container class="q-ma-md row justify-center">
        <div class="col-md-10 col-lg-10 col-xs-12">
        
        <router-view ></router-view>
    </div>
    </q-page-container>
</q-layout>
    <!-- <div class="row q-mb-xl q-mt-xl text-center">
        <div class=" col-12">
          <router-link to="/">
          
          </router-link>
        </div>
        <router-view ></router-view>
    </div> -->
</template>

<script>
import Vue from "vue";
import {mapState,mapGetters} from 'vuex';
import jwt from "vuejs-jwt";
import gql from "graphql-tag";
Vue.use(jwt);

    export default {
        apollo: {
            $subscribe: {
                tags: 
                {
                    query: gql`subscription {
                        createsubscribecompanyuser{
                        userid
                        }
                    }`,
                    async result ({ data }) {
                        console.log(this.get_user.email);
                        await this.$store.dispatch("userdetail",this.get_user.email)
                    }
                }
            }
        },
        data() {
            return {
                
            }
        },
        watch: {
            get_user(val) {
                
                console.log("get_user",val);
            }
        },
        computed: {
            ...mapGetters([
                'gettreem',
                'get_user',
                
            ])
        },
       async mounted () {
        //    console.log('localStorage.getItem("token")',localStorage.getItem("token"));
           
            this.$store.dispatch("treedata");
            if (localStorage.getItem("token") !== null) {
            let token = await this.$jwt.decode(localStorage.getItem("token"),process.env.JWT_SECRET);
            // console.log('lm token',token);
            // console.log('getuser',this.get_user);
              await this.$store.commit("set_user", token);
              await this.$store.dispatch("userdetail",this.get_user.email)
            //   await this.$store.dispatch("userdetail",this.get_user.email)
            //   if (token.role=="admin" || token.role=="superuser") {
            //       this.$router.push('/ticket')
            //   }
    }
            
            
        },
        methods: {
            logout(){
            this.$store.dispatch("logout");
            // this.$router.push({ path: "/" });
            window.location.reload()
            // window.location.href = "http://localhost:8080"
          },
          admin(){
              this.$router.push('/admin')
          }
        },
        
    }
</script>

<style lang="scss" scoped>

</style>