<template>
  <div>

  </div>
</template>

<script>
  export default {
    
    mounted () {
      axios.get(process.env.KURAPI+'denememail')
      .then(response => {
        
      })
    },
  }
</script>

<style lang="scss" scoped>

</style>