<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="bg-primary" elevated>
      <q-toolbar>
        <q-btn @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu" dense flat round>
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title></q-toolbar-title>
        
        <div v-if="get_user.email" class="text-weight-bold">
              {{get_user.email}}
          </div>
            <q-space/>
            <q-btn v-if="getwaitjobs.length || gettransferjobs.length" class="q-mr-xs" icon="mdi-cog-outline" flat round>
              <q-badge v-if="getactivejobs.length + gettransferjobs.length>0" class="q-mr-xs q-mt-xs" color="red"  floating flat >
                {{getactivejobs.length + gettransferjobs.length}}
              </q-badge>
            </q-btn>
            <q-btn v-else class="q-mr-xs" icon="mdi-cog-outline" flat round>

            </q-btn>
            <!-- <q-btn v-else class="q-mr-xs" icon="mdi-bell" flat round /> -->
            <q-btn v-if="getwaitjobs.length > 0" class="q-mr-xs" icon="mdi-bell-ring" flat round>
              
              <q-badge class="q-mr-xs q-mt-xs" color="red"  floating>
                {{ getwaitjobs.length }}
              </q-badge>
              <router-link

                :to="{ path: '/waitjobs' }"
                class="absolute full-width full-height"
              ></router-link>
            </q-btn>
            <q-btn v-else class="q-mr-xs" icon="mdi-bell" flat round />


        <q-btn round flat icon="mdi-account">
          <q-menu :offset="[11, 5]" >
            <q-list style="min-width:150px;">
              <q-item @click="logout()" clickable q-close-popup>
                <q-item-section>Logout</q-item-section>
              </q-item>
              <!-- <q-item @click="$router.push({name:'adminsettings'})" clickable q-close-popup> -->
              <q-item @click="$router.push('/admin/settings')" clickable q-close-popup>
                <q-item-section>Hesap Ayarları</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>

      </q-toolbar>
    </q-header>

    <q-drawer bordered content-class="bg-black-1" v-model="leftDrawerOpen">
      <q-item  to='/admin'>

        <q-toolbar  class=" text-white cursor-pointer" >
          <q-toolbar-title  class="absolute-center">
            <span>
              <b>M</b>ana<b>GE</b>men<b>T</b>
            </span>
          </q-toolbar-title>
        </q-toolbar>
      </q-item>
      <q-list class="q-mr-md">
        <q-img style="height: 150px;color: black">
          <div class="absolute-center bg-transparent">
            <div class="text-center">
              <q-avatar size="70px">
                <!-- <img v-if="get_userdetail.path" :src="'../../uploads/avatar/'+get_userdetail.path" alt=""> -->
                <q-img v-if="get_userdetail.path==null" :src="'img/boy.svg'" alt="..." />
                
                <q-img v-else :src="('img/'+get_userdetail.path)" alt="" />
                <!-- <q-img v-else :src="'img/'+get_userdetail.path" alt="" /> -->
              </q-avatar>
            </div>
            <div class="text-weight-bold text-center bg-transparent"></div>
            <div class="bg-transparent"></div>
            <div class="bg-transparent">Bekleyen : {{getwaitjobs.length}}</div>
            <div class="bg-transparent">Aktif : {{getactivejobs.length}}</div>
            <div class="bg-transparent">Aktarılan : {{gettransferjobs.length}}</div>
          </div>
        </q-img>
        <q-item-label header>Ana Menü</q-item-label>
        <!-- <q-item to="/admin"   >
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Ana Sayfa</q-item-label>
          </q-item-section>
        </q-item> -->
        <q-item to="/transactions"   >
          <q-item-section avatar>
            <q-icon name="receipt_long" />
          </q-item-section>
          <q-item-section>
            <q-item-label>İşlem Takibi</q-item-label>
          </q-item-section>
        </q-item>

        <q-expansion-item  label="Servis İşlemleri" icon="settings">
          <!-- <q-expansion-item label="Tanımlamalar" icon="build"> -->
          <q-item to="/newticket"   >
            <q-item-section avatar>
              <q-icon name="mdi-email-newsletter" />
            </q-item-section>
            <q-item-section >
              <q-item-label>Yeni Ticket</q-item-label>
            </q-item-section>
          </q-item>
          <q-item  to="/waitjobs"   >
            <q-item-section avatar>
              <q-icon name="mdi-timer-sand" />
            </q-item-section>
            <q-item-section>
              <q-item-label >Bekleyen İşlemler <q-badge v-if="getwaitjobs.length > 0" class="q-mr-md q-mt-md text-weight-bold" color="red" floating rounded>{{getwaitjobs.length}}</q-badge></q-item-label>
            </q-item-section>
          </q-item>
          <q-item to="/activejobs"   >
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section >
              <q-item-label>Aktif İşlemler
                <q-badge v-if="getactivejobs.length > 0"  class="q-mr-md q-mt-md text-weight-bold" color="red"  floating rounded>{{getactivejobs.length}}</q-badge>
                </q-item-label>
            </q-item-section>
          </q-item>
          <q-item to="/transferjobs"   >
            <q-item-section avatar>
              <q-icon name="mdi-swap-horizontal" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Aktarılan İşlemler<q-badge v-if="gettransferjobs.length > 0" class="q-mr-md q-mt-md text-weight-bold" color="red" floating rounded>{{gettransferjobs.length}}</q-badge></q-item-label>
            </q-item-section>
          </q-item>
          <q-item to="/checkedendjobs"   >
            <q-item-section avatar>
              <q-icon name="mdi-checkbox-marked-circle-outline" />
            </q-item-section>
            <q-item-section>
              <q-item-label> Biten İşlemler</q-item-label>
            </q-item-section>
          </q-item>
          <!-- <q-item to="/canceljobs"   >
            <q-item-section avatar>
              <q-icon name="mdi-cancel" />
            </q-item-section>
            <q-item-section>
              <q-item-label> İptal Edilen İşlemler</q-item-label>
            </q-item-section>
          </q-item> -->
        </q-expansion-item>
        
       <q-expansion-item label="Stok İşlemleri" icon="mdi-file-account">
         <q-item to="/products"   >
            <q-item-section avatar>
              <q-icon name="mdi-dropbox" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Stok Tanımlama</q-item-label>
            </q-item-section>
          </q-item>
         <q-item to="/productscategory"   >
            <q-item-section avatar>
              <q-icon name="mdi-file-tree" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Stok Kategori</q-item-label>
            </q-item-section>
          </q-item>
        </q-expansion-item>
        <q-expansion-item v-if="get_userdetail.role=='admin'" label="Admin İşlemleri" icon="build">
          <!-- <q-expansion-item label="Tanımlamalar" icon="build"> -->
          
          <q-item to="/user"   >
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Kullanıcı Tanımlama</q-item-label>
            </q-item-section>
          </q-item>
          <q-item to="/companydetail"   >
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Firma Tanımlama</q-item-label>
            </q-item-section>
          </q-item>
          <q-item to="/companyuser"   >
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Firma Kullanıcıları </q-item-label>
            </q-item-section>
          </q-item>
          <q-item to="/category"   >
            <q-item-section avatar>
              <q-icon name="mdi-file-tree" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Ürün veya Hizmet Tanımlama</q-item-label>
            </q-item-section>
          </q-item>
          <q-item to="/department"   >
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Departmanlar</q-item-label>
            </q-item-section>
          </q-item>
          <q-item to="/userdepartment"   >
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Kullanıcı Departmanları</q-item-label>
            </q-item-section>
          </q-item>
          
          <q-expansion-item  label="Sayfa İşlemleri" icon="build">
            <q-item to="/admin/pagevariables"   >
              <q-item-section avatar>
                <q-icon name="mdi-cogs" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Sayfa Değişkenleri </q-item-label>
              </q-item-section>
            </q-item>
          </q-expansion-item>
          <!-- <q-expansion-item label="İleri Zamanlı İşlemler" icon="mdi-clock">
         <q-item  to="/admin"  >
            <q-item-section avatar>
              <q-icon name="mdi-eye" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Coming Soon...</q-item-label>
            </q-item-section>
          </q-item>
        </q-expansion-item> -->
        </q-expansion-item>
       
      </q-list>
    </q-drawer>

    <q-page-container class="q-ma-md">
      <router-view></router-view>
    </q-page-container>
    <q-dialog v-model="version" position="bottom" >
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section  class="row bg-red text-white items-center justify-center">
                <div class=" ">Versiyon Değişikliği...! Lütfen Yenile Butonuna Basınız...</div>
                <q-space />
                <q-btn label="Yenile" @click="refresh(), version=false" flat  dense v-close-popup />
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-layout>
</template>

<script>
import Vue from "vue";
import {mapState,mapGetters} from 'vuex'
import axios from "axios";
import gql from "graphql-tag";
export default {
  name: "MainLayout",
  apollo: {
      $subscribe: {
        tags: {
          query: gql`subscription {
            createSubscribejobs{
              jobsid
              categoryid
              }
          }`,
          async result ({ data }) {
            console.log("data.jobs",data)
            // console.log("apollo",this.$apollo);
            // this.get_userdetail.userdepartments.includes(data.jobs.categoryid)
            // console.log(this.get_userdetail.userdepartments.includes(data.jobs.categoryid));
            let createSubscribejobs=this.getuserCategory.includes(data.createSubscribejobs.categoryid.toString())
             console.log("deneme-createSubscribejobs",createSubscribejobs);
            if (createSubscribejobs || this.get_userdetail.role=='admin') {
              const audio = new Audio(require('../assets/notification.mp3'));
              audio.play();
              await this.$store.dispatch("departmentsjobs");
              await this.$store.dispatch("alljobsAction");

            }
            if (createSubscribejobs) {
              console.log('notification');
               let notification = new Notification('Eriza Bilişim Hizmetleri', {
                  body: 'Bekleyen İşlem',
                  // icon: './img/1_31-08-2021_Y_qDgH2S0.png'
              });
              notification.onclick = () => window.open('/waitjobs');
            }
            // let  transferSubscribejobs=data.transferSubscribejobs.transferuserid
            // console.log("transfersubscribe",(transferSubscribejobs),(this.get_userdetail.userid));
          },
        },
        transferjobs:{
          query: gql`subscription {
            transferSubscribejobs{
              transferuserid
              }
          }`,
          async result ({ data }) {
            console.log(data);
            let  transferSubscribejobs=data.transferSubscribejobs.transferuserid
            // console.log("transfersubscribe",(transferSubscribejobs),(this.get_userdetail.userid));
            if ((this.get_userdetail.userid.toString()==transferSubscribejobs) || this.get_userdetail.role=='admin') {
              await this.$store.dispatch("alljobsAction");
              const audio = new Audio(require('../assets/notification.mp3'));
              audio.play();

            }
            if ((this.get_userdetail.userid.toString()==transferSubscribejobs)) {
              let notification = new Notification('Eriza Bilişim Hizmetleri', {
                  body: 'Bekleyen İşlem',
                  // icon: './img/1_31-08-2021_Y_qDgH2S0.png'
              });
              notification.onclick = () => window.open('/transferjobs');
            }
          }
        },
        createuser:{
          query: gql`subscription {
            createSubscribeuser{
              email
              }
          }`,
          async result ({ data }) {
            console.log(data);
            await this.$store.dispatch('allUser')
            this.$q.notify({
                    position:'top',
                    type: 'positive',
                    message: `${data.createSubscribeuser.email} Kullanıcısı Eklendi`
                })

          }
        },
        createcompany:{
          query: gql`subscription {
            createSubscribecompany{
              name
              }
          }`,
          async result ({ data }) {
            await this.$store.dispatch('allCompany')
            this.$q.notify({
                    position:'top',
                    type: 'positive',
                    message: `${data.createSubscribecompany.name} Firması Eklendi`
                })

          }
        },
        createcompanyuser:{
          query: gql`subscription {
            createsubscribecompanyuser{
              userid
              }
          }`,
          async result ({ data }) {
            await this.$store.dispatch('allCompany')
            // this.$q.notify({
            //         position:'top',
            //         type: 'positive',
            //         message: `${data.createSubscribecompany.name} Firması Eklendi`
            //     })

          }
        },
        createproduct:{
          query: gql`subscription {
            createSubscribeproduct{
              name
              }
          }`,
          async result ({ data }) {
            await this.$store.dispatch('allProducts')
            this.$q.notify({
                    position:'top',
                    type: 'positive',
                    message: `Stok Eklendi`
                })

          }
        },
        acceptjobs:{
          query: gql`subscription {
            acceptwaitjobsSubscribe{
              jobsid
              categoryid
              }
          }`,
          async result ({ data }) {
            console.log("data.jobs",data)
            // console.log("apollo",this.$apollo);
            // this.get_userdetail.userdepartments.includes(data.jobs.categoryid)
            // console.log(this.get_userdetail.userdepartments.includes(data.jobs.categoryid));
            let acceptwaitjobsSubscribe=this.getuserCategory.includes(data.acceptwaitjobsSubscribe.categoryid.toString())
             console.log("deneme",acceptwaitjobsSubscribe);
            if (acceptwaitjobsSubscribe || this.get_userdetail.role=='admin') {
              await this.$store.dispatch("alljobsAction");
              await this.$store.dispatch("departmentsjobs");

            }
            // let  transferSubscribejobs=data.transferSubscribejobs.transferuserid
            // console.log("transfersubscribe",(transferSubscribejobs),(this.get_userdetail.userid));
          },
        },
        refreshjobs:{
          query: gql`subscription {
            refreshSubscribejobs{
              openuserid
              }
          }`,
          async result ({ data }) {
            let  refreshSubscribejobs=data.refreshSubscribejobs.openuserid
            console.log('refreshSubscribejobs',refreshSubscribejobs);
            if ( this.get_userdetail.role=='admin') {
              console.log('refreshSubscribejobs1');
              await this.$store.dispatch("alljobsAction");
              await this.$store.dispatch("departmentsjobs");
              const audio = new Audio(require('../assets/notification.mp3'));
              audio.play();

            }else if((this.get_userdetail.userid.toString()==refreshSubscribejobs) ){
              console.log('refreshSubscribejobs2');
              await this.$store.dispatch("alljobsAction");
              await this.$store.dispatch("departmentsjobs");
            }
          }
        },
        checked:{
          query: gql`subscription {
            checkedjobsSubscribe{
              openuserid
              }
          }`,
          async result ({ data }) {
            let  checkedjobsSubscribe=data.checkedjobsSubscribe.openuserid
            if ( this.get_userdetail.role=='admin') {
              console.log('checkedjobsSubscribe1');
              await this.$store.dispatch("alljobsAction");
              await this.$store.dispatch("departmentsjobs");
              const audio = new Audio(require('../assets/notification.mp3'));
              audio.play();

            }else if(this.get_userdetail.userid.toString()==checkedjobsSubscribe){
              console.log('checkedjobsSubscribe2');
              await this.$store.dispatch("alljobsAction");
              await this.$store.dispatch("departmentsjobs");
            }
          }
        },
        changeversion:{
          query: gql`subscription {
            changeversionSubscribe{
              userid
              }
          }`,
          async result ({ data }) {
            if ( this.get_userdetail.role=='admin') {
              this.version=true
            }
          }
        },

      },
    },
  data() {
    return {
      version:false,
      is_admin:false,
      setadmin:[],
      leftDrawerOpen: true,
      transferarr:[],
      alljobs:[],
      url:""
      // setsendtransfer:[]
    };
  },
  watch: {
             getalljobs(val) {
              // console.log(val,"vallll");

              if (val.length > 0 ) {
                // console.log(val);
                // this.settransfer(val)
                // console.log(val);
                //  this.$store.commit('setdepartmentsjobs', val)
                //  this.$store.commit('setwaitjobs', val)
                //  this.$store.commit('setactivejobs', val)
                //  this.$store.commit('settransferjobs', val)
                // console.log("get_user",val);
                // await this.activemethod(val)
                // await this.transfermethod(val)
                // alljobsmethod(val)
             }
        },
          get_userdetail:{
              //  console.log("main",val);
              handler(val) {
                if (val.path) {
                // this.url=require('../../uploads/avatar/'+val.path)
                }
              },
              deep: true
              //  if (val) {
              //    this.url='../../../uploads/avatar/'+val.path
              //  console.log('this.url',this.url);
              //  }

             }
  },
  computed: {
            ...mapGetters([
              'get_user',
              'get_userdetail',
              'getuserCategory',
              'getwaitjobs',
              'getactivejobs',
              'gettransferjobs',
              'getallUser',
              'getdepartmentsjobs',
              'getendjobs',
              'getendcheckedjobs',
              'getcanceljobs',
              'getalljobs'
            ]),

        },
  async mounted () {

    await this.$store.dispatch("allUser");
     // this.$store.dispatch("set_user");
    await this.$store.dispatch("treedata");
    await this.$store.dispatch("allCategory");
    await this.$store.dispatch("allCompany");
    await this.$store.dispatch("allDepartment");
    await this.$store.dispatch("allProducts");
    // await this.alljobsmethod()
    console.log("mounted");


    //

    if (localStorage.getItem("token") !== null) {
            let token = this.$jwt.decode(localStorage.getItem("token"),process.env.JWT_SECRET);
            await this.$store.commit("set_user", token);
            await this.$store.dispatch("userdetail",this.get_user.email)
            await this.$store.dispatch("userCategory")

           await this.$store.dispatch("departmentsjobs",this.get_userdetail);
           await this.$store.dispatch("alljobsAction");
          //  await this.$store.dispatch("allProducts")
           
          //  await this.$store.dispatch("departmenttransferjobs",this.get_userdetail.userid);
            // this.setdepartment(this.get_userdetail)
            this.setadmin=this.getallUser.filter((val)=>{
              // console.log("this.get_userdetail",this.get_userdetail);
              return val.role!='user' && val.email!=this.get_user.email
            })
            await this.$store.commit('setadminUsers',this.setadmin);
            // console.log("this.get_user",this.get_user);
            // console.log("this.getalljobs",this.getalljobs);
            // if (this.get_user.role=='admin') {
            //   this.is_admin=true
            // }
            // if (this.is_admin) {
            //   await this.$store.commit("setwaitjobs",this.getalljobs)
            // }
            // this.deneme()
    }
    // console.log(this.get_userdetail);
  },

  methods: {
    logout(){
            this.$store.dispatch("logout");
            // this.$router.push({ path: "/" });
            window.location.reload()
            // window.location.href = "http://localhost:8080"
          },
    refresh(){
      window.location.reload()
      // console.log(this.getuserCategory);
      // console.log(this.getuserCategory.includes("8"));
      // this.get_userdetail.
    }
    // async setdepartment(val){
    //   await axios.post(
    //       process.env.API, {
    //         query: `query departmentjobsQuery($list:[departmentInput]){
    //              departmentjobsQuery(list:$list){
    //               jobsid
    //               priority
    //               description
    //               createdAt
    //               updatedAt
    //               jobstate{
    //                 jobstateid
    //                 state
    //                 active
    //                 userid
    //                 transferuserid
    //                 jobsid
    //                 note
    //                 stateuser{
    //                   userid
    //                   firstname
    //                   email
    //                   }
    //                   transferuser{
    //                     userid
    //                     firstname
    //                     email
    //                   }
    //                 }
    //               openuser{
    //                 userid
    //                 firstname
    //                 email
    //               }
    //               company{
    //                 name
    //               }
    //                 category{
    //                   name
    //                   departmentcategory{
    //                     department{
    //                       name
    //                     }
    //                   }
    //                 }
    //              }
    //   }`,
    //   variables:{
    //     list:val.userdepartments
    //   }
    //       }).then(async data => {
    //          let arr=data.data.data.departmentjobsQuery
    //         console.log("mdjq",data.data.data.departmentjobsQuery);
    //         await this.$store.commit('setdepartmentsjobs', arr)
    //         await this.$store.commit('setwaitjobs', arr)

    //         await this.activemethod(arr)
    //         await this.transfermethod(arr)
    //         await this.waitmethod(arr)
    //       })

    // },

    //  async settransfer(val){
    //   //  this.$store.commit('setdeneme', [1,2,3])
    //        let nal= val.filter( (sala,ia)=>{

    //       if (sala.jobstate.length != 0) {
    //         // console.log("sala",ia);
    //         let count1=0
    //         sala.jobstate= sala.jobstate.filter((salb,ib)=>{

    //           // console.log(state.userdetail.userid==salb.userid && salb.state=='Transfer');
    //           if (this.get_userdetail.userid==salb.userid && salb.state=='Transfer' && salb.active ) {
    //             // console.log(salb);
    //             count1 ++
    //             return salb
    //           }
    //         })
    //         if (count1 > 0) {

    //           return sala
    //         }
    //       }
    //     })
    //     console.log("settransfer",nal);
    //     this.transferarr=nal

    //      this.$store.commit('settransferjobs', nal)
    // },
  //  async alljobsmethod(){
  //     await axios.post(
  //           process.env.API, {
  //         // await apolloClient.query({
  //             query: `{
  //               alljobsQuery {
  //                 jobsid
  //                 priority
  //                 description
  //                 createdAt
  //                 updatedAt
  //                 jobstate{
  //                   jobstateid
  //                   state
  //                   active
  //                   userid
  //                   transferuserid
  //                   jobsid
  //                   note
  //                   stateuser{
  //                     userid
  //                     firstname
  //                     email
  //                     }
  //                   transferuser{
  //                     userid
  //                     firstname
  //                     email
  //                   }
  //                   }
  //                 openuser{
  //                   userid
  //                   firstname
  //                   email
  //                 }
  //                 company{
  //                   name
  //                 }
  //                   category{
  //                     name
  //                     departmentcategory{
  //                       department{
  //                         name
  //                       }
  //                     }
  //                   }
  //                 }
  //       }`,
  //           }).then(  (res) => {
  //             let alljob=res.data.data.alljobsQuery
  //               this.alljobs=res.data.data.alljobsQuery
  //                this.$store.commit("setalljobs",alljob);
  //               // console.log(alljob);
  //               // commit('setdeneme',state.deneme)
  //               // state.alljobsdata=data.data.data.alljobsQuery
  //               // commit('setalljobs', alljob)
  //             // await commit('settransferjobs', data.data.data.alljobsQuery)
  //             // await commit('setsendtransferjobs', data.data.data.alljobsQuery)
  //             //
  //           })
  //   }

  },
};
</script>
<style lang="stylus" >
$primary = #1976D2;
$black ?= black;
$black-1 ?= #222D32;

.bg-black {
  background: $black;
}

.bg-black-1 {
  background: $black-1;
}

.q-list a, .q-list .q-expansion-item {
  color: #b8c7ce !important;
}

.q-list a:hover * {
  color: white !important;
}

.q-item.q-router-link--active {
  > .q-focus-helper {
    background-color: currentColor;
    opacity: 0.07;
  }
}

.q-list .q-expansion-item a {
  margin-left: 20px;
}

.q-badge--floating {
  top: -5px !important;
  right: -7px !important;
}

</style>
