<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="bg-primary" elevated>
      <q-toolbar>
        <q-btn @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu" dense flat round>
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title></q-toolbar-title>
        <!-- <q-btn :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'"
               @click="$q.fullscreen.toggle()"
               flat>
          <q-icon></q-icon>
        </q-btn>-->
        <!-- <q-btn dense round flat class="q-mr-lg" icon="mdi-bell-outline">
          
          <q-badge v-if="get_newviewSiparisLists.length > 0" class="text-capitalize " color="red" align="top" floating >{{get_newviewSiparisLists.length}}</q-badge>
          
          
          <q-menu v-if="get_newviewSiparisLists.length > 0" style="width:500px;">
            <q-toolbar class="q-mt-xs " style="width:500px;" >
              
              <q-toolbar-title >Yeni Siparişler</q-toolbar-title>
              
              <q-space />
              <q-btn rounded flat dense >
                <q-icon name="mdi-dots-horizontal" />
                <q-menu  >
                  <q-item style="width:200px;min-height:0px;" @click="deleteviewSiparislist('all')" tag="label">
                    Tüm Bildirimleri Sil
                  </q-item>
                </q-menu>
                  
              </q-btn>
          </q-toolbar>
          <q-separator spaced/>
        <q-list  v-for="(get_newviewSiparisList, i) in get_newviewSiparisLists" :key="i">
          <q-item tag="label" @click="deleteviewSiparislist(get_newviewSiparisList._id)">
            <q-item-section  >
              
              <q-item-label class="text-grey-8 ">
                {{get_newviewSiparisList.tutar.toLocaleString('tr', {minimumFractionDigits: 2})}} TL tutarında sipariş verildi.
              </q-item-label>
              <q-item-label v-for="(user, ind) in get_newviewSiparisList.user" :key="ind"  caption >
                  <q-item-label class="q-mb-xs">{{user.ad_soyad}} </q-item-label>
                 {{user.il}} - {{user.ilce}}
              </q-item-label>
              
              
            </q-item-section>
            <q-item-section  caption side top>
              <q-item-label class="text-teal" caption  >
              {{moment(get_newviewSiparisList.createdAt).fromNow()}} 
              </q-item-label>
              <q-item-label class="text-teal" caption  >
              {{get_newviewSiparisList.odemetipi}} 
              </q-item-label>
            </q-item-section>
            
        
          </q-item>
          <q-separator spaced inset/>
          
        </q-list>
      </q-menu>
        </q-btn>-->
      
        <div v-if="get_user.email" class="text-weight-bold">
              {{get_user.email}}
          </div>
            <q-space/>
            <q-btn v-if="getwaitjobs.length > 0" class="q-mr-xs" icon="mdi-bell-ring" flat round>
              <q-badge class="q-mr-xs q-mt-xs" color="red"  floating>
                {{getwaitjobs.length + gettransferjobs.length}}
              </q-badge>
            </q-btn>
            <q-btn v-else class="q-mr-xs" icon="mdi-bell" flat round />
              
        
        <q-btn round flat icon="mdi-account">
          <q-menu :offset="[0, 5]">
            <q-list style="min-width: 100px;">
              <q-item @click="logout()" clickable q-close-popup>
                <q-item-section>Logout</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
        
      </q-toolbar>
    </q-header>

    <q-drawer bordered content-class="bg-black-1" v-model="leftDrawerOpen">
      <q-item to="/admin" exact>
        <q-toolbar  class=" text-white cursor-pointer" >
          <q-toolbar-title  class="absolute-center">
            <span>
              <b>M</b>ana<b>GE</b>men<b>T</b>
            </span>
          </q-toolbar-title>
        </q-toolbar>
      </q-item>
      <q-list class="q-mr-md">
        <q-img style="height: 150px;color: black">
          <div class="absolute-center bg-transparent">
            <div class="text-center">
              <q-avatar class="q-mb-sm" size="60px">
                <img src />
              </q-avatar>
            </div>
            <div class="text-weight-bold text-center bg-transparent"></div>
            <div class="bg-transparent"></div>
            <div class="bg-transparent">Bekleyen : {{getwaitjobs.length}}</div>
            <div class="bg-transparent">Aktif : {{getactivejobs.length}}</div>
            <div class="bg-transparent">Aktarılan : {{gettransferjobs.length}}</div>
          </div>
        </q-img>
        <q-item-label header>Ana Menü</q-item-label>
        <q-item to="/admin" exact>
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Ana Sayfa</q-item-label>
          </q-item-section>
        </q-item>

         <!--<q-item to="/" exact>
          <q-item-section avatar>
            <q-icon name="mdi-account-multiple" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Müşteri Listesi</q-item-label>
          </q-item-section>
        </q-item> -->
        <!-- <q-item to="/" exact>
          <q-item-section avatar>
            <q-icon name="mdi-file-multiple-outline" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Fatura Listesi</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/" exact> -->
          <!-- <q-item-section avatar>
            <q-icon name="shopping_cart" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Sipariş Listesi</q-item-label>
          </q-item-section>
        </q-item> -->

        <!-- <q-item to="/" exact>
          <q-item-section avatar>
            <q-icon name="money" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Stok Fişi</q-item-label>
          </q-item-section>
        </q-item> -->
        <q-expansion-item  label="Servis İşlemleri" icon="settings">
          <!-- <q-expansion-item label="Tanımlamalar" icon="build"> -->
          <q-item to="/newticket" exact>
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section >
              <q-item-label>Yeni Ticket</q-item-label>
            </q-item-section>                                                                                 
          </q-item>
          <q-item  to="/waitjobs" exact>
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label >Bekleyen işlemler <q-badge class="q-mr-md q-mt-md text-weight-bold" color="red" floating rounded>{{getwaitjobs.length}}</q-badge></q-item-label>
            </q-item-section>                                                                                 
          </q-item>
          <q-item to="/activejobs" exact>
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section >
              <q-item-label>Aktif işlemler
                <q-badge  class="q-mr-md q-mt-md text-weight-bold" color="red"  floating rounded>{{getactivejobs.length}}</q-badge>
                </q-item-label>
            </q-item-section>                                                                                 
          </q-item>
          <q-item to="/transferjobs" exact>
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Aktarılan İş Emirleri<q-badge class="q-mr-md q-mt-md text-weight-bold" color="red" floating rounded>{{gettransferjobs.length}}</q-badge></q-item-label>
            </q-item-section>                                                                                 
          </q-item>
          <q-item to="/jobs" exact>
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>İş Emirleri</q-item-label>
            </q-item-section>                                                                                 
          </q-item>
        </q-expansion-item>
        <q-expansion-item  label="Onay İşlemleri" icon="check">
          <q-item to="/notcheckedendjobs" exact>
            <q-item-section avatar>
              <q-icon name="mdi-dots-grid" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Onayda Biten Emirler<q-badge v-if="getendjobs.length > 0" class="q-mr-md q-mt-md text-weight-bold" color="red" floating rounded>{{getendjobs.length}}</q-badge></q-item-label>
            </q-item-section>                                                                                 
          </q-item>
        
          <q-item to="/checkedendjobs" exact>
            <q-item-section avatar>
              <q-icon name="mdi-send" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Onaylanmış Biten Emirler</q-item-label>
            </q-item-section>                                                                                 
          </q-item>
       </q-expansion-item>
       <q-expansion-item label="Muhasebe İşlemleri" icon="mdi-file-account">
         <q-item to="/products" exact>
            <q-item-section avatar>
              <q-icon name="mdi-dropbox" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Stok Tanımlama</q-item-label>
            </q-item-section>                                                                                 
          </q-item>
        </q-expansion-item>
        <q-expansion-item label="Admin İşlemleri" icon="build">
          <!-- <q-expansion-item label="Tanımlamalar" icon="build"> -->
          <q-item to="/category" exact>
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Ürün veya Hizmet Tanımlama</q-item-label>
            </q-item-section>                                                                                 
          </q-item>
          <q-item to="/user" exact>
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Kullanıcı Tanımlama</q-item-label>
            </q-item-section>
          </q-item>
          <q-item to="/companydetail" exact>
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Firma Tanımlama</q-item-label>
            </q-item-section>
          </q-item>
          <q-item to="/department" exact>
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Departmanlar</q-item-label>
            </q-item-section>
          </q-item>
          <q-item to="/userdepartment" exact>
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Kullanıcı Departmanları</q-item-label>
            </q-item-section>
          </q-item>
          <q-item to="/companyuser" exact>
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Kullanıcı Firmaları</q-item-label>
            </q-item-section>
          </q-item>
          
        <!-- </q-expansion-item> -->
          <!-- <q-item to="/createuser" exact>
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Kullanıcı Tanımları</q-item-label>
            </q-item-section>
          </q-item> -->
          <!-- <q-item to="/" exact>
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Kullanıcı Tanımlama</q-item-label>
            </q-item-section>
          </q-item>
          <q-item to="/" exact>
            <q-item-section avatar>
              <q-icon name="mdi-cogs" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Firma Tanımlama</q-item-label>
            </q-item-section>
          </q-item> -->
          <!-- <q-item to="/" exact>
            <q-item-section avatar>
              <q-icon name />
            </q-item-section>
            <q-item-section>
              <q-item-label>Varyant Tanımlama</q-item-label>
            </q-item-section>
          </q-item> -->
        </q-expansion-item>
        <!-- <q-item to="/" exact>
          <q-item-section avatar>
            <q-icon name="mdi-cogs" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Ana Sayfa Ayarları</q-item-label>
          </q-item-section>
        </q-item> -->
        <!-- <q-item to="/" exact>
          <q-item-section avatar>
            <q-icon name="input" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Çıkış</q-item-label>
          </q-item-section>
        </q-item> -->
      </q-list>
    </q-drawer>

    <q-page-container class="q-ma-md">
      <router-view></router-view>
    </q-page-container>
  </q-layout>
</template>

<script>
import Vue from "vue";
import {mapState,mapGetters} from 'vuex'
import axios from "axios";
import gql from "graphql-tag";
export default {
  name: "MainLayout",
  data() {
    return {
      setadmin:[],
      leftDrawerOpen: true,
      transferarr:[],
      alljobs:[]
      // setsendtransfer:[]
    };  
  },
  watch: {
             getalljobs(val) {
              // console.log(val,"vallll");
              
              if (val.length > 0 ) {
                // console.log(val);
                // this.settransfer(val)
                // console.log(val);
                //  this.$store.commit('setdepartmentsjobs', val)
                //  this.$store.commit('setwaitjobs', val)
                //  this.$store.commit('setactivejobs', val)
                //  this.$store.commit('settransferjobs', val)
                // console.log("get_user",val);
                // await this.activemethod(val)
                // await this.transfermethod(val)
                // alljobsmethod(val)
             }
                
             
        }
  },
  computed: { 
            ...mapGetters([
              'get_user',
              'get_userdetail',
              'getwaitjobs',
              'getactivejobs',
              'gettransferjobs',
              'getallUser',
              'getdepartmentsjobs',
              'getendjobs',
              'getendcheckedjobs',
              'getcanceljobs',
              'getalljobs'
            ]),
            
        },
  async mounted () {
    
    await this.$store.dispatch("allUser");
     // this.$store.dispatch("set_user");
    await this.$store.dispatch("treedata");
    await this.$store.dispatch("allCategory");
    await this.$store.dispatch("allCompany");
    await this.$store.dispatch("allDepartment");
    await this.$store.dispatch("allProducts");
    // await this.alljobsmethod()
    console.log("mounted");
    

    // 
  
    if (localStorage.getItem("token") !== null) {
            let token = this.$jwt.decode(localStorage.getItem("token"),process.env.JWT_SECRET);
            await this.$store.commit("set_user", token);
            await this.$store.dispatch("userdetail",this.get_user.email)
            
           await this.$store.dispatch("departmentsjobs",this.get_userdetail);
           await this.$store.dispatch("alljobsAction");
           await this.$store.dispatch("allProducts")
          //  await this.$store.dispatch("departmenttransferjobs",this.get_userdetail.userid);
            // this.setdepartment(this.get_userdetail)
            this.setadmin=this.getallUser.filter((val)=>{
              // console.log("this.get_userdetail",this.get_userdetail);
              return val.role!='user' && val.email!=this.get_user.email
            })
            await this.$store.commit('setadminUsers',this.setadmin);
            // console.log("userdetail",this.get_userdetail.cuser);
    }
    // console.log(this.get_userdetail);
  },
  methods: {
    logout(){
            this.$store.dispatch("logout");
            // this.$router.push({ path: "/" });
            window.location.reload()
            // window.location.href = "http://localhost:8080"
          },
    async setdepartment(val){
      await axios.post(
          process.env.API, {
            query: `query departmentjobsQuery($list:[departmentInput]){
                 departmentjobsQuery(list:$list){
                  jobsid
                  priority
                  description
                  createdAt
                  updatedAt
                  jobstate{
                    jobstateid
                    state
                    active
                    userid
                    transferuserid
                    jobsid
                    note
                    stateuser{
                      userid
                      firstname
                      email
                      }
                      transferuser{
                        userid
                        firstname
                        email
                      }
                    }
                  openuser{
                    userid
                    firstname
                    email
                  }
                  company{
                    name
                  }
                    category{
                      name
                      departmentcategory{
                        department{
                          name
                        }
                      }
                    }
                 }
      }`,
      variables:{
        list:val.userdepartments
      }
          }).then(async data => {
             let arr=data.data.data.departmentjobsQuery
            console.log("mdjq",data.data.data.departmentjobsQuery); 
            await this.$store.commit('setdepartmentsjobs', arr)
            await this.$store.commit('setwaitjobs', arr) 
            
            await this.activemethod(arr)
            await this.transfermethod(arr)
            await this.waitmethod(arr)
          })
    
    }, 
      
    //  async settransfer(val){
    //   //  this.$store.commit('setdeneme', [1,2,3])
    //        let nal= val.filter( (sala,ia)=>{
           
    //       if (sala.jobstate.length != 0) {
    //         // console.log("sala",ia);
    //         let count1=0
    //         sala.jobstate= sala.jobstate.filter((salb,ib)=>{
              
    //           // console.log(state.userdetail.userid==salb.userid && salb.state=='Transfer');
    //           if (this.get_userdetail.userid==salb.userid && salb.state=='Transfer' && salb.active ) {
    //             // console.log(salb);
    //             count1 ++
    //             return salb
    //           }
    //         })
    //         if (count1 > 0) {
              
    //           return sala
    //         }
    //       }
    //     })
    //     console.log("settransfer",nal);
    //     this.transferarr=nal
         
    //      this.$store.commit('settransferjobs', nal)
    // },
  //  async alljobsmethod(){
  //     await axios.post(
  //           process.env.API, {
  //         // await apolloClient.query({
  //             query: `{
  //               alljobsQuery {
  //                 jobsid
  //                 priority
  //                 description
  //                 createdAt
  //                 updatedAt
  //                 jobstate{
  //                   jobstateid
  //                   state
  //                   active
  //                   userid
  //                   transferuserid
  //                   jobsid
  //                   note
  //                   stateuser{
  //                     userid
  //                     firstname
  //                     email
  //                     }
  //                   transferuser{
  //                     userid
  //                     firstname
  //                     email
  //                   }
  //                   }
  //                 openuser{
  //                   userid
  //                   firstname
  //                   email
  //                 }
  //                 company{
  //                   name
  //                 }
  //                   category{
  //                     name
  //                     departmentcategory{
  //                       department{
  //                         name
  //                       }
  //                     }
  //                   } 
  //                 }
  //       }`,
  //           }).then(  (res) => {
  //             let alljob=res.data.data.alljobsQuery
  //               this.alljobs=res.data.data.alljobsQuery
  //                this.$store.commit("setalljobs",alljob);
  //               // console.log(alljob);
  //               // commit('setdeneme',state.deneme)
  //               // state.alljobsdata=data.data.data.alljobsQuery
  //               // commit('setalljobs', alljob)
  //             // await commit('settransferjobs', data.data.data.alljobsQuery)
  //             // await commit('setsendtransferjobs', data.data.data.alljobsQuery)
  //             // 
  //           })
  //   }
    
  },
};
</script>
<style lang="stylus" >
$primary = #1976D2;
$black ?= black;
$black-1 ?= #222D32;

.bg-black {
  background: $black;
}

.bg-black-1 {
  background: $black-1;
}

.q-list a, .q-list .q-expansion-item {
  color: #b8c7ce !important;
}

.q-list a:hover * {
  color: white !important;
}

.q-item.q-router-link--active {
  > .q-focus-helper {
    background-color: currentColor;
    opacity: 0.07;
  }
}

.q-list .q-expansion-item a {
  margin-left: 20px;
}

.q-badge--floating {
  top: -5px !important;
  right: -7px !important;
}
</style>