<template>
  <div>
    
    <q-card>
      <q-table :filter="filter" :data="getallCompany" :columns="columns" row-key="categoryid" :pagination.sync="pagination" title="Firma Listesi">
          <template v-slot:top-right>
            <q-btn
          class="q-mr-md"
          size="18px"
          color="primary"
          icon="mdi-plus"
          @click="companydialog = !companydialog"
          dense
          
        />
        
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Ara">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
          <template v-slot:body="props">
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)"> -->
            <q-tr :props="props" class="cursor-pointer" >
              <q-td key="name" :props="props" >{{props.row.name}}</q-td>
              <q-td key="il" :props="props" >{{props.row.il}}</q-td>
              <!-- <q-td key="lastname" :props="props" >{{props.row.lastname}}</q-td> -->
            </q-tr>
          </template>
        </q-table>
    </q-card>
  </div>
</template>

<script>
import {mapState,mapGetters} from 'vuex'
import axios from "axios";
import gql from "graphql-tag";
  export default {
    data() {
      return {
        columns: [
        {
          name: "name",
          label: "Adı",
          align: "left",
          sortable: true,
          field: (row) => row.name,
        },
        {
          name: "il",
          label: "il",
          align: "left",
          sortable: true,
          field: (row) => row.il,
        },
      ],
      pagination: {
        sortBy: "ust",
        descending: false,
        page: 1,
        rowsPerPage: 1000,
        // rowsNumber: 5,q
      },
        filter:'',
      }
    },
    computed: {
      ...mapGetters([
        'getallCompany',
      ])
    },
    methods: {
      
    },
  }
  
</script>

<style lang="scss" scoped>

</style>