<template>
  <div class="q-pa-md row q-gutter-xs">
    <q-card class="q-pa-md col-md-12 row  col-sm-12  col-xs-12">
      <q-card class="col-md-4 col-sm-10 offset-sm-1 col-xs-12" title>
        <q-dialog v-model="catnamemodel">
          <q-card style="width: 500px; max-width: 80vw;">
            <q-card-section class="row justify-center">
                <div class="text-h6 ">Kategori Adı</div>
                <q-space />
                <q-btn icon="close" flat round dense v-close-popup />
              </q-card-section>

            <q-card-section>
              <q-input
                class="q-pa-md"
                outlined
                v-model="catname"
                @input="upperinput"
                label="Adı"
                :dense="false"
              />
            </q-card-section>
            <q-card-section class="text-right">
              <q-btn
                class="q-ma-sm"
                color="primary"
                label="Güncelle"
                @click="catnameupdate()"
                v-close-popup
              ></q-btn>
              <q-btn
                class="q-mr-md"
                color="negative"
                label="Sil"
                @click="catnamedelete()"
                v-close-popup
              ></q-btn>
            </q-card-section>
          </q-card>
        </q-dialog>
        <q-dialog v-model="catparentmodel">
          <q-card style="width: 500px; max-width: 80vw;">
            <q-card-section class="row justify-center">
                <div class="text-h6 ">Kategori Adı</div>
                <q-space />
                <q-btn icon="close" flat round dense v-close-popup />
              </q-card-section>

            <q-card-section>
              <q-select
                class="q-pa-md col-md-12"
                label="Üst Kategori"
                outlined
                v-model="catparent"
                :options="getallCategory"
                option-value="categoryid"
                option-label="name" 
                :display-value="`${catparent.name}`"
              ></q-select>
            </q-card-section>
            <q-card-section class="text-right">
              <q-btn
                class="q-ma-sm"
                color="primary"
                label="Güncelle"
                @click="catparentupdate()"
                v-close-popup
              ></q-btn>
              
            </q-card-section>
          </q-card>
        </q-dialog>
        <q-card-section>
          <div class="text-h6">Kategori Listesi</div>
        </q-card-section>
        <q-tree
          :selected.sync="selected"
          @update:selected="dene"
          :nodes="gettreem"
          node-key="categoryid"
          label-key="name"
          ref="nodes"
          default-expanded-all
          selected-color="red"
          :key="compkey"
          
        />
      </q-card>

      <q-card class="col-md-5 col-sm-10 offset-sm-1 col-xs-12" title>
        <q-card class="col-12" title>
          <q-card-section>
            <div class="text-h6 text-center">Kategori</div>
          </q-card-section>

          <!--    <q-separator inset />-->

          <q-input class="q-pa-md" outlined @input="upperinput" v-model="name" label="Adı" :dense="false" />
          <q-card-section>
            <div class="text-h6 text-center">
              Üst Kategori
              <br />
              <q-badge align="middle" color="red">Kategori Listesinden Seçiniz !...</q-badge>
            </div>
          </q-card-section>

          <!--    <q-separator inset />-->

          <q-input
            class="q-pa-md kategori"
            outlined
            v-model="ustkategoriad"
            @input="upperinput"
            placeholder="ANA KATEGORİ"
            :dense="false"
            disable
          />

          <div class="text-center">
            <q-btn class="q-ma-md" @click="createCategory()" color="primary" label="Kaydet" />
          </div>
        </q-card>
      </q-card>
    </q-card>
    <q-card class="col-md-12 row  col-sm-12  col-xs-12">
      <q-card class="col-md-10 col-sm-10 offset-sm-1 col-xs-12" title>
        
        <q-card-section>
          <div class="text-h6">Kategori Listesi</div>
        </q-card-section>
        <q-table :data="getallCategory" :columns="columnss" row-key="name" :pagination.sync="pagination">
          <template v-slot:body="props">
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)"> -->
            <q-tr :props="props" class="cursor-pointer" >
              <q-td key="adi" :props="props" @click.native="catnamemethod(props.row)">{{props.row.name}}</q-td>
              <q-td key="ust" :props="props" @click.native="catparentmethod(props.row)">{{props.row.children.name}}</q-td>
            </q-tr>
          </template>
        </q-table>

      </q-card>
    </q-card>
  </div>
</template>

<script>
import Vue from "vue";
import {mapState,mapGetters} from 'vuex'
import axios from "axios";
import gql from "graphql-tag"
export default {

data() {
  return {
    compkey:0,
    selected:"",
    name:"",
    ustkategoriid: null,
    ustkategoriad:"",
    medium:false,
    editedItem: {
        categoryid: "",
        name: "",
        parentid: "",
         parentname:"",
        children: {
          name: "",
          parentid: "",
          categoryid: "",
          parentname:"",
        },
      },
      //-*-*-*-*-*-*--**
      catnamemodel:false,
      catname:"",
      catnameid:"",
      catparentmodel:false,
      catparent:{
        children:{

      }
      },
      egetallCategory:[],
      isChildren:false,
      categoryid:"",
      //-*-*-*-*-*-*-*-*-
    columnss: [
        {
          name: "adi",
          label: "Kategori",
          align: "left",
          sortable: true,
          field: (row) => row.name,
        },
        {
          name: "ust",
          label: "Üst Kategori",
          align: "left",
          sortable: true,
          field: (row) => row.children.name,
        },
      ],
      pagination: {
        sortBy: "ust",
        descending: false,
        page: 1,
        rowsPerPage: 1000,
        // rowsNumber: 5,q
      },
  }
},
computed: {
  ...mapGetters([
    'gettreem',
    'getcategory',
    'getallCategory'
  ])
},
watch: {
  getallCategory(val) {
    if (val.length > 0) {
      // console.log('getallCategory',val);
      // console.log('gettreem',this.gettreem);
      // this.$refs.nodes.collapseAll()
      // this.egetallCategory=val
    }
  }
},
updated() {
      this.$refs.nodes.expandAll();
},
async mounted () {
  // await console.log('getallCategory',this.getallCategory);
  
},

methods: {
  async catnamemethod(val){
    self=this;
    // console.log(val);
    console.log(this.gettreem);
    this.catnamemodel=true
    this.catname=val.name
    this.catnameid=val.categoryid
    // alt kategori varsa
    arastir(this.gettreem)
    function arastir(valg){
      // console.log("valg",valg);
      valg.forEach((aval,ai)=>{
        if (aval.children.length) {
          if (aval.categoryid==val.categoryid) {
            self.isChildren=true
             return false
          }else{
            arastir(aval.children)
          }
        }else{
          if (aval.categoryid==val.categoryid) {
            self.isChildren=false
             return false
          }
        }
      })
    }
    

    //  console.log("isChildren",this.isChildren);
    
  },
  
  async catnameupdate(){
    console.log("catname:",this.catname,"catid;",this.catnameid);
    // return false;
    await this.$apollo
        .mutate({
          mutation: gql`
            mutation updateCategoryName($name: String, $categoryid: Int) {
              updateCategoryName(name: $name, categoryid: $categoryid) {
                name
              }
            }
          `,
          variables: {
            name: this.catname,
            categoryid: this.catnameid,
          }
  }).then( data=>{
    console.log(data.data.updateCategoryName);
    this.$store.dispatch("treedata");
    this.$store.dispatch("allCategory");
    location.reload()
  })
  },
  async catnamedelete(){
    if (this.isChildren) {
      this.$q.notify({
                    type: 'negative',
                    message: `Alt Kategoriler Olduğu için Silinemez`
                })
    }else{
      await this.$apollo
        .mutate({
          mutation: gql`
            mutation deleteCategory($categoryid: Int) {
              deleteCategory(categoryid: $categoryid) {
                categoryid
              }
            }
          `,
          variables: {
            categoryid: this.catnameid
          }
    }).then( data=>{
      this.$store.dispatch("treedata");
      this.$store.dispatch("allCategory");
      location.reload()
    })
      this.$q.notify({
                    type: 'pozitif',
                    message: `Başarılı`
                })
    }
  },
  catparentmethod(val){
    this.catparentmodel=true,
    this.catparent=val
    this.categoryid=this.catparent.categoryid
    // console.log("val",val);
    
  },
  async catparentupdate(){
    console.log(this.catparent);
    

    console.log(this.categoryid,this.catparent.categoryid);
    // return
    if (this.categoryid==this.catparent.categoryid) {
      this.$q.notify({
                    type: 'negative',
                    message: `Aynı Kategori`
                })
                return false;
    }
    // return false;
    await this.$apollo
        .mutate({
          mutation: gql`
            mutation updateCategoryParentName($categoryid: Int, $parentid: Int) {
              updateCategoryParentName(categoryid: $categoryid, parentid: $parentid) {
                parentid
              }
            }
          `,
          variables: {
            categoryid: this.categoryid,
            parentid: this.catparent.categoryid
          }
  }).then( data=>{
    // console.log(data.data.updateCategoryParentName);
    this.$store.dispatch("treedata");
    this.$store.dispatch("allCategory");
    location.reload()
  })

  },
  dene() {
    // console.log(this.selected);
      if (this.selected == null) {
        this.ustkategoriad = "";
      } else {
        this.search(this.selected, this.gettreem);
      }
    },
  search(key, treem) {
      treem.forEach((value, index) => {
        if (value.categoryid === key) {
          // console.log(value.stokturad);
          return (this.ustkategoriad = value.name);
        } else if (value.children) {
          this.search(key, value.children);
        }
        return null;
      });
    },
  async createCategory(){
    // console.log(this.name,this.selected,);


    if (this.selected == "") {

        this.ustkategoriid = null;
        // this.$q.notify({
        //             type: 'negative',
        //             message: `Seçim Yapmadınız...`
        //         })
        // return false;
      } else {
        this.ustkategoriid = this.selected;
      }
        // await this.$apollo 
        //     .mutate({
        //       mutation: gql`
        //         mutation createCategory($name: String, $parentid: Int) {
        //           createCategory(name: $name, parentid: $parentid) {
        //             parentid
        //           }
        //         }
        //       `,
        await axios.post(
            process.env.API, {
              query: `mutation createCategory($name: String, $parentid: Int){
                      createCategory(name: $name, parentid: $parentid){
                        parentid
                        }
                      }`,
          variables: {
            name: this.name,
            parentid: this.ustkategoriid,
            
          }
  }).then( async data=>{
    // console.log('createCategorydata:',data);
    await this.$store.dispatch("treedata");
    await this.$store.dispatch("allCategory");
    this.name="";
    this.ustkategoriad = "";
    this.selected="";
    this.ustkategoriid;
    this.compkey++
    this.$q.notify({
                    type: 'positive',
                    message: `Kayıt Başarılı`
                })
    // location.reload()
  })
},
  editItem(item) {
      
      
      this.selected = null;
      // console.log(item);
       
      this.editedItem = Object.assign({}, item);
      
      
      this.medium = true;
      // console.log(item.id)
    },
 updateCategory(item) {
  //  console.log(item);
   
   this.editedItem= {
        categoryid: "",
        name: "",
        parentid: "",
        parentname:"",
        children: {
          name: "",
          parentid: "",
          categoryid: "",
          parentname:"",
        },
      }
 },   
 deleteCategory(item) {

 },   
 upperinput(){
      this.catname != null ? this.catname = this.$turkishUpper(this.catname):this.catname
      this.ustkategoriad != null ? this.ustkategoriad = this.$turkishUpper(this.ustkategoriad):this.ustkategoriad
      this.name != null ? this.name=this.$turkishUpper(this.name) : this.name
      
    }
}
}
</script>

<style>

</style>