<template>
  <div class=" q-pa-xs ">
    <q-card>
      <div class="row">
        <q-btn
            label="Ekle"
            class="col q-ma-md"
            size="18px"
            icon="mdi-plus"
            @click="companydialog = !companydialog, edit=false"
            dense
            no-caps
          />
      </div>
      <q-table :filter="filter" :data="getallCompany" :columns="columns" row-key="categoryid" :pagination.sync="pagination" title="Firma Listesi">
          <template v-slot:top-right>
            
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Ara">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
          <template v-slot:body="props">
            <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row), edit=true">
              <q-td key="name" :props="props" >{{props.row.name}}</q-td>
              <q-td key="il" :props="props" >{{props.row.il}}</q-td>
              <q-td key="contract" :props="props" >
                <div v-if="props.row.contracts.length">
                  <div v-if="props.row.contracts[0].state==='Aktif'">
                    <q-badge color="green">Aktif</q-badge>
                  </div>
                  <div v-else><q-badge color="deep-orange">Pasif</q-badge></div>
                </div>
                <div v-else><q-badge color="deep-orange">Pasif</q-badge></div>
              </q-td>
            </q-tr>
          </template>
      </q-table>
      
      
    </q-card>
    <q-dialog style="padding-left:0px;"  v-model="companydialog" persistent>
      <q-card  style="width: 550px; height:820px;" >
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Firma Detay</div>
                <q-space />
                <q-btn icon="close" @click="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <q-tabs
          v-model="tab"
          
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
        >
          <q-tab name="company" label="Firma" />
          <q-tab name="contract" label="Sözleşme" />
          
        </q-tabs>
        <q-separator />
        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="company">
            
          <q-input class="q-pb-md" outlined v-model="companyitem.name" label="Ünvan" @input="upperinput()"  dense/>
          <q-input @input="upperinput()"  type="textarea" class="q-pb-md"  v-model="companyitem.adress" label="Adres" rows="3" :dense="false" outlined/>
          <div class="row">
            <q-input class="q-pb-md  col-6" outlined v-model="companyitem.il" label="il" @input="upperinput()"  dense/>
            <q-input class="q-pb-md q-pl-xs col-6" outlined v-model="companyitem.ilce" label="ilce" @input="upperinput()"  dense/>
          </div>
          <q-input class="q-pb-md" outlined v-model="companyitem.email" label="E-mail"  dense/>
          <q-input class="q-pb-md" outlined v-model="companyitem.cep" label="Cep"   dense/>
          <q-input class="q-pb-md" outlined v-model="companyitem.fax" label="E-Fatura Adresi"   dense/>
          <q-input class="q-pb-md" outlined v-model="companyitem.pbx" label="Pbx"   dense/>
          
          <div class="row">
            <q-input class="q-pb-md  col-6" outlined v-model="companyitem.vergiDairesi" label="Vergi Dairesi" @input="upperinput()"  dense/>
            <q-input class="q-pb-md q-pl-xs col-6" outlined v-model="companyitem.vergiNo" label="Vergi No / T.C. No " @input="upperinput()"  dense/>
          </div>
           <q-input @input="upperinput()" type="textarea" class="q-pb-md" outlined v-model="companyitem.description" rows="4" label="Açıklama" :dense="false" />
        <div class="text-right">
            <q-btn v-if="edit" class="q-ma-xs"  @click="updateCompany()"  label="Düzenle" />
            <q-btn v-else class="q-ma-xs" @click="createCompany()"    label="Kaydet" />
          </div>
            
          </q-tab-panel>

          <q-tab-panel  name="contract">
            <div class="row">
              <q-btn @click="contractdialog=true" class=" col q-mb-md" icon="mdi-plus" label="Ekle" ></q-btn>
            </div>
            
            <q-table flat :filter="contractfilter" :data="companyitem.contracts" :columns="contractcolumns" row-key="contractid" :pagination.sync="pagination" >
                <template v-slot:body="props">
                  <q-tr :props="props" class="cursor-pointer" @click.native="companyid=props.row.companyid, contractid=props.row.contractid, createcontractdialog=true">
                    <q-td key="id" :props="props" >{{props.row.contractid}}</q-td>
                    <q-td key="startdate" :props="props" >{{props.row.startdate}}</q-td>
                    <q-td key="enddate" :props="props" >{{props.row.enddate}}</q-td>
                    <q-td key="state" :props="props" >
                      <q-badge v-if="props.row.state=='Aktif'" color="green">{{props.row.state}}</q-badge>
                      <q-badge v-else color="red">{{props.row.state}}</q-badge>
                    </q-td>
                  </q-tr>
                </template>
            </q-table>
          </q-tab-panel>

        </q-tab-panels>
        
      </q-card>
    </q-dialog>
    <q-dialog v-model="contractdialog" position="top" persistent>
      <q-card  style="width: 550px;height:290px  " >
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Sözleşme Tarihleri</div>
                <q-space />
                <q-btn icon="close" @click="contractdialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <q-input dense class="col q-pa-md" outlined v-model="startdate" mask="##/##/####" label="Başlangıç Tarihi" :rules="[startdate]">
        <template v-slot:append>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy ref="sss" transition-show="scale" transition-hide="scale">
              <q-date v-model="startdate" @input="() => $refs.sss.hide()"  mask="DD/MM/YYYY"></q-date>
            </q-popup-proxy>
          </q-icon>
        </template> 
        </q-input>
        <q-input dense class="col q-pa-md" outlined   v-model="enddate" mask="##/##/####" label="Bitiş Tarihi" :rules="[enddate]">
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy ref="eee" transition-show="scale" transition-hide="scale">
                <q-date v-model="enddate" @input="() => $refs.eee.hide()"  mask="DD/MM/YYYY"></q-date>
              </q-popup-proxy>
            </q-icon>
          </template>
      </q-input> 
      <div class="q-pa-md text-right q-gutter-md">
        <q-btn @click="contractdialog=false" label="İptal"/>
        <q-btn @click="createcontract()"  label="Devam"/>
      </div>
    
      </q-card>
    </q-dialog>
    <q-dialog v-model="createcontractdialog" position="top" persistent>
      <q-card  class="col " >
        <q-card-section class="row justify-center">
                <div class="text-h6">Sözleşme </div>
                <q-space />
                <q-btn icon="close" @click="createcontractdialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <contract  :companyid="companyid" :contractid="contractid" @close="createcontractdialog=false"/>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import {mapState,mapGetters} from 'vuex';
import axios from "axios";
import moment from 'moment'
import { Loading } from 'quasar'; 
import contract from '../../components/contract.vue'
moment.locale('tr')
export default {
  components: {
    contract,
  },
  data() {
    return {
      //
      startdate:moment().startOf('year').format('DD/MM/YYYY'),
      enddate:moment().endOf('year').format('DD/MM/YYYY'),
      contractdialog:false,
      createcontractdialog:false,
      contracts:[],
      contractid:"",
      edit:false,
      tab:"company",
        companyitem:{
          name:"",
          adress:"",
          email:"",
          cep:"",
          fax:"",
          pbx:"",
          il:"",
          ilce:"",
          description:"",
          vergiDairesi:"",
          vergiNo:""

        },
        companyid:"",
      //
      companydialog:false,
      columns: [
        {
          name: "name",
          label: "Adı",
          align: "left",
          sortable: true,
          // sortOrder: 'da',
          field: (row) => row.name,
        },
        {
          name: "il",
          label: "il",
          align: "left",
          sortable: true,
          field: (row) => row.il,
        },
        {
          name: "contract",
          label: "Sözleşme",
          align: "left",
          sortable: true,
           field: (row) => {
             if (row.contracts.length) {
               if (row.contracts[0].state==="Aktif") {
                 return 'Aktif'
               }else{
                 return 'Pasif'
               }
             }else{
               return 'Pasif'
             }
            // 'contract'
           },
        },
      ],
      contractcolumns: [
        {
          name: "id",
          label: "Sözleşme No",
          align: "left",
          sortable: true,
          // field: (row) => row.name,
        },
        {
          name: "startdate",
          label: "Başlangıç Tarihi",
          align: "left",
          sortable: true,
          // field: (row) => row.name,
        },
        {
          name: "enddate",
          label: "Bitiş Tarihi",
          align: "left",
          sortable: true,
          // field: (row) => row.il,
        },
        {
          name: "state",
          label: "Durum",
          align: "left",
          sortable: true,
          // field: (row) => row.il,
        },
      ],
      pagination: {
        sortBy: "name",
        descending: false,
        page: 1,
        rowsPerPage: 100,
        // rowsNumber: 5,q
      },
      filter:'',
      contractfilter:''
    };
  },
  computed: {
  ...mapGetters([
    'getallCompany'
    
  ])
},
  mounted() {},
  methods: {
    // async createcontract(){
      // setTimeout(() => {
      //   this.contractdialog=false
      //   this.createcontractdialog=true
      //   this.contractid=1
      // }, 1000);
    // },
    async createcontract(){
      Loading.show()
      await this.$axios.post(
            process.env.API, {
              query: `mutation createContract($companyid:ID, $startdate:String, $enddate:String){
                createContract(companyid:$companyid, startdate:$startdate, enddate:$enddate) {
                  contractid
                }
              }`,
              variables:{
                companyid:this.companyid,
                startdate:this.startdate,
                enddate:this.enddate
              }
            }).then(async data => {
              await this.$store.dispatch('allCompany')
              // console.log(this.getallCompany);
              // console.log(this.companyid);
              this.contractid=data.data.data.createContract.contractid
               this.contractdialog=false
               this.createcontractdialog=true
               this.companyitem=this.getallCompany.filter(val=>
                 val.companyid==this.companyid
               )[0]
               this.$q.notify({
                    type: 'positive',
                    // position:'top-right',
                    message: `Başarılı`
                })
              Loading.hide()
                // console.log(companyitem);
            })
      
    },
    checkDate (val) {
      return Quasar.utils.date.isValid(val) || 'Invalid date.'
    },
    async createCompany(){
      Loading.show()
      await this.$axios.post(
            process.env.API, {
              query: `mutation createCompany($name:String, $adress:String, $email:String, $pbx:String, $fax:String, $cep:String, $il:ID, $ilce:ID, $description:String, $vergiDairesi:String, $vergiNo:String){
                createCompany(name:$name, adress:$adress, pbx:$pbx, fax:$fax, cep:$cep, email:$email, il:$il, ilce:$ilce, description:$description, vergiDairesi:$vergiDairesi, vergiNo:$vergiNo) {
                  companyid
                }
              }`,
              variables:{
                name:this.companyitem.name,
                adress:this.companyitem.adress, 
                pbx:this.companyitem.pbx, 
                fax:this.companyitem.fax, 
                cep:this.companyitem.cep, 
                email:this.companyitem.email, 
                il:this.companyitem.il, 
                ilce:this.companyitem.ilce, 
                description:this.companyitem.description, 
                vergiDairesi:this.companyitem.vergiDairesi, 
                vergiNo:this.companyitem.vergiNo
              }
            }).then(async data => {
              await this.$store.dispatch('allCompany')
              Loading.hide()
              this.$q.notify({
                    type: 'positive',
                    // position:'top-right',
                    message: `Başarılı`
                })
                this.companyitem={
                  name:"",
                  adress:"",
                  email:"",
                  cep:"",
                  fax:"",
                  pbx:"",
                  il:"",
                  ilce:"",
                  description:"",
                  vergiDairesi:"",
                  vergiNo:""
                }
                this.companydialog=false
              // this.$q.notify({
              //       type: 'positive',
              //       message: `Kayıt Başarılı`
              //   })
            })
    },
    async updateCompany(){
      console.log(this.companyitem);
      Loading.show()
      // return
      await this.$axios.post(
            process.env.API, {
              query: `mutation updateCompany($companyid:ID, $name:String, $adress:String, $email:String, $pbx:String, $fax:String, $cep:String, $il:ID, $ilce:ID, $description:String, $vergiDairesi:String, $vergiNo:String){
                updateCompany(companyid:$companyid, name:$name, adress:$adress, pbx:$pbx, fax:$fax, cep:$cep, email:$email, il:$il, ilce:$ilce, description:$description, vergiDairesi:$vergiDairesi, vergiNo:$vergiNo) {
                  companyid
                }
              }`,
              variables:{
                companyid:this.companyid,
                name:this.companyitem.name,
                adress:this.companyitem.adress, 
                pbx:this.companyitem.pbx, 
                fax:this.companyitem.fax, 
                cep:this.companyitem.cep, 
                email:this.companyitem.email, 
                il:this.companyitem.il, 
                ilce:this.companyitem.ilce, 
                description:this.companyitem.description, 
                vergiDairesi:this.companyitem.vergiDairesi, 
                vergiNo:this.companyitem.vergiNo
              }
            }).then(async data => {
              console.log('data',data);
              await this.$store.dispatch('allCompany')
              this.$q.notify({
                    type: 'positive',
                    message: `Başarıyla Güncellendi`
                })
                Loading.hide()
            })
    },
    editItem(item){
      console.log("item",item);
      this.companydialog=true
      this.companyitem = Object.assign({}, item);
      // console.log(this.companyitem);
      this.companyid=this.companyitem.companyid
      this.edit=true
      // this.contract()
    },
    open(){
      
      this.companydialog=true
      
    },
    close(){
      this.companyitem={
        categoryid:"",
          name:"",
          email:"",
          cep:"",
          pbx:"",
          il:"",
          ilce:"",
          description:""
      }
      this.companydialog=false
    },
    upperinput(){
      this.companyitem.name != null ? this.companyitem.name = this.$turkishUpper(this.companyitem.name):this.companyitem.name
      this.companyitem.il != null ? this.companyitem.il=this.$turkishUpper(this.companyitem.il) : this.companyitem.il
      this.companyitem.ilce != null ? this.companyitem.ilce=this.$turkishUpper(this.companyitem.ilce):this.companyitem.ilce
      this.companyitem.description != null ? this.companyitem.description=this.$turkishUpper(this.companyitem.description):this.companyitem.description
      this.companyitem.adress != null ? this.companyitem.adress=this.$turkishUpper(this.companyitem.adress):this.companyitem.adress
      this.companyitem.vergiDairesi != null ? this.companyitem.vergiDairesi=this.$turkishUpper(this.companyitem.vergiDairesi):this.companyitem.vergiDairesi
    }
  },
};
</script>

<style lang="scss" scoped>
</style>