<template>
  <div class="q-pa-md q-gutter-xs">
    
    <q-card class="q-pa-md ">
        <!-- <q-card-section class="text-center"> -->
          <q-input
            outlined
            label="Departman"
            class="q-pt-md hint"
            hint="Eklemek istediğiniz Departmanı Giriniz...!..."
            v-model="departmentitem.name"
          >
        <template v-slot:append>
          
          <q-btn @click="departmentkaydet()" round dense flat icon="add" />
        </template>
      </q-input>

        <!-- </q-card-section> -->
        <q-separator class="q-mt-md" />
        <!-- <q-card class="row col-12"> -->
        <q-table   :data="getallDepartment" :columns="dcolumns" selection="single" :selected.sync="selected" row-key="departmentid" :pagination.sync="dpagination" title="Departman Listesi" >
        
          <template v-slot:body="props">
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)"> -->
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native=" editItem(props.row)" > -->
            <q-tr :props="props" class="cursor-pointer" @click.native="selected=[],dkmodel=[],deparmentItem(props.row)" >
              <q-td><q-checkbox v-model="props.selected" @click.native="departmentcategory()" /></q-td>

              <q-td key="name" :props="props" >{{props.row.name}}</q-td>
              <!-- <q-td key="firstname" :props="props" >{{props.row.firstname}}</q-td>
              <q-td key="lastname" :props="props" >{{props.row.lastname}}</q-td>
              <q-td key="role" :props="props" >{{props.row.role}}</q-td> -->
            </q-tr>
          </template>
        </q-table>
      <!-- </q-card> -->
    </q-card>
    <q-card class="col-md-12   col-sm-12  col-xs-12">
      <q-card class=" " title>
        <q-card-section class="row text-h6">
          Departman Kategorisi Ekle
        </q-card-section>
        <q-card-section class="  ">
          <q-select 
          outlined
          v-model="dkmodel"
          multiple
          color="red"
          text-color="white"
          :options="getallCategory"
          use-chips
          stack-label
          
          option-value="categoryid"
          option-label="name"
          :display-value="`${getallCategory.name}`"
          @input="sel()"
          
        >
        <template v-slot:selected-item="scope">
          <q-chip
          removable
          dense
          color="secondary"
          text-color="white"
          @remove="scope.removeAtIndex(scope.index)"
          
          >
          {{scope.opt.name}}
          </q-chip>

        </template>
        <!-- @remove="qcremove=!qcremove,olddklastitem=dkmodel[dkmodel.length-1]" -->
        <!-- <template v-slot:option="{ itemProps, itemEvents, opt, selected, toggleOption, removeAtIndex }">
        </template> -->
          </q-select>
          </q-card-section>
        
      </q-card>
      
    </q-card>
    <q-dialog  v-model="departmentdialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Departman Detay</div>
                <q-space />
                <q-btn icon="close" @click="departmentclose" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <!-- <div> -->
          <q-input class="q-pa-md" outlined v-model="departmentitem.name" label="İsim" :dense="false" />
          <!-- <q-input class="q-pa-md" outlined v-model="useritem.lastname" label="Soyisim" :dense="false" />
          <q-input class="q-pa-md" outlined v-model="useritem.email" label="E-mail" :dense="false" />
          <q-select class="q-pa-md" v-model="useritem.role" :options="roleoptions" label=" Role" outlined/> -->
         
          

          <!-- <q-input class="q-pa-md" outlined v-model="useritem.email" label="Cep" :dense="false" /> -->
          <!-- <q-input type="textarea" class="q-pa-md" outlined v-model="useritem.description" label="Açıklama" :dense="false" /> -->
        <!-- </div> -->

        <div v-if="departmenteditdialog" class="text-center">
            <q-btn class="q-ma-md" @click="deparmentedit()"   color="primary" label="Düzenle" />
        </div>
        <div v-else class="text-center">
            
            <q-btn class="q-ma-md" @click="departmentkaydet()"   color="primary" label="Kaydet" />
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import {mapState,mapGetters} from 'vuex';
import axios from "axios";
import gql from "graphql-tag";
  export default {
    data() {
      return {
        // obj:{},
        olddklastitem:{},
        dkmodel:[],
        dklastitem:{},
        qcremove:true,
        options:[],
        selected: [],
        departmentdialog:false,
        departmenteditdialog:false,
        departmentitem:{departmentid:"",name:""},
        dcolumns:[
          {
          name: "name",
          label: "Departman",
          align: "left",
          sortable: true,
          field: (row) => row.name,
          // format: val => `${val}`,
        },
        ],
        dpagination: {
          sortBy: "ust",
          descending: false,
          page: 1,
          rowsPerPage: 100,
          // rowsNumber: 5,q
        },
      }
    },
    watch: {
      // $apollo(val){
      //   console.log(val);
      // }
       dkmodel(val,oldval) {
      console.log("val",val);
      console.log("oldval",oldval);
        }
      //   console.log("this.dklastitem",this.dklastitem);
      // }
    },
    computed: {
  ...mapGetters([
    'getallDepartment',
    'getallCategory'
    
  ])
},
    methods: {
      dele(val){
        // console.log("del");
        // console.log("del",val);
        this.olddklastitem=this.dkmodel[val]
        // console.log("olddklastitem",this.olddklastitem);
        this.sel()
      },
     async sel(){
        // console.log("dkmodel",this.dkmodel);
        this.dklastitem = this.dkmodel[this.dkmodel.length-1]
        
        // console.log("dklastitem",this.dklastitem);
        // this.dkmodel.forEach((vala,ia)=>{
          
        // })


        // return false;


    //     if (this.qcremove) {
    //       console.log("1");
        
    //     await this.$apollo
    //     .mutate({
    //       mutation: gql`
    //         mutation createDepartmentCategory($name:String, $categoryid:Int, $departmentid:String, ) {
    //           createDepartmentCategory(name: $name, categoryid: $categoryid, departmentid: $departmentid) {
    //             categoryid
    //           }
    //         }
    //       `,

    //       variables: {
    //         departmentid:this.selected[0].departmentid,
    //         categoryid:this.dklastitem.categoryid,
            
    //       }
    //   }).then( data=>{
    //     this.departmentcategory()
    //     this.$q.notify({
    //                 type: 'positive',
    //                 // position:'top-right',
    //                 message: `Başarıyla Eklendi`
    //             })
    //   })

    // } else{
    //   console.log("2");
    //   this.qcremove=true
    //   // return false
    //   await this.$apollo
    //     .mutate({
    //       mutation: gql`
    //         mutation deleteDepartmentCategory($departmentcategoryid:ID, ) {
    //           deleteDepartmentCategory( departmentcategoryid: $departmentcategoryid) {
    //             departmentcategoryid
    //           }
    //         }
    //       `,
    //       variables: {
    //         departmentcategoryid:this.olddklastitem.departmentcategoryid,
    //         // categoryid:this.dklastitem.categoryid,
          
    //       }
    //   }).then( data=>{
    //     console.log("delete",data);
    //     this.departmentcategory()
    //     this.$q.notify({
    //                 type: 'positive',
    //                 // position:'top-right',
    //                 message: `Başarıyla Silindi`
    //             })
    //   })
    //   console.log("3");
    // }
        // -*-*-*-*-*-*-*-*-*-*-**-*-*-*-*-*-*
        // this.qcremove=true
      },
      async departmentcategory(){
        console.log("departmentcategory");
        this.dkmodel=[]
        let obj ={}
        if (this.selected.length > 0) {
          await axios
          .post(  process.env.API,{
            query: `query departmentcategoryQuery($departmentid:String){
                      departmentcategoryQuery(departmentid:$departmentid){
                       name
                       departmentcategories{
                         departmentcategoryid
                         categories{
                           name
                           categoryid
                         }
                       }
                                
                                
                }
              }`,
            variables: {
              departmentid: this.selected[0].departmentid
            }

            // update:data=>data.varyantQuery
          })
          .then(data => {
            // Object.assign(this.obj, {});
            // console.log(data.data.data.departmentcategoryQuery[0].departmentcategories);
            this.options=data.data.data.departmentcategoryQuery[0].departmentcategories;
            data.data.data.departmentcategoryQuery[0].departmentcategories.forEach((vala,ia)=>{
              // console.log(vala.categories[0].name);
                obj ={}
              Object.assign(obj, {name:vala.categories[0].name});
              Object.assign(obj, {categoryid:vala.categories[0].categoryid});
              Object.assign(obj, {departmentcategoryid:vala.departmentcategoryid});
              
              this.dkmodel.push(obj)
              
              // console.log("deneme",this.dkmodel);
            })

          })

        }
      },
      opendepartmentdialog(){
        this.departmentdialog=true
      },
      departmentclose(){
        this.departmentitem={}
        this.departmentdialog=false
        this.departmenteditdialog=false
      },
      async departmentkaydet(){
        // await this.$apollo
        // .mutate({
        //   mutation: gql`
        //     mutation createDepartment($name:String) {
        //       createDepartment(name: $name) {
        //         name
        //       }
        //     }
        //   `,
          await axios.post(
            process.env.API, {
              query: `mutation createDepartment($name:String){
                      createDepartment(name: $name){
                        name
                        }
                      }`,
          variables: {
            name: this.departmentitem.name,
          }
  }).then(async data=>{
    console.log('createDepartment:',data);

    // return false;
    await this.$store.dispatch("allDepartment");
    this.departmentclose();
    this.$q.notify({
                    type: 'positive',
                    // position:'top-right',
                    message: `Başarılı`
                })
      })
      },
      async deparmentedit(){
        // await this.$apollo
        // .mutate({
        //   mutation: gql`
        //     mutation updateDepartment($name:String,$departmentid:String) {
        //       updateDepartment(name: $name,departmentid: $departmentid) {
        //         name
        //       }
        //     }
        //   `,
        await axios.post(
            process.env.API, {
              query: `mutation updateDepartment($name:String,$departmentid:String){
                      updateDepartment(name: $name,departmentid: $departmentid){
                        name
                        }
                      }`,
          variables: {
            name: this.departmentitem.name,
            departmentid:this.departmentitem.departmentid
          }
  }).then(async data=>{
    console.log('departmentitem:',data.data.data.updateDepartment);
    this.departmentdialog=false
    await this.$store.dispatch("allDepartment");
    this.close();
    this.$q.notify({
                    type: 'positive',
                    // position:'top-right',
                    message: `Başarılı`
                })
      }).catch(err=>{

      }).finally(()=>{
        // console.log("final");
        this.departmenteditdialog=false
        
      })
      },
      deparmentItem(val){

        this.departmenteditdialog=true,
        this.departmentitem = Object.assign({}, val);
        // console.log(this.departmentitem);
        this.departmentdialog=true

      },
    },
  }
</script>

<style lang="scss" scoped>

</style>