<template>
  <div class="q-pa-md q-gutter-xs">
    <q-card class="q-pa-md ">
        <!-- <q-card-section class="text-center"> -->
          <q-input
            outlined
            label="Departman"
            class="q-pt-md hint"
            hint="Eklemek istediğiniz Departmanı Giriniz...!..."
            v-model="departmentitem.name"
            @input="departmentitem.name=$turkishUpper(departmentitem.name)"
          >
        <template v-slot:append>
          
          <q-btn @click="departmentkaydet()" round dense flat icon="add" />
        </template>
      </q-input>

        <!-- </q-card-section> -->
        <q-separator class="q-mt-md" />
        <!-- <q-card class="row col-12"> -->
        <q-table   :data="getallDepartment" :columns="dcolumns" selection="single" :selected.sync="selected" row-key="departmentid" :pagination.sync="dpagination" title="Departman Listesi" >
        
          <template v-slot:body="props">
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)"> -->
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native=" editItem(props.row)" > -->
            <q-tr :props="props" class="cursor-pointer" @click.native="selected=[],dkmodel=[], deparmentItem(props.row)" >
              <q-td><q-checkbox v-model="props.selected" @click.native="departmentcategory()" /></q-td>

              <q-td key="name" :props="props" >{{props.row.name}}</q-td>
              <!-- <q-td key="firstname" :props="props" >{{props.row.firstname}}</q-td>
              <q-td key="lastname" :props="props" >{{props.row.lastname}}</q-td>
              <q-td key="role" :props="props" >{{props.row.role}}</q-td> -->
            </q-tr>
          </template>
        </q-table>
      <!-- </q-card> -->
    </q-card>
    <q-card class="col-md-12   col-sm-12  col-xs-12">
      <q-card class=" " title>
        <q-card-section class="row text-h6">
          Departman Kategorisi Ekle
        </q-card-section>
        <q-card-section class="  ">
            <q-select 
              label="Eklenen Kategoriler"
              outlined
              v-model="dkmodel"
              multiple
              color="red"
              text-color="white"
              :options="getallCategory"
              use-chips
              stack-label
              @input="im=true"
              option-value="categoryid"
              option-label="name"
              :display-value="`${getallCategory.name}`"
            >
          <template v-slot:selected-item="scope">
            <q-chip
            removable
            dense
            color="secondary"
            text-color="white"
            @remove="scope.removeAtIndex(scope.index),ind=scope.index"
            >
            {{scope.opt.name}}
            </q-chip>

        </template>
        <!-- @remove="qcremove=!qcremove,olddklastitem=dkmodel[dkmodel.length-1]" -->
        <!-- <template v-slot:option="{ itemProps, itemEvents, opt, selected, toggleOption, removeAtIndex }">
        </template> -->
          </q-select>
          </q-card-section>
        
      </q-card>
      
    </q-card>
    <q-dialog  v-model="departmentdialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Departman Detay</div>
                <q-space />
                <q-btn icon="close" @click="departmentclose" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <!-- <div> -->
          <q-input class="q-pa-md" outlined v-model="departmentitem.name" label="İsim" :dense="false" />
          <!-- <q-input class="q-pa-md" outlined v-model="useritem.lastname" label="Soyisim" :dense="false" />
          <q-input class="q-pa-md" outlined v-model="useritem.email" label="E-mail" :dense="false" />
          <q-select class="q-pa-md" v-model="useritem.role" :options="roleoptions" label=" Role" outlined/> -->
         
          

          <!-- <q-input class="q-pa-md" outlined v-model="useritem.email" label="Cep" :dense="false" /> -->
          <!-- <q-input type="textarea" class="q-pa-md" outlined v-model="useritem.description" label="Açıklama" :dense="false" /> -->
        <!-- </div> -->

        <div v-if="departmenteditdialog" class="text-center">
            <q-btn class="q-ma-md" @click="deparmentedit()"   color="primary" label="Düzenle" />
        </div>
        <div v-else class="text-center">
            
            <q-btn class="q-ma-md" @click="departmentkaydet()"   color="primary" label="Kaydet" />
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import {mapState,mapGetters} from 'vuex';
import {Loading} from 'quasar'
import axios from "axios";
import gql from "graphql-tag";
import _  from "lodash";

  export default {
    data() {
      return {
        // obj:{},
        im:false,
        control:true,
        ind:"",
        diff:0,
        olddklastitem:{},
        dkmodel:[],
        dklastitem:{},
        qcremove:true,
        options:[],
        selected: [],
        departmentdialog:false,
        departmenteditdialog:false,
        departmentitem:{departmentid:"",name:""},
        dcolumns:[
          {
          name: "name",
          label: "Departman",
          align: "left",
          sortable: true,
          field: (row) => row.name,
          // format: val => `${val}`,
        },
        ],
        dpagination: {
          sortBy: "ust",
          descending: false,
          page: 1,
          rowsPerPage: 100,
          // rowsNumber: 5,q
        },
      }
    },
    watch: {
       dkmodel(val,oldval) {
        //  console.log("dkmodel-watch");
        this.diff=val.length - oldval.length
        console.log("this.ind=",this.ind);
        console.log("this.diff=",this.diff);
        console.log("this.im=",this.im);
        console.log("this.control=",this.control);
        if(this.ind=="" && this.diff < 0 && this.im){
          
         let arr= _.difference(oldval, val);
          oldval.forEach((a,i)=>{
            if(a.departmentcategoryid==arr[0].departmentcategoryid){
              this.ind=i
            }
          })
        }
        if (this.diff > 0 && this.control) {
          this.sel();
        }else if(this.diff < 0 && this.control){
          this.olddklastitem=oldval[this.ind]
          this.sel();
        }
        this.im=false
        this.ind=""
        }
    },
    computed: {
      ...mapGetters([
        'getallDepartment',
        'getallCategory'
        
      ])
    },
    methods: {
      dele(val, done){
        console.log("deleval",val);
        // console.log("deledone",done);
      },
     async sel(){
       console.log("sel");
        // console.log("dkmodel",this.dkmodel);
        this.dklastitem = this.dkmodel[this.dkmodel.length-1]
        if (!this.selected.length) {
          this.$q.notify({
                    type: 'negative',
                    // position:'top-right',
                    message: `Hatalı Seçim`
                })
                return
        }
        
        if (this.diff > 0) {
          this.$q.loading.show()
              await axios.post(
                process.env.API, {
                  query: `mutation createDepartmentCategory($name:String, $categoryid:ID, $departmentid:ID){
                          createDepartmentCategory(name: $name, categoryid: $categoryid, departmentid: $departmentid){
                            categoryid
                            }
                          }`,
                  variables: {
                    departmentid:this.selected[0].departmentid,
                    categoryid:this.dklastitem.categoryid,
                  }
              })
              .then(async data=>{
                await this.departmentcategory()
                this.$q.notify({
                            type: 'positive',
                            // position:'top-right',
                            message: `Başarıyla Eklendi`
                        })
                Loading.hide()
              }).catch(err=>{
                this.$q.notify({
                            type: 'negative',
                            // position:'top-right',
                            message: `Hata`
                        })
                // this.$q.loading.hide()
              })
        }else if(this.diff < 0){
              Loading.show()
              await axios.post(
                process.env.API, {
                  query: `mutation deleteDepartmentCategory($departmentcategoryid:ID){
                          deleteDepartmentCategory(departmentcategoryid: $departmentcategoryid){
                            departmentcategoryid
                            }
                          }`,
                  variables: {
                    departmentcategoryid:this.olddklastitem.departmentcategoryid,
                    // categoryid:this.dklastitem.categoryid,
                  }
              }).then(async  data=>{
                console.log("delete",data);
                await this.departmentcategory()
                
                this.$q.notify({
                            type: 'positive',
                            // position:'top-right',
                            message: `Başarıyla Silindi`
                        })
                setTimeout(() => {
                  // this.$q.loading.hide()
                }, 2000);
                Loading.hide()
              }).catch(err=>{
                this.$q.notify({
                            type: 'negative',
                            // position:'top-right',
                            message: `Hata`
                        })
                // this.$q.loading.hide()
                Loading.hide()
              })
              
       }
      },
      async departmentcategory(){
        console.log("departmentcategory");
        this.control=false
        this.dkmodel=[]
        let obj ={}
        if (this.selected.length > 0) {
          Loading.show()
          await axios
          .post(  process.env.API,{
            query: `query departmentcategoryQuery($departmentid:String){
                      departmentcategoryQuery(departmentid:$departmentid){
                       name
                       departmentcategories{
                         departmentcategoryid
                         categories{
                           name
                           categoryid
                         }
                       }
                }
              }`,
            variables: {
              departmentid: this.selected[0].departmentid
            }
          })
          .then(data => {
            // Object.assign(this.obj, {});
            console.log("departmentcategory-query");
            this.options=data.data.data.departmentcategoryQuery[0].departmentcategories;
            data.data.data.departmentcategoryQuery[0].departmentcategories.forEach((vala,ia)=>{
              // console.log(vala.categories[0].name);
                obj ={}
              Object.assign(obj, {name:vala.categories[0].name});
              Object.assign(obj, {categoryid:vala.categories[0].categoryid});
              Object.assign(obj, {departmentcategoryid:vala.departmentcategoryid});
              
              this.dkmodel.push(obj)
              
              // console.log("deneme",this.dkmodel);
            })
            Loading.hide()
          this.control=true
          }).catch(err=>{
                this.$q.notify({
                            type: 'negative',
                            // position:'top-right',
                            message: `Hata`
                        })
                Loading.hide()
              })

        }
      },
      opendepartmentdialog(){
        this.departmentdialog=true
      },
      departmentclose(){
        this.departmentitem={}
        this.departmentdialog=false
        this.departmenteditdialog=false
      },
      async departmentkaydet(){
        // await this.$apollo
        // .mutate({
        //   mutation: gql`
        //     mutation createDepartment($name:String) {
        //       createDepartment(name: $name) {
        //         name
        //       }
        //     }
        //   `,
        if (this.departmentitem.name == '') {
          this.$q.notify({
                    type: 'negative',
                    // position:'top-right',
                    message: `İsim Tanımlanmadı`
                })
          return
           }
           Loading.show()
        await axios.post(
            process.env.API, {
              query: `mutation createDepartment($name:String){
                   createDepartment(name: $name){
                    name
                    }
                    }`,
          variables: {
            name: this.departmentitem.name,
          }
  }).then(async data=>{
    // console.log('createDepartment:',data.data);
    
    // return false;
    await this.$store.dispatch("allDepartment");
    await this.departmentclose();
    this.$q.notify({
            type: 'positive',
            // position:'top-right',
            message: `Başarılı`
        })
                Loading.hide()
      })
      },
      async deparmentedit(){
        // await this.$apollo
        // .mutate({
        //   mutation: gql`
        //     mutation updateDepartment($name:String,$departmentid:String) {
        //       updateDepartment(name: $name,departmentid: $departmentid) {
        //         name
        //       }
        //     }
        //   `,
        Loading.show()
        await axios.post(
            process.env.API, {
              query: `mutation updateDepartment($name:String,$departmentid:String) {
                    updateDepartment(name: $name,departmentid: $departmentid) {
                      name
                      }
                    }`,
          variables: {
            name: this.departmentitem.name,
            departmentid:this.departmentitem.departmentid
          }
  }).then( data=>{
    console.log('departmentitem:',data.data.data.updateDepartment);
    this.departmentdialog=false
    this.$store.dispatch("allDepartment");
    this.close();
    this.$q.notify({
                    type: 'positive',
                    // position:'top-right',
                    message: `Başarılı`
                })
    Loading.hide()
      }).catch(err=>{
        Loading.hide()
      }).finally(()=>{
        // console.log("final");
        this.departmenteditdialog=false
        
      })
      },
      deparmentItem(val){

        this.departmenteditdialog=true,
        this.departmentitem = Object.assign({}, val);
        // console.log(this.departmentitem);
        this.departmentdialog=true

      },
    },
  }
</script>

<style lang="scss" scoped>

</style>