<template>
  <div>
    <div class="float-right q-pt-md">
    <q-btn @click="drawerRight=!drawerRight" icon="menu" round flat></q-btn>
    </div>
    <q-drawer
        side="right"
        v-model="drawerRight"
        show-if-above
        bordered
        :width="400"
        :breakpoint="500"
        class="bg-grey-3"
      >
        <q-scroll-area class="fit ">
          <div class="q-pa-md" >
            <div class=" container row" style="display: flex;" >
              <div @drop="drop($event)" draggable="true" class="box col-12" >A</div>
              <div draggable="true" class="box col-12" >B</div>
              <div draggable="true" class="box col-12" >C</div>
            </div>
          </div>
        </q-scroll-area>
      </q-drawer>
      
  </div>
  
</template>

<script>
  export default {
    data() {
      return {
        drawerRight: true
      }
    },
    methods: {
      drop(e) {
        console.log('e',e);
          if(e.preventDefault) { e.preventDefault(); }
            if(e.stopPropagation) { e.stopPropagation(); }
            window.draggedIcon.element.style.left = (event.clientX + window.draggedIcon.offset[0]) + 'px';
            window.draggedIcon.element.style.top  = (event.clientY + window.draggedIcon.offset[1]) + 'px';
            window.draggedIcon.element.style.visibility = 'visible';
            window.draggedIcon.element = null;
            return false;
        },
    },
    // render(h){
    //   return(
    //     <div>
    //         deneme
    //     </div>
    //   )
    // }
  }
</script>

<style lang="scss" scoped>
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.box {
  border: 3px solid #666;
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
}

.box.over {
  border: 3px dotted #666;
}

[draggable] {
  user-select: none;
}
</style>