<template>
<div class="row q-gutter-y-lg">
  <!-- <q-card class="row"> -->
    
  <q-card    class=" col-md-6 col-xs-12">
      <q-card-section>
        <div class="text-h6 text-center">Tamamlanan Görevler</div>
        <!-- <div class="text-subtitle2">by John Doe</div> -->
      </q-card-section>

      <q-separator  inset />

      <q-card-section class="text-center text-h4">
        {{ getendjobs.length }}
      </q-card-section>
  </q-card>
  
  <q-card   class="col-12 col-md col-lg q-ml-md-md  ">
      <q-card-section>
        <div class="text-h6 text-center">Transfer Ettiğin Görevler</div>
        <!-- <div class="text-subtitle2">by John Doe</div> -->
      </q-card-section>

      <q-separator  inset />

      <q-card-section class="text-center text-h4">
        {{ getsendtransferjobs.length }}
      </q-card-section>
  </q-card>
  
  <q-card   class="col-md-6 col-xs-12">
      <q-card-section>
        <div class="text-h6 text-center">Aktif Çalışılan Görevler</div>
        <!-- <div class="text-subtitle2">{{getactivejobs.length}}</div> -->
      </q-card-section>

      <q-separator  inset />

      <q-card-section class="text-center text-h4">
        {{ getactivejobs.length + gettransferjobs.length }}
      </q-card-section>
  </q-card>
  <q-card   class="col-12 col-md col-lg q-ml-md-md">
      <q-card-section>
        <div class="text-h6 text-center">Bekleyen Görevler</div>
        <!-- <div class="text-subtitle2">by John Doe</div> -->
      </q-card-section>

      <q-separator  inset />

      <q-card-section class="text-center text-h4">
        {{ getwaitjobs.length }}
      </q-card-section>
  </q-card>
  <q-card   class="col-md-6 col-xs-12">
      <q-card-section>
        <div class="text-h6 text-center">Onaylanan  Görevler</div>
        <!-- <div class="text-subtitle2">by John Doe</div> -->
      </q-card-section>

      <q-separator  inset />

      <q-card-section class="text-center text-h4">
        {{ getendcheckedjobs.length }}
      </q-card-section>
  </q-card>
  <!-- <q-card   class="col-12 col-md col-lg q-ml-md-md">
      <q-card-section>
        <div class="text-h6 text-center"></div>
      </q-card-section>

      <q-separator  inset />

      <q-card-section class="text-center text-h4">
        
      </q-card-section>
  </q-card> -->
  <q-btn v-if="get_userdetail.firstname=='admin'" class="row col-12" label="refresh" @click="deneme()"></q-btn>
  <q-btn  class="row col-12" label="mail" @click="denememail()"></q-btn>
  
  </div>

</template>

<script>
import Vue from "vue";
import axios from "axios";
import {mapState,mapGetters} from 'vuex'
import VueApexCharts from 'vue-apexcharts'
Vue.use(VueApexCharts)
Vue.component('apexchart', VueApexCharts)

  export default {
    components: {
      
    },
    data () {
      return {
        windowRef: null,
        options: {
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998]
        }
      },
      series: [{
        name: 'series-1',
        data: [30, 40, 45, 50, 49, 60, 70, 91]
      }],
      setsendtransfer:[]
      }
    },
    watch: {
      //  getalljobs(val) {
              
      //         if (val.length > 0 ) {
      //           // console.log(val,"vallll");
      //          this.alljobsmethod(val)
      //        }
      //   }
    },
    computed: {
            ...mapGetters([
                'get_user',
                'get_userdetail',
                'getalljobs',
                'getwaitjobs',
                'getactivejobs',
                'gettransferjobs',
                'getsendtransferjobs',
                'getallUser',
                'getdepartmentsjobs',
                'getendjobs',
                'getendcheckedjobs',
                'getcanceljobs',
                
            ]),
            
        },
    mounted () {
      // console.log("munte");
      // if (this.getalljobs.length>0){
      // this.alljobsmethod(this.getalljobs)
      // }
      // console.log("---",this.get_userdetail);
    },
    methods: {
      async deneme(){
        // console.log("deneme");
        // changeversion
        await this.$axios.post(
        process.env.API, {
          query: `{
            changeversion {
              userid
            }
          }`,
        }).then(async data => {

        })


        
              
      },
      async denememail(){
        
        axios.get(process.env.KURAPI+'denememail')
      .then(response => {
        // console.log('response',response.data);
        // window.open("response", '_blank');
        // var res=JSON.parse('<%= response %>')
         var w = 650;
          var h = 500;
        var left = (screen.width/2)-(w/2);
        var top = (screen.height/2)-(h/2)-200;
        return window.open(res, "_blank", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
      })
      },
      depart(){
        console.log("this.getdepartmentsjobs",this.getdepartmentsjobs);
        this.getdepartmentsjobs.filter( val=>{
           console.log(val.jobstate.length);
        })
      },
      async alljobsmethod(val){
        console.log("alljobsmethod",val);
      let sstval=await val.filter( (vala,ia)=>{
          //  console.log(vala);
          if (vala.jobstate.length != 0) {
            // console.log("vala",ia);
            let count1=0
            vala.jobstate=vala.jobstate.filter((valb,ib)=>{
              console.log(valb);
              console.log(valb.active);
              if (this.get_userdetail.userid==valb.userid && valb.state=='Transfer' && valb.active==0 ) {
                
                count1 ++
                return valb
              }
            })
            if (count1 > 0) {
              
              return vala
            }
          }
          
        })
        console.log(sstval);
        this.setsendtransfer=sstval
    }
    }
  }
</script>

<style>
  .small {
    max-width: 600px;
    margin:  150px auto;
  }
</style>