<template>
  <div class="">
    <q-card class="">
    <div class="row">
        <q-btn
            label="Ekle"
            class="col q-ma-md"
            size="18px"
            icon="mdi-plus"
            @click="statemodel={},edit=false,dialog=true"
            dense
            no-caps
          />
    </div>
    <q-table  :filter="filter" :data="getextrajobstate" :columns="columns" row-key="extrajobstateid" :pagination.sync="pagination"  title="Extra İşlem Durum Listesi" >
      <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Ara">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:body="props">
        <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)"> -->

        <q-tr class="cursor-pointer"  :props="props" @click.native="statemodel=props.row, dialog=true, edit=true"  >
          <!-- <td>{{countdown[props.rowIndex]}}</td> -->
          <q-td key="id" :props="props">{{props.rowIndex+1}}</q-td>
          <q-td key="name" :props="props"  >{{props.row.name}} </q-td>
        </q-tr>
      </template>
    </q-table>
    </q-card>
    <q-dialog  v-model="dialog" position="top" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Durum</div>
                <q-space />
                <q-btn icon="close" @click="dialog=false" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
          
          <!-- <q-input type="textarea" class="q-pa-md" outlined v-model="note" label="Transfer Notu" :dense="false" readonly /> -->
        <q-input class="q-pa-md" label="İsim" v-model="statemodel.name"  outlined/>
        <div class="text-right">

            <q-btn v-if="edit" class=""    label="Güncelle" @click="editstate(),dialog=false" />
            <q-btn v-else class=""    label="Kaydet" @click="create(),dialog=false" />
            <q-btn class="q-ma-md"    label="Kapat" @click="dialog=false" />
          </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import {mapState,mapGetters} from 'vuex';
import { Loading } from 'quasar';
  export default {
    computed: {
      ...mapGetters([
        'getextrajobstate'
      ]),
    },
    data() {
      return {
        edit:false,
        dialog:false,
        statemodel:{},
        filter:"",
        columns: [
        {
          name:'id',
          style:'width:15px'
        },
        {
          name: "name",
          label: "Açıklama",
          align: "left",
          // sortable: true,
          
          classes: ' ',
          field: (row) =>  row.name,
        },
        ],
        pagination: {
        descending: false,
        page: 1,
        rowsPerPage: 10,
        // rowsNumber: 5,q
      },
      }
    },
    mounted () {
      console.log('getextrajobstate',this.getextrajobstate);
    },
    methods: {
      async create(){
        if (this.statemodel.name=="") {
          this.$q.notify({
                  type: 'negative',
                  message: `Başlık Giriniz`
          })
          return
        }
        Loading.show()
        await this.$axios.post(
            process.env.API, {
              query: `mutation createextrajobstate($name:String) {
                    createextrajobstate(name: $name) {
                      name
                      }
                    }`,
          variables: {
            name: this.statemodel.name
          }
        }).then( data=>{
          console.log('data.data.data.createextrajobstate',data.data.data.createextrajobstate);
          this.$store.commit('setextrajobstate')
          Loading.hide()
        })
      },
      async editstate() {
        Loading.show()
        await this.$axios.post(
            process.env.API, {
              query: `mutation updateextrajobstate($extrajobstateid:ID, $name:String) {
                    updateextrajobstate(extrajobstateid:$extrajobstateid, name: $name) {
                      name
                      }
                    }`,
          variables: {
            extrajobstateid:this.statemodel.extrajobstateid,
            name: this.statemodel.name
          }
           }).then( data=>{
          console.log('data.data.data.updateextrajobstate',data.data.data.updateextrajobstate);
          this.$store.commit('setextrajobstate')
          Loading.hide()
        })
      }
    },
  }
</script>

<style lang="scss" scoped>

</style>