<template>
  <div class="q-pa-xs">
    <q-dialog style="padding-left:0px;"  v-model="productdialog" position="top" persistent>
      <q-card  style="width:820px;max-width: 100vw;'" >
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Stok Detay</div>
                <q-space />
                <q-btn icon="close" @click="productdialog=false,hasordernumber=true" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <q-separator />
        <q-card-section class="row   ">
          <q-input v-model="productmodel.productcode" ref="productcode" class="col-xs-12 col-md-4 col-lg-4 q-mr-xs" label="Stok Kodu"  outlined dense />
          <q-input  v-model="productmodel.name" ref="name" class="q-py-none  col-xs-12 col-md col-lg "  label="Stok Adı" :rules="[val => !!val || '']" outlined dense />
        </q-card-section>
        
        <q-card-section class="row  q-pt-none">
          <q-input @input="upperinput()" v-model="productmodel.serino" ref="serino" class=" q-py-none col-xs-12 col-md col-lg q-mr-xs" label="Seri No" :rules="[val => !!val || '']" outlined dense/>
          <!-- <q-input v-model="productmodel.pieceunit" ref="pieceunit" class=" col-xs-12 col-md-2 col-lg-2 " label="Birim" outlined dense/> -->
          <q-input v-model="productmodel.piece"  class=" col-xs-12 col-md-2 col-lg-2 " label="Miktar" outlined dense/>
        </q-card-section>
        <q-separator class="" inset/>
        <q-separator class=" q-mt-xs" inset/>
        <q-card-section class="row ">
          <q-select
          class="col-12 "
          v-model="productmodel.company"
          @filter="companyfilter"
          :options='companyoptions'
          option-value="companyid"
          option-label="name"
          label="Alınan Firma"
          use-input
          dense
          outlined
          />
        </q-card-section>
        <q-card-section class="row   q-pt-none">
          
          <q-input  class="col q-mr-xs "  v-model="productmodel.buyingorderdate" mask="##/##/####" label="Alış Fatura Tarihi"  dense outlined>
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="csss" transition-show="scale" transition-hide="scale">
                    <q-date v-model="productmodel.buyingorderdate" @input="() => $refs.csss.hide()"  mask="DD/MM/YYYY"></q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
          </q-input>
          <q-input v-model="productmodel.ordernumber" @keyup.enter="ordersearch()"  class="col-xs-12 col-md-3 col-lg-3 " label="Alış Fatura No" outlined dense>
            <template v-slot:append>
              <q-icon name="search" class="cursor-pointer"  @click="ordersearch()">

              </q-icon>
            </template>
          </q-input>
          

        </q-card-section>
        <q-card-section class="row ">
          <q-input class="col q-mr-xs"  reverse-fill-mask v-model="productmodel.buyingprice" @keypress="$numberandot($event)" :label="`Alış Fiyatı ${productmodel.priceunitmodel}`" outlined dense/>
          <q-select class="col-2 q-mr-xs" :options="priceunit" v-model="productmodel.priceunitmodel" outlined dense/>
          
          <q-input class="col" @keypress="$numberandot($event)" v-model="productmodel.buyingexchange" label="Kur" outlined dense/>
        </q-card-section >
        
        <q-separator v-if="productmodel.uploadorder==null && hasordernumber" class="q-mx-md q-mb-xs" />
        <q-separator v-if="productmodel.uploadorder==null && hasordernumber" class="q-mx-md " />
                
        <q-card-section v-if="productmodel.uploadorder==null" >
          <div  v-if="hasordernumber " class="row">
          <q-btn  icon="upload" label="Dosya " class="text-grey-7  col" flat
          @click=" ordersearch(true)" >
            
            <q-tooltip>Dosya Ekle</q-tooltip>
          </q-btn>
          </div>
        </q-card-section>
        <q-card-section v-else class="row  ">
          <div class="col-12">
            <q-list class=" " bordered>
              <q-item @click="fileopen(productmodel.uploadorder.path,productmodel.uploadorder.ordernumber)" clickable v-ripple>
                <q-item-section>{{productmodel.uploadorder.ordernumber}}</q-item-section>
                <q-item-section avatar>
                  <q-icon color="primary" name="download" />
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-card-section>
        <q-separator class="" inset/>
        <q-separator class=" q-mt-xs" inset/>
          <q-card-section class="row    q-gutter-x-xs ">
            <q-checkbox
              v-model="productmodel.exceptional"
              
              color="primary"
              label="Stok miktarından bağımsız olan Ürün && Hizmet"
              
            />
          </q-card-section>
        <q-separator />
        <q-separator />
        <q-card-section class="row float-right   q-gutter-x-xs ">
          <div class="">
            <q-btn v-if="productmodel.productid==''" class="bg-primary text-white"  label="Kaydet" @click="create()"/>
            <q-btn v-if="productmodel.productid!=''"  class="bg-primary text-white"  label="Güncelle" @click="update()"/>
          </div>
          <div class=""><q-btn label="İptal" @click="productdialog=false,hasordernumber=true"/></div>
          
        </q-card-section>
      </q-card>
    </q-dialog>
    
    
    <q-card>
      <div class="row">
        <q-btn
            label="Ekle"
            class="col q-ma-md"
            size="18px"
            icon="mdi-plus"
            @click="reset(),productdialog = true"
            dense
            no-caps
          />
      </div>
      <q-table :filter="filter" :data="getallProducts" :columns="columns" row-key="productid" :pagination.sync="pagination" title="Stok Listesi">
        <template v-slot:top-right>
        <q-input borderless dense ref="filter" debounce="300" v-model="filter" placeholder="Ara">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
          <template v-slot:body="props">
            
            <q-tr :props="props" class="cursor-pointer" >
              <q-td key="id" :props="props" @click.native="updateselect(props.row)">{{props.rowIndex +1}}</q-td>
              <q-td key="productcode" :props="props" @click.native="updateselect(props.row)">{{props.row.productcode}}</q-td>
              <q-td key="name" :props="props" @click.native="updateselect(props.row)">{{props.row.name}}</q-td>
              <q-td key="serino" :props="props" @click.native="updateselect(props.row)">{{props.row.serino}}</q-td>
              <q-td key="pieceunit" :props="props" >{{props.row.pieceunit}}</q-td>
              <q-td key="piece" :props="props" >{{props.row.piece}}</q-td>
              <q-td key="cname" :props="props" class="hhh" >
                <div v-if="props.row.company" class="box">
                  {{props.row.company.name}}
                </div>
                <div v-else>
                   Girilmemiş
                  
                </div>
                  
              </q-td>
              <q-td key="ordernumber" :props="props" >
                <div v-if="props.row.ordernumber">
                  <q-badge color="red">{{props.row.ordernumber}}</q-badge>
                </div>
                <div v-else>
                   Girilmemiş
                  
                </div>
                
                </q-td>
              <q-td key="varyant" :props="props" ><q-btn icon="mdi-plus" @click="addproductmodel=props.row,addproductdialog=true,varekle(props.row)" :ripple="false"></q-btn></q-td>
            </q-tr>
          </template>
        </q-table>
    </q-card>
    <q-dialog  v-model="addproductdialog" position="top"  persistent>
      <q-card style="width:820px;max-width:100vw;'">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Varyant Ekle</div>
                <q-space />
                <q-btn icon="close" @click="addproductdialog=false,hasordernumber=true, addproductmodel='', serino='',$store.dispatch('allProducts')" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-select
          class="col"
          v-model="addproductmodel.company"
          @filter="companyfilter"
          :options='companyoptions'
          option-value="companyid"
          option-label="name"
          label="Alınan Firma"
          use-input
          dense
          outlined
          />
        </q-card-section>
        <q-card-section class="row q-col-gutter-xs q-pt-none ">
          <q-input  class="col  "  v-model="addproductmodel.buyingorderdate" mask="##/##/####" label="Alış Fatura Tarihi"  dense outlined>
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="vsss" transition-show="scale" transition-hide="scale">
                    <q-date v-model="addproductmodel.buyingorderdate" @input="() => $refs.vsss.hide()"  mask="DD/MM/YYYY"></q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
          </q-input>
          <q-input v-model="addproductmodel.ordernumber"  class="col" label="Alış Fatura No" outlined dense>
            <template v-slot:append>
              <q-icon name="search" class="cursor-pointer"  @click="addordersearch()">

              </q-icon>
            </template>
          </q-input>
        </q-card-section>
        <q-card-section class="row q-col-gutter-xs q-pt-none q-pb-none">
          <q-input @input="upperinput()" class="col" outlined ref="varserino" v-model="addproductmodel.serino" label="Seri No" :rules="[val => !!val || '']" dense />
          
          <q-input v-model="addproductmodel.piece"  class=" col " label="Miktar" outlined dense/>
        </q-card-section>
         <q-card-section class="row  q-col-gutter-x-xs q-pt-none">
          <q-input class="col"  reverse-fill-mask v-model="addproductmodel.buyingprice" @keypress="$numberandot($event)" :label="`Alış Fiyatı ${productmodel.priceunitmodel}`" outlined dense/>
          <q-select class="col-2" :options="priceunit" v-model="addproductmodel.priceunitmodel" outlined dense/>
          
          <q-input class="col" @keypress="$numberandot($event)" v-model="addproductmodel.buyingexchange" label="Kur" outlined dense/>
        </q-card-section>
          <q-separator class="q-mx-md q-mb-xs" />
        <q-separator class="q-mx-md " />
                
        <q-card-section v-if="addproductmodel.uploadorder==null || hasordernumber" class="row  ">
          <!-- <q-btn  icon="upload" label="Dosya " @click="productuploaddialog=true"  class="text-grey-7  col" flat> -->
          <q-btn  icon="upload" label="Dosya " @click="productmodel.ordernumber=='' || productmodel.ordernumber==null ? $q.notify({position:'top', type: 'negative',message: `Fatura Numarası Girilmedi` }) : productuploaddialog=true  "  class="text-grey-7  col" flat>
            <!-- <q-badge color="red" floating>{{vala.uploads.length}}</q-badge> -->
            <q-tooltip>Dosya Ekle</q-tooltip>
          </q-btn>
        </q-card-section>
        <q-card-section v-else class="row  ">
          <div class="col-12">
            <q-list class=" " bordered>
              <q-item @click="fileopen(addproductmodel.uploadorder.path,addproductmodel.uploadorder.ordernumber)" clickable v-ripple>
                <q-item-section>{{addproductmodel.uploadorder.ordernumber}}</q-item-section>
                <q-item-section avatar>
                  <q-icon color="primary" name="download" />
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </q-card-section>
        <q-separator class="" inset/>
        <q-separator class=" q-mt-xs" inset/>
          <q-card-section class="row    q-gutter-x-xs q-pt-none">
            <q-checkbox
              v-model="addproductmodel.exceptional"
              
              color="primary"
              label="Stok miktarından bağımsız olan Ürün && Hizmet"
              
            />
          </q-card-section>
          <q-separator />
          <q-card-section class="row float-right   q-gutter-x-xs ">
            <div class="">
              <q-btn @click="varcreate" class="bg-primary text-white" label="Kaydet"/>
            </div>
            <div class=""><q-btn label="İptal" @click="addproductdialog=false,hasordernumber=true,$store.dispatch('allProducts')"/></div>
          </q-card-section>
        <!-- <div v-if="editdialog" class="text-center">
            <q-btn class="q-ma-md" @click="edit()"   color="primary" label="Düzenle" />
        </div>
        <div v-else class="text-center">
            
            <q-btn class="q-ma-md" @click="kaydet()"   color="primary" label="Kaydet" />
        </div> -->
      </q-card>
    </q-dialog>
    <q-dialog v-model="productuploaddialog"  position="top" persistent>
          <q-card :style="$q.screen.sm ? 'width:700px;max-width:90vw':'width:1200px;max-width: 100vw;'">
            <q-card-section class="row justify-center">
                  <div class="text-h6 ">Dosya Ekle</div>
                  <q-space />
                  <q-btn icon="close" @click="productuploaddialog=false" flat round dense v-close-popup />
          </q-card-section>
          <q-separator />
          <div class="q-pa-md justify-center row">
            <!-- <q-input v-model="uploadproductname" class="col-8"  label="Fatura Numarası" outlined/> -->
          </div>
          <div class="q-px-lg q-pb-md row justify-center">
            <drop class="col-xs-12" ref="dropclick" :theme="theme" :ordernumber="productmodel.ordernumber" @alertmethod="productuploaddialog=false"  />
            <!-- <drop class="col-xs-12" ref="dropclick" :theme="theme"  @alertmethod="dropzonecallback()"/> -->
            <q-btn class="q-mt-md col-12" color="grey-7" icon="cloud_upload" label="Yükle" @click="uploadjob()" flat/>
            <!-- <q-btn class="q-mt-md col-12" color="grey-7" icon="cloud_upload" label="Yükle" @click="uploadoutjob()" flat/> -->
          </div>
          <q-separator/>
          
          <!-- <div class="q-pb-xs"  v-if="jobmodel.outjobs.length > 0"> -->
            <!-- <div class=" q-px-md q-py-xs q-gutter-y-xs"  v-for="(val,key) in jobmodel.outjobs" :key="key"> -->
              
              <!-- <div  v-for="(vala,key) in val.uploads" :key="key">
                
               <div class=""  v-if="vala.outjobid===outjobid">
                  <div v-if="key===0" class="  q-py-md text-h6 "> Dosya Listesi </div>
                  <div class=" row">
                  <div class="col-11">
                  <q-list class=" " bordered>
                    <q-item @click="fileopen(vala.path)" clickable v-ripple>
                      <q-item-section>{{vala.name}}</q-item-section>
                      <q-item-section avatar>
                        <q-icon color="primary" name="download" />
                      </q-item-section>
                    </q-item>
                    
                  </q-list>
                  </div>
                  <div class="col text-center self-center">
                  <q-btn color="grey-7" @click="deleteoutjobfile(vala.path)"  flat dense round icon="delete" />
                  </div>
                  </div>
                  
                </div>
                
              </div> -->
              
              <!-- </div> -->
              <!-- </div> -->
              <!-- <div v-if="!outjobsay"  class="q-pb-md text-center "> -->
              <!-- <div   class="q-py-md text-center ">
                  <q-item-label >Eklenmiş Dosya Yok</q-item-label>
              </div>
          <q-separator/> -->
          <div class="q-pa-md text-right q-gutter-x-md">
            <q-btn label="Kapat" @click="productuploaddialog=false" />
          </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import {mapState,mapGetters} from 'vuex';
import axios from "axios";
import gql from "graphql-tag";
import { Loading } from 'quasar';
import drop from "../../components/dropzone-buyorder.vue"
import moment from 'moment'
import FileSaver from 'file-saver'
import _ from "lodash";
export default {
  components: {
      drop
    },
  data() {
    return {
      productuploaddialog:false,
      uploadproductname:'',
      theme:"",
      // -*-*-*-*-*--*
      productdialog:false,
      categoryid:"",
      priceunit:["USD","EURO","TL"],
      companyoptions:[],
      companyid:"",
      productmodel:{
        productid:"",
        name:"",
        serino:"",
        productcode:"",
        pieceunit:"ADET",
        piece:1,
        buyingorderdate:"",
        buyingprice:"",
        buyingexchange:"",
        priceunitmodel:"USD",
        company:"",
        exceptional:false,
        ordernumber:"",

      },
      addproductmodel:{
        productid:"",
        name:"",
        serino:"",
        productcode:"",
        pieceunit:"",
        piece:1,
        buyingprice:"",
        buyingexchange:"",
        priceunitmodel:"USD",
        company:"",
        exceptional:false,
        ordernumber:"",

      },
      serino:"",
      ordernumber:"",
      addproductdialog:false,
      hasordernumber:true,
      pagination: {
        sortBy: "name",
        // descending: false,
        page: 1,
        rowsPerPage: 100,
        // rowsNumber: 5,q
      },
      filter:'',
      columns: [
        {
          name: "id",
          label: "#",
          align: "left",
          style:'width:60px;',
          classes:'q-ma-none',
          // field: (row) => row.currency,
        },
        {
          name: "productcode",
          label: "Stok Kodu",
          align: "left",
          field: (row) => row.productcode,
          // format: val => `${val}`,
        },
        {
          name: "name",
          label: "Stok Adı",
          align: "left",
          sortable: true,
          style:'',
          classes:'q-ma-none',
          field: 'name',
          sortOrder: 'da',
          // format: val => `${val}`,
        },
        {
          name: "serino",
          label: "Seri No",
          align: "left",
          field: (row) => row.serino,
          // format: val => `${val}`,
        },
        {
          name: "pieceunit",
          label: "Birim",
          align: "left",
          field: (row) => row.pieceunit,
          // format: val => `${val}`,
        },
        {
          name: "piece",
          label: "Adet",
          align: "left",
          field: (row) => row.piece,
          // format: val => `${val}`,
        },
        {
          name: "cname",
          label: "Alınan Firma",
          align: "left",
          headerStyle: 'max-width: 180px',
          style:"max-width: 180px",


          field: (row) => {
            if (row.company) {
              return row.company.name
            }
            
            },


          // format: val => `${val}`,
        },
        {
          name: "ordernumber",
          label: "Fatura No",
          align: "left",
          field: (row) => row.ordernumber,
          // format: val => `${val}`,
        },
        {
          name: "varyant",
          label: "Hızlı Ekle",
          align: "center",
          // field: (row) => row.pieceunit,
          // format: val => `${val}`,
        },
        
        ]
    }
  },
  watch: {
    productmodel:{
      handler(val){
        // console.log(val);
        this.upperinput()
        
      },
      deep: true
    },
    getallProducts:{
      handler(val){
        // console.log(val);
        if(val.length){
          // console.log("product",val);
        }
        
      },
      deep: true
    },
    
    
  },
  computed: {
    Required(v) {
      // console.log(val);
      return [
        (v) => !!v || "Boş Geçemezsiniz",
      ];
    },
    
    ...mapGetters([
      'getallProducts',
      'getallCompany'
    ])
  },

  async mounted () {
     await this.$nextTick()
    this.$refs.filter.$el.focus();
    
    // console.log(this.getallProducts);
  },
  methods: {
    async ordersearch(upload){
      if (this.productmodel.ordernumber==null) {
        this.$q.notify({
            type: 'negative',
            message: `Fatura numarası girilmedi`
        })
        return
      }

      await this.$axios.post(
            process.env.API, {
              query: `query ordersearch($ordernumber:String){
                ordersearch(ordernumber:$ordernumber) {
                  ordernumber
                }
              }`,
              variables:{
                ordernumber:this.productmodel.ordernumber,
                
              }
            }).then(async data => {
              // console.log('data',data);
              if (data.data.data.ordersearch.length) {
                this.$q.notify({
                  type: 'positive',
                  message: `Fatura Kayıtlı`
                })
                this.hasordernumber=false
              }else{
                this.$q.notify({
                  type: 'negative',
                  message: `Fatura Kayıtlı Değil`
                })
                
              }
              
              if (upload) {
                if (this.productmodel.ordernumber=='' || this.productmodel.ordernumber==null || !this.hasordernumber ) {
                  this.$q.notify({position:'top', type: 'negative',message: `Hata` })
                  this.hasordernumber=true
                }else{
                  this.productuploaddialog=true
                }
              }
            })
    },
    async addordersearch(upload){
      
      if (this.addproductmodel.ordernumber==null) {
        this.$q.notify({
            type: 'negative',
            message: `Fatura numarası girilmedi`
        })
        return
      }
      await this.$axios.post(
            process.env.API, {
              query: `query ordersearch($ordernumber:String){
                ordersearch(ordernumber:$ordernumber) {
                  ordernumber
                }
              }`,
              variables:{
                ordernumber:this.addproductmodel.ordernumber,
                
              }
            }).then(async data => {
              // console.log('data',data);
              if (data.data.data.ordersearch.length) {
                this.$q.notify({
                  type: 'positive',
                  message: `Fatura Kayıtlı`
                })
              }else{
                this.$q.notify({
                  type: 'negative',
                  message: `Fatura Kayıtlı Değil`
                })
              }
              this.hasordernumber=false
              if (upload) {
                if (this.productmodel.ordernumber=='' || this.productmodel.ordernumber==null || !this.hasordernumber ) {
                  this.$q.notify({position:'top', type: 'negative',message: `Fatura Numarası Girilmedi` })

                }else{
                  this.productuploaddialog=true
                }
        
      }
            })
    },
    async uploadjob(){
      await this.$refs.dropclick.uploadFiles(this.productmodel.ordernumber,'buyorder')
    },
    async varekle(){
      console.log(this.addproductmodel);
      this.addproductmodel.serino=""
      // this.addproductmodel.buyingorderdate=""
      // this.addproductmodel.buyingprice=""
      // this.addproductmodel.buyingexchange=""
      this.addproductmodel.exceptional=false
      // this.addproductmodel.ordernumber=""
    },
    upperinput(){
      // this.productmodel.name=this.productmodel.name.toUpperCase('tr-TR')
      // this.productmodel.serino=this.productmodel.serino.toUpperCase('tr-TR')
      // this.productmodel.productcode=this.productmodel.productcode.toUpperCase('tr-TR')
      // this.productmodel.pieceunit=this.productmodel.pieceunit.toUpperCase('tr-TR')
      // this.serino=this.serino.toUpperCase('tr-TR')
      // this.productmodel.currencyunit=this.productmodel.currencyunit.toUpperCase('tr-TR')
      
      // this.productmodel.name != null ? this.productmodel.name = this.$turkishUpper(this.productmodel.name):this.productmodel.name
      this.productmodel.serino != null ? this.productmodel.serino = this.$turkishUpper(this.productmodel.serino):this.productmodel.serino
      this.productmodel.productcode != null ? this.productmodel.productcode = this.$turkishUpper(this.productmodel.productcode):this.productmodel.productcode
      this.productmodel.pieceunit != null ? this.productmodel.pieceunit = this.$turkishUpper(this.productmodel.pieceunit):this.productmodel.pieceunit
      this.productmodel.serino != null ? this.productmodel.serino = this.$turkishUpper(this.productmodel.serino):this.productmodel.serino
      this.productmodel.currencyunit != null ? this.productmodel.currencyunit = this.$turkishUpper(this.productmodel.currencyunit):this.productmodel.currencyunit
      
      
    
    },
    async companyfilter(val,update){
      if (val === '') {
        update(() => {
          this.companyoptions=this.getallCompany
        })
        }
        update(() => {
        const needle = val.toLowerCase()
        this.companyoptions = this.getallCompany.filter(v =>
          v.name.toLowerCase().indexOf(needle) > -1

        )
      })
    },
    async create() {
      if(this.productmodel.company !=null){
        this.companyid=this.productmodel.company.companyid
      }else{
        this.companyid=null
      }
    this.$refs.name.validate()
    this.$refs.serino.validate()
    // if(this.$refs.name.hasError || this.$refs.serino.hasError || this.$refs.productcode.hasError || this.$refs.pieceunit.hasError ){return; }
    if(this.$refs.name.hasError || this.$refs.serino.hasError  ){return; }
    console.log('productmodel',this.productmodel);
    console.log('return')
    // return
    Loading.show()

      await this.$axios.post(
            process.env.API, {
              query: `mutation createProduct($name:String, $serino:String, $productcode:String, $pieceunit:String, $buyingprice:Float, $buyingexchange:Float, $priceunitmodel:String, $companyid:ID, $exceptional:Boolean, $ordernumber:String,$piece:Float,$buyingorderdate:String){
                   createProduct(name:$name, serino:$serino, productcode:$productcode, pieceunit:$pieceunit,buyingprice:$buyingprice,buyingexchange:$buyingexchange,priceunitmodel:$priceunitmodel, ordernumber:$ordernumber, exceptional:$exceptional, companyid:$companyid, piece:$piece,buyingorderdate:$buyingorderdate){
                    res
                    }
                    }`,
                    variables:{
                      name:this.productmodel.name,
                      serino:this.productmodel.serino,
                      productcode:this.productmodel.productcode,
                      pieceunit:this.productmodel.pieceunit,
                      piece:parseFloat(this.productmodel.piece),
                      buyingprice:parseFloat(this.productmodel.buyingprice),
                      buyingexchange:parseFloat(this.productmodel.buyingexchange),
                      priceunitmodel:this.productmodel.priceunitmodel,
                      companyid:this.companyid,
                      exceptional:this.productmodel.exceptional,
                      ordernumber:this.productmodel.ordernumber,
                      buyingorderdate:this.productmodel.buyingorderdate
                      // currencyunit:this.productmodel.currencyunit,
                    }
            }).then(async data => {
               console.log(data.data.data.createProduct);
               if (data.data.data.createProduct.res=='Kullanılmış Stok Adı') {
                 this.$q.notify({
                    type: 'negative',
                    message: `${data.data.data.createProduct.res}`
                })
               }else if(data.data.data.createProduct.res=='Kullanılmış Seri No'){
                 this.$q.notify({
                    type: 'negative',
                    message: `${data.data.data.createProduct.res}`
                })
               }else if(data.data.data.createProduct.res){
                 await this.$store.dispatch('allProducts')
                 this.$q.notify({
                    type: 'positive',
                    message: `Kayıt Başarılı`
                })
                //  this.reset()
               }
               this.productdialog=false
               Loading.hide()
            })
    },
    async varcreate(){
      
      if(this.addproductmodel.company !=null){
        this.companyid=this.addproductmodel.company.companyid
      }else{
        this.companyid=null
      }
      this.$refs.varserino.validate()
      if( this.$refs.varserino.hasError){return; }
      
      Loading.show()
        await axios.post(
              process.env.API, {
                query: `mutation createProduct($name:String, $serino:String, $productcode:String,$pieceunit:String,$buyingprice:Float,$buyingexchange:Float,$priceunitmodel:String,$companyid:ID, $exceptional:Boolean, $ordernumber:String,$piece:Float,$buyingorderdate:String){
                   createProduct(name:$name, serino:$serino, productcode:$productcode, pieceunit:$pieceunit,buyingprice:$buyingprice,buyingexchange:$buyingexchange,priceunitmodel:$priceunitmodel,ordernumber:$ordernumber, exceptional:$exceptional, companyid:$companyid,piece:$piece,buyingorderdate:$buyingorderdate){
                      res
                      }
                      }`,
                      variables:{
                        name:this.addproductmodel.name,
                        serino:this.addproductmodel.serino,
                        productcode:this.addproductmodel.productcode,
                        pieceunit:this.addproductmodel.pieceunit,
                        piece:parseFloat(this.addproductmodel.piece),
                        buyingprice:parseFloat(this.addproductmodel.buyingprice),
                        buyingexchange:parseFloat(this.addproductmodel.buyingexchange),
                        priceunitmodel:this.addproductmodel.priceunitmodel,
                        companyid:this.companyid,
                        exceptional:this.addproductmodel.exceptional,
                        ordernumber:this.addproductmodel.ordernumber,
                        buyingorderdate:this.addproductmodel.buyingorderdate
                        // currencyunit:this.productmodel.currencyunit,
                      }
              }).then(async data => {
                console.log(data.data.data.createProduct);
                 if(data.data.data.createProduct.res=='Kullanılmış Seri No'){
                  this.$q.notify({
                      type: 'negative',
                      message: `${data.data.data.createProduct.res}`
                  })
                }else if(data.data.data.createProduct.res){
                  await this.$store.dispatch('allProducts')
                  this.$q.notify({
                      type: 'positive',
                      message: `Kayıt Başarılı`
                  })
                  this.addproductdialog=false
                  //  this.reset()
                   

                }
                Loading.hide()
              })
    },
    async update(){
      if(this.productmodel.company !=null){
        this.companyid=this.productmodel.company.companyid
      }else{
        this.companyid=null
      }
      console.log('this.productmodel',this.productmodel);
      // return
      this.$refs.name.validate()
      this.$refs.serino.validate()
      // this.$refs.productcode.validate()
      // this.$refs.pieceunit.validate()
      // if(this.$refs.name.hasError || this.$refs.serino.hasError || this.$refs.productcode.hasError || this.$refs.pieceunit.hasError){return;}
      if(this.$refs.name.hasError || this.$refs.serino.hasError ){return;}
      Loading.show()
      await axios.post(
            process.env.API, {
              query: `mutation updateProduct($productid:ID,$name:String, $serino:String, $productcode:String,$pieceunit:String,$buyingprice:Float,$buyingexchange:Float,$priceunitmodel:String,$companyid:ID, $exceptional:Boolean, $ordernumber:String,$piece:Float,$buyingorderdate:String){
                   updateProduct(productid:$productid,name:$name, serino:$serino, productcode:$productcode, pieceunit:$pieceunit,buyingprice:$buyingprice,buyingexchange:$buyingexchange,priceunitmodel:$priceunitmodel, ordernumber:$ordernumber, exceptional:$exceptional, companyid:$companyid,piece:$piece,buyingorderdate:$buyingorderdate){
                    res
                    }
                    }`,
                    variables:{
                      productid:this.productmodel.productid,
                      name:this.productmodel.name,
                      serino:this.productmodel.serino,
                      productcode:this.productmodel.productcode,
                      pieceunit:this.productmodel.pieceunit,
                      piece:parseFloat(this.productmodel.piece),
                      buyingprice:parseFloat(this.productmodel.buyingprice),
                      buyingexchange:parseFloat(this.productmodel.buyingexchange),
                      priceunitmodel:this.productmodel.priceunitmodel,
                      companyid:this.companyid,
                      exceptional:this.productmodel.exceptional,
                      ordernumber:this.productmodel.ordernumber,
                      buyingorderdate:this.productmodel.buyingorderdate
                      // currencyunit:this.productmodel.currencyunit,
                    }
            }).then(async data => {
               console.log(data.data.data.updateProduct);
               if (data.data.data.updateProduct.res=='Kullanılmış Stok Adı yada Seri Numarası') {
                 this.$q.notify({
                    type: 'negative',
                    message: `${data.data.data.updateProduct.res}`
                })
               }else if(data.data.data.updateProduct.res=='Kullanılmış Seri Numarası'){
                 this.$q.notify({
                    type: 'negative',
                    message: `${data.data.data.updateProduct.res}`
                })
               }else if(data.data.data.updateProduct.res){
                 await this.$store.dispatch('allProducts')
                 this.$q.notify({
                    type: 'positive',
                    message: `Kayıt Başarılı`
                })
                  // await this.reset()
               }
               this.productdialog=false
               Loading.hide()
            })
    },
    updateselect(val){
      // console.log("val-updateselect",val);
      this.productmodel.productid=val.productid
      this.productmodel.name=val.name
      this.productmodel.serino=val.serino
      this.productmodel.productcode=val.productcode
      this.productmodel.pieceunit=val.pieceunit
      this.productmodel.piece=val.piece
      this.productmodel.buyingprice=val.buyingprice
      this.productmodel.buyingexchange=val.buyingexchange
      this.productmodel.priceunitmodel=val.priceunitmodel
      this.productmodel.exceptional=val.exceptional
      this.productmodel.exceptional=val.exceptional
      this.productmodel.company=val.company
      this.productmodel.ordernumber=val.ordernumber
      this.productmodel.buyingorderdate=val.buyingorderdate
      this.productmodel.uploadorder=val.uploadorder
      this.productdialog=true
      // this.productmodel.currencyunit=val.currencyunit
      console.log('this.uploadorder',this.productmodel);
    },
     reset(){
       this.productmodel={
        productid:"",
        name:"",
        serino:"",
        productcode:"",
        pieceunit:"",
        piece:1,
        buyingprice:"",
        buyingorderdate:"",
        buyingexchange:"",
        priceunitmodel:"USD",
        exceptional:false
        
        }
        this.addproductmodel={
          productid:"",
          name:"",
          serino:"",
          productcode:"",
          pieceunit:"",
          piece:1,
          buyingprice:"",
          buyingorderdate:"",
          buyingexchange:"",
          priceunitmodel:"USD",
          exceptional:false
        }
        this.serino=""
      
      setTimeout(() => {
        this.$refs.name.resetValidation()
        this.$refs.serino.resetValidation()
        this.$refs.productcode.resetValidation()
        // this.$refs.pieceunit.resetValidation()
        // this.$refs.varserino.resetValidation()
        // this.$refs.currencyunit.resetValidation()
        }, 1);
      
    },
    async fileopen(fileName='',ordernumber){
        console.log('fileName',fileName);
      await this.$axios({
        // let url=  require(`../../../assets/uploads/${fileName}`)
        headers:{'Content-Type': 'application/json'},
        url:  process.env.KURAPI+'orderdownload',
        method: 'post',
        responseType: 'blob',
        data:{
          name:fileName
        }
      }).then((response) => {
        console.log("response",response);
        FileSaver.saveAs(response.data,ordernumber);
      });
      //  window.open(require(`assets/uploads/${fileName}`), '_blank');

      }
  },
  
}
</script>

<style lang="scss" scoped>
  .box {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
</style>