<template>
  <div class="q-pa-xs">
    <q-card class=" q-mb-md " >
      <q-card-section class="col-12 text-h6">Stok Ekle</q-card-section>
      <q-separator class="" />
      <q-card-section class="text-caption text-left">Stok Detayları</q-card-section>
      <q-card-section class="row q-py-none  q-gutter-x-xs ">
        <q-input v-model="productmodel.productcode" ref="productcode" class="col-xs-12 col-md-3 col-lg-3 " label="Stok Kodu" outlined dense :rules="[val => !!val || 'Boş Bırakmayınız']"/>
        <q-input  v-model="productmodel.name" ref="name" class="col-xs-12 col-md col-lg  "  label="Stok Adı" outlined dense :rules="[val => !!val || 'Boş Bırakmayınız']">
        </q-input>
        <q-input v-model="productmodel.serino" ref="serino" class="col-xs-12 col-md col-lg " label="Seri No" outlined dense
        :rules="[val => !!val || 'Boş Bırakmayınız']"
        />
        <q-input v-model="productmodel.pieceunit" ref="pieceunit" class="col-xs-12 col-md-1 col-lg-1 " label="Birim" outlined dense
        :rules="[val => !!val || 'Boş Bırakmayınız']"
        />
      </q-card-section>
      <q-separator inset/>
      <q-card-section class="text-caption text-left">Alış Detayları</q-card-section>
      <q-card-section class="row q-py-none q-gutter-xs">
        <q-input class="col"  reverse-fill-mask v-model="productmodel.buyingprice" @keypress="$numberandot($event)" :label="`Alış Fiyatı ${productmodel.priceunitmodel}`" outlined dense/>
        <q-select class="col" :options="priceunit" v-model="productmodel.priceunitmodel" outlined dense/>
        <q-input class="col" @keypress="$numberandot($event)" v-model="productmodel.buyingexchange" label="Kur" outlined dense/>

      </q-card-section>
      <q-separator class="q-mt-lg" />
      <q-card-section class="text-right">
        <q-btn   class="bg-green text-white q-mr-xs"  label="Reset" @click="reset"/>
        <q-btn v-if="productmodel.productid==''" class="bg-primary text-white"  label="Kaydet" @click="create()"/>
        <q-btn v-if="productmodel.productid!=''"  class="bg-primary text-white"  label="Güncelle" @click="update()"/>
        

      </q-card-section>
    </q-card>
    
    <q-card>
      <q-table :filter="filter" :data="getallProducts" :columns="columns" row-key="productid" :pagination.sync="pagination" title="Stok Listesi">
        <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Ara">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
          <template v-slot:body="props">
            
            <q-tr :props="props" class="cursor-pointer" >
              <q-td key="#" :props="props" @click.native="updateselect(props.row)">{{props.rowIndex +1}}</q-td>
              <q-td key="productcode" :props="props" @click.native="updateselect(props.row)">{{props.row.productcode}}</q-td>
              <q-td key="name" :props="props" @click.native="updateselect(props.row)">{{props.row.name}}</q-td>
              <q-td key="serino" :props="props" @click.native="updateselect(props.row)">{{props.row.serino}}</q-td>
              <q-td key="pieceunit" :props="props" >{{props.row.pieceunit}}</q-td>
              <q-td key="varyant" :props="props" ><q-btn icon="mdi-plus" @click="addproductmodel=props.row,addproductdialog=true" :ripple="false"></q-btn></q-td>
            </q-tr>
          </template>
        </q-table>
    </q-card>
    <q-dialog  v-model="addproductdialog"  persistent>
      <q-card style="width: 550px; max-width: 90vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Varyant Ekle</div>
                <q-space />
                <q-btn icon="close" @click="addproductdialog=false, addproductmodel='', serino=''" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        
          <q-input @input="upperinput()" class="q-pa-md" outlined ref="varserino" v-model="serino" label="Seri No" :rules="[val => !!val || 'Boş Bırakmayınız']" dense />
          
         <div class="q-ma-md text-right">
           <q-btn @click="varcreate" label="Kaydet"/>
         </div>

        <!-- <div v-if="editdialog" class="text-center">
            <q-btn class="q-ma-md" @click="edit()"   color="primary" label="Düzenle" />
        </div>
        <div v-else class="text-center">
            
            <q-btn class="q-ma-md" @click="kaydet()"   color="primary" label="Kaydet" />
        </div> -->
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import {mapState,mapGetters} from 'vuex';
import axios from "axios";
import gql from "graphql-tag";
import _ from "lodash";
export default {
  
  data() {
    return {
      categoryid:"",
      priceunit:["USD","EURO","TL"],
      
      
      productmodel:{
        productid:"",
        name:"",
        serino:"",
        productcode:"",
        pieceunit:"",
        buyingprice:"",
        buyingexchange:"",
        priceunitmodel:"USD",
      },
      addproductmodel:{
        productid:"",
        name:"",
        serino:"",
        productcode:"",
        pieceunit:"",
        buyingprice:"",
        buyingexchange:"",
        priceunitmodel:"USD",
      },
      serino:"",
      addproductdialog:false,
      pagination: {
        sortBy: "name",
        descending: false,
        page: 1,
        rowsPerPage: 1000,
        // rowsNumber: 5,q
      },
      filter:'',
      columns: [
        {
          name: "#",
          label: "#",
          align: "left",
          style:'width:60px;',
          classes:'q-ma-none',
          // field: (row) => row.currency,
        },
        {
          name: "productcode",
          label: "Stok Kodu",
          align: "left",
          field: (row) => row.productcode,
          // format: val => `${val}`,
        },
        {
          name: "name",
          label: "Stok Adı",
          align: "left",
          sortable: true,
          style:'',
          classes:'q-ma-none',
          field: 'name',
          sortOrder: 'da',
          // format: val => `${val}`,
        },
        {
          name: "serino",
          label: "Seri No",
          align: "left",
          field: (row) => row.serino,
          // format: val => `${val}`,
        },
        {
          name: "pieceunit",
          label: "Birim",
          align: "left",
          field: (row) => row.pieceunit,
          // format: val => `${val}`,
        },
        {
          name: "varyant",
          label: "Ekle",
          align: "center",
          // field: (row) => row.pieceunit,
          // format: val => `${val}`,
        },
        
        ]
    }
  },
  watch: {
    productmodel:{
      handler(val){
        // console.log(val);
        this.upperinput()
        
      },
      deep: true
    },
    
    
  },
  computed: {
    Required(v) {
      // console.log(val);
      return [
        (v) => !!v || "Boş Geçemezsiniz",
      ];
    },
    
    ...mapGetters([
      'getallProducts',
    ])
  },

  mounted () {
    // console.log(this.getallProducts);
  },
  methods: {
    async varekle(){
      console.log(this.addproductmodel);
    },
    upperinput(){
      // this.productmodel.name=this.productmodel.name.toUpperCase('tr-TR')
      // this.productmodel.serino=this.productmodel.serino.toUpperCase('tr-TR')
      // this.productmodel.productcode=this.productmodel.productcode.toUpperCase('tr-TR')
      // this.productmodel.pieceunit=this.productmodel.pieceunit.toUpperCase('tr-TR')
      // this.serino=this.serino.toUpperCase('tr-TR')
      // this.productmodel.currencyunit=this.productmodel.currencyunit.toUpperCase('tr-TR')
      
      // this.productmodel.name != null ? this.productmodel.name = this.$turkishUpper(this.productmodel.name):this.productmodel.name
      this.productmodel.serino != null ? this.productmodel.serino = this.$turkishUpper(this.productmodel.serino):this.productmodel.serino
      this.productmodel.productcode != null ? this.productmodel.productcode = this.$turkishUpper(this.productmodel.productcode):this.productmodel.productcode
      this.productmodel.pieceunit != null ? this.productmodel.pieceunit = this.$turkishUpper(this.productmodel.pieceunit):this.productmodel.pieceunit
      this.productmodel.serino != null ? this.productmodel.serino = this.$turkishUpper(this.productmodel.serino):this.productmodel.serino
      this.productmodel.currencyunit != null ? this.productmodel.currencyunit = this.$turkishUpper(this.productmodel.currencyunit):this.productmodel.currencyunit
      
      
    
    },
    async create() {

    this.$refs.name.validate()
    this.$refs.serino.validate()
    this.$refs.productcode.validate()
    if(this.$refs.name.hasError || this.$refs.serino.hasError || this.$refs.productcode.hasError || this.$refs.pieceunit.hasError ){return; }
    this.$q.loading.show()

      await this.$axios.post(
            process.env.API, {
              query: `mutation createProduct($name:String, $serino:String, $productcode:String,$pieceunit:String,$buyingprice:Float,$buyingexchange:Float,$priceunitmodel:String){
                   createProduct(name:$name, serino:$serino, productcode:$productcode, pieceunit:$pieceunit,buyingprice:$buyingprice,buyingexchange:$buyingexchange,priceunitmodel:$priceunitmodel){
                    res
                    }
                    }`,
                    variables:{
                      name:this.productmodel.name,
                      serino:this.productmodel.serino,
                      productcode:this.productmodel.productcode,
                      pieceunit:this.productmodel.pieceunit,
                      buyingprice:parseFloat(this.productmodel.buyingprice),
                      buyingexchange:parseFloat(this.productmodel.buyingexchange),
                      priceunitmodel:this.productmodel.priceunitmodel,
                      // currencyunit:this.productmodel.currencyunit,
                    }
            }).then(async data => {
               console.log(data.data.data.createProduct);
               if (data.data.data.createProduct.res=='Kullanılmış Stok Adı') {
                 this.$q.notify({
                    type: 'negative',
                    message: `${data.data.data.createProduct.res}`
                })
               }else if(data.data.data.createProduct.res=='Kullanılmış Seri No'){
                 this.$q.notify({
                    type: 'negative',
                    message: `${data.data.data.createProduct.res}`
                })
               }else if(data.data.data.createProduct.res){
                 await this.$store.dispatch('allProducts')
                 this.$q.notify({
                    type: 'positive',
                    message: `Kayıt Başarılı`
                })
                await this.reset()
               }
               this.$q.loading.hide()
            })
    },
    async varcreate(){
      this.$refs.varserino.validate()
      if( this.$refs.varserino.hasError){return; }
      this.$q.loading.show()
        await axios.post(
              process.env.API, {
                query: `mutation createProduct($name:String, $serino:String, $productcode:String,$pieceunit:String,$buyingprice:Float,$buyingexchange:Float,$priceunitmodel:String){
                   createProduct(name:$name, serino:$serino, productcode:$productcode, pieceunit:$pieceunit,buyingprice:$buyingprice,buyingexchange:$buyingexchange,priceunitmodel:$priceunitmodel){
                      res
                      }
                      }`,
                      variables:{
                        name:this.addproductmodel.name,
                        serino:this.serino,
                        productcode:this.addproductmodel.productcode,
                        pieceunit:this.addproductmodel.pieceunit,
                        buyingprice:parseFloat(this.addproductmodel.buyingprice),
                        buyingexchange:parseFloat(this.addproductmodel.buyingexchange),
                        priceunitmodel:this.addproductmodel.priceunitmodel,
                        // currencyunit:this.productmodel.currencyunit,
                      }
              }).then(async data => {
                console.log(data.data.data.createProduct);
                 if(data.data.data.createProduct.res=='Kullanılmış Seri No'){
                  this.$q.notify({
                      type: 'negative',
                      message: `${data.data.data.createProduct.res}`
                  })
                }else if(data.data.data.createProduct.res){
                  await this.$store.dispatch('allProducts')
                  this.$q.notify({
                      type: 'positive',
                      message: `Kayıt Başarılı`
                  })
                  this.addproductdialog=false
                  await this.reset()
                   

                }
                this.$q.loading.hide()
              })
    },
    async update(){
      this.$refs.name.validate()
      this.$refs.serino.validate()
      this.$refs.productcode.validate()
      this.$refs.pieceunit.validate()
      if(this.$refs.name.hasError || this.$refs.serino.hasError || this.$refs.productcode.hasError || this.$refs.pieceunit.hasError){return;}
      this.$q.loading.show()
      await axios.post(
            process.env.API, {
              query: `mutation updateProduct($productid:ID,$name:String, $serino:String, $productcode:String,$pieceunit:String,$buyingprice:Float,$buyingexchange:Float,$priceunitmodel:String){
                   updateProduct(productid:$productid,name:$name, serino:$serino, productcode:$productcode, pieceunit:$pieceunit,buyingprice:$buyingprice,buyingexchange:$buyingexchange,priceunitmodel:$priceunitmodel){
                    res
                    }
                    }`,
                    variables:{
                      productid:this.productmodel.productid,
                      name:this.productmodel.name,
                      serino:this.productmodel.serino,
                      productcode:this.productmodel.productcode,
                      pieceunit:this.productmodel.pieceunit,
                      buyingprice:parseFloat(this.productmodel.buyingprice),
                      buyingexchange:parseFloat(this.productmodel.buyingexchange),
                      priceunitmodel:this.productmodel.priceunitmodel,
                      // currencyunit:this.productmodel.currencyunit,
                    }
            }).then(async data => {
               console.log(data.data.data.updateProduct);
               if (data.data.data.updateProduct.res=='Kullanılmış Stok Adı yada Seri Numarası') {
                 this.$q.notify({
                    type: 'negative',
                    message: `${data.data.data.updateProduct.res}`
                })
               }else if(data.data.data.updateProduct.res=='Kullanılmış Seri Numarası'){
                 this.$q.notify({
                    type: 'negative',
                    message: `${data.data.data.updateProduct.res}`
                })
               }else if(data.data.data.updateProduct.res){
                 await this.$store.dispatch('allProducts')
                 this.$q.notify({
                    type: 'positive',
                    message: `Kayıt Başarılı`
                })
                await this.reset()
               }
               this.$q.loading.hide()
            })
    },
    updateselect(val){
      // console.log(val);
      this.productmodel.productid=val.productid
      this.productmodel.name=val.name
      this.productmodel.serino=val.serino
      this.productmodel.productcode=val.productcode
      this.productmodel.pieceunit=val.pieceunit
      this.productmodel.buyingprice=val.buyingprice
      this.productmodel.buyingexchange=val.buyingexchange
      this.productmodel.priceunitmodel=val.priceunitmodel
      // this.productmodel.currencyunit=val.currencyunit
    },
    reset(){
       this.productmodel={
        productid:"",
        name:"",
        serino:"",
        productcode:"",
        pieceunit:"",
        buyingprice:"",
        buyingexchange:"",
        priceunitmodel:"USD",
        
        }
        this.addproductmodel={
          productid:"",
          name:"",
          serino:"",
          productcode:"",
          pieceunit:"",
          buyingprice:"",
          buyingexchange:"",
          priceunitmodel:"USD",
        }
        this.serino=""
      
      setTimeout(() => {
        this.$refs.name.resetValidation()
        this.$refs.serino.resetValidation()
        this.$refs.productcode.resetValidation()
        this.$refs.pieceunit.resetValidation()
        // this.$refs.varserino.resetValidation()
        // this.$refs.currencyunit.resetValidation()
        }, 1);
      
    }
  },
  
}
</script>

<style lang="scss" scoped>

</style>