<template>
  <div class="q-pa-md q-gutter-xs">
    <q-card class="q-pa-md ">
      <q-table   :data="allUser" :columns="ucolumns" selection="single" :selected.sync="selected" row-key="userid" :pagination.sync="upagination" title="Admin Listesi">
        
          <template v-slot:body="props">
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)"> -->
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native=" editItem(props.row)" > -->
            <q-tr :props="props" class="cursor-pointer"  @click.native="selected=[],kdmodel=[]" >
              <q-td><q-checkbox v-model="props.selected" @click.native="userdepartment(props.row)"/></q-td>
              <q-td key="adi" :props="props" >{{props.row.firstname + ' ' + props.row.lastname}}</q-td>
              <q-td key="email" :props="props" >{{props.row.email}}</q-td>
              <q-td key="role" :props="props" >{{props.row.role}}</q-td>
              
              <!-- <q-td key="firstname" :props="props" >{{props.row.firstname}}</q-td>
              <q-td key="lastname" :props="props" >{{props.row.lastname}}</q-td>
              <q-td key="role" :props="props" >{{props.row.role}}</q-td> -->
            </q-tr>
          </template>
        </q-table>
    </q-card>
    <q-card class=" " title>
        <q-card-section class="row text-h6">
          Kullanıcı Departmanı Ekle
        </q-card-section>
        <q-card-section class="  ">
          <q-select 
            label="Departman"
            outlined
            v-model="kdmodel"
            multiple
            color="red"
            text-color="white"
            :options="getallDepartment"
            use-chips
            stack-label
            @input="im=true"
            option-value="departmentid"
            option-label="name"
            :display-value="`${getallDepartment.name}`"
          >
        <template v-slot:selected-item="scope">
          <q-chip
          removable
          dense
          color="secondary"
          text-color="white"
          @remove="scope.removeAtIndex(scope.index),inde=scope.index"
          
          >
          {{scope.opt.name}}
          </q-chip>

        </template>
        <!-- @remove="dkremove=!dkremove,olddklastitem=kdmodel[kdmodel.length-1]" -->
        <!-- <template v-slot:option="{ itemProps, itemEvents, opt, selected, toggleOption, removeAtIndex }">
        </template> -->
          </q-select>
          </q-card-section>
        
      </q-card>
      
    
    <!-- <q-card class="q-pa-md ">
      <q-table   :data="userdepartmentlist" :columns="udcolumns"   row-key="userdepartmentid" :pagination.sync="udpagination" title="Admin Departman Listesi">
        <template v-slot:top >
          <q-space />
        <q-btn color="primary"  label="Departman Ekle"  @click="dialog=true"/>
        
        </template>
          <template v-slot:body="props">
            <q-tr :props="props" class="cursor-pointer"   >
              <q-td key="department" :props="props" >{{props.row.name}}</q-td>
              
            </q-tr>
          </template>
        </q-table>
    </q-card> -->
    <q-dialog v-model="dialog">
          <q-card style="width: 500px; max-width: 80vw;">
            <q-card-section class="row justify-center">
                <div class="text-h6 ">Kategori Adı</div>
                <q-space />
                <q-btn icon="close" flat round dense v-close-popup />
              </q-card-section>

            <q-card-section>
              <!-- <q-input
                class="q-pa-md"
                outlined
                v-model="catname"
                label="Adı"
                :dense="false"
              /> -->
            </q-card-section>
            <q-card-section class="text-right">
              <!-- <q-btn
                class="q-ma-sm"
                color="primary"
                label="Güncelle"
                @click="catnameupdate()"
                v-close-popup
              ></q-btn> -->
              <!-- <q-btn
                class="q-mr-md"
                color="negative"
                label="Sil"
                @click="catnamedelete()"
                v-close-popup
              ></q-btn> -->
            </q-card-section>
          </q-card>
        </q-dialog>
  </div>
</template>

<script>
import {mapState,mapGetters} from 'vuex'
import axios from "axios";
import { Loading } from 'quasar';
import gql from "graphql-tag";
import _  from "lodash";
  export default {
    data() {
      return {
        im:false,
        diff:0,
        control:true,
        inde:"",
        olddklastitem:{},
        dklastitem:{},
        dkremove:true,
        kdmodel:[],
        allUser:[],
        selected:[],
        userdepartmentid:"",
        userdepartmentlist:[],
        ucolumns:[
        {
          name: "adi",
          label: "Adı-Soyadı",
          align: "left",
          sortable: true,
          field: (row) => row.firstname + row.lastname,
        },
        {
          name: "email",
          label: "Email",
          align: "left",
          sortable: true,
          field: (row) => row.email,
        },
        {
          name: "role",
          label: "Rol",
          align: "left",
          sortable: true,
          field: (row) => row.role,
        },
        ],
        upagination: {
          sortBy: "ust",
          descending: false,
          page: 1,
          rowsPerPage: 100,
          // rowsNumber: 5,q
        },
        dialog:false,
      }
    },
    watch: {
      getallUser(val) {
        // console.log(val);
      },
      kdmodel(val,oldval){
        // console.log(val);
        this.diff=val.length - oldval.length
        if(this.inde=="" && this.diff < 0 && this.im){
         let arr= _.difference(oldval, val);
          oldval.forEach((a,i)=>{
            if(a.userdepartmentid==arr[0].userdepartmentid){
              this.inde=i
            }
            })
        }
        if (this.diff > 0 && this.control) {
         this.sel();
       }else if(this.diff < 0 && this.control){
         this.olddklastitem=oldval[this.inde]
          this.sel();
       }
      this.im=false
      this.inde=""
      }
    },
    computed: {
      ...mapGetters([
        'getallUser',
        'getallDepartment'
      ])
    },
   async mounted () {
      console.log("mounted");
      await axios.post(
            process.env.API, {
              query: `{
                    allUser {
                      userid
                      firstname
                      lastname
                      email
                      role
                      res
                      
                    }
        }`,
            }).then(async data => {
              this.allUser=[]
              // console.log(data.data.data.allUser);
              data.data.data.allUser.forEach((vala,ia)=>{
                if(vala.role=='superuser' || vala.role=='admin'){
                  this.allUser.push(vala)
                }
              })
              //  console.log(this.allUser);
            })
    },
    methods: {
      dele(val){
        // console.log("del");
        // console.log("del",val);
        // this.olddklastitem=this.kdmodel[val]
        // // console.log("olddklastitem",this.olddklastitem);
        // this.sel()
      },
      async sel(){
        console.log("sel");
        this.dklastitem = this.kdmodel[this.kdmodel.length-1]
        // console.log("this.selected",this.selected);
        // console.log("this.kdmodel",this.kdmodel);
        // return false;
        // this.dklastitem = this.kdmodel[this.kdmodel.length-1]
        if (!this.selected.length) {
          // console.log('yok');
          this.$q.notify({
                    type: 'negative',
                    // position:'top-right',
                    message: `Hatalı Seçim`
                })
          return
        }
        if (this.diff > 0) {
          Loading.show()
          await axios.post(
                process.env.API, {
                  query: `mutation createDepartmentUser($userid:ID, $departmentid:ID){
                          createDepartmentUser(userid: $userid, departmentid: $departmentid){
                            departmentid
                            }
                          }`,
          variables: {
            userid:this.selected[0].userid,
            departmentid:this.dklastitem.departmentid,
            
          }
          }).then(async data=>{
            await this.userdepartment()
            this.$q.notify({
                        type: 'positive',
                        // position:'top-right',
                        message: `Başarıyla Eklendi`
                    })
                    Loading.hide()
          })
        }else if(this.diff < 0){
          // this.dkremove=true
          console.log("remove");
          Loading.show()
        await axios.post(
                process.env.API, {
                  query: `mutation deleteDepartmentUser($userdepartmentid:ID){
                          deleteDepartmentUser(userdepartmentid: $userdepartmentid){
                            userdepartmentid
                            }
                          }`,
          variables: {
            userdepartmentid:this.olddklastitem.userdepartmentid,
            // categoryid:this.dklastitem.categoryid,
          
          }
      }).then(async data=>{
        console.log("delete",data);
        await this.userdepartment()
        Loading.hide()
        this.$q.notify({
                    type: 'positive',
                    // position:'top-right',
                    message: `Başarıyla Silindi`
                })
      })

        }
        this.dkremove=true
      },
     async userdepartment(val){
        this.control=false
      this.kdmodel=[]
        let obj ={}
       if(this.selected.length>0){
         Loading.show()
        await axios.post(process.env.API, {
          query: `query departmentFilterQuery($userid: ID){
                 departmentFilterQuery(userid: $userid) {
                  userdepartmentid
                    departments{
                      departmentid
                      name
                    }
                    }
                 }`,

          variables: {
            userid: this.selected[0].userid
          }
        })
        .then(data => {
          // console.log(data.data.data.departmentFilterQuery);
          if(data.data.data.departmentFilterQuery.length){
            // this.userdepartmentid=data.data.data.departmentFilterQuery[0].userdepartmentid
            // this.kdmodel=data.data.data.departmentFilterQuery[0].departments
            
            data.data.data.departmentFilterQuery.forEach((vala,ia)=>{
            obj ={}
            //   
              vala.departments.forEach((valb,ib)=>{
                Object.assign(obj, {name:valb.name});
                Object.assign(obj, {departmentid:valb.departmentid});
                Object.assign(obj, {userdepartmentid:vala.userdepartmentid});
                this.kdmodel.push(obj)
                
              })
            })
            
            //  console.log("kdmodel",this.kdmodel);
          }else{
            this.kdmodel=[]
          }
          this.control=true
          Loading.hide()
        })
       }else{
      //  return false;
       // userdepartment
       this.kdmodel=[]
        Loading.hide()
        }
      }
      
    },
  }
</script>

<style lang="scss" scoped>

</style>