<template>
  <div class="">
    <q-card class="q-ma-xs ">
      <q-table :filter="filter" :data="getallCompany" :columns="columns" row-key="companyid" :pagination.sync="pagination" :selected.sync="selected" selection="single" title="Firma Listesi">
          <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Ara">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
          <template v-slot:body="props">
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)"> -->
            <q-tr :props="props" class="cursor-pointer" >
              <q-td><q-checkbox v-model="props.selected" @click.native="companyid=props.row.companyid,selectedcompany(props.row)"/></q-td>
              <q-td key="name" :props="props" >{{props.row.name}}</q-td>
              <q-td key="il" :props="props" >{{props.row.il}}</q-td>
              <!-- <q-td key="lastname" :props="props" >{{props.row.lastname}}</q-td> -->
            </q-tr>
          </template>
        </q-table>
    </q-card>
    <q-card class=" q-ma-xs ">
      <div class="row">
       <q-btn
            v-if="selected.length"
          class="col  q-ma-md"
          size="16px"
          icon="mdi-plus"
          label="Firma Kullanıcısı ekle"
          @click="userdialog = !userdialog"
          dense
          
        />
        </div>
      <q-table :filter="cfilter" :data="cusers" :columns="ccolumns" row-key="userid" :pagination.sync="cpagination"  title="Kullanıcı Listesi">
          <template v-slot:top-right>
           
            <q-input borderless dense debounce="300" v-model="cfilter" placeholder="Ara">
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </template>
          <template v-slot:body="props">
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)"> -->
            <q-tr :props="props" class="cursor-pointer" >
              
              <q-td key="adi" :props="props" >{{props.row.user.firstname}}</q-td>
              <q-td key="email" :props="props" >{{props.row.user.email}}</q-td>
              <!-- <q-td key="lastname" :props="props" >{{props.row.lastname}}</q-td> -->
            </q-tr>
          </template>
        </q-table>
    </q-card>
    <q-dialog  v-model="userdialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Kullanıcı Detay</div>
                <q-space />
                <q-btn icon="close" @click="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <q-select
        class="q-ma-md"
        label="Kullanıcılar"
        v-model="uselected"
        :options="options"
        option-value="userid"
        option-label="email"
        use-input
        @filter="filterFn"
        outlined
        />
        <div class="text-right">
          <q-btn class="" icon="mdi-close-circle" @click="userdialog=false"    label="Kapat" />
          <q-btn class="q-ma-md" @click="companyuserkaydet()"    label="Kaydet" />
        </div>
        
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import {mapState,mapGetters} from 'vuex'
import axios from "axios";
import gql from "graphql-tag";

  export default {
    data() {
      return {
        allUser:[],
        
        userdialog:false,
        companyid:"",
        selected:[],
        uselected:[],
        columns: [
        {
          name: "name",
          label: "Adı",
          align: "left",
          sortable: true,
          field: (row) => row.name,
        },
        {
          name: "il",
          label: "il",
          align: "left",
          sortable: true,
          field: (row) => row.il,
        },
        ],
        pagination: {
          sortBy: "name",
          descending: false,
          page: 1,
          rowsPerPage: 20,
          // rowsNumber: 5,q
        },
        ccolumns: [
        {
          name: "adi",
          label: "Adı",
          align: "left",
          sortable: true,
          field: (row) => row.user.firstname,
        },
        {
          name: "email",
          label: "email",
          align: "left",
          sortable: true,
          field: (row) => row.user.email,
        },
        ],
        cpagination: {
          sortBy: "adi",
          descending: false,
          page: 1,
          rowsPerPage: 100,
          // rowsNumber: 5,q
        },
        options:[],
        filter:'',
        cfilter:'',
        cusers:[],
        susers:[], 
        }
    },
    watch: {
      getallCompany(val) {
         console.log("val",val);
        
      },
      allUser(val) {
        //  console.log("val",val);
        if (val.length) {
          console.log('val',val);
          this.options=val.filter(val=>(!val.cuser) )
        }
        
      },

    },
    computed: {
      ...mapGetters([
        'getallCompany',
        'getallUser'
      ])
    },
    mounted () {
      // console.log("this.getallCompany",this.getallCompany);
      // this.getallCompany
    },
    methods: {
      async companyuserkaydet(){
        
           await axios.post(
                process.env.API, {
                  query: `mutation createCompanyUser($userid:ID,$companyid:ID){
                          createCompanyUser(userid: $userid,companyid: $companyid){
                            userid
                            }
                          }`,
          variables: {
            userid:this.uselected.userid,
            companyid:this.companyid
          }
      }).then(async data=>{
        console.log(data);
        await this.$store.dispatch("allCompany");
        await this.$store.dispatch("allUser");
        let obj=[]
        
        this.getallCompany.forEach((vala,ia)=>{
          
          if(this.companyid==vala.companyid){
            //  vala.cusers.forEach((valb,ib)=>{
               
            //  })
            obj=vala
            

          }
        })
        // console.log("ar",ar);
        this.selectedcompany(obj)
        // this.selected=[]
        // this.cusers=[]
        this.close();
        this.$q.notify({
                    type: 'positive',
                    // position:'top-right',
                    message: `Başarılı`
                })
        
      })
      },
      selectedcompany(val){
        // this.uselected=[]
        this.allUser=this.getallUser
        this.susers=[]
        this.cusers=val.cusers
        this.cusers.forEach((vala,ia)=>{
          // console.log("cusers",vala);
            let obj={}
            obj={
            userid:vala.user.userid,
            email: vala.user.email,
            firstname: vala.user.firstname,
            role:vala.user.role
          }
          this.susers.push(obj)
        })
        // console.log("this.allUser",this.allUser);
        
          // this.allUser.forEach((vala,ia)=>{
          //   this.susers.forEach((valb,ib)=>{
          //     if (vala.userid==valb.userid) {
          //       console.log("userid",vala.userid);
          //        this.allUser.splice(ia,1);
                
          //     }
          //   })
          // })
          
            // this.susers.forEach((valb,ib)=>{}
            
          // this.allUser=this.getallUser.filter((vala,ia)=>{
          //   console.log("this.getallUser",this.getallUser);
          //   return this.susers.filter((valb,ib)=>{
          //     return (vala.role.userid == valb.role.userid ) 
              
          //   }).length == 0
          // })
          this.allUser=this.allUser.filter((vala,ia)=>
            // console.log(vala);
            vala.role == 'user'
             
          )
        // console.log("alluser",this.allUser);
        // console.log("susers",this.susers);
        // console.log("this.uselected",this.uselected);
      },
      filterFn (val, update) {
      if (val === '') {
        update(() => {
          // this.allUser = this.options
          console.log("alluser",this.allUser);
          this.options = this.allUser
          .filter(val=>(!val.cuser) )
          // .filter(val=>{
          //   console.log(val.cuser);
          // } )
              
            
          
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        // this.allUser = this.options.filter(v => v.email.toLowerCase().indexOf(needle) > -1)
        this.options = this.allUser.filter(v =>
         v.email.toLowerCase().indexOf(needle) > -1
         )
      })
    },
      close(){
        this.userdialog=false
        this.uselected=[]
      }
    },
  }
  
</script>

<style lang="scss" scoped>

</style>