<template>
  <div class="q-pa-xs">
    <!-- <q-card class="q-mb-md text-center" >
      <q-card-section class="text-h6">Kullanıcı Ekle</q-card-section>
      <q-card-section>
        <q-btn
          class="col-md-4 col-6 "
          size="18px"
          color="positive "
          label="Ekle"
          @click=" open()"
          rounded
        />
        
      </q-card-section>
    </q-card> -->
    
    <q-card>
      <div class="row q-pa-md">
        <q-btn
          class="col "
          size="18px"
          label="Ekle"
          @click=" open()"
          
        />
      </div>
      <q-table :filter="filter" :data="getallUser" :columns="columns" row-key="userid" :pagination.sync="pagination" title="Kullanıcı Listesi">
        <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Ara">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
          <template v-slot:body="props">
            <!-- <q-tr :props="props" class="cursor-pointer" @click.native="editItem(props.row)"> -->
            <q-tr :props="props" class="cursor-pointer" @click.native=" editItem(props.row)" >
              <q-td key="email" :props="props" >{{props.row.email}}</q-td>
              <q-td key="firstname" :props="props" >{{props.row.firstname}}</q-td>
              <q-td key="lastname" :props="props" >{{props.row.lastname}}</q-td>
              <q-td key="role" :props="props" >{{props.row.role}}</q-td>
            </q-tr>
          </template>
        </q-table>
    </q-card>
    <q-dialog  v-model="userdialog" persistent>
      <q-card style="width: 500px; max-width: 80vw;">
        <q-card-section class="row justify-center">
                <div class="text-h6 ">Kullanıcı Detay</div>
                <q-space />
                <q-btn icon="close" @click="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator />
        <!-- <div> -->
          <q-input class="q-pa-md" outlined v-model="useritem.firstname" label="İsim" :dense="false" />
          <q-input class="q-pa-md" outlined v-model="useritem.lastname" label="Soyisim" :dense="false" />
          <q-input  class="q-pa-md" outlined v-model="useritem.email" label="E-mail" :dense="false"  :readonly="editdialog"/>
          <q-select class="q-pa-md" v-model="useritem.role" :options="roleoptions" label=" Role" outlined/>
         
          

          <!-- <q-input class="q-pa-md" outlined v-model="useritem.email" label="Cep" :dense="false" /> -->
          <!-- <q-input type="textarea" class="q-pa-md" outlined v-model="useritem.description" label="Açıklama" :dense="false" /> -->
        <!-- </div> -->

        <div v-if="editdialog" class="text-center">
            <q-btn class="q-ma-md" @click="edit()"   color="primary" label="Düzenle" />
        </div>
        <div v-else class="text-center">
            
            <q-btn class="q-ma-md" @click="kaydet()"   color="primary" label="Kaydet" />
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import {mapState,mapGetters} from 'vuex';
import axios from "axios";
import gql from "graphql-tag";
  export default {
    data() {
      return {
        editdialog:false,
        rolemodel:"",
        roleoptions:['user','superuser','admin'],
        email:"",
        useritem:{
          firstname:"",
          lastname:"",
          email:"",
          role:"",
          description:""
        },
        userdialog:false,
        columns: [
        {
          name: "email",
          label: "e-mail",
          align: "left",
          sortable: true,
          field: (row) => row.email,
          // format: val => `${val}`,
        },
        {
          name: "firstname",
          label: "Adı",
          align: "left",
          sortable: true,
          field: (row) => row.firstname,
        },
        {
          name: "lastname",
          label: "Soyadı",
          align: "left",
          sortable: true,
          field: (row) => row.lastname,
        },
        {
          name: "role",
          label: "Role",
          align: "left",
          sortable: true,
          field: (row) => row.role,
        },
        ],
        pagination: {
        sortBy: "ust",
        descending: false,
        page: 1,
        rowsPerPage: 1000,
        // rowsNumber: 5,q
      },
      filter:'',
      }
    },
    computed: {
  ...mapGetters([
    'getallUser',
    
  ])
},
mounted () {
  // console.log(this.getallUser);
},
    methods: {
      async kaydet(){
        if (this.useritem.firstname=="" || this.useritem.lastname=="" || this.useritem.email=="") {
          this.$q.notify({
                    type: 'negative',
                    // position:'top-right',
                    message: `Gerekli Alanları Doldurmanız Gerekmektedir`
                })
                return
        }
        // await this.$apollo
        // .mutate({
        //   mutation: gql`
        //     mutation userCreate($firstname:String,$lastname:String,$email:String,$role:String) {
        //       userCreate(firstname: $firstname, lastname: $lastname, email:$email, role:$role) {
        //         firstname
        //         res
        //       }
        //     }
        //   `,
        await axios.post(
                process.env.API, {
                  query: `mutation userCreate($firstname:String,$lastname:String,$email:String,$role:String){
                          userCreate(firstname: $firstname, lastname: $lastname, email:$email, role:$role){
                            firstname
                            res
                            }
                          }`,
          variables: {
            firstname: this.useritem.firstname,
            lastname: this.useritem.lastname,
            email:this.useritem.email,
            role:this.useritem.role=="" ? this.useritem.role=='user':this.useritem.role,
            
          }
  }).then(async data=>{
    console.log('userCreate:',data.data.data.userCreate);
    if(data.data.data.userCreate.res=='Kullanıcı adı kullanımda'){
      this.$q.notify({
                    type: 'negative',
                    // position:'top-right',
                    message: `${data.data.data.userCreate.res}`
                })
                return false;
    }
    await this.$store.dispatch("allUser");
    this.useritem={}
    this.close();
    this.$q.notify({
                    type: 'positive',
                    message: `Başarılı`
                })
      
      })
      },
      async edit(){
        if (this.useritem.firstname=="" || this.useritem.lastname=="" || this.useritem.email=="") {
          this.$q.notify({
                    type: 'negative',
                    // position:'top-right',
                    message: `Gerekli Alanları Doldurmanız Gerekmektedir`
                })
                return
        }
        // await this.$apollo
        // .mutate({
        //   mutation: gql`
        //     mutation userEdit($firstname:String,$lastname:String,$email:String,$role:String) {
        //       userEdit(firstname: $firstname, lastname: $lastname, email:$email, role:$role) {
        //         firstname
        //       }
        //     }
        //   `,
        await axios.post(
                process.env.API, {
                  query: `mutation userEdit($firstname:String,$lastname:String,$email:String,$role:String){
                          userEdit(firstname: $firstname, lastname: $lastname, email:$email, role:$role){
                            firstname
                            }
                          }`,
          variables: {
            firstname: this.useritem.firstname,
            lastname: this.useritem.lastname,
            email:this.useritem.email,
            role:this.useritem.role,
            
          }
  }).then(async data=>{
    console.log('userEdit:',data);
    await this.$store.dispatch("allUser");
    this.close();
    this.$q.notify({
                    type: 'positive',
                    // position:'top-right',
                    message: `Başarılı`
                })
      })
      },
      
      
      editItem(item){
        this.editdialog=true
        this.userdialog=true
        this.useritem = Object.assign({}, item);
        console.log("useritem",this.useritem);
    },
    open(){
      this.editdialog=false
      this.userdialog=true
      
    },
    close(){
      this.useritem={}
      this.userdialog=false
    }
    },
  }
</script>

<style lang="scss" scoped>

</style>